<template>
    <div class="content" >
        <div class="container-fluid">
            <div class="row">
                <!-- FORMULARIO -->
                <div class="col-md-12 pReturn collapse" id="collapseForm">
                    <div class="card">
                        <div class="header">
                            <h4 class="title" v-text="titulo"></h4>
                        </div>
                        <div class="content">
                        <!-- MUESTRA EL FORMULARIO PARA bonificacion DE PRODUCTO -->
                            <div v-show="tipofrm=='crear'">
                                <div class="tab-content">
                                    <h6 class="titleEnc">Datos de Compra</h6>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Producto a Comprar:</label>
                                                <v-select
                                                    label="Nombre"
                                                    placeholder= "Seleccione Producto a Comprar"
                                                    :options="arrayProducto"
                                                    v-model="productoc"
                                                    :value="arrayProducto.idInventario"
                                                    @input="setProductoC"
                                                ></v-select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Cantidad en Cajas:</label>
                                                <input type="number" class="form-control" v-model="cantidadC" min="0">
                                                <input type="hidden" v-model="unidad">
                                            </div>
                                        </div>
                                    </div>
                                    <h6 class="titleEnc">Datos de Bonificación</h6>
                                    <div class="row">
                                         <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Producto a Bonificar:</label>
                                                <v-select
                                                    label="Nombre"
                                                    placeholder= "Seleccione Producto"
                                                    :options="arrayProducto"
                                                    v-model="productob"
                                                    :value="arrayProducto.idInventario"
                                                    @input="setProductoB"
                                                ></v-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <label>Precio</label>
                                                <input type="text" v-model="precio" disabled class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <label>Stock</label>
                                                <input type="text" v-model="stock" disabled class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-4">
                                            <div class="form-group">
                                                <label>Cantidad a Bonificar:</label>
                                                <input type="number" v-model="cantidadB" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4">
                                            <div class="form-group">
                                                <label>Total a Bonificar:</label>
                                                <input type="number" v-model="totalBonif" class="form-control" @keyup.enter="agregarDetalle">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-2">
                                            <button class="btn btn-primary" style="margin-top: 25px" @click="agregarDetalle"><i class="pe-7s-plus"></i> Agregar</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-hover table-bordered">
                                                <thead class="text-center" style="background-color: gray; color: white;">
                                                    <td>Eliminar</td>
                                                    <td>Producto</td>
                                                    <td>Cantidad Bonificada</td>
                                                    <td>Precio C$</td>
                                                    <td>Total C$</td>
                                                </thead>
                                                <tbody v-if="detallebonificacion.length == 0">
                                                    <tr>
                                                        <td colspan="6" class="text-center">**** Agregue un Producto ****</td>
                                                    </tr>
                                                </tbody>
                                                <tbody v-else>
                                                    <tr v-for="(det, index) in detallebonificacion" :key="det.idproducto">
                                                        <td class="text-center"><button class="btn btn-danger" @click="eliminarProd(index)">X</button></td>
                                                        <td v-text="det.nombre" class="text-center"></td>
                                                        <td v-text="det.cantidad" class="text-center"></td>
                                                        <td v-text="parseFloat(det.precio)" class="text-center" :id="'saldo'+index"></td>
                                                        <td class="text-center">{{parseFloat(det.cantidad) * parseFloat(det.precio).toFixed(2)}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="form-group row div-error" v-show="errorbonificacion">
                                                <div class="text-center text-error">
                                                    <ul>
                                                        <li v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror"></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                                
                                <button class="btn btn-primary" @click="mostrarTabla()" v-if="tablamostrar">Mostrar Tabla</button>
                                <button class="btn btn-primary" @click="ocultarTabla()" v-else>Ocultar Tabla</button>
                                <button class="btn btn-success pull-right" id="btnAdd" v-if="$can('admon.store')" @click="registrarBonificacion()"><i class="pe-7s-check"></i> Guardar</button>
                                <button type="reset" class="btn btn-danger pull-right"  @click="DisableFunction" data-toggle="collapse" data-target="#collapseForm"
                                aria-expanded="false" aria-controls="collapseForm"><i class="pe-7s-close"></i> Cancelar</button>
                                <div class="clearfix"></div>
                            </div>
                        <!-- MUESTRA EL FORMULARIO PARA MODIFICAR LA bonificacion DE PRODUCTO -->
                            <div v-show="tipofrm=='modificar'">
                                <div class="tab-content">
                                      <h6 class="titleEnc">Datos de Compra</h6>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Producto a Comprar:</label>
                                                <v-select
                                                    label="Nombre"
                                                    placeholder= "Seleccione Producto a Comprar"
                                                    :options="arrayProducto"
                                                    v-model="productoc"
                                                    :value="arrayProducto.idInventario"
                                                    @input="setProductoC"
                                                    disabled= 'true'
                                                ></v-select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Cantidad en Cajas:</label>
                                                <input type="number" class="form-control" v-model="cantidadC" min="1">
                                                <input type="hidden" v-model="unidad">
                                            </div>
                                        </div>
                                    </div>
                                    <h6 class="titleEnc">Datos de Bonificación</h6>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-hover table-bordered">
                                                <thead class="text-center" style="background-color: gray; color: white;">
                                                    <td>Producto</td>
                                                    <td>Cantidad Bonificada</td>
                                                    <td>Precio C$</td>
                                                    <td>Total Brindado</td>
                                                    <td>Total a Bonificar</td>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="det in arraydatos" :key="det.idBonificacion">
                                                        <td v-text="det.ProdBonif" class="text-center"></td>
                                                        <td class="text-center"><input type="number" class="form-control" v-model="det.CantidadDar"></td>
                                                        <td v-text="parseFloat(det.Precio).toFixed(2)" class="text-center"></td>
                                                        <td class="text-center" v-text="det.TotalDado"></td>
                                                        <td class="text-center" v-text="det.TotalBonificacion"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="form-group row div-error" v-show="errorbonificacion">
                                                <div class="text-center text-error">
                                                    <ul>
                                                        <li v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror"></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                                
                                <button class="btn btn-primary" @click="mostrarTabla()" v-if="tablamostrar">Mostrar Tabla</button>
                                <button class="btn btn-primary" @click="ocultarTabla()" v-else>Ocultar Tabla</button>
                                <button class="btn btn-warning pull-right" v-if="$can('admon.update')" @click="actualizarBonificacion()"><i class="pe-7s-refresh-2"></i> Actualizar</button>
                                <button class="btn btn-danger pull-right" @click="cerrarUpdate()"><i class="pe-7s-close"></i> Cancelar</button>
                                <div class="clearfix"></div>
                            </div>
                        <!-- MUESTRA LA INFORMACION DE LA bonificacion DEL PRODUCTO-->
                            <div v-show="tipofrm=='ver'">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h2 style="font-weight: bold; margin: 0px;">Administrador Bonificación</h2>
                                        <div class="d-flex">
                                            <h4 style="margin:auto 0;font-weight: bold;" :style="estado=='Activo'?'color:green':'color:red'">{{estado}}</h4>
                                        </div>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Numero de Bonificacion:</h5>
                                            <p style="margin: 0 2%;" v-text="idbonificacion"></p>
                                        </div>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Producto a Comprar:</h5>
                                            <p style="margin: 0 2%;" v-text="productoc"></p>
                                        </div>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Cantidad en Cajas a Comprar:</h5>
                                            <p style="margin: 0 2%;" v-text="cantidadC"></p>
                                        </div>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Cantidad en Unidades a Comprar:</h5>
                                            <p style="margin: 0 2%;" v-text="unidad"></p>
                                        </div>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Registrado por:</h5>
                                            <p style="margin: 0 2%;">Lorem Ipsum</p>
                                        </div>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Fecha de Emisión:</h5>
                                            <p style="margin: 0 2%;" v-text="fecha"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 content table-responsive">
                                        <table class="table table-bordered text-center">
                                            <thead style="background: gray; color: white;">
                                                <th class="text-center">Producto Bonificado</th>
                                                <th class="text-center">Cantidad x Bonif.</th>
                                                <th class="text-center">Precio</th>
                                                <th class="text-center">Total Dado</th>
                                                <th class="text-center">Cantidad a Bonificar</th>
                                            </thead>
                                            <tbody>
                                                <tr v-for="det in arraydatos" :key="det.idBonificacion">
                                                    <td v-text="det.ProdBonif"></td>
                                                    <td v-text="det.CantidadDar"></td>
                                                    <td v-text="det.Precio"></td>
                                                    <td v-text="det.TotalDado"></td>
                                                    <td v-text="det.TotalBonificacion"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-default" @click="cerrarView">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
                <!--   TABLA -->
                <div class="col-md-12 collapse in" id="tabla">
                    <div class="card mb-30"> 
                        <div class="header">
                            <div class="form-group" style="display: inline-block;">
                                <p style="display: inline;" >Buscar:</p>
                                <input type="text" v-model="buscar" class="txtbuscar" placeholder="Buscar Producto" id="txtBuscar"  @keyup.enter="listarBonificacion(1, buscar,filtro)">
                                <img :src="imgbuscar" class="img-sidebar">
                            </div>
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary pull-left" id="btnnew" v-if="$can('admon.store')" @click="EnableFunction"  data-toggle="collapse" data-target="#collapseForm"
                                    aria-expanded="false" aria-controls="collapseForm"><i class="pe-7s-plus"></i> Registrar Bonificacion</button>
                            </div>
                        </div>
                        <div class="content">                                                                                  
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead> 
                                        <th>Opciones</th>
                                        <th>No.Bonificacion</th>
                                        <th>Producto</th>
                                        <th>Cajas</th>
                                        <th>Unidad</th>
                                        <th>Estado</th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="bonificacion in arraybonificacion" :key="bonificacion.idBonificacion" >
                                            <td>
                                                <div v-if="bonificacion.Estado == 'Activo'">
                                                    <button type="button" class="btn btn-danger" v-if="$can('admon.inactive')" @click="deshabilitarBonificacion(bonificacion.idBonificacion)"><i class="pe-7s-trash"></i></button>
                                                    <button type="button" class="btn btn-warning" v-if="$can('admon.update')" @click="getBonificacion(bonificacion.idBonificacion)"><i class="pe-7s-edit"></i></button>
                                                    <button type="button" class="btn btn-default" @click="infoBonificacion(bonificacion.idBonificacion)"><i class="pe-7s-id"></i></button>
                                                </div>
                                                <div v-else>
                                                    <button type="button" class="btn btn-default" @click="infoBonificacion(bonificacion.idBonificacion)"><i class="pe-7s-id"></i></button>
                                                </div>
                                            </td>
                                            <td v-text="bonificacion.idBonificacion"></td>
                                            <td v-text="bonificacion.Producto"></td>
                                            <td v-text="bonificacion.Caja"></td>
                                            <td v-text="bonificacion.Unidad"></td>
                                            <td v-text="bonificacion.Estado"></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <ul class="pagination d-flex">
                                            <li class="page-item" v-if="pagination.current_page > 1">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page - 1, buscar)">&laquo;</a>
                                            </li>
                                            <li class="page-item" v-for="page in pagesNumber" :key="page" :class= "[ page == isActived ? 'active' : '' ]" >
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(page, buscar)" v-text="page"></a>
                                            </li>
                                            <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page + 1, buscar)">&raquo;</a>
                                            </li>
                                        </ul>
                                    </tfoot>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
 
<script>
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    export default {
        props: ['ruta'],
        data(){
            return{
                disabledvue: 'true',
                idbonificacion: 0,
                titulo: 'Administrar Bonificación',
                arraybonificacion: [],
                detallebonificacion: [],
                idproductoc: 0,
                productoc: '',
                idproductob: 0,
                productob: '',
                arrayProducto: [],
                cantidadC: 0,
                cantidadB: 0,
                precio: 0,
                total: 0,
                total1: 0,
                unidad: 0,
                totalBonif: 0,
                stock: 0,
                fecha: '',
                arraydatos: [],
                bonificacion: 0,
                errorbonificacion: 0,
                txtvalidate: [],
                tablamostrar: true,
                tipoBtn: 1,
                tipofrm: 'crear',
                rsp: '',
                estado: '',
                pagination: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                },
                offset: 3,
                buscar: '', 
                imgbuscar: './img/icons8_search1_32.png',
            }
        },
        computed: {
            isActived: function() {
                return this.pagination.current_page;
            },
            pagesNumber: function() {
                if(!this.pagination.to){
                    return [];
                }

                var from = this.pagination.current_page - this.offset; 
                if(from < 1){
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }, 
            Total: function(){
                var suma = 0;
                for (let i = 0; i < this.detallebonificacion.length; i++) {
                    suma = parseFloat(suma) + (parseFloat(this.detallebonificacion[i].precio).toFixed(2)*parseFloat(this.detallebonificacion[i].bonificacion));
                }
                return suma;
            }, 
            TotalMod: function(){
                var suma = 0;
                for (let i = 0; i < this.arraydatos.length; i++) {
                    suma = parseFloat(suma) + (parseFloat(this.arraydatos[i].Precio).toFixed(2)*parseFloat(this.arraydatos[i].Cantidad));
                }
                return suma;
            }, 
        },
        components:{
            vSelect,
        },
        methods:{
            listarBonificacion(page, buscar){
                let me=this;
                var url = this.ruta + '/admon?page=' + page +'&buscar=' + buscar;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arraybonificacion = respuesta.bonificacion.data;
                    me.pagination = respuesta.pagination;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            SeleccionarProducto(){
                let me=this;
                var url = this.ruta+ '/producto/seleccionar'
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayProducto = respuesta.producto;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            setProductoC(value){
                let me = this;
                me.loading = true;
                me.idproductoc = value.idInventario;
                me.productoc = value.Nombre;
                me.unidad = value.Unidad_de_Paquete;
            },
            setProductoB(value){
                let me = this;
                me.loading = true;
                me.idproductob = value.idInventario;
                me.productob = value.Nombre;
                me.precio = value.Precio1;
                m.stock = value.Stock;
            },
            SeleccionarCliente(){
                let me=this;
                var url = this.ruta+'/cliente/seleccionar'
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayCliente = respuesta.cliente;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            setCliente(value){
                let me = this;
                me.loading = true;
                me.idcliente = value.idCliente;
            },
            agregarDetalle(){
                let me = this;

                if (this.validateProducto()) {
                    return ;
                }else{
                    me.detallebonificacion.push({
                        'idproducto': me.idproductob,
                        'nombre': me.productob,
                        'cantidad': me.cantidadB,
                        'precio': me.precio,
                        'total': me.totalBonif
                    });
                    this.clearprod();
                    $('.vs__search').focus();
                }
            },
            eliminarProd(index){
                let me = this;
                me.detallebonificacion.splice(index, 1);
            },
            cambiarPagina(page, buscar){
                let me = this;
                me.pagination.current_page = page;
                me.listarBonificacion(page, buscar);
            },
            registrarBonificacion(){
                if(this.validateBonificacion()){
                    return;
                }
                let me = this;
                axios.post(this.ruta+'/admon/registrar', {
                    'idProductoC': this.idproductoc,
                    'CantidadC': this.cantidadC,
                    'Unidad': this.unidad,
                    'data' : this.detallebonificacion,
                    })
                .then(function (response) {
                    me.listarBonificacion(1,'');
                    me.ClearTxt();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            actualizarBonificacion(){
                let me = this;
                axios.put(this.ruta+'/admon/actualizar', {
                    'idBonificacion': this.idbonificacion,
                    'CantidadC' : this.cantidadC,
                    'Unidad': this.unidad,
                    'data' : this.arraydatos,
                    })
                .then(function (response) {
                    me.listarBonificacion(1,'');
                    me.ClearTxt();
                    me.arraydatos = [];
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            deshabilitarBonificacion(id){
                this.idbonificacion = id;
                Swal.fire({
                title: '¿Anular Bonificación?',
                text: "Ya no se volvera a brindar ninguna bonificacion con este producto",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar',
                showClass: {
                    popup: 'animated fadeInDown faster'
                },
                hideClass: {
                    popup: 'animated fadeOutUp faster'
                }
                }).then((result) => {
                if (result.value) {
                let me = this;
                axios.put(this.ruta+'/admon/inactive', {
                    'idBonificacion' : this.idbonificacion,
                    })
                .then(function (response) {
                    Swal.fire(
                    'Anulado',
                    'Este producto no dará bonificación',
                    )
                    me.listarBonificacion(1, '');
                })
                .catch(function (error) {
                    console.log(error);
                });
                }
                })
            },  
            mostrarTabla(){
                this.tablamostrar = false;
                $("#tabla").addClass("in");
            },
            ocultarTabla(){
                this.tablamostrar = true;
                $("#tabla").removeClass("in");
            },
            DisableFunction(){
                this.titulo= 'Bonificacion de Producto';
                this.errorbonificacion= 0;
                this.txtvalidate= [];
                this.arrayfactura= [];
                this.arrayrecibo = [];
                this.tipoBtn=1;
                this.disabledvue= true;
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle();

                this.ClearTxt();
                this.EnabledButon();

                $("#tabla").addClass("in");
                $("#txtBuscar").focus();

            },
            EnableFunction(){
                this.tipofrm = 'crear';
                this.titulo = 'Crear Bonificacion';
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle(); 
                this.SeleccionarProducto();
                this.disabledvue= false;

                $("#tabla").removeClass("in");
                this.DesabledButton();
                this.SeleccionarCliente();
            },
            DesabledButton(){
                $("tbody > tr > td").find("button").prop( "disabled", true );
                $("tfoot").css("display", "none");
            },
            EnabledButon(){
                $("tbody > tr > td").find("button").prop( "disabled", false );
                $("tfoot").css("display", "inherit");
            },
            ClearTxt(){
                this.idproducto= 0;
                this.productoc= '';
                this.arrayProducto= [];
                this.cantidadC= 0;
                this.precio= 0;
                this.bonificacion= 0;
                this.total= 0;
                this.fecha= '';
                this.observacion= '';
                this.arraydatos= [];
                this.detallebonificacion=[];
                this.errorbonificacion= 0;
                this.txtvalidate= [];
                this.idcliente= 0;
                this.cliente = '';
            },
            clearprod(){
                this.idproductob= 0;
                this.productob= '';
                this.cantidadB = 0;
                this.precio = 0;
            },
            validateProducto(){
                this.errorbonificacion = 0;
                this.txtvalidate = [];
                var bonificacion1 = this.bonificacion;

                if (this.cantidadB == 0) this.txtvalidate.push('Agregue una cantidad mayor a 0 en el campo de bonificacion');
                if (this.totalBonif == 0) this.txtvalidate.push('Agregue una cantidad mayor a 0 en el campo de Total a Bonificar');
                if (this.totalBonif > this.stock) this.txtvalidate.push('El Total a Bonificar no puede ser mayor al Stock');
                if (!this.productob) this.txtvalidate.push('Seleccione un producto');

                if(this.txtvalidate.length) this.errorbonificacion = 1;

                return this.errorbonificacion;
            },
            validateBonificacion(){
                this.errorbonificacion = 0;
                this.txtvalidate = [];

                if (this.detallebonificacion.length == 0) this.txtvalidate.push("Debe de agregar al menos un producto");
                if (!this.productoc) this.txtvalidate.push('Agregar un producto');
                if(this.cantidadC <= 0) this.txtvalidate.push('La cantidad de producto comprado no puede ser menor o igual a 0');

                if(this.txtvalidate.length) this.errorbonificacion = 1;

                return this.errorbonificacion;
            },
            cerrarUpdate(){
                this.titulo = 'Bonificacion de Producto';

                $("#collapseForm").removeClass("in");
                $("#collapseForm").removeClass("show");
                $("#tabla").addClass("in");

                this.EnabledButon();
                this.arraydatos= [];
                this.ClearTxt();
            },
            getBonificacion(id){
                let me=this;
                var url = this.ruta+'/admon/datos?id=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arraydatos = respuesta.bonificacion;
                    me.idbonificacion = me.arraydatos[0].idBonificacion;
                    me.productoc = me.arraydatos[0].ProductoconBonificacion;
                    me.cantidadC = me.arraydatos[0].Caja;
                    me.unidad = me.arraydatos[0].Unidad;
                })
                .catch(function (error) {
                    console.log(error);
                });

                this.tipofrm="modificar";
                this.titulo= "Modificar Bonificación";
                $("#tabla").removeClass('in');
                $("#collapseForm").addClass('in');

                this.DesabledButton();
            },
            infoBonificacion(id){
                let me=this;
                var url = this.ruta+'/admon/datos?id=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arraydatos = respuesta.bonificacion;
                    me.idbonificacion = me.arraydatos[0].idBonificacion;
                    me.productoc = me.arraydatos[0].ProductoconBonificacion;
                    me.cantidadC = me.arraydatos[0].Caja;
                    me.unidad = me.arraydatos[0].Unidad;
                    me.estado = me.arraydatos[0].Estado;
                    me.fecha = me.arraydatos[0].Fecha;
                })
                .catch(function (error) {
                    console.log(error);
                }),
                this.tipofrm="ver",
                this.titulo= "Detalle de la Bonificación",
                $("#tabla").removeClass('in');
                $("#collapseForm").addClass('in');
                
                this.DesabledButton();
            },
            cerrarView(){
                this.tipofrm="crear",
                this.titulo= "bonificacion de Producto",
                $("#collapseForm").removeClass('in');
                $("#tabla").addClass('in');
                this.ClearTxt();
                this.EnabledButon();
                this.arraydatos= [];
            },
        },
        mounted() {
            this.listarBonificacion(1, this.buscar);
            this.DisableFunction();
            $("#btnnew").toggle(); 
        }
    }
</script>
<style>
    .div-error{
        display: flex;
        margin-left: 0.5rem;
        font-size: 12px;
        /*justify-content: left;*/
    }
    .text-error{
        color:red !important;
        font-weight: bold;
        text-align: left;
    }
    .linetitle{
        margin-top: 1px;
    }
    .titleEnc{
        display: block;
        text-align: center;
        font-weight: bold;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        padding: 5px 0px;
    }
    .table{
        margin-bottom: 10px;
    }
    .info{
        font-size: 14px;
    }
    .d-flex{
        display: flex;
    }
    .pReturn{
        padding-left: 0px;
        border-top: 0px;
    }
    .imgsize{
        min-width: 100px;
        min-height: 150px;
        max-width: 250px;
        max-height: 250px;
        margin: auto;
    }
    .linetitle{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .titleEnc{
        display: block;
        text-align: center;
        font-weight: bold;
    }
    .mb-30{
        margin-bottom: 0px;
    }
    .btn{
        border: 1px solid;
    }
    .justify-content-end{
        justify-content: end;
    }
    .contenidoModal{
        margin: 25px 0px;
    }
    .modalDialog {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.3);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 0ms ease-in;
        -moz-transition: opacity 0ms ease-in;
        transition: opacity 0ms ease-in;
        pointer-events: none;
    }
    .modalDialog:target {
        opacity:1;
        pointer-events: auto;
    }
    .modalDialog > div {
        width: 50%;
        position: relative;
        margin: 5% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 3px;
        background: #fff;
        -webkit-transition: opacity 0ms ease-in;
        -moz-transition: opacity 0ms ease-in;
        transition: opacity 0ms ease-in;
    }
    .close {
        background: hsl(0, 50%, 60%);
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }
    .close:hover { background: hsl(0, 80%, 50%); color: white; }
    .tituloModal{
        margin: 10px 0 15px;
    }
    .vs__dropdown-menu{
        color: red;
    }
</style>