<template>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- FORMULARIO -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="header">
                            <h4 class="title" v-text="titulo"></h4>
                        </div>
                        <div class="content">
                            <!--<form>-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input type="text" class="form-control" placeholder="Nombre..." id="txtName" v-model="nombre">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Teléfono</label>
                                            <input type="tel" class="form-control" id="txtTelefono" pattern="[0-9]{4}[-][0-9]{4}" placeholder="8765-4321" v-model="telefono">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row div-error" v-show="errorBanco">
                                    <div class="text-center text-error">
                                        <div v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror">            
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary pull-left btnhidden" id="btnnew" @click="EnableTxt" v-if="$can('banco.store') && tipoBtn==1"><i class="pe-7s-plus"></i> Nuevo</button>
                                <button type="button" class="btn btn-warning pull-right" @click="actualizarBancos()" v-if="$can('banco.update')&&tipoBtn==2"><i class="pe-7s-diskette"></i> Actualizar</button>
                                <button type="button" class="btn btn-success pull-right" id="btnAdd" @click="registrarBancos()"  v-if="$can('banco.store')"><i class="pe-7s-check"></i> Agregar</button>
                                <button type="reset" class="btn btn-danger pull-right" id="btnReset" @click="DisableTxt"><i class="pe-7s-close"></i> Cancelar</button>
                                <div class="clearfix"></div>
                            <!--  </form> -->
                        </div>
                    </div>          
                </div>

                <!--   TABLA -->
                <div class="col-md-8">
                    <div class="card"> 
                        <div class="header">
                            <div class="form-group">
                                <p style="display: inline;" >Buscar:</p>
                                <input type="text" v-model="buscar" class="txtbuscar" placeholder="Buscar..." id="txtBuscar" @keyup.enter="listarBancos(1, buscar)">
                                <img :src="imgbuscar" class="img-sidebar">
                            </div>
                        </div>
                        <div class="content">                                                                                  
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <!--<th>ID</th>-->
                                        <th>Opciones</th>
                                        <th>Nombre</th>
                                        <th>Teléfono</th>
                                        <th>Estado</th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="banco in arrayBanco" :key="banco.idBanco">
                                            <td class="btn-option">
                                                <div v-if="banco.Estado == 'Activo'">
                                                    <button type="button" class="btn btn-warning" v-if="$can('banco.update')" @click="getBancos(banco)"><i class="pe-7s-pen"></i></button>
                                                    <button type="button" class="btn btn-danger"  v-if="$can('banco.inactive')" @click="deshabilitarBancos(banco.idBanco)" ><i class="pe-7s-trash"></i></button>
                                                </div>
                                                <div v-else>
                                                    <button type="button" class="btn btn-warning" v-if="$can('banco.update')" @click="getBancos(banco)"><i class="pe-7s-pen"></i></button>
                                                    <button type="button" class="btn btn-success" v-if="$can('banco.active')"  @click="habilitarBancos(banco.idBanco)" ><i class="pe-7s-check"></i></button>
                                                </div>
                                            </td>
                                            <td v-text="banco.nombre"></td>
                                            <td v-text="banco.telefono"></td>
                                            <td v-text="banco.Estado"></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <ul class="pagination">
                                            <li class="page-item" v-if="pagination.current_page > 1">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page - 1, buscar)">&laquo;</a>
                                            </li>
                                            <li class="page-item" v-for="page in pagesNumber" :key="page" :class= "[ page == isActived ? 'active' : '' ]" >
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(page, buscar)" v-text="page"></a>
                                            </li>
                                            <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page + 1, buscar)">&raquo;</a>
                                            </li>
                                        </ul>
                                    </tfoot>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:['ruta'],
        data(){
            return {
                idBanco: 0,
                nombre: '',
                telefono: '',
                estado: '',
                titulo: 'Bancos',
                arrayBanco: [],
                errorBanco: 0,
                txtvalidate: [],
                tipoBtn: 1,

                pagination: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                },
                offset: 3,
                buscar: '',
                imgbuscar: './img/icons8_search1_32.png',

            }
        },
        computed: {
            isActived: function() {
                return this.pagination.current_page;
            },
            pagesNumber: function() {
                if(!this.pagination.to){
                    return [];
                }

                var from = this.pagination.current_page - this.offset; 
                if(from < 1){
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }
        },
        methods : {
            listarBancos(page,buscar){
                let me=this;
                var url = this.ruta+'/banco?page=' + page + '&buscar=' + buscar;
                axios.get(url).then(function (response) {
                    var respuesta  = response.data;
                    me.arrayBanco = respuesta.banco.data;
                    me.pagination  = respuesta.pagination;
                    $("#txtBuscar").focus();

                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            cambiarPagina(page, buscar){
                let me = this;
                me.pagination.current_page = page;
                me.listarBancos(page, buscar);
            },    
            registrarBancos(){
                if (this.ValidateBanco()) {
                    return;
                }
                let me = this;
                axios.post(this.ruta+'/banco/registrar', {
                    'nombre' : this.nombre,
                    'telefono' : this.telefono
                    })
                .then(function (response) {
                    me.listarBancos(1, '');
                    me.ClearTxt();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },   
            actualizarBancos(){
                if (this.ValidateBanco()) {
                    return;
                }
                let me = this;
                axios.put(this.ruta+'/banco/actualizar', {
                    'idBanco' : this.idBanco,
                    'nombre' : this.nombre,
                    'telefono' : this.telefono
                    })
                .then(function (response) {
                    me.listarBancos(1, '');
                    me.DisableTxt();
                    $("#btnAdd").toggle();
                    $("#btnReset").toggle();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            deshabilitarBancos(id){
                this.idBanco = id;
                Swal.fire({
                title: '¿Desea Deshabilitar?',
                text: "No se mostrar en otros registro",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Deshabilitar',
                cancelButtonText: 'Cancelar',
                showClass: {
                    popup: 'animated fadeInDown faster'
                },
                hideClass: {
                    popup: 'animated fadeOutUp faster'
                }
                }).then((result) => {
                if (result.value) {
                let me = this;
                axios.put(this.ruta+'/banco/inactive', {
                    'idBanco' : this.idBanco,
                    })
                .then(function (response) {
                    Swal.fire(
                    'Deshabilitado',
                    'No se mostrará en los registro',
                    'Existoso'
                    )
                    me.listarBancos(1, '');
                })
                .catch(function (error) {
                    console.log(error);
                });
                }
                })
            },   
            habilitarBancos(id){
                this.idBanco = id;
                Swal.fire({
                title: '¿Desea Habilitar?',
                text: "No se mostrar en otros registro",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Habilitar',
                cancelButtonText: 'Cancelar',
                showClass: {
                    popup: 'animated fadeInDown faster'
                },
                hideClass: {
                    popup: 'animated fadeOutUp faster'
                }
                }).then((result) => {
                if (result.value) {
                let me = this;
                axios.put(this.ruta+'/banco/active', {
                    'idBanco' : this.idBanco,
                    })
                .then(function (response) {
                    Swal.fire(
                    'Habilitado',
                    'Esta disponible en los registro',
                    'Existoso'
                    )
                    me.listarBancos(1, '');
                })
                .catch(function (error) {
                    console.log(error);
                });
                }
                })
            },
            DisableTxt(){
                $("#txtName").prop( "disabled", true );
                $("#txtTelefono").prop( "disabled", true );
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle();
                this.nombre= '';
                this.telefono = '';
                this.titulo= 'Bancos';
                this.errorBanco= 0;
                this.txtvalidate= [];
                this.tipoBtn=1;

                this.EnabledButon();
            },
            EnableTxt(){
                $("#txtName").prop( "disabled", false );
                $("#txtTelefono").prop( "disabled", false );
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle();
                this.titulo = 'Agregar Banco';

                this.DesabledButton();
            },
            DesabledButton(){
                $("tbody > tr > td").find("button").prop( "disabled", true );
                $("tfoot").css("display", "none");
            },
            EnabledButon(){
                $("tbody > tr > td").find("button").prop( "disabled", false );
                $("tfoot").css("display", "inherit");
            },
            ClearTxt(){
                this.nombre = '';
                this.telefono = '';
            },
            ValidateBanco(){
                this.errorBanco = 0;
                this.txtvalidate = [];
                var str = /^\d{4}-\d{4}$/;

                if (!this.nombre) this.txtvalidate.push("*El nombre del banco no puede estar vacío.");

                if (this.telefono!='') {
                    var res = str.test(this.telefono);
                    if (!res) this.txtvalidate.push("*El formato de teléfono no coincide");
                }

                if(this.txtvalidate.length) this.errorBanco = 1;

                return this.errorBanco;
            },
            getBancos(data=[]){
                this.tipoBtn=2;
                $("#txtName").prop( "disabled", false );
                $("#txtTelefono").prop( "disabled", false );
                this.titulo = 'Actualizar Banco'
                this.idBanco = data['idBanco'];
                this.nombre = data['nombre'];
                this.telefono = data['telefono'];

                this.DesabledButton();
                if (this.telefono == null)  this.telefono = '';

            },
        },
        mounted() {
            this.listarBancos(1, this.buscar);
            this.DisableTxt();
        }
    }
</script>

<style>
    .div-error{
        display: flex;
        margin-left: 0.5rem;
        font-size: 12px;
        /*justify-content: center;*/
    }
    .text-error{
        color:red !important;
        font-weight: bold;
    }
    .btn-option{
        width: 15%;
    }
</style>