<template>
    <div class="content" >
        <div class="container-fluid">
            <div class="row">
                <!-- FORMULARIO -->
                <div class="col-md-12 pReturn collapse" id="collapseForm">
                    <div class="card">
                        <div class="header">
                            <h4 class="title" v-text="titulo"></h4>
                        </div>
                        <div class="content">
                         <!-- MUESTRA EL FORMULARIO PARA generar una recibo -->
                            <div v-show="tipofrm=='crear'">
                                <div class="tab-content">
                                    <h6 class="titleEnc">Datos del Clientes</h6>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-5">
                                            <div class="form-group">
                                                <label>Cliente:</label>
                                                <v-select
                                                    label="Nombre"
                                                    placeholder= "Seleccione Cliente"
                                                    :options="arrayCliente"
                                                    v-model="cliente"
                                                    :value="arrayCliente.idCliente"
                                                    @input="setCliente"
                                                ></v-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <label>Zona</label>
                                                <input type="text" v-model="zona" disabled class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4">
                                            <div class="form-group">
                                                <label>Vendedor</label>
                                                <input type="text" v-model="vendedor" disabled class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <h6 class="titleEnc">Datos del Cheque</h6>
                                    <div class="row">
                                        <div class="col-md-2 col-lg-3">
                                            <div class="form-group">
                                                <label>Num. Cheque</label>
                                                <input type="text" v-model="numcheque" class="form-control" id="txtNumCheque">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-lg-3">
                                            <div class="form-group">
                                                <label>Banco:</label>
                                                <v-select
                                                    label="Nombre"
                                                    placeholder= "Seleccione Banco"
                                                    :options="arraybanco"
                                                    v-model="banco"
                                                    :value="arraybanco.idBanco"
                                                    @input="setBanco"
                                                ></v-select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-lg-3">
                                            <div class="form-group">
                                                <label>Monto del Cheque</label>
                                                <input type="text" v-model="abono" class="form-control" id="txtAbono" @keydown.tab="cargarFactura(idcliente)" @keypress.enter="cargarFactura(idcliente)">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-lg-3">
                                            <div class="form-group">
                                                <label>Beneficiario:</label>
                                                <input type="text" v-model="beneficiario" class="form-control" id="txtBeneficiario" @click="cargarFactura(idcliente)">
                                            </div>
                                        </div>
                                    </div>
                                    <h6 class="titleEnc">Datos del Recibo</h6>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-4">
                                            <div class="form-group">
                                                <label>No. recibo:</label>
                                                <v-select
                                                    label="NumeracionInicial"
                                                    placeholder= "Seleccione Recibo"
                                                    :options="arrayrecibo"
                                                    v-model="recibo"
                                                    :value="arrayrecibo.NumeracionInicial"
                                                    @input="setRecibo"
                                                    :disabled="disabledvue"
                                                ></v-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <label>Total Deuda</label>
                                                <input type="text" v-model="saldorest" disabled class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <label>Deuda Pendiente</label>
                                                <input type="text" :value="parseFloat(SaldoPendiente).toFixed(2)" disabled class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-2">
                                            <div class="form-group">
                                                <button class="btn btn-default" style="margin-top: 10%" @click="cargarFactura(idcliente)"><i class="pe-7s-refresh"></i> Actualizar</button>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Nota</label>
                                                <input type="text" class="form-control" v-model="nota">
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-hover table-bordered">
                                                <thead class="text-center" style="background-color: gray; color: white;">
                                                    <td>Facturas</td>
                                                    <td>Fecha de Recuperación</td>
                                                    <td>Deuda</td>
                                                    <td>Abono C$</td>
                                                </thead>
                                                <tbody v-if="idcliente == 0">
                                                    <tr>
                                                        <td colspan="7" class="text-center">**** Seleccione un cliente ****</td>
                                                    </tr>
                                                </tbody>
                                                <tbody v-else>
                                                    <tr v-for="(fact, index) in arrayfactura" :key="fact.idCuentasxCobrar">
                                                        <td v-text="fact.idFactura" class="text-center"></td>
                                                        <td v-text="fact.FechaRecuperacionV" class="text-center"></td>
                                                        <td v-text="parseFloat(fact.SaldoRestante)" class="text-center" :id="'saldo'+index"></td>
                                                        <td style="width: 20%">{{fact.Abono}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="form-group row div-error" v-show="errorCheque">
                                                <div class="text-center text-error">
                                                    <ul>
                                                        <li v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror"></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="form-group row div-error" v-show="errorCheque">
                                        <div class="text-center text-error">
                                            <ul>
                                                <li v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                                <button class="btn btn-primary" @click="mostrarTabla()" v-if="tablamostrar">Mostrar Tabla</button>
                                <button class="btn btn-primary" @click="ocultarTabla()" v-else>Ocultar Tabla</button>
                                <button class="btn btn-success pull-right" id="btnAdd" v-if="$can('cheque.store')" @click="registrarCheque()"><i class="pe-7s-check"></i> Guardar</button>
                                <button type="reset" class="btn btn-danger pull-right"  @click="DisableFunction" data-toggle="collapse" data-target="#collapseForm"
                                aria-expanded="false" aria-controls="collapseForm"><i class="pe-7s-close"></i> Cancelar</button>
                                <div class="clearfix"></div>
                            </div>
                        <!-- MUESTRA EL FORMULARIO PARA MODIFICAR UN CHEQUE -->
                            <div v-show="tipofrm=='modificar'">
                                <div class="tab-content">
                                    <h6 class="titleEnc">Datos del Clientes</h6>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-5">
                                            <div class="form-group">
                                                <label>Cliente:</label>
                                                <v-select
                                                    label="Nombre"
                                                    placeholder= "Seleccione Cliente"
                                                    :options="arrayCliente"
                                                    v-model="cliente"
                                                    :value="arrayCliente.idCliente"
                                                    @input="setCliente"
                                                ></v-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <label>Zona</label>
                                                <input type="text" v-model="zona" disabled class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4">
                                            <div class="form-group">
                                                <label>Vendedor</label>
                                                <input type="text" v-model="vendedor" disabled class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <h6 class="titleEnc">Datos del Cheque</h6>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <label>Num. Cheque</label>
                                                <input type="text" v-model="numcheque" class="form-control" id="txtNumCheque">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <label>Banco:</label>
                                                <v-select
                                                    label="Nombre"
                                                    placeholder= "Seleccione Banco"
                                                    :options="arraybanco"
                                                    v-model="banco"
                                                    :value="arraybanco.idBanco"
                                                    @input="setBanco"
                                                ></v-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <label>Monto del Cheque</label>
                                                <!--<input type="text" v-model="abono" class="form-control" id="txtAbono" @keydown.tab="cargarFactura(idcliente)" @keypress.enter="cargarFactura(idcliente)">-->
                                                <input type="text" v-model="abono" class="form-control" id="txtAbono">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <label>Beneficiario:</label>
                                                <!--<input type="text" v-model="beneficiario" class="form-control" id="txtBeneficiario" @click="cargarFactura(idcliente)">-->
                                                <input type="text" v-model="beneficiario" class="form-control" id="txtBeneficiario">
                                            </div>
                                        </div>
                                    </div>
                                    <h6 class="titleEnc">Datos del Recibo</h6>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-4">
                                            <div class="form-group">
                                                <label>No. recibo:</label>
                                                <v-select
                                                    label="NumeracionInicial"
                                                    placeholder= "Seleccione Recibo"
                                                    :options="arrayrecibo"
                                                    v-model="recibo"
                                                    :value="arrayrecibo.NumeracionInicial"
                                                    @input="setRecibo"
                                                    :disabled="disabledvue"
                                                ></v-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <label>Total Deuda</label>
                                                <input type="text" v-model="saldorest" disabled class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <label>Deuda Pendiente</label>
                                                <input type="text" :value="parseFloat(SaldoPendiente).toFixed(2)" disabled class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Nota</label>
                                                <input type="text" class="form-control" v-model="nota">
                                            </div>
                                        </div>
                                        <!--<div class="col-md-6 col-lg-2">
                                            <div class="form-group">
                                                <button class="btn btn-default" style="margin-top: 10%" @click="cargarFactura(idcliente)"><i class="pe-7s-refresh"></i> Actualizar</button>
                                            </div>
                                        </div>-->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!--<table class="table table-hover table-bordered">
                                                <thead class="text-center" style="background-color: gray; color: white;">
                                                    <td>Facturas</td>
                                                    <td>Fecha de Recuperación</td>
                                                    <td>Deuda</td>
                                                    <td>Abono C$</td>
                                                </thead>
                                                <tbody v-if="idcliente == 0">
                                                    <tr>
                                                        <td colspan="7" class="text-center">**** Seleccione un cliente ****</td>
                                                    </tr>
                                                </tbody>
                                                <tbody v-else>
                                                    <tr v-for="(fact, index) in arrayfactura" :key="fact.idCuentasxCobrar">
                                                        <td v-text="fact.idFactura" class="text-center"></td>
                                                        <td v-text="fact.FechaRecuperacionV" class="text-center"></td>
                                                        <td v-text="parseFloat(fact.SaldoRestante)" class="text-center" :id="'saldo'+index"></td>
                                                        <td style="width: 20%">{{fact.Abono}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>-->
                                            <div class="form-group row div-error" v-show="errorCheque">
                                                <div class="text-center text-error">
                                                    <ul>
                                                        <li v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror"></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                                
                                <button class="btn btn-primary" @click="mostrarTabla()" v-if="tablamostrar">Mostrar Tabla</button>
                                <button class="btn btn-primary" @click="ocultarTabla()" v-else>Ocultar Tabla</button>
                                <button class="btn btn-warning pull-right" v-if="$can('cheque.update')" @click="ActualizarCheque()"><i class="pe-7s-refresh-2"></i> Actualizar</button>
                                <button type="reset" class="btn btn-danger pull-right"  @click="cerrarUpdate"> <i class="pe-7s-close"></i> Cancelar</button>
                                <div class="clearfix"></div>
                            </div>
                         <!-- MUESTRA LA INFORMACION DEL CHEQUE-->
                            <div v-show="tipofrm=='ver'">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 style="font-weight: bold; border-bottom: 1px solid; margin: 0">Cliente</h4>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Nombre:</h5>
                                            <p style="margin: 0 2%;"  v-text="cliente"></p>
                                        </div>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Zona:</h5>
                                            <p style="margin: 0 2%;"  v-text="zona"></p>
                                        </div>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Total Abono:</h5>
                                            <p style="margin: 0 2%;" >{{'C$' + parseFloat(abono).toFixed(2)}}</p>
                                        </div>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Vendedor:</h5>
                                            <p style="margin: 0 2%;"  v-text="vendedor"></p>
                                        </div>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Descripción:</h5>
                                            <p style="margin: 0 2%;"  v-text="nota"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h2 style="font-weight: bold; margin: 0px;" class="text-right">CHEQUE</h2>
                                        <div class="d-flex justify-content-end" v-show="estado=='Pendiente'">
                                            <h4 style="margin:auto 0;font-weight: bold; color: orange">PENDIENTE</h4>
                                        </div>
                                        <div class="d-flex justify-content-end" v-show="estado=='Aplicado'">
                                            <h4 style="margin:auto 0;font-weight: bold; color: green">APLICADO</h4>
                                        </div>
                                        <div class="d-flex justify-content-end" v-show="estado=='Sin Cobrar'">
                                            <h4 style="margin:auto 0;font-weight: bold; color: red">SIN COBRAR</h4>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <h5 style="margin:auto 0;font-weight: bold;">Registro No.:</h5>
                                            <p style="margin: 0 2%;" v-text="idcheque"></p>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <h5 style="margin:auto 0;font-weight: bold;">Numero de Recibo:</h5>
                                            <p style="margin: 0 2%;" v-text="idrecibo"></p>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <h5 style="margin:auto 0;font-weight: bold;">Numeración del Cheque:</h5>
                                            <p style="margin: 0 2%;" v-text="numcheque"></p>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <h5 style="margin:auto 0;font-weight: bold;">Atendido por:</h5>
                                            <p style="margin: 0 2%;" v-text="usuario"></p>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <h5 style="margin:auto 0;font-weight: bold;">Fecha de Emisión:</h5>
                                            <p style="margin: 0 2%;" v-text="fecha"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 content table-responsive">
                                        <table class="table table-bordered text-center">
                                            <thead style="background: gray; color: white;">
                                                <th class="text-center">No. Factura</th>
                                                <th class="text-center">Vencimiento Fact</th>
                                                <th class="text-center">Monto Abonado</th>
                                                <th class="text-center">Total Deuda</th>
                                            </thead>
                                            <tbody>
                                                <tr v-for="det in arraydatos" :key="det.idPagosCxC">
                                                    <td v-if="det.Abono > 0" v-text="det.idFactura"></td>
                                                    <td v-if="det.Abono > 0" v-text="det.FechaRecuperacionV"></td>
                                                    <td v-if="det.Abono > 0">{{ parseFloat(det.Abono).toFixed(2) }}</td>
                                                    <td v-if="det.Abono > 0">{{ parseFloat(det.SaldoRestante).toFixed(2) }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-default" @click="cerrarView">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
                <!--   TABLA -->
                <div class="col-md-12 collapse in" id="tabla">
                    <div class="card mb-30"> 
                        <div class="header">
                            <div class="form-group" style="display: inline-block;">
                                <p style="display: inline;" >Buscar:</p>
                                <select name="Filtro" class="select-css" v-model="filtro">
                                    <option value="t.NumeracionInicial">No. Recibo</option>
                                    <option value="c.Nombre">Cliente</option>
                                </select>
                                <a href="#ModalAutorizado" style="display: none" id="btnautorizado"></a>
                                <input type="text" v-model="buscar" class="txtbuscar" placeholder="Buscar..." id="txtBuscar"  @keyup.enter="listarCheque(1, buscar,filtro)">
                                <img :src="imgbuscar" class="img-sidebar">
                            </div>
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary pull-left" id="btnnew" v-if="$can('cheque.store')" @click="EnableFunction"  data-toggle="collapse" data-target="#collapseForm"
                                    aria-expanded="false" aria-controls="collapseForm"><i class="pe-7s-plus"></i> Registrar Cheque</button>
                            </div>
                        </div>
                        <div class="content">                                                                                  
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped" >
                                    <thead> 
                                        <th>Opciones</th>
                                        <th>No.Cheque</th>
                                        <th>No.Recibo</th>
                                        <th>Cliente</th>
                                        <th>Banco</th>
                                        <th>Monto C$</th>
                                        <th>Estado</th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="cheque in arraycheque" :key="cheque.idCheque" >
                                            <td>
                                                <div v-if="cheque.Estado == 'Pendiente'">
                                                    <button type="button" class="btn btn-danger" v-if="$can('cheque.inactive')" @click="deshabilitarCheque(cheque.idCheque)" data-toggle="tooltip" data-placement="top" title="Anular Cheque"><i class="pe-7s-trash"></i></button>
                                                    <a href="#ModalAplicacion" class="btn btn-success"  v-if="$can('cheque.active')" @click="setCheque(cheque.idCheque,cheque.idCliente, cheque.Monto)" data-toggle="tooltip" data-placement="top" title="Cheque Cobrado"><i class="pe-7s-check"></i></a>
                                                    <button type="button" class="btn btn-warning" v-if="$can('cheque.update')" @click="getCheque(cheque.idCheque)" data-toggle="tooltip" data-placement="top" title="Editar Cheque"><i class="pe-7s-edit"></i></button>
                                                    <button type="button" class="btn btn-default" @click="infoCheque(cheque.idCheque)" data-toggle="tooltip" data-placement="top" title="Info. Cheque"><i class="pe-7s-id"></i></button>
                                                </div>
                                                <div v-else>
                                                    <button type="button" class="btn btn-default" @click="infoCheque(cheque.idCheque)" data-toggle="tooltip" data-placement="top" title="Info. Cheque"><i class="pe-7s-id"></i></button>
                                                </div>
                                            </td>
                                            <td v-text="cheque.idCheque"></td>
                                            <td v-text="cheque.NumeracionInicial"></td>
                                            <td v-text="cheque.Cliente"></td>
                                            <td v-text="cheque.Banco"></td>
                                            <td  v-text="cheque.Monto1"></td>
                                            <td v-text="cheque.Estado"></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <ul class="pagination">
                                            <li class="page-item" v-if="pagination.current_page > 1">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page - 1, buscar,filtro)">&laquo;</a>
                                            </li>
                                            <li class="page-item" v-for="page in pagesNumber" :key="page" :class= "[ page == isActived ? 'active' : '' ]" >
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(page, buscar,filtro)" v-text="page"></a>
                                            </li>
                                            <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page + 1, buscar,filtro)">&raquo;</a>
                                            </li>
                                        </ul>
                                    </tfoot>
                                </table>
                                <div style="text-align: right; margin-top: -5.3%">
                                    <a href="#ChequeVend" class="btn btn-default" @click="SeleccionarVendedor"><i class="pe-7s-print"></i> Vendedor</a>
                                    <a href="#ChequesBancos" class="btn btn-default" @click="SeleccionarBanco"><i class="pe-7s-print"></i> Pendiente</a>
                                    <a href="#ChequesCobrado" class="btn btn-default" @click="SeleccionarBanco"><i class="pe-7s-print"></i> Cobrado</a>
                                    <a href="#ChequesAnulada" class="btn btn-default" @click="SeleccionarBanco"><i class="pe-7s-print"></i> Anulado</a>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
            <!-- CUADRO MODAL IMPRIMIR CHEQUE POR VENDEDOR -->
                <div id="ChequeVend" class="modalDialog">
                    <div style="width: 30%">
                        <h4 class="tituloModal">Listar Cheque por Vendedor</h4>
                        <hr class="linetitle">
                        <div class="contenidoModal">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Vendedor</label>
                                    <v-select
                                        label="Nombre"
                                        placeholder= "Seleccione a un Vendedor..."
                                        :options="arrayVendedor"
                                        v-model="vendedor"
                                        :value="arrayVendedor.Nombre"
                                        @input="setVendedor"
                                    ></v-select>
                                </div>
                                <div class="col-md-6">
                                    <label for="">Fecha Inicio</label>
                                    <input type="date" v-model="fechainicio" class="form-control">
                                </div>
                                <div class="col-md-6">
                                    <label for="">Fecha Final</label>
                                    <input type="date" v-model="fechafinal" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row div-error" v-show="errores">
                                <div class="text-center text-error">
                                    <div v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror">            
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-left: 25%; margin-top: 5%">
                                <div class="col-md-4">
                                    <a class="btn btn-danger btn-block" id="cerrar" href="#close">Cerrar</a>
                                </div>
                                <div class="col-md-4">
                                    <a class="btn btn-default btn-block" @click="chequeVendedor(idvendedor, fechainicio, fechafinal)">Imprimir</a>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            <!-- FIN DEL MODAL -->

            <!-- CUADRO MODAL IMPRIMIR CHEQUE POR BANCO PENDIENTE-->
                <div id="ChequesBancos" class="modalDialog">
                    <div style="width: 30%">
                        <h4 class="tituloModal">Listado de Cheque Pendiente</h4>
                        <hr class="linetitle">
                        <div class="contenidoModal">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="">Fecha Inicio</label>
                                    <input type="date" v-model="fechainicio" class="form-control">
                                </div>
                                <div class="col-md-6">
                                    <label for="">Fecha Final</label>
                                    <input type="date" v-model="fechafinal" class="form-control">
                                </div>
                                <div class="col-md-12">
                                    <label>Banco</label>
                                    <v-select
                                        label="Nombre"
                                        placeholder= "Seleccione Banco"
                                        :options="arraybanco"
                                        v-model="banco"
                                        :value="arraybanco.idBanco"
                                        @input="setBanco"
                                    ></v-select>
                                </div>
                            </div>
                            <div class="form-group row div-error" v-show="errores">
                                <div class="text-center text-error">
                                    <div v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror">            
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-left: 25%; margin-top: 5%">
                                <div class="col-md-4">
                                    <a class="btn btn-danger btn-block" id="cerrar" href="#close">Cerrar</a>
                                </div>
                                <div class="col-md-4">
                                    <a class="btn btn-default btn-block" @click="chequeBanco(fechainicio, fechafinal, idbanco)">Imprimir</a>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            <!-- FIN DEL MODAL -->
            
            <!-- CUADRO MODAL IMPRIMIR CHEQUE POR BANCO COBRADO-->
                <div id="ChequesCobrado" class="modalDialog">
                    <div style="width: 30%">
                        <h4 class="tituloModal">Listado de Cheque Cobrado</h4>
                        <hr class="linetitle">
                        <div class="contenidoModal">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="">Fecha Inicio</label>
                                    <input type="date" v-model="fechainicio" class="form-control">
                                </div>
                                <div class="col-md-6">
                                    <label for="">Fecha Final</label>
                                    <input type="date" v-model="fechafinal" class="form-control">
                                </div>
                                <div class="col-md-12">
                                    <label>Banco</label>
                                    <v-select
                                        label="Nombre"
                                        placeholder= "Seleccione Banco"
                                        :options="arraybanco"
                                        v-model="banco"
                                        :value="arraybanco.idBanco"
                                        @input="setBanco"
                                    ></v-select>
                                </div>
                            </div>
                            <div class="form-group row div-error" v-show="errores">
                                <div class="text-center text-error">
                                    <div v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror">            
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-left: 25%; margin-top: 5%">
                                <div class="col-md-4">
                                    <a class="btn btn-danger btn-block" id="cerrar" href="#close">Cerrar</a>
                                </div>
                                <div class="col-md-4">
                                    <a class="btn btn-default btn-block" @click="chequeCobrado(fechainicio, fechafinal, idbanco)">Imprimir</a>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            <!-- FIN DEL MODAL -->

            <!-- CUADRO MODAL IMPRIMIR CHEQUE POR BANCO ANULADO-->
                <div id="ChequesAnulada" class="modalDialog">
                    <div style="width: 30%">
                        <h4 class="tituloModal">Listado de Cheque Anulado</h4>
                        <hr class="linetitle">
                        <div class="contenidoModal">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="">Fecha Inicio</label>
                                    <input type="date" v-model="fechainicio" class="form-control">
                                </div>
                                <div class="col-md-6">
                                    <label for="">Fecha Final</label>
                                    <input type="date" v-model="fechafinal" class="form-control">
                                </div>
                                <div class="col-md-12">
                                    <label>Banco</label>
                                    <v-select
                                        label="Nombre"
                                        placeholder= "Seleccione Banco"
                                        :options="arraybanco"
                                        v-model="banco"
                                        :value="arraybanco.idBanco"
                                        @input="setBanco"
                                    ></v-select>
                                </div>
                            </div>
                            <div class="form-group row div-error" v-show="errores">
                                <div class="text-center text-error">
                                    <div v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror">            
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-left: 25%; margin-top: 5%">
                                <div class="col-md-4">
                                    <a class="btn btn-danger btn-block" id="cerrar" href="#close">Cerrar</a>
                                </div>
                                <div class="col-md-4">
                                    <a class="btn btn-default btn-block" @click="chequeAnulado(fechainicio, fechafinal, idbanco)">Imprimir</a>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            <!-- FIN DEL MODAL -->

            <!-- CUADRO MODAL APLICAR RECIBO -->
                <div id="ModalAplicacion" class="modalDialog">
                    <div style="width: 35%">
                        <h4 class="tituloModal">Tipo de Aplicación</h4>
                        <hr class="linetitle">
                        <div class="contenidoModal">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Mas Antigua</label>
                                    <a class="btn btn-default" @click="habilitarCheque(apidcheq,apidcliente,apmonto)">
                                        <img :src="imgrollo" alt="" width="200px" height="200px">
                                    </a> 
                                </div>
                                <div class="col-md-4">
                                    <label style="margin-left: 50%">Autorizar</label>
                                    <a class="btn btn-default" style="margin-left: 50%" id="btnhoja" @click="AutorizarPago()">
                                        <img :src="imghoja" alt="" width="200px" height="200px">
                                    </a>
                                </div>
                            </div>
                            <div class="row" style="padding-left: 25%; margin-top: 5%">
                                <div class="col-md-8">
                                    <a class="btn btn-danger btn-block" id="cerrarModalAut" href="#close">Cerrar</a>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            <!-- FIN DEL MODAL -->

            <!-- CUADRO MODAL APLICAR RECIBO -->
                <div id="ModalAutorizado" class="modalDialog">
                    <div style="width: 60%">
                        <h4 class="tituloModal">Seleccionar Factura</h4>
                        <hr class="linetitle">
                        <div class="contenidoModal">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="">No. Cheque:</label>
                                    <input type="text" v-model="numcheque"  disabled>
                                </div>
                                <div class="col-md-4">
                                    <label for="">Monto C$:</label>
                                    <input type="text" v-model="abono" disabled>
                                </div>
                                <div class="col-md-4">
                                    <label for="">No. Recibo:</label>
                                    <input type="text" v-model="idrecibo"  disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="">Cliente:</label>
                                    <input type="text" v-model="cliente" disabled style="width: 90%">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-hover table-bordered">
                                        <thead class="text-center" style="background-color: gray; color: white;">
                                            <td>Pagar</td>
                                            <td>Facturas</td>
                                            <td>F.Factura</td>
                                            <td>F.Recuperación</td>
                                            <td>Deuda</td>
                                            <td>Abono C$</td>
                                            <td>Descuento C$</td>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(fact, index) in arrayfactura" :key="fact.idCuentasxCobrar">
                                                <td class="text-center"><input type="checkbox" :true-value="parseFloat(fact.SaldoRestante).toFixed(2)" :false-value='0' v-model="fact.Abono" :id="'list'+index" @click="AbonoTotal(index)" class="select"></td>
                                                <td v-text="fact.idFactura" class="text-center"></td>
                                                <td v-text="fact.FechaFactura" class="text-center"></td>
                                                <td v-text="fact.FechaRecuperacionV" class="text-center"></td>
                                                <td v-text="parseFloat(fact.SaldoRestante)" class="text-center" :id="'saldo'+index"></td>
                                                <td style="width: 20%"><input type="number" min="0" :max="parseFloat(fact.SaldoRestante).toFixed(2)" v-model="fact.Abono" class="form-control" :id="'txtAbono'+index"></td>
                                                <td style="width: 20%"><input type="number" min="0" v-model="fact.Descuento" class="form-control"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" style="text-align: end; padding-right: 25px">Total Recibo C$:</td>
                                                <td class="text-center" :style="parseFloat(abono) >= parseFloat(totalrecibo)?'color: black':'color: red'">{{totalrecibo = parseFloat(TotalDev).toFixed(2)}}</td>
                                                <td class="text-center">{{parseFloat(TotalDesc).toFixed(2)}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="form-group row div-error" v-show="errorPago">
                                <div class="text-center text-error">
                                    <ul>
                                        <li v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <a class="btn btn-success" @click="habilitarCheque2(idcheque)">Guardar</a>
                                    <a class="btn btn-danger" id="cerrarAut" href="#close" @click="limpiar()">Cerrar</a>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            <!-- FIN DEL MODAL -->
        </div>
    </div>
</template>
 
<script>
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    export default {
        props:['ruta'],
        data(){
            return{
                disabledvue: 'true',
                idcheque: 0,
                titulo: 'Cheque',
                cheque: [],
                idcliente: 0,
                cliente: '',
                arrayCliente: [],
                idfactura: 0,
                factura: '',
                arrayfactura: [], 
                idbanco: 0,
                banco: '',
                arraybanco: [],
                numcheque: '',
                beneficiario: '',
                vendedor: '',
                zona: '',
                nota: '',
                abono: 0,
                idvendedor: 0,
                total: 0,
                totalrecibo: 0,
                totaldevolucion: 0,
                fecha: '',
                zona: '', 
                arraydatos: [],
                arrayrecibo:[],
                arraycheque: [],
                recibo: '',
                arraydatos: [],
                idrecibo: 0,
                saldorest: 0,
                errorCheque: 0,
                txtvalidate: [],
                tablamostrar: true,
                tipoBtn: 1,
                tipofrm: 'crear',
                rsp: '',
                estado: '',
                anular: '',
                pagination: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                },
                offset: 3,
                buscar: '', 
                filtro: 't.NumeracionInicial',
                usuario: '',
                arrayVendedor : [],
                idvendedor: 0,
                vendedor: '',
                errores: 0,
                fechainicio: '',
                fechafinal: '',
                imgbuscar: './img/icons8_search1_32.png',
                cont: 0,
                imgrollo: './img/cheque1.png',
                imghoja: './img/cheque2.png',
                apidcheq: 0,
                apidcliente: 0,
                apmonto: 0,
                notadebito: 0,
            }
        },
        computed: {
            isActived: function() {
                return this.pagination.current_page;
            },
            pagesNumber: function() {
                if(!this.pagination.to){
                    return [];
                }

                var from = this.pagination.current_page - this.offset; 
                if(from < 1){
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }, 
                 
            SaldoPendiente: function(){
                var saldo = this.saldorest;
                var saldoactual = 0;
                saldoactual = saldo - this.TotalDev;
                return saldoactual;
            },
            TotalDev: function(){
                var suma = 0;
                for (let i = 0; i < this.arrayfactura.length; i++) {
                    suma = parseFloat(suma) + parseFloat(this.arrayfactura[i].Abono);
                }
                return suma;
            }, 
        },
        components:{
            vSelect,
        },
        methods:{
            listarCheque(page, buscar,filtro){
                let me=this;
                var url = this.ruta+'/cheque?page=' + page +'&buscar=' + buscar + '&filtro='+filtro;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arraycheque = respuesta.cheque.data;
                    me.pagination = respuesta.pagination;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            SeleccionarVendedor(){
                let me=this;
                var url = this.ruta+'/vendedor/seleccionar'
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayVendedor = respuesta.vendedor;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            setVendedor(value){
                let me = this;
                me.loading = true;
                me.idvendedor = value.idVendedor;
            },
            chequeVendedor(id, inicio, fin){
                if (this.ValidateVendedor()) {
                    return;
                }
                window.open(this.ruta + "/informe/chequevend?idVendedor="+id+"&FInicio="+inicio+"&FFin="+fin);
                document.getElementById("cerrar").click();
                this.ClearTxt();
            },
            chequeBanco(inicio, fin, id){
                if (this.ValidateBanco()) {
                    return;
                }
                window.open(this.ruta + "/informe/chequepend?FInicio="+inicio+"&FFin="+fin+"&idBanco="+id);
                document.getElementById("cerrar").click();
                this.ClearTxt();
            },
            chequeCobrado(inicio, fin, id){
                if (this.ValidateBanco()) {
                    return;
                }
                window.open(this.ruta + "/informe/chequecobrado?FInicio="+inicio+"&FFin="+fin+"&idBanco="+id);
                document.getElementById("cerrar").click();
                this.ClearTxt();
            },
            chequeAnulado(inicio, fin, id){
                if (this.ValidateBanco()) {
                    return;
                }
                window.open(this.ruta + "/informe/chequeanulado?FInicio="+inicio+"&FFin="+fin+"&idBanco="+id);
                document.getElementById("cerrar").click();
                this.ClearTxt();
            },
            SeleccionarCliente(){
                let me=this;
                var url = this.ruta+'/cliente/cheque'
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayCliente = respuesta.clientes;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            setCliente(value){
                let me = this;
                me.idcliente = value.idCliente;
                me.cliente = value.Nombre;
                me.idvendedor = value.idVendedor;
                me.vendedor = value.Vendedor;
                me.zona = value.Zona;
                me.saldorest = value.TotalDeuda;
                me.CargarRecibo(me.idvendedor);
                //me.cargarFactura(me.idcliente);
            },
            SeleccionarBanco(){
                let me=this;
                var url = this.ruta+ '/banco/seleccionar'
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arraybanco = respuesta.bancos;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            setBanco(value){
                let me = this;
                me.idbanco = value.idBanco;
                me.banco = value.Nombre;
            },
            cargarFactura(id){
                let me=this;
                var url = this.ruta + '/factura/clientes?idCliente=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayfactura = respuesta.facturas;

                    var suma=0;
                    var abonocheque = me.abono;
                    for (let i = 0; i < respuesta.facturas.length; i++) {
                        var saldo = respuesta.facturas[i].SaldoRestante;
                        if( parseFloat(saldo) < parseFloat(abonocheque)){
                            respuesta.facturas[i].Abono = parseFloat(respuesta.facturas[i].SaldoRestante).toFixed(2);
                            abonocheque = parseFloat(abonocheque).toFixed(2) - parseFloat(respuesta.facturas[i].SaldoRestante).toFixed(2);
                        }else{
                            respuesta.facturas[i].Abono = abonocheque;
                            abonocheque=0;
                        }
                        suma = parseFloat(suma) + parseFloat(respuesta.facturas[i].SaldoRestante);
                    }
                    me.saldorest = suma;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            CargarRecibo(id){
                let me=this;
                var url = this.ruta + '/talonario/disponible?idVend=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayrecibo = respuesta.pendientes;
                })
                .catch(function (error) {
                    console.log(error);
                })
                
            },
            setRecibo(value){
                let me = this;
                me.idrecibo = value.idTalonario;
                me.recibo = value.NumeracionInicial;
            },
            cambiarPagina(page, buscar, filtro){
                let me = this;
                me.pagination.current_page = page;
                me.listarCheque(page, buscar, filtro);
            },
            notificacion(){
                toastr.success("Cheque Registrado",{
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                });
            },
            registrarCheque(){
                if(this.validateCheque()){
                    return;
                }
                this.cont = this.cont + 1;
                if(this.cont == 1){
                    let me = this;
                    axios.post(this.ruta + '/cheque/registrar', {
                        'idTalonario': this.idrecibo,
                        'idBanco': this.idbanco,
                        'idCliente': this.idcliente,
                        'NumCheque': this.numcheque,
                        'Beneficiario': this.beneficiario,
                        'Monto' : this.abono,
                        'Nota' : this.nota,
                        'data' : this.arrayfactura,
                        })
                    .then(function (response) {
                        me.listarCheque(1,'','ch.idCheque');
                        me.ClearTxt();
                        me.notificacion();
                        me.cont = 0;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
            },
            ActualizarCheque(){
                if(this.validateCheque()){
                    return;
                }
                let me = this;
                axios.put(this.ruta + '/cheque/actualizar', {
                    'idcheque': this.idcheque,
                    'idTalonario': this.idrecibo,
                    'idBanco': this.idbanco,
                    'idCliente': this.idcliente,
                    'NumCheque': this.numcheque,
                    'Beneficiario': this.beneficiario,
                    'Monto' : this.abono,
                    'Nota' : this.nota,
                    'data' : this.arrayfactura,
                    })
                .then(function (response) {
                    me.listarCheque(1,'','ch.idCheque');
                    me.ClearTxt();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            deshabilitarCheque(id){
                this.idcheque = id;
                Swal.fire({
                title: '¿Anular cheque?',
                text: "El cheque sera anulado y ya no sera valido",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar',
                showClass: {
                    popup: 'animated fadeInDown faster'
                },
                hideClass: {
                    popup: 'animated fadeOutUp faster'
                }
                }).then((result) => {
                if (result.value) {
                let me = this;
                axios.put(this.ruta+'/cheque/inactive', {
                    'idCheque' : this.idcheque,
                    })
                .then(function (response) {
                    Swal.fire(
                    'Anulado',
                    'Las facturas asociadas no tuvieron afectaciones',
                    )
                    me.listarCheque(1, '','t.NumeracionInicial');
                })
                .catch(function (error) {
                    console.log(error);
                });
                }
                })
            },  
            habilitarCheque(id, idc, monto){
               this.idcheque = id;
               this.idcliente = idc;
               this.abono = parseFloat(monto);
               this.cargarFactura(parseInt(this.idcliente));
                Swal.fire({
                title: '¿Cheque cobrado?',
                text: "El cheque ya fue cobrado exitosamente",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar',
                showClass: {
                    popup: 'animated fadeInDown faster'
                },
                hideClass: {
                    popup: 'animated fadeOutUp faster'
                }
                }).then((result) => {
                if (result.value) {
                let me = this;
                axios.put(this.ruta+'/cheque/active', {
                    'idCheque' : this.idcheque,
                    'data': this.arrayfactura,
                    })
                .then(function (response) {
                    Swal.fire(
                    'Cobrado',
                    'Las facturas asociadas se dedujo el monto',
                    'Existoso'
                    )
                    me.listarCheque(1, '','t.NumeracionInicial');
                    document.getElementById('cerrarModalAut').click()
                })
                .catch(function (error) {
                    console.log(error);
                });
                }
                })
            },
            habilitarCheque2(id){
                if(this.ValidatePagos()){
                    return;
                }
                var monto = 0;
                var total = 0;
                var descuento = 0;
                var montodesc = 0;
                for (let i = 0; i < this.arrayfactura.length; i++) {
                    monto = parseFloat(this.arrayfactura[i].Abono);
                    total = parseFloat(this.arrayfactura[i].SaldoRestante);
                    descuento = parseFloat(this.arrayfactura[i].Descuento);
                    montodesc = monto + descuento;
                    if (montodesc > total) {
                        this.txtvalidate.push('El abono no puede superar a la deuda, por favor verifique la factura No.'+this.arrayfactura[i].idFactura);
                        if(this.txtvalidate.length) this.errorPago = 1;
                        return this.errorPago;
                    } else if(monto == 0 && descuento > 0){
                        this.txtvalidate.push('No puede aplicar descuento sino se realiza abono a la factura, por favor verifique la factura No.'+this.arrayfactura[i].idFactura);
                        if(this.txtvalidate.length) this.errorPago = 1;
                        return this.errorPago;
                    }
                } 
                Swal.fire({
                title: '¿Cheque cobrado?',
                text: "El cheque ya fue cobrado exitosamente",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar',
                showClass: {
                    popup: 'animated fadeInDown faster'
                },
                hideClass: {
                    popup: 'animated fadeOutUp faster'
                }
                }).then((result) => {
                if (result.value) {
                    let me = this;
                    axios.put(this.ruta+'/cheque/active', {
                        'idCheque' : id,
                        'data': this.arrayfactura,
                        })
                    .then(function (response) {
                        Swal.fire(
                        'Cobrado',
                        'Las facturas asociadas se dedujo el monto',
                        'Existoso'
                        );
                        me.infoCheque(id);
                        me.listarCheque(1, '','t.NumeracionInicial');
                        document.getElementById('cerrarAut').click();
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
                })
            },
            mostrarTabla(){
                this.tablamostrar = false;
                $("#tabla").addClass("in");
            },
            ocultarTabla(){
                this.tablamostrar = true;
                $("#tabla").removeClass("in");
            },
            DisableFunction(){
                this.titulo= 'Cheque';
                this.errorCheque= 0;
                this.txtvalidate= [];
                this.arrayfactura= [];
                this.arrayrecibo = [];
                this.tipoBtn=1;
                this.disabledvue= true;
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle();


                this.ClearTxt();
                this.EnabledButon();

                $("#tabla").addClass("in");
                $("#txtBuscar").focus();

            },
            EnableFunction(){
                this.tipofrm = 'crear';
                this.titulo = 'Registrar Cheque';
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle(); 
                this.SeleccionarCliente();
                this.SeleccionarBanco();
                this.disabledvue= false;

                $("#tabla").removeClass("in");
                this.DesabledButton();

                $("#txtAbono").prop('disabled', false);
            },
            DesabledButton(){
                $("tbody > tr > td").find("button").prop( "disabled", true );
                $("tfoot").css("display", "none");
            },
            EnabledButon(){
                $("tbody > tr > td").find("button").prop( "disabled", false );
                $("tfoot").css("display", "inherit");
            },
            ClearTxt(){
                this.pago = [];
                this.idcliente= 0;
                this.cliente= '';
                this.idfactura= 0;
                this.factura= '';
                this.arrayfactura= [];
                this.arraydatos = [];
                this.vendedor= '';
                this.zona= '';
                this.abono= 0;
                this.idvendedor= 0;
                this.total= 0;
                this.totalrecibo= 0;
                this.totaldevolucion= 0;
                this.fecha= '';
                this.zona= '';
                this.arrayrecibo= [];
                this.recibo= '';
                this.idrecibo= 0;
                this.saldorest= 0;
                this.errorCheque= 0;
                this.numcheque= '';
                this.idbanco = 0;
                this.banco = '';
                this.txtvalidate= [];
                this.nota = '';
                this.idvendedor= 0;
                this.vendedor= '';
                this.fechainicio= '';
                this.fechafinal= '';
            },
            ValidateVendedor(){
                this.errores = 0;
                this.txtvalidate = [];

                if (!this.idvendedor) this.txtvalidate.push("Seleccione a un vendedor");

                if(this.txtvalidate.length) this.errores = 1;

                return this.errores;
            },
            validateCheque(){
                this.errorCheque = 0;
                this.txtvalidate = [];

                if (!this.idcliente) this.txtvalidate.push("Seleccione un cliente, por favor");
                if (!this.idrecibo) this.txtvalidate.push('Agregar recibo del vendedor');
                if (!this.abono) this.txtvalidate.push("El abono o monto no puede ser cero");
                if (!this.numcheque) this.txtvalidate.push("El campo de Numero de cheque no puede estar vacío");
                if (!this.idbanco) this.txtvalidate.push("Debe de seleccionar un banco");
                if (!this.beneficiario) this.txtvalidate.push("Agregue el beneficiario del cheque");

                if(this.txtvalidate.length) this.errorCheque = 1;

                return this.errorCheque;
            },
            ValidateBanco(){
                this.errores = 0;
                this.txtvalidate = [];

                if(!this.fechainicio) this.txtvalidate.push("*La fecha inicial no puede estar vacío");
                if(!this.fechafinal) this.txtvalidate.push("*La fecha final no puede estar vacío");

                if (Date.parse(this.fechainicio) > Date.parse(this.fechafinal)) this.txtvalidate.push("*La fecha inicial no puede ser mayor a la fecha final");

                if (!this.idbanco) this.txtvalidate.push("*Seleccione un banco");
                
                if(this.txtvalidate.length) this.errores = 1;

                return this.errores;
            },
            cerrarUpdate(){
                this.titulo = 'Cheque';

                $("#collapseForm").removeClass("in");
                $("#collapseForm").removeClass("show");
                $("#tabla").addClass("in");
                this.disabledvue1= true;

                $("#txtAbono").prop('disabled', true);
                this.EnabledButon();
                this.arraydatos= [];
                this.ClearTxt();
            },
            getCheque(id){
                this.tipofrm = 'modificar';
                let me =  this;
                var url = this.ruta+'/cheque/datos?id=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayfactura = respuesta.cheque;
                    me.idcheque = me.arrayfactura[0].idCheque;
                    me.idrecibo = me.arrayfactura[0].idTalonario;
                    me.recibo = me.arrayfactura[0].NumeracionInicial;
                    me.numcheque = me.arrayfactura[0].NumCheque;
                    me.idbanco =  me.arrayfactura[0].idBanco;
                    me.banco = me.arrayfactura[0].Banco;
                    me.abono = me.arrayfactura[0].Monto;
                    me.idcliente = me.arrayfactura[0].idCliente;
                    me.cliente = me.arrayfactura[0].Cliente;
                    me.zona = me.arrayfactura[0].Zona;
                    me.idvendedor = me.arrayfactura[0].idVendedor;
                    me.vendedor = me.arrayfactura[0].Vendedor;
                    me.fecha = me.arrayfactura[0].created_at;
                    me.estado = me.arrayfactura[0].Estado;
                    me.beneficiario = me.arrayfactura[0].Beneficiario;
                    me.nota = me.arrayfactura[0].Nota;
                    me.CargarRecibo(me.idvendedor);
                    var suma= 0;
                    for (let i = 0; i < respuesta.cheque.length; i++) {
                        suma = parseFloat(suma) + parseFloat(respuesta.cheque[i].TotalDeuda);
                    }
                    me.saldorest = suma;

                })
                .catch(function (error) {
                    console.log(error);
                }),
                me.SeleccionarBanco();
                this.SeleccionarCliente();
                this.disabledvue = false;

                $("#tabla").removeClass("in");
                $("#collapseForm").addClass("in");
                this.DesabledButton();
                this.titulo = 'Actualizar Cheque';

                $("#txtAbono").prop('disabled', false);
            },
            setCheque(idcheque, idcliente, monto){
                this.apidcheq = idcheque,
                this.apidcliente = idcliente,
                this.apmonto = monto;
            },
            infoCheque(id){
                let me=this;
                var url = this.ruta+'/cheque/datos?id=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arraydatos = respuesta.cheque;
                    me.idcheque = me.arraydatos[0].idCheque;
                    me.idrecibo = me.arraydatos[0].NumeracionInicial;
                    me.numcheque = me.arraydatos[0].NumCheque;
                    me.abono = me.arraydatos[0].Monto;
                    me.cliente = me.arraydatos[0].Cliente;
                    me.zona = me.arraydatos[0].Zona;
                    me.vendedor = me.arraydatos[0].Vendedor;
                    me.fecha = me.arraydatos[0].created_at;
                    me.estado = me.arraydatos[0].Estado;
                    me.usuario = me.arraydatos[0].Usuario;
                    me.nota = me.arraydatos[0].Nota;
                })
                .catch(function (error) {
                    console.log(error);
                }),
                this.tipofrm="ver",
                this.titulo= "Detalle de Cheque",
                $("#tabla").removeClass('in');
                $("#collapseForm").addClass('in');
                
                this.DesabledButton();
            },
            cerrarView(){
                this.tipofrm="crear",
                this.titulo= "Cheque",
                $("#collapseForm").removeClass('in');
                $("#tabla").addClass('in');
                this.ClearTxt();
                this.EnabledButon();
                this.arraydatos= [];
            },
            fechaActual(){
                let me=this;
                var url = this.ruta + '/fecha';
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.fechainicio = respuesta.fecha;
                    me.fechafinal = respuesta.fecha;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            /*limpiar(){
                this.apidcheq = 0;
                this.apidcliente = 0;
                this.apmonto = 0;
            },*/
            AutorizarPago(){
                Swal.fire({
                    title: '¿Autorizar aplicación de cheque?',
                text: "Puede agregar el monto a unas facturas en especifico",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Autorizar'
                }).then((result) => {
                    document.getElementById("cerrarAut").click();
                    if (result.value) {
                        Swal.fire({
                        title: 'Ingrese la contraseña de acceso',
                        input: 'password',
                        inputPlaceholder: '',
                        inputAttributes: {
                            autocapitalize: 'off',
                            autocomplete: 'off',
                        },
                        imageUrl: './img/pass.png',
                        imageWidth: 125,
                        imageHeight: 100,
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Verificar',
                        cancelButtonText: 'Cancelar',
                        }).then((result) => {
                            this.pass = result.value;
                            if (this.pass == 'm4rn0rc1int3' || this.pass == '+C1m4rn0rC1int3') {
                                this.cargarFactura(this.apidcliente);
                                this.infoCheque(this.apidcheq);
                                document.getElementById('btnautorizado').click();
                            } else {
                                Swal.fire(
                                'ERROR',
                                'Contraseña Incorrecta',
                                'error'
                                )
                            }
                        })
                    }
                })
            },
            ValidatePagos(){
                this.errorPago = 0;
                this.txtvalidate = [];

                if(this.totalrecibo <= 0) this.txtvalidate.push("Debe de seleccionar al menos una factura");
                if(parseFloat(this.totalrecibo).toFixed(2) > parseFloat(this.abono).toFixed(2)) this.txtvalidate.push("El abono no cubre todo las facturas que desea pagar");
                if(parseFloat(this.abono) > parseFloat(this.totalrecibo)){
                    this.notadebito = parseFloat(this.abono) - parseFloat(this.totalrecibo);
                }
                if(this.txtvalidate.length) this.errorPago = 1;
                return this.errorPago;
            },
        },
        mounted() {
            this.listarCheque(1, this.buscar,this.filtro);
            this.DisableFunction();
            $("#btnnew").toggle(); 
            this.fechaActual();

        }
    }
</script>
<style>
    .div-error{
        display: flex;
        margin-left: 0.5rem;
        font-size: 12px;
    }
    .text-error{
        color:red !important;
        font-weight: bold;
        text-align: left;
    }
    .linetitle{
        margin-top: 1px;
    }
    .titleEnc{
        display: block;
        text-align: center;
        font-weight: bold;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        padding: 5px 0px;
    }
    .info{
        font-size: 14px;
    }
    .d-flex{
        display: flex;
    }
    .ml-25{
        margin-left: 25%;
    }
    .w-25{
        width: 25%;
    }
    .w-75{
        width: 75%;
    }
    .w-50{
        width: 50%;
    }
    .row{
        margin-top:10px;
        margin-bottom: 10px;
    }
    .pReturn{
        padding-left: 0px;
        border-top: 0px;
    }
    .imgsize{
        min-width: 100px;
        min-height: 150px;
        max-width: 250px;
        max-height: 250px;
        margin: auto;
    }
    .linetitle{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .titleEnc{
        display: block;
        text-align: center;
        font-weight: bold;
    }
    .mb-30{
        margin-bottom: 0px;
    }
    .btn{
        border: 1px solid;
    }
    .justify-content-end{
        justify-content: end;
    }
    .contenidoModal{
        margin: 25px 0px;
    }
    .modalDialog {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.3);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 0ms ease-in;
        -moz-transition: opacity 0ms ease-in;
        transition: opacity 0ms ease-in;
        pointer-events: none;
    }
    .modalDialog:target {
        opacity:1;
        pointer-events: auto;
    }
    .modalDialog > div {
        width: 50%;
        position: relative;
        margin: 5% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 3px;
        background: #fff;
        -webkit-transition: opacity 0ms ease-in;
        -moz-transition: opacity 0ms ease-in;
        transition: opacity 0ms ease-in;
    }
    .close {
        background: hsl(0, 50%, 60%);
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }
    .close:hover { background: hsl(0, 80%, 50%); color: white; }
    .tituloModal{
        margin: 10px 0 15px;
    }
    .vs__dropdown-menu{
        color: red;
    }
</style>