<template>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- FORMULARIO -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="header">
                            <h4 class="title" v-text="titulo"></h4>
                        </div>
                        <div class="content">
                            <!--<form>-->

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Categoria</label>
                                            <input type="text" class="form-control" placeholder="Categoria..." id="txtNombre" v-model="nombre">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Departamento</label>
                                            <v-select
                                                label="Nombre"
                                                placeholder="Seleccione Departamento"
                                                :options="arrayDepartamento"
                                                v-model="departamento"
                                                :value="arrayDepartamento.Nombre"
                                                @input="setDepartamento"
                                                :disabled="disabledvue"
                                            ></v-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row div-error" v-show="errorClase">
                                    <div class="text-center text-error">
                                        <div v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror">            
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary pull-left btnhidden" id="btnnew" @click="EnableTxt" v-if="tipoBtn==1"><i class="pe-7s-plus"></i> Nuevo</button>
                                <button type="button" class="btn btn-warning pull-right" id="" @click="actualizarClases()" v-if="tipoBtn==2"><i class="pe-7s-diskette"></i> Actualizar</button>
                                <button type="button" class="btn btn-success pull-right" id="btnAdd" @click="registrarClases()"><i class="pe-7s-check"></i> Agregar</button>
                                <button type="reset" class="btn btn-danger pull-right" id="btnReset" @click="DisableTxt"><i class="pe-7s-close"></i> Cancelar</button>
                                <div class="clearfix"></div>
                            <!--  </form> -->
                        </div>
                    </div>          
                </div>

                <!--   TABLA -->
                <div class="col-md-8">
                    <div class="card"> 
                        <div class="header">
                            <div class="form-group">
                                <p style="display: inline;" >Buscar:</p>
                                <input type="text" v-model="buscar" class="txtbuscar" placeholder="Buscar..." id="txtBuscar" @keyup.enter="listarClases(1, buscar)">
                                <img :src="imgbuscar" class="img-sidebar">
                            </div>
                        </div>
                        <div class="content">                                                                                  
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped" >
                                    <thead> 
                                        <th>Opciones</th>
                                        <th>Categoria</th>
                                        <th>Departamento</th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="clase in arrayClase" :key="clase.idClase">
                                            <td>
                                                <button type="button" class="btn btn-warning" @click="getClases(clase)"><i class="pe-7s-pen"></i></button>
                                            </td>
                                            <td v-text="clase.Categoria"></td>
                                            <td v-text="clase.Departamento"></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <ul class="pagination">
                                            <li class="page-item" v-if="pagination.current_page > 1">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page - 1, buscar)">&laquo;</a>
                                            </li>
                                            <li class="page-item" v-for="page in pagesNumber" :key="page" :class= "[ page == isActived ? 'active' : '' ]" >
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(page, buscar)" v-text="page"></a>
                                            </li>
                                            <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page + 1, buscar)">&raquo;</a>
                                            </li>
                                        </ul>
                                    </tfoot>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    export default {
        props:['ruta'],
        data(){
            
            return{
                idClase: 0,
                nombre: '',
                titulo: 'Tipo de Producto',
                arrayClase: [],
                arrayDepartamento: [],
                idDepartamento: 0,
                departamento: '',
                errorClase: 0,
                txtvalidate: [],
                tipoBtn: 1,
                disabledvue: 'true',
                 pagination: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                },
                offset: 3,
                buscar: '',
                imgbuscar: './img/icons8_search1_32.png',

            }
        },
        computed: {
            isActived: function() {
                return this.pagination.current_page;
            },
            pagesNumber: function() {
                if(!this.pagination.to){
                    return [];
                }

                var from = this.pagination.current_page - this.offset; 
                if(from < 1){
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }
        },
        components:{
            vSelect,
        },
        methods:{
            listarClases(page, buscar){
                let me=this;
                var url = this.ruta+ '/clase?page=' + page + '&buscar=' + buscar;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayClase = respuesta.clase.data;
                    me.pagination = respuesta.pagination;
                    $("#txtBuscar").focus();
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            cambiarPagina(page, buscar){
                let me = this;
                me.pagination.current_page = page;
                me.listarClases(page, buscar);
            },
            SeleccionarDepartamento(){
                let me=this;
                var url = this.ruta + '/departamento/seleccionar'
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayDepartamento = respuesta.departamento;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            setDepartamento(value){
                let me = this;
                me.loading = true;
                me.idDepartamento = value.idDepartamentos;
            },
            registrarClases(){
                if (this.ValidateClases()) {
                    return;
                }
                let me = this;
                axios.post(this.ruta+'/clase/registrar', {
                    'Nombre' : this.nombre,
                    'iddepartamento': this.idDepartamento,
                    })
                .then(function (response) {
                    me.listarClases(1, '');
                    me.ClearTxt();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            actualizarClases(){
                if (this.ValidateClases()) {
                    return;
                }
                let me = this;
                axios.put(this.ruta+'/clase/actualizar', {
                    'idClase': this.idClase,
                    'Nombre' : this.nombre,
                    'iddepartamento': this.idDepartamento,
                    })
                .then(function (response) {
                    me.listarClases(1, '');
                    me.DisableTxt();
                    $("#btnAdd").toggle();
                    $("#btnReset").toggle();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            DisableTxt(){
                $("#txtNombre").prop( "disabled", true );
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle();
                this.nombre= '';
                this.titulo= 'Tipo de Producto';
                this.errorClase= 0;
                this.txtvalidate= [];
                this.tipoBtn=1;
                this.disabledvue = true;

                this.EnabledButon();
            },
            EnableTxt(){
                $("#txtNombre").prop( "disabled", false );
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle();
                this.titulo = 'Agregar Tipo de Producto';
                this.SeleccionarDepartamento();
                this.disabledvue = false;


                this.DesabledButton();
            }, 
            DesabledButton(){
                $("tbody > tr > td").find("button").prop( "disabled", true );
                $("tfoot").css("display", "none");
            },
            EnabledButon(){
                $("tbody > tr > td").find("button").prop( "disabled", false );
                $("tfoot").css("display", "inherit");
            },
            ClearTxt(){
                this.nombre = '';
                this.idDepartamento = 0;
                this.departamento = '';
            },
            ValidateClases(){
                this.errorClase = 0;
                this.txtvalidate = [];

                if (!this.nombre) this.txtvalidate.push("*El tipo de producto no puede estar vacío.");
                if (!this.idDepartamento) this.txtvalidate.push("*Seleccione un departamento");
                
                if(this.txtvalidate.length) this.errorClase = 1;

                return this.errorClase;
            },
            getClases(data=[]){
                this.tipoBtn=2;
                $("#txtNombre").prop( "disabled", false );
                this.titulo = 'Actualizar Tipo de Producto'
                this.idClase = data['idClase'];
                this.nombre = data['Nombre'];
            }
        },
        mounted() {
            this.listarClases(1, this.buscar);
            this.DisableTxt();
        }
    }
</script>
<style>
    .div-error{
        display: flex;
        margin-left: 0.5rem;
        font-size: 12px;
        /*justify-content: center;*/
    }
    .text-error{
        color:red !important;
        font-weight: bold;
    }
</style>