<template>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- FORMULARIO -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="header">
                            <h4 class="title d-flex" v-text="titulo"></h4>
                            <button type="button" class="btn btn-primary pull-right" @click="EnableFunction" v-if="$can('cliente.store')" v-show="tipoBtn==1"><i class="pe-7s-plus"></i> Nuevo</button>
                        </div>
                        <div class="content">
                        <!-- MUESTRA EL FORMULARIO PARA CREAR EL CLIENTE -->
                            <div v-show="tipofrm=='crear'">
                                <div class="row">
                                    <div class="col-md-12" v-show="tipoBtn == 2" >
                                        <a href="#" @click="AutorizarCambio" style="color: red">Autorizar</a>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input type="text" class="form-control" placeholder="Nombre" id="txtNombre" v-model="nombre">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Codigo</label>
                                            <input type="text" class="form-control" placeholder="Codigo" id="txtcodigo" v-model="codigo">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>Fecha Nacimiento:</label>
                                            <input type="date" class="form-control" placeholder="Fecha Nac." id="txtfechanac" v-model="fechanac">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Teléfono 1:</label>
                                            <input type="text" class="form-control" placeholder="2222-0000" id="txtTelefono1" pattern="[0-9]{4}-[0-9]{4}" v-model="telefono">
                                        </div>
                                    </div>
                                   <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Teléfono 2:</label>
                                            <input type="text" class="form-control" placeholder="2222-0000" id="txtTelefono2" v-model="telefono2">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Celular</label>
                                            <input type="text" class="form-control" placeholder="8765-0123 Cl" id="txtCelular"  v-model="celular">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Cédula</label>
                                            <input type="text" class="form-control" placeholder="000-000000-0000X" id="txtCedula" pattern="[0-9]{4}-[0-9]{6}-[0-9]{4}[A-Z]{1}" v-model="cedula">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Credito C$</label>
                                            <input class="form-control" placeholder="0000.00" id="txtCredito" pattern="[0-9]{1,}" v-model="credito">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Plazo Pago</label>
                                            <input type="number" class="form-control" min="0" placeholder="00" id="txtPlazo" v-model="plazo">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" id="vueselect">
                                        <div class="form-group">
                                            <label>Zona</label>
                                            <v-select
                                                label="Nombre"
                                                placeholder= "Seleccione zona..."
                                                :options="arrayZona"
                                                v-model="zona"
                                                :value="arrayZona.Nombre"
                                                @input="setZona"
                                                :disabled="disabledvue"
                                            ></v-select>
                                        </div>
                                    </div>
                                    <div class="col-md-6" id="vueselect">
                                        <div class="form-group">
                                            <label>Tipo Venta</label>
                                            <select class="form-control" id="txtTipo" v-model="tipo"> 
                                                <option value="">Seleccione una opción..</option>
                                                <option value="Credito">Credito</option>
                                                <option value="Contado">Contado</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12" id="vueselect">
                                        <div class="form-group">
                                            <label>Vendedor</label>
                                            <v-select
                                                label="Nombre"
                                                placeholder= "Seleccione Vendedor..."
                                                :options="arrayVendedor"
                                                v-model="vendedor"
                                                :value="arrayVendedor.Nombre"
                                                @input="setVendedor"
                                                :disabled="disabledvue"
                                            ></v-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Dirección</label>
                                            <textarea rows="3" class="form-control" placeholder="Dirección del local" id="txtDireccion" v-model="direccion"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Dirección Habitación</label>
                                            <textarea rows="3" class="form-control" placeholder="Dirección de la vivienda del cliente" id="txtDireccionH" v-model="direccionh"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Observacion</label>
                                            <textarea rows="2" class="form-control" placeholder="Observación..." id="txtobservacion" v-model="observacion"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row div-error" v-show="errorCliente">
                                    <div class="text-center text-error">
                                        <ul>
                                            <li v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror"></li>
                                        </ul>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-warning pull-right" id="" @click="actualizarClientes()" v-if="$can('cliente.update') && tipoBtn==2"><i class="pe-7s-diskette"></i> Actualizar</button>
                                <button type="button" class="btn btn-success pull-right" id="btnAdd" @click="registrarClientes()" v-if="$can('cliente.store')"><i class="pe-7s-check"></i> Agregar</button>
                                <button type="reset" class="btn btn-danger pull-right" id="btnReset" @click="DisableFunction"><i class="pe-7s-close"></i> Cancelar</button>
                                <div class="clearfix"></div>
                            </div>
                            <!-- MUESTRA LA INFORMACION DEL CLIENTE -->
                            <div v-show="tipofrm=='ver'">
                                <div class="row">
                                    <div class="col-md-12">
                                        <hr class="linetitle">
                                        <h6 class="titleEnc">Datos Generales</h6>
                                        <hr class="linetitle">
                                        <label for="">Codigo</label>
                                        <p class="info" v-text="codigo"></p>
                                        <label for="">Nombre</label>
                                        <p class="info" v-text="nombre"></p>
                                        <label for="">Fecha Nac</label>
                                        <p class="info" v-text="fechanac"></p>
                                        <label for="">Cedula</label>
                                        <p class="info" v-text="cedula"></p>
                                        <label for="">Correo Electrónico</label>
                                        <p class="info" v-text="email"></p>
                                        <label for="">Dirección Habitación</label>
                                        <p class="info" v-text="direccionh"></p>
                                       <label for="">Zona</label>
                                       <p class="info" v-text="zona"></p>
                                       <label for="">Observación</label>
                                       <p class="info" v-text="observacion"></p>
                                    </div>
                                    <div class="col-md-12">
                                        <hr class="linetitle">
                                        <h6 class="titleEnc">Contacto</h6>
                                        <hr class="linetitle">
                                        <label for="">Dirección Local</label>
                                        <p class="info" v-text="direccion"></p>
                                        <div class="d-flex">
                                            <div id="tel1">
                                                <label for="">Teléfono</label>
                                                <p class="info" v-text="telefono"></p>
                                            </div>
                                            <div id="tel2" class="ml-25">
                                                <label for="">Teléfono 2</label>
                                                <p class="info" v-text="telefono2"></p>
                                            </div>
                                        </div>
                                        <label for="">Celular</label>
                                        <p class="info" v-text="celular"></p>
                                    </div>
                                    <div class="col-md-12">
                                        <hr class="linetitle">
                                        <h6 class="titleEnc">Datos Servicio</h6>
                                        <hr class="linetitle">
                                        <div class='d-flex'>
                                            <div id="vendedor">
                                                <label for="">Vendedor</label>
                                                <p class="info" v-text="vendedor"></p>
                                            </div>
                                            <div style="margin-left: 25%">
                                                <label>F.Registro</label>
                                                <p class="info" v-text="fregistro"></p>
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div id="plazo">
                                                <label for="">Plazo de Pago (dias)</label>
                                                <p class="info" v-text="plazo"></p>
                                            </div>
                                            <div id="credito" class="ml-25">
                                                <label for="">Límite de Crédito</label>
                                                <p class="info" v-text="credito"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn-default" @click="cerrarView">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>

                <!--   TABLA -->
                <div class="col-md-8">
                    <div class="card"> 
                        <div class="header">
                            <div class="form-group">
                                <p style="display: inline;" >Buscar:</p>
                                <input type="text" v-model="buscar" class="txtBuscar" placeholder="Buscar..." id="txtBuscar" @keyup.enter="listarClientes(1, buscar)">
                                <img :src="imgbuscar" class="img-sidebar">
                            </div>
                        </div>
                        <div class="content">                                                                                  
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped" >
                                    <thead> 
                                        <th>Opciones</th>
                                        <th>Codigo</th>
                                        <th>Cliente</th>
                                        <th>Teléfono</th>
                                        <th>Credito C$</th>
                                        <th>Plazo Pago</th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="cliente in arrayCliente" :key="cliente.idCliente">
                                            <td>
                                                <div v-if="cliente.Estado == 'Activo'">
                                                    <button type="button" class="btn btn-warning" v-if="$can('cliente.update')" @click="getClientes(cliente)"><i class="pe-7s-pen"></i></button>
                                                    <button type="button" class="btn btn-danger"  v-if="$can('cliente.inactive')" @click="deshabilitarClientes(cliente.idCliente)"><i class="pe-7s-trash"></i></button>
                                                    <button type="button" class="btn btn-default" v-if="$can('cliente.index')" @click="infoClientes(cliente)"><i class="pe-7s-id"></i></button>
                                                </div>
                                                <div v-else>
                                                    <button type="button" class="btn btn-warning" v-if="$can('cliente.update')"  @click="getClientes(cliente)" id="btnEdit"><i class="pe-7s-pen"></i></button>
                                                    <button type="button" class="btn btn-success" v-if="$can('cliente.active')"  @click="habilitarClientes(cliente.idCliente)" ><i class="pe-7s-check"></i></button>
                                                    <button type="button" class="btn btn-default" v-if="$can('cliente.index')" @click="infoClientes(cliente)"><i class="pe-7s-id"></i></button>
                                                </div>
                                            </td>
                                            <td v-text="cliente.Codigo"></td>  
                                            <td v-text="cliente.Clientes"></td>
                                            <td v-text="cliente.Telefono1"></td>
                                            <td v-text="cliente.LimiteCredito"></td>
                                            <td v-text="cliente.PlazoPago"></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <ul class="pagination">
                                            <li class="page-item" v-if="pagination.current_page > 1">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page - 1, buscar)">&laquo;</a>
                                            </li>
                                            <li class="page-item" v-for="page in pagesNumber" :key="page" :class= "[ page == isActived ? 'active' : '' ]" >
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(page, buscar)" v-text="page"></a>
                                            </li>
                                            <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page + 1, buscar)">&raquo;</a>
                                            </li>
                                        </ul>
                                    </tfoot>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    export default {
        props:['ruta'],
        data(){
            return{
                disabledvue: 'true',
                idCliente: 0,
                idzona: 0,
                zona: '',
                idvendedor: 0,
                vendedor: '',
                nombre: '',
                celular: '',
                telefono: '',
                telefono2: '',
                direccion: '',
                direccionh: '',
                email: '',
                cedula: '',
                tipo: '',
                credito: '',
                plazo: '',
                estado: '',
                titulo: 'Clientes',
                arrayCliente: [],
                arrayZona: [],
                arrayVendedor: [],
                errorCliente: 0,
                txtvalidate: [],
                tipoBtn: 1,
                tipofrm: 'crear',
                pagination: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                },
                offset: 3,
                buscar: '', 
                imgbuscar: './img/icons8_search1_32.png',
                fechanac: '',
                observacion: '',
                codigo: '',
                fregistro: '',

            }
        },
        computed: {
            isActived: function() {
                return this.pagination.current_page;
            },
            pagesNumber: function() {
                if(!this.pagination.to){
                    return [];
                }

                var from = this.pagination.current_page - this.offset; 
                if(from < 1){
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }
        },
        components:{
            vSelect
        },
        methods:{
            listarClientes(page, buscar){
                let me=this;
                var url = this.ruta+'/cliente?page=' + page +'&buscar=' + buscar;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayCliente = respuesta.cliente.data;
                    me.pagination = respuesta.pagination;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            SeleccionarZona(page, buscar){
                let me=this;
                var url = this.ruta+'/zona/seleccionar'
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayZona = respuesta.zona;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            setZona(value){
                let me = this;
                me.loading = true;
                me.idzona = value.idZona;
            },
            SeleccionarVendedor(page, buscar){
                let me=this;
                var url = this.ruta+ '/vendedor/seleccionar'
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayVendedor = respuesta.vendedor;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            setVendedor(value){
                let me = this;
                me.loading = true;
                me.idvendedor = value.idVendedor;
            },
            cambiarPagina(page, buscar){
                let me = this;
                me.pagination.current_page = page;
                me.listarClientes(page, buscar);
            },
            AutorizarCambio(){
                Swal.fire({
                title: 'Ingrese la contraseña de acceso',
                input: 'password',
                inputPlaceholder: '',
                inputAttributes: {
                    autocapitalize: 'off',
                    autocomplete: 'off',
                },
                imageUrl: './img/pass.png',
                imageWidth: 125,
                imageHeight: 100,
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Verificar',
                cancelButtonText: 'Cancelar',
                }).then((result) => {
                    if (result.value) {
                        let me=this;
                        var url = me.ruta + '/notad/contraseña?contraseña=' + result.value;
                        axios.get(url).then(function (response) {
                            var respuesta = response.data; 
                            if (respuesta.verificar.length != 0) {
                                me.rsp = respuesta.verificar[0].Nombre;
                                if (me.rsp == 'Universal') {
                                    $("#txtNombre").prop( "disabled", false );
                                    $("#txtCredito").prop( "disabled", false );
                                } else {
                                    Swal.fire(
                                    'ERROR',
                                    'Contraseña Incorrecta',
                                    'error'
                                    )
                                }
                            } else{
                                Swal.fire(
                                    'ERROR',
                                    'Contraseña Incorrecta',
                                    'error'
                                    )
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                    }     
                })
            },
            registrarClientes(){
                if (this.ValidateClientes()) {
                    return;
                }
                let me = this;
                axios.post(this.ruta+'/cliente/registrar', {
                    'idZona' : this.idzona,
                    'Nombre' : this.nombre,
                    'Telefono1' : this.telefono,
                    'Telefono2' : this.telefono2,
                    'Celular' : this.celular,
                    'Direccion' : this.direccion,
                    'DireccionHabitacion' : this.direccionh,
                    'Cedula' : this.cedula,
                    'TipoVenta' : this.tipo,
                    'Email' : this.email,
                    'LimiteCredito' : this.credito,
                    'PlazoPago' : this.plazo,
                    'idVendedor': this.idvendedor,
                    'FechaNac': this.fechanac,
                    'Observacion' : this.observacion,
                    'Codigo': this.codigo,
                    'tipoC': 'Permanente',
                    })
                .then(function (response) {
                    me.listarClientes(1, '');
                    me.ClearTxt();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            actualizarClientes(){
                if (this.ValidateClientes()) {
                    return;
                }
                let me = this;
                axios.put(this.ruta+'/cliente/actualizar', {
                    'idCliente': this.idCliente,
                    'idZona' : this.idzona,
                    'Nombre' : this.nombre,
                    'Telefono1' : this.telefono,
                    'Telefono2' : this.telefono2,
                    'Celular' : this.celular,
                    'Direccion' : this.direccion,
                    'DireccionHabitacion' : this.direccionh,
                    'Cedula' : this.cedula,
                    'TipoVenta' : this.tipo,
                    'Email' : this.email,
                    'LimiteCredito' : this.credito,
                    'PlazoPago' : this.plazo,
                    'idVendedor' : this.idvendedor,
                    'FechaNac': this.fechanac,
                    'Observacion' : this.observacion,
                    'Codigo' :  this.codigo,
                    })
                .then(function (response) {
                    me.listarClientes(1, '');
                    me.DisableFunction();
                    $("#btnAdd").toggle();
                    $("#btnReset").toggle();
                    //$("#btnnew").toggle();
                    //me.tipoBtn=1;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            deshabilitarClientes(id){
                Swal.fire({
                title: '¿Desea Deshabilitar?',
                text: "No se mostrar en otros registro",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Deshabilitar',
                cancelButtonText: 'Cancelar',
                showClass: {
                    popup: 'animated fadeInDown faster'
                },
                hideClass: {
                    popup: 'animated fadeOutUp faster'
                }
                }).then((result) => {
                    if (result.value) {
                    let me = this;
                    axios.put(this.ruta+'/cliente/inactive', {
                        'idCliente' : id,
                        })
                    .then(function (response) {
                        Swal.fire(
                        'Deshabilitado',
                        'No se mostrará en los registro',
                        'Existoso'
                        )
                        me.listarClientes(1, '');
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                    }     
                    
                })
            },   
            habilitarClientes(id){
                Swal.fire({
                title: '¿Desea Habilitar?',
                text: "No se mostrar en otros registro",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Habilitar',
                cancelButtonText: 'Cancelar',
                showClass: {
                    popup: 'animated fadeInDown faster'
                },
                hideClass: {
                    popup: 'animated fadeOutUp faster'
                }
                }).then((result) => {
                    if (result.value) {
                    let me = this;
                    axios.put(this.ruta+'/cliente/active', {
                        'idCliente' : id,
                        })
                    .then(function (response) {
                        Swal.fire(
                        'Habilitado',
                        'Esta disponible en los registro',
                        'Existoso'
                        )
                        me.listarClientes(1, '');
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                    }
                })
            },
            DisableFunction(){
                this.DisableTxt();
                this.titulo= 'Clientes';
                this.errorCliente= 0;
                this.txtvalidate= [];
                this.tipoBtn=1;
                this.disabledvue= true;
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle();
                
                $("#txtBuscar").focus();

                this.ClearTxt();
                this.EnabledButon();

            },
            DisableTxt(){
                $("#txtNombre").prop( "disabled", true );
                $("#txtCredito").prop( "disabled", true );
                $("#txtTelefono1").prop( "disabled", true );
                $("#txtTelefono2").prop( "disabled", true );
                $("#txtCelular").prop( "disabled", true );
                $("#txtPlazo").prop( "disabled", true );
                $("#txtCedula").prop( "disabled", true );
                $("#txtTipo").prop( "disabled", true );
                $("#txtDireccion").prop( "disabled", true );
                $("#txtDireccionH").prop( "disabled", true );
                $("#txtBuscar").prop( "disabled", false );
                $("#txtcodigo").prop( "disabled", true );
                $("#txtfechanac").prop( "disabled", true );
                $("#txtobservacion").prop( "disabled", true );

            },
            EnableFunction(){
                this.titulo = 'Agregar Clientes';
                this.disabledvue= false;
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle(); 

                this.EnableTxt();
                this.DesabledButton();
                this.SeleccionarZona();
                this.SeleccionarVendedor();
            },
            EnableTxt(){
                if(this.tipoBtn == 1){
                    $("#txtNombre").prop( "disabled", false );
                    $("#txtCredito").prop( "disabled", false );
                }
                $("#txtTelefono1").prop( "disabled", false );
                $("#txtTelefono2").prop( "disabled", false );
                $("#txtCelular").prop( "disabled", false );
                $("#txtPlazo").prop( "disabled", false );
                $("#txtCedula").prop( "disabled", false );
                $("#txtTipo").prop( "disabled", false );
                $("#txtDireccion").prop( "disabled", false );
                $("#txtDireccionH").prop( "disabled", false );
                $("#txtBuscar").prop( "disabled", true );
                $("#txtfechanac").prop( "disabled", false );
                $("#txtcodigo").prop( "disabled", false );
                $("#txtobservacion").prop( "disabled", false );

            },
            DesabledButton(){
                $("tbody > tr > td").find("button").prop( "disabled", true );
                $("tfoot").css("display", "none");
            },
            EnabledButon(){
                $("tbody > tr > td").find("button").prop( "disabled", false );
                $("tfoot").css("display", "inherit");
            },
            ClearTxt(){
                this.idCliente = 0;
                this.idzona= 0; 
                this.nombre= '';
                this.telefono= '';
                this.telefono2= '';
                this.celular= '';
                this.telefono2= '';
                this.direccion= '';
                this.direccionh= '';
                this.email= '';
                this.cedula= '';
                this.tipo= '';
                this.credito= '';
                this.plazo= '';
                this.zona= '';
                this.vendedor = '';
                this.observacion = '';
                this.codigo='';
                this.tipoBtn=1;
            },
            ValidateClientes(){
                this.errorCliente = 0;
                this.txtvalidate = [];
                var str = /^\d{3}-\d{6}-\d{4}[A-Z]$/;
                var str1 = /^\d{4}-\d{4}$/;

                if (!this.nombre) this.txtvalidate.push("El nombre del cliente no puede estar vacío.");

                if (this.idzona==0) this.txtvalidate.push("Necesita seleccionar una zona");

                if (this.idvendedor==0) this.txtvalidate.push("Necesita seleccionar una vendedor");

                if (this.telefono!='') {
                    var res = str1.test(this.telefono);
                    if (!res) this.txtvalidate.push("*El formato de teléfono no coincide");
                }
                if (this.telefono2!='') {
                    var res = str1.test(this.telefono2);
                    if (!res) this.txtvalidate.push("*El formato de teléfono no coincide");
                }
                /*if (this.celular!='') {
                    var res = str1.test(this.celular);
                    if (!res) this.txtvalidate.push("*El formato de teléfono 2 no coincide");
                }*/
                if (this.cedula!='') {
                    var res = str.test(this.cedula);
                    if (!res) this.txtvalidate.push("*El formato de cédula no coincide");
                }

                if(this.txtvalidate.length) this.errorCliente = 1;

                return this.errorCliente;
            },
            getClientes(data=[]){
                this.tipoBtn=2;
                this.EnableTxt();
                this.disabledvue = false;
                this.titulo = 'Actualizar Clientes';
                this.idCliente = data['idCliente'];
                this.idzona = data['idZona'];
                this.zona = data['Zonas'];
                this.idvendedor = data['idVendedor'],
                this.vendedor = data['Vendedor'];
                this.nombre = data['Clientes'];
                this.telefono = data['Telefono1'];
                this.telefono2 = data['Telefono2'];
                this.celular = data['Celular'];
                this.direccion = data['Direccion'];
                this.direccionh = data['DireccionHabitacion'];
                this.cedula  = data['Cedula'];
                this.tipo = data['TipoVenta'];
                this.email = data['Email'];
                this.credito = data['LimiteCredito'];
                this.plazo = data['PlazoPago'];
                this.estado = data['Estado'];
                this.fechanac = data['FechaNac'];
                this.observacion = data['Observacion'];
                this.codigo = data['Codigo'];
                this.fregistro = data['FRegistro'];
                this.SeleccionarZona();
                this.SeleccionarVendedor();
                this.DesabledButton();
            
                if (this.telefono2 == null)  this.telefono2 = '';
                if (this.telefono == null)  this.telefono = '';
                if (this.cedula == null)  this.cedula = '';
                if (this.celular == null)  this.celular = '';
            },
            infoClientes(data=[]){
                this.tipofrm="ver",
                this.titulo= "Información del Cliente",
                this.zona = data['Zonas'];
                this.nombre = data['Clientes'];
                this.telefono = data['Telefono1'];
                this.telefono2 = data['Telefono2'];
                this.celular = data['Celular'];
                this.direccion = data['Direccion'];
                this.direccionh = data['DireccionHabitacion'];
                this.cedula  = data['Cedula'];
                this.tipo = data['TipoVenta'];
                this.email = data['Email'];
                this.vendedor = data['Vendedor'];
                this.credito = data['LimiteCredito'];
                this.plazo = data['PlazoPago'];
                this.estado = data['Estado'];
                this.fechanac = data['FechaNac'];
                this.observacion = data['Observacion'];
                this.codigo = data['Codigo'];
                this.fregistro = data['FRegistro'];
                this.DesabledButton();
            },
            cerrarView(){
                this.tipofrm="crear",
                this.titulo= "Clientes",
                this.ClearTxt();
                this.EnabledButon();
            },
        },
        mounted() {
            this.listarClientes(1, this.buscar);
            this.DisableFunction();

        }
    }
</script>
<style>
    .div-error{
        display: flex;
        margin-left: 0.5rem;
        font-size: 12px;
        /*justify-content: left;*/
    }
    .text-error{
        color:red !important;
        font-weight: bold;
        text-align: left;
    }
    .linetitle{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .titleEnc{
        display: block;
        text-align: center;
        font-weight: bold;
    }
    .info{
        font-size: 14px;
    }
    .d-flex{
        display: flex;
    }
    .ml-25{
        margin-left: 25%;
    }
</style>