<template>
    <div class="content" >
        <div class="container-fluid">
            <div class="row">
                <!-- FORMULARIO -->
                <div class="col-md-12 pReturn collapse" id="collapseForm">
                    <div class="card">
                        <div class="header">
                            <h4 class="title" v-text="titulo"></h4>
                        </div>
                        <div class="content">
                         <!-- MUESTRA EL FORMULARIO PARA CREAR COMISION -->
                            <div v-show="tipofrm=='crear'">
                                <div class="tab-content">
                                    <!-----   DATOS GENERALES DEL PRODUCTO ------->
                                    <div class="tab-pane fade in active">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-6">
                                                <div class="form-group">
                                                    <label>Vendedores:</label>
                                                    <v-select
                                                        label="Nombre"
                                                        placeholder= "Seleccione Vendedor"
                                                        :options="arrayvendedor"
                                                        v-model="vendedor"
                                                        :value="arrayvendedor.idVendedor"
                                                        @input="setVendedor"
                                                        :disabled="disabledvue"
                                                    ></v-select>
                                                </div>
                                            </div>
                                            <div class="col-md-5 col-lg-2">
                                                <div class="form-group">
                                                    <label>Fecha</label>
                                                    <input type="date" v-text="mesactual" :max="mesactual" v-model="fechaselec" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-3">
                                                <label>Quincenas:</label> <br>
                                                <input type="radio" id="q1" name="quincena" value="1" v-model="quincena">
                                                <label for="q1" style="margin-right: 10px">1era. Quincena</label>
                                                <input type="radio" id="q2" name="quincena" value="2" v-model="quincena">
                                                <label for="q2">2da. Quincena</label><br>
                                            </div>
                                            <div class="col-md-2 col-lg-1">
                                                <div class="form-group">
                                                    <button class="btn btn-primary"  id="btnCargar" style="margin-top: 20%" @click="cargarFacturas(idvendedor)">Cargar</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10 col-lg-5">
                                                <div class="form-group">
                                                    <label>Observación</label>
                                                    <input type="text" v-model="comentario" id="txtObservacion" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Total de Comision</label>
                                                    <input type="text" v-model="totalcomision" disabled class="form-control text-center">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-2">
                                                <div class="form-group">
                                                    <label>Fecha Inicio</label>
                                                    <input type="text" v-model="actual" disabled class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-2">
                                                <div class="form-group">
                                                    <label>Fecha Fin</label>
                                                    <input type="text" v-model="ultimo" disabled class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-1">
                                                <div class="form-group">
                                                    <button class="btn btn-default btnmargin" id="btnImprimir" @click="comisionpdf(idvendedor)"><i class="pe-7s-print"></i> Imprimir</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-hover table-bordered">
                                                    <thead class="text-center" style="background-color: gray; color: white;">
                                                        <td>Detalle</td>
                                                        <td>No Factura</td>
                                                        <td>F.Factura</td>
                                                        <td>F.Cancelación</td>
                                                        <td>F.Vencimiento</td>
                                                        <td>Cliente</td>
                                                        <td>Descuento</td>
                                                        <td>Total Factura</td>
                                                        <td>Comision</td>
                                                    </thead>
                                                    <tbody v-if="arrayfactura.length == 0">
                                                        <tr>
                                                            <td colspan="8" class="text-center" id="txtMsjTR">{{msj}}</td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody v-else>
                                                        <tr v-for="det in arrayfactura" :key="det.idCuentasxCobrar">
                                                            <td class="text-center"><button class="btn btn-default" @click="detalleFactura(det.idFactura)"><i class="pe-7s-id"></i></button></td>
                                                            <td v-text="det.idFactura" class="text-center"></td>
                                                            <td v-text="det.FechaFactura" class="text-center"></td>
                                                            <td v-text="det.FechaCancelacion" class="text-center"></td>
                                                            <td v-text="det.FechaVencimiento" class="text-center"></td>
                                                            <td v-text="det.Cliente"></td>
                                                            <td v-text="parseFloat(det.Descuento).toFixed(2)" class="text-center"></td>
                                                            <td v-text="parseFloat(det.TotalDeuda).toFixed(2)" class="text-center"></td>
                                                            <td v-text="parseFloat(det.TotalComision).toFixed(2)" class="text-center"></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="7" style="text-align: end; padding-right: 25px">Total Comisión C$:</td>
                                                            <td class="text-center">{{parseFloat(TotalComision).toFixed(2)}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="form-group row div-error" v-show="errorComision">
                                                    <div class="text-center text-error">
                                                        <ul>
                                                            <li v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                    
                                    </div>
                                </div>
                                <button class="btn btn-primary" @click="mostrarTabla()" v-if="tablamostrar">Mostrar Tabla</button>
                                <button class="btn btn-primary" @click="ocultarTabla()" v-else>Ocultar Tabla</button>
                                <button class="btn btn-success pull-right" id="btnAdd" v-if="$can('comision.store')" @click="registrarComision()"><i class="pe-7s-check"></i> Guardar</button>
                                <button type="reset" class="btn btn-danger pull-right" id="btnReset" @click="DisableFunction" data-toggle="collapse" data-target="#collapseForm"
                                 aria-expanded="false" aria-controls="collapseForm"><i class="pe-7s-close"></i> Cancelar</button>
                                <div class="clearfix"></div>
                            </div>
                         <!-- MUESTRA LA INFORMACION DE LAS COMISIONES -->
                            <div v-show="tipofrm=='ver'">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 style="font-weight: bold; border-bottom: 1px solid; margin: 0">VENDEDOR</h4>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Nombre:</h5>
                                            <p style="margin: 0 2%;"  v-text="vendedor"></p>
                                        </div>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Total Comisión:</h5>
                                            <p style="margin: 0 2%;" >{{'C$' + parseFloat(totalcomision).toFixed(2)}}</p>
                                        </div>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Observación:</h5>
                                            <p style="margin: 0 2%;" v-text="comentario"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h2 style="font-weight: bold; margin: 0px;" class="text-right">COMISION</h2>
                                        <div class="d-flex justify-content-end">
                                            <h5 style="margin:auto 0;font-weight: bold;">No. Comisión:</h5>
                                            <p style="margin: 0 2%;" v-text="idcomision"></p>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <h5 style="margin:auto 0;font-weight: bold;">Generado por:</h5>
                                            <p style="margin: 0 2%;">Lorem Ipsum</p>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <h5 style="margin:auto 0;font-weight: bold;">Fecha de Emisión:</h5>
                                            <p style="margin: 0 2%;" v-text="fecha"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 content table-responsive">
                                        <table class="table table-bordered text-center">
                                            <thead style="background: gray; color: white;">
                                                <td>No Factura</td>
                                                <td>F.Factura</td>
                                                <td>F.Cancelación</td>
                                                <td>F.Vencimiento</td>
                                                <td>Cliente</td>
                                                <td>Total Factura</td>
                                                <td>Comision</td>
                                            </thead>
                                            <tbody>
                                                    <tr v-for="det in arrayDatos" :key="det.idComision">
                                                        <td v-text="det.idFactura" class="text-center"></td>
                                                        <td v-text="det.FechaFactura" class="text-center"></td>
                                                        <td v-text="det.FechaCancelacion" class="text-center"></td>
                                                        <td v-text="det.FechaVencimiento" class="text-center"></td>
                                                        <td v-text="det.Cliente"></td>
                                                        <td v-text="parseFloat(det.TotalDeuda).toFixed(2)" class="text-center"></td>
                                                        <td v-text="parseFloat(det.TotalComision).toFixed(2)" class="text-center"></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="6" style="text-align: end; padding-right: 25px">Total Comisión C$:</td>
                                                        <td class="text-center">{{parseFloat(totalcomision).toFixed(2)}}</td>
                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-default" @click="cerrarView">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                         <!-- MUESTRA LOS DETALLES DE LA FACTURA -->
                         <div v-show="tipofrm=='detalle'">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-hover table-bordered">
                                        <thead class="text-center" style="background-color: gray; color: white;">
                                            <td>Producto</td>
                                            <td>Cantidad Comprada</td>
                                            <td>Devoluciones</td>
                                            <td>Cantidad Total</td>
                                            <td>Precio Compra</td>
                                            <td>Total</td>
                                            <td>% comisión</td>
                                            <td>Comision</td>
                                        </thead>
                                        <tbody>
                                            <tr v-for="det in arrayDatos" :key="det">
                                                <td v-text="det.Nombre" class="text-center"></td>
                                                <td v-text="det.CantidadComprado" class="text-center"></td>
                                                <td v-text="det.Devolucion" class="text-center"></td>
                                                <td v-text="det.CompraFinal" class="text-center"></td>
                                                <td v-text="parseFloat(det.PrecioCompra).toFixed(2)" class="text-center"></td>
                                                <td v-text="parseFloat(det.Total).toFixed(2)" class="text-center"></td>
                                                <td v-text="parseFloat(det.PorcComision).toFixed(0)" class="text-center"></td>
                                                <td v-text="parseFloat(det.ComisionGanada).toFixed(2)" class="text-center"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-12"><button class="btn btn-default" @click="regresar">Cerrar</button></div>
                            </div>  
                         </div>

                        </div>
                    </div>          
                </div>
                <!--   TABLA -->
                <div class="col-md-12 collapse in" id="tabla">
                    <div class="card mb-30"> 
                        <div class="header">
                            <div class="form-group" style="display: inline-block;">
                                <p style="display: inline;" >Buscar:</p>
                                <input type="text" v-model="buscar" class="txtbuscar" placeholder="Buscar Vendedor" id="txtBuscar"  @keyup.enter="listarComisiones(1, buscar)">
                                <img :src="imgbuscar" class="img-sidebar">
                            </div>
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary pull-left" id="btnnew" v-if="$can('comision.store')"  @click="EnableFunction"  data-toggle="collapse" data-target="#collapseForm"
                                    aria-expanded="false" aria-controls="collapseForm"><i class="pe-7s-plus"></i> Generar Comisiones</button>
                            </div>
                        </div>
                        <div class="content">                                                                                  
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped" >
                                    <thead> 
                                        <th>Detalles</th>
                                        <th>No.Comisión</th>
                                        <th>Vendedor</th>
                                        <th>Observacion</th>
                                        <th>Total</th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="comision in arrayComision" :key="comision.idComision" >
                                            <td>
                                                <button type="button" class="btn btn-default" @click="infoComisiones(comision.idComision)"><i class="pe-7s-id"></i></button>
                                                <button type="button" class="btn btn-default" @click="imprimircomision(comision.idComision)"><i class="pe-7s-print"></i></button>
                                            </td>
                                            <td v-text="comision.idComision"></td>
                                            <td v-text="comision.Nombre"></td>
                                            <td v-text="comision.Observaciones"></td>
                                            <td>{{parseFloat(comision.TotalComision).toFixed(2)}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <ul class="pagination d-flex">
                                            <li class="page-item" v-if="pagination.current_page > 1">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page - 1, buscar)">&laquo;</a>
                                            </li>
                                            <li class="page-item" v-for="page in pagesNumber" :key="page" :class= "[ page == isActived ? 'active' : '' ]" >
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(page, buscar)" v-text="page"></a>
                                            </li>
                                            <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page + 1, buscar)">&raquo;</a>
                                            </li>
                                        </ul>
                                    </tfoot>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
 
<script>
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    export default {
        props:['ruta'],
        data(){
            return{
                disabledvue: 'true',
                idcomision: 0,
                titulo: 'Comisiones',
                idfactura: 0,
                factura: '',
                idvendedor: 0,
                vendedor: '',
                comentario: '',
                arrayfactura: [], 
                arrayvendedor:[],
                totalcomision: 0,
                arrayDatos: [],
                arrayComision: [],
                errorComision: 0,
                txtvalidate: [],
                tablamostrar: true,
                tipoBtn: 1,
                tipofrm: 'crear',
                fecha: '',
                actual: '',
                ultimo: '',
                pagination: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                },
                offset: 3,
                buscar: '', 
                msj: '**** Seleccione a un Vendedor ****',
                fechaselec: '',
                mesactual:0,
                quincena: 1,
                imgbuscar: './img/icons8_search1_32.png',
                cont: 0,
            }
        },
        computed: {
            isActived: function() {
                return this.pagination.current_page;
            },
            pagesNumber: function() {
                if(!this.pagination.to){
                    return [];
                }

                var from = this.pagination.current_page - this.offset; 
                if(from < 1){
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            },            
            TotalComision: function(){
                var suma = 0;
                for (let i = 0; i < this.arrayfactura.length; i++) {
                    suma = parseFloat(suma) + parseFloat(this.arrayfactura[i].TotalComision);
                }
                return suma;
            },

        },
        components:{
            vSelect,
        },
        methods:{
            fechas(){
                 let me=this;
                var url = this.ruta + '/comision/fechaactual'
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.fechaselec = respuesta.hoy;
                    me.mesactual = respuesta.hoy;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            cargarFechas(mes, anio, quincena){
                let me=this;
                var url = this.ruta + '/comision/fecha?mes='+mes+'&anio='+anio+'&quince='+quincena
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.actual = respuesta.actual;
                    me.ultimo = respuesta.ultimo;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            listarComisiones(page, buscar){
                let me=this;
                var url = this.ruta + '/comision?page=' + page +'&buscar=' + buscar;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayComision = respuesta.comisiones.data;
                    me.pagination = respuesta.pagination;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            SeleccionarVendedor(){
                let me=this;
                var url = this.ruta + '/vendedor/seleccionar'
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayvendedor = respuesta.vendedor;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            setVendedor(value){
                let me = this;
                me.idvendedor = value.idVendedor;
                me.vendedor  = value.Nombre;
            },
            cargarFacturas(id){
                if(this.idvendedor == 0){
                    $("#txtMsjTR").css("color",'red');
                }else{
                    //cargar las fechas y sacar los datos necesario de la fecha
                    var now = new Date();
                    var time = now.getTime();
                    var fecha = this.fechaselec + 'T12:00:00';
                    var date = new Date(fecha);
                    var mes = date.getMonth()+1;
                    var anio = date.getFullYear();
                    this.cargarFechas(mes,anio,this.quincena);
                    // cargar las facturas
                    let me=this;
                    var url = this.ruta + '/cxc/comision?id='+id+'&mes='+mes+'&anio='+anio+'&quincena='+me.quincena;
                    axios.get(url).then(function (response) {
                        var respuesta = response.data; 
                        me.arrayfactura = respuesta.comision;
                        var suma = 0;
                        for (let i = 0; i < me.arrayfactura.length; i++) {
                            suma = parseFloat(suma) + parseFloat(me.arrayfactura[i].TotalComision);
                        }
                        me.totalcomision = parseFloat(suma).toFixed(2);
                        if (me.arrayfactura.length == 0) {
                            me.msj = '*** No tiene facturas CANCELADAS ***';
                        }else{
                            $("#txtObservacion").prop( "disabled", false );
                            $("#btnImprimir").prop( "disabled", false );
                            $("#txtMsjTR").css("color",'black');
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
                }
            },
            detalleFactura(id){
                this.tipofrm = 'detalle';
                let me=this;
                me.idfactura = id;
                me.titulo = 'Detalle de la Factura '+me.idfactura;
                var url = this.ruta + '/comision/detalle?id=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayDatos = respuesta.detalle;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            regresar(){
                this.tipofrm = 'crear';
                this.arrayDatos = [];
                this.idfactura = 0;
            },
            cambiarPagina(page, buscar){
                let me = this;
                me.pagination.current_page = page;
                me.listarComisiones(page, buscar);
            },
            registrarComision(){
                 if(this.ValidateComisiones()){
                    return;
                }
                this.cont = this.cont + 1;
                if (this.cont == 1) {
                    let me = this;
                    axios.post(this.ruta + '/comision/registrar', {
                        'id' :  this.idvendedor,
                        'Observacion' : this.comentario,
                        'TotalComision': this.totalcomision,
                        'FechaInicio': this.actual,
                        'FechaFin': this.ultimo,
                        'data' : this.arrayfactura,
                        })
                    .then(function (response) {
                        me.listarComisiones(1,'');
                        me.ClearTxt();
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }else{
                    this.cont = 0;
                }
            },
            comisionpdf(id){
                var now = new Date();
                var fecha = this.fechaselec + 'T12:00:00';
                var date = new Date(fecha);
                var mes = date.getMonth()+1;
                var anio = date.getFullYear();
                window.open("http://127.0.0.1:8000/comision/solicitud/"+ id+"/"+this.quincena+"/"+mes+"/"+anio); 
            },
            imprimircomision(id){
                window.open("http://127.0.0.1:8000/comision/vendedor/"+id);
            },
            mostrarTabla(){
                this.tablamostrar = false;
                $("#tabla").addClass("in");
            },
            ocultarTabla(){
                this.tablamostrar = true;
                $("#tabla").removeClass("in");
            },
            DisableFunction(){
                this.DisableTxt();
                this.titulo= 'Comisión';
                this.errorComision= 0;
                this.txtvalidate= [];
                this.detalleventa= [];
                this.tipoBtn=1;
                this.disabledvue= true;
                this.msj="**** Seleccione a un Vendedor ****";
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle();


                this.ClearTxt();
                this.EnabledButon();

                $("#tabla").addClass("in");
                $("#txtBuscar").focus();                
            },
            DisableTxt(){
                $("#txtBuscar").prop( "disabled", false );
                $("#txtObservacion").prop( "disabled", true );
                $("#btnImprimir").prop( "disabled", true );

            },
            EnableFunction(){
                this.titulo = 'Agregar Comisión';
                this.disabledvue= false;
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle(); 
                this.SeleccionarVendedor();

                $("#tabla").removeClass("in");
                this.EnableTxt();
                this.DesabledButton();

            },
            EnableTxt(){
                //$("#txtBuscar").prop( "disabled", true );

            },
            DesabledButton(){
                $("tbody > tr > td").find("button").prop( "disabled", true );
                $("tfoot").css("display", "none");
            },
            EnabledButon(){
                $("tbody > tr > td").find("button").prop( "disabled", false );
                $("tfoot").css("display", "inherit");
            },
            ClearTxt(){
                this.idfactura= 0;
                this.idComision= 0;
                this.idvendedor=0;
                this.totalfactura= 0;
                this.comentario= '';
                this.totalcomision= 0;
                this.cliente = 0;
                this.arrayfactura=[];
                this.arrayDatos=[];
                this.arrayComision
                this.vendedor='';
                this.fechaselec = this.mesactual;
                this.quincena= 1;
            },
            ValidateComisiones(){
                this.errorComision = 0;
                this.txtvalidate = [];

                if (this.idvendedor==0) this.txtvalidate.push("Seleccione un Vendedor");
                if (this.arrayfactura.length==0 && this.idvendedor != 0) this.txtvalidate.push('Haga click al botón CARGAR COMISION');
                if (this.comentario=='') this.txtvalidate.push("Agregar el motivo de la comisión");
                
                if(this.txtvalidate.length) this.errorComision = 1;

                return this.errorComision;
            },
            infoComisiones(id){
                let me=this;
                var url = this.ruta + '/comision/datos?id=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayDatos = respuesta.comision;
                    me.idcomision = me.arrayDatos[0].idComision;
                    me.vendedor = me.arrayDatos[0].Vendedor;
                    me.cliente = me.arrayDatos[0].Cliente;
                    me.totalcomision = me.arrayDatos[0].Total;
                    me.fecha = me.arrayDatos[0].FechaRegistro;
                    me.comentario = me.arrayDatos[0].Observaciones;
                })
                .catch(function (error) {
                    console.log(error);
                }),
                this.tipofrm="ver",
                this.titulo= "Detalle de Comisión",
                $("#tabla").removeClass('in');
                $("#collapseForm").addClass('in');
                
                this.DesabledButton();
            },
            cerrarView(){
                this.tipofrm="crear",
                this.titulo= "Comisión",
                $("#collapseForm").removeClass('in');
                $("#tabla").addClass('in');
                this.ClearTxt();
                this.EnabledButon();
            },
        },
        mounted() {
            this.fechas();
            this.listarComisiones(1, this.buscar);
            this.DisableFunction();
            $("#btnnew").toggle();
        }
    }
</script>
<style>
    .div-error{
        display: flex;
        margin-left: 0.5rem;
        font-size: 12px;
        /*justify-content: left;*/
    }
    .text-error{
        color:red !important;
        font-weight: bold;
        text-align: left;
    }
    .linetitle{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .titleEnc{
        display: block;
        text-align: center;
        font-weight: bold;
    }
    .info{
        font-size: 14px;
    }
    .d-flex{
        display: flex;
    }
    .ml-25{
        margin-left: 25%;
    }
    .w-25{
        width: 25%;
    }
    .w-75{
        width: 75%;
    }
    .w-50{
        width: 50%;
    }
    .pReturn{
        padding-left: 0px;
        border-top: 0px;
    }
    .imgsize{
        min-width: 100px;
        min-height: 150px;
        max-width: 250px;
        max-height: 250px;
        margin: auto;
    }
    .linetitle{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .titleEnc{
        display: block;
        text-align: center;
        font-weight: bold;
    }
    .mb-30{
        margin-bottom: 0px;
    }
    .btn{
        border: 1px solid;
    }
    .justify-content-end{
        justify-content: end;
    }
    .contenidoModal{
        margin: 25px 0px;
    }
    .modalDialog {
        position: fixed;
        /*font-family: Arial, Helvetica, sans-serif;*/
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.3);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 0ms ease-in;
        -moz-transition: opacity 0ms ease-in;
        transition: opacity 0ms ease-in;
        pointer-events: none;
    }
    .modalDialog:target {
        opacity:1;
        pointer-events: auto;
    }
    .modalDialog > div {
        width: 50%;
        position: relative;
        margin: 5% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 3px;
        background: #fff;
        /*background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);*/
        -webkit-transition: opacity 0ms ease-in;
        -moz-transition: opacity 0ms ease-in;
        transition: opacity 0ms ease-in;
    }
    .close {
        /*background: #606061;*/
        background: hsl(0, 50%, 60%);
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }
    .close:hover { background: hsl(0, 80%, 50%); color: white; }
    .tituloModal{
        margin: 10px 0 15px;
    }
    .vs__dropdown-menu{
        color: red;
    }

    .btnmargin{
        margin-top: 35%;
    }

    @media (max-width: 1199px) {
        .btnmargin{
            margin-top: 7%;
        }
    }
</style>