<template>
    <div class="content" >
        <div class="container-fluid">
            <div class="row">
                <!-- FORMULARIO -->
                <div class="col-md-12 pReturn collapse" id="collapseForm">
                    <div class="card">
                        <div class="header">
                            <h4 class="title" v-text="titulo"></h4>
                        </div>
                        <div class="content">
                        <!-- MUESTRA EL FORMULARIO PARA generar una Compra -->
                            <div v-show="tipofrm=='crear'">
                                <div class="tab-content">
                                    <!-----   DATOS GENERALES DEL PRODUCTO ------->
                                    <div class="tab-pane fade in active">
                                        <div class="row">
                                            <div class="col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <label>Registro de Compra</label>
                                                    <v-select
                                                        :options="['No Contable','Contable']"
                                                        v-model="tipocompra"
                                                    ></v-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-4">
                                                <div class="form-group">
                                                    <label>No. Recibo</label>
                                                    <input type="text" class="form-control" v-model="numrecibo">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-4">
                                                <div class="form-group">
                                                    <label>Empresa Solicitante:</label>
                                                    <input type="text" class="form-control" v-model="empresasolictante">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <label>Fecha de Compra:</label>
                                                    <input type="date" class="form-control" v-model="fechacompra" :max="mesactual">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-lg-4">
                                                <div class="form-group">
                                                    <label>Proveedor:</label>
                                                    <v-select
                                                        label="Nombre"
                                                        placeholder= "Seleccione Proveedor"
                                                        :options="arrayProveedor"
                                                        v-model="proveedor"
                                                        :value="arrayProveedor.Nombre"
                                                        @input="setProveedor"
                                                        :disabled="disabledvue"
                                                    ></v-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-5">
                                                <div class="form-group">
                                                    <label>Observación:</label>
                                                    <input type="text" class="form-control"  v-model="observacion">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <label>Total C$:</label>
                                                    <input type="number" class="form-control" placeholder="00.00" v-model="total">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-1">
                                                <div class="form-group">
                                                    <a class="btn btn-primary" style="margin-top: 27px; display: block !important" href="#openModal" @click="selectProducto()">Agregar</a>                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" v-show="tipocompra == 'Contable'">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>No. Poliza</label>
                                                    <input type="text" class="form-control" placeholder="No. de Poliza " v-model="poliza">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>IVA</label>
                                                    <input type="number" class="form-control" placeholder="00.00" step="0.01" v-model="iva">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>DAI</label>
                                                    <input type="number" class="form-control" placeholder="00.00" step="0.01" v-model="dai">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>ISC</label>
                                                    <input type="number" class="form-control" placeholder="00.00" step="0.01" v-model="isc">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-hover table-bordered">
                                                    <thead class="text-center" style="background-color: gray; color: white;">
                                                        <td>Opcion</td>
                                                        <td>Producto</td>
                                                        <td>Cantidad</td>
                                                        <td>Precio C$</td>
                                                        <td>F.Vencimiento</td>
                                                        <td>Total Factura C$</td>
                                                    </thead>
                                                    <tbody class="text-center" v-if="detallecompra.length>0">
                                                        <tr v-for="(det, index) in detallecompra" :key="det.idproducto">
                                                            <td>
                                                                <a type="button" class="btn btn-danger" @click="eliminarProd(index)"><i class="pe-7s-close"></i></a>
                                                            </td>
                                                            <td v-text="det.articulo"></td>
                                                            <td>
                                                                <input type="number" min="1"  :max="det.stock" class="form-control" v-model="det.cantidad">
                                                            </td>
                                                            <td v-text="det.precioCordoba"></td>
                                                            <td v-text="det.vencimiento"></td>
                                                            <td>{{parseFloat(det.precioCordoba).toFixed(2) * det.cantidad}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5" style="text-align: end; padding-right: 25px">Total Factura</td>
                                                            <td class="text-center" style="font-weight: bold;">C$ {{ totalC = TotalCord.toFixed(2) }} </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5" style="text-align: end; padding-right: 25px"></td>
                                                            <td class="text-center" style="font-weight: bold;">$ {{ totalD = TotalDolar.toFixed(2) }} </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5" style="text-align: end; padding-right: 25px"></td>
                                                            <td class="text-center" style="font-weight: bold;">¥ {{ totalY = TotalYuan.toFixed(2) }} </td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody v-else>
                                                        <tr>
                                                            <td colspan="8" style="text-align: center;">
                                                                **** No hay Producto registrado ****
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    
                                                </table>
                                            </div>
                                        </div>                                    
                                    </div>
                                    <!-- CUADRO MODAL AGREGAR PRODUCTO -->
                                    <div id="openModal" class="modalDialog">
                                        <div class="modalProducto">
                                            <a href="#close" title="Close" class="close" @click="ClearProd">X</a>
                                            <h4 class="tituloModal">Productos</h4>
                                            <hr class="linetitle">
                                            <div class="buscador" >
                                                <p style="display: inline;">Buscar:</p>
                                                <v-select
                                                    label="Nombre"
                                                    placeholder= "Seleccione Producto"
                                                    @search="selectProducto"
                                                    :options="arrayProducto"
                                                    @input="setProducto"
                                                    :value="arrayProducto.Nombre"
                                                    v-model="producto"
                                                    @keydown.native.enter="saltar_TasaD"
                                                ></v-select>
                                            </div>
                                            <div class="contenidoModal">
                                                <div class="row">
                                                    <div class="col-md-6" v-if="imagen">
                                                        <img :src="imagen" alt="El producto no cuenta con IMAGEN" class="img-responsive imgsize">
                                                    </div>
                                                    <div class="col-md-6" v-else>
                                                        <img :src="imgdefault" class="img-responsive imgsize">
                                                    </div>
                                                    <div class="col-md-6 row">
                                                        <div class="col-md-4">
                                                            <label for="">Cant. Exist.</label>
                                                            <p v-text="stock"></p>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label for="">Cajas Exist.</label>
                                                            <p>{{parseFloat(caja).toFixed(2)}}</p>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label for="">Presentación</label>
                                                            <p v-text="presentacion"></p>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Tasa $</label>
                                                            <input type="number" step="0.01" v-model="tasadolar" class="form-control" id="txtTasaD" @keydown.enter="saltar_TasaY">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Tasa ¥</label>
                                                            <input type="number" step="0.01" v-model="tasayuan" class="form-control" id="txtTasaY" @keydown.enter="saltar_unidpaquete">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Unid x Paquete</label>
                                                            <input type="number" class="form-control" id="txtundpaquete" @keydown.enter="saltar_cajon" v-model="unidadxPaquete">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Cajon</label>
                                                            <input type="number" class="form-control" id="txtcajon" @keydown.enter="saltar_CantComp(cajon)" v-model="cajon">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="">Cant. Comprada</label>
                                                            <input type=number class="form-control" min="1" step="1" v-model="cantidad" @keydown.enter="saltar_PrecioC(cantidad)" id="txtCantComp">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Precio C$</label>
                                                            <input type="text" v-model="preciocordoba" @keydown.enter="convCordoba(preciocordoba)"  class="form-control" id="txtPrecioC">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Precio $</label>
                                                            <input type="text" v-model="preciodolar" @keydown.enter="convDolar(preciodolar)" class="form-control" id="txtPrecioD">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Precio ¥</label>
                                                            <input type="text" v-model="precioyuan" @keydown.enter="convYuan(precioyuan)" class="form-control" id="txtPrecioY">
                                                        </div>
                                                        <div class="col-md-6" style="margin-top: 8%">
                                                            <label for="venc"><input type="checkbox" name="venc" id="" v-model="checked"> Activar F.Venc</label>
                                                        </div>
                                                        <div class="col-md-6" v-show="checked">
                                                            <label>Fecha Vencimiento</label>
                                                            <input type="date" v-model="fechavencimiento" :min="mesactual" class="form-control">
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label>Descripcion</label>
                                                            <textarea v-model="descripcion" class="form-control" rows="4" cols="50">
                                                            </textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row div-error" v-show="errorProducto">
                                                <div class="text-center text-error">
                                                    <ul>
                                                        <li v-for="msjerror in txtvalidate1" :key="msjerror" v-text="msjerror"></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="pieModal">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <button class="btn btn-success pull-right" style="margin-left:10px;" @click="agregarDetalle" id="btnaddDetails">Agregar</button>
                                                        <a href="#close" class="btn btn-danger pull-right" @click="ClearProd">Cerrar</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- FIN DEL MODAL -->
                                    <div class="form-group row div-error" v-show="errorCompra">
                                        <div class="text-center text-error">
                                            <ul>
                                                <li v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary" @click="mostrarTabla()" v-if="tablamostrar">Mostrar Tabla</button>
                                <button class="btn btn-primary" @click="ocultarTabla()" v-else>Ocultar Tabla</button>
                                <a class="btn btn-success pull-right" id="btnAdd" v-if="$can('compras.store')" @click="registrarCompra()" href="#ModalImprimir"><i class="pe-7s-check"></i> Guardar</a>
                                <button type="reset" class="btn btn-danger pull-right" id="btnReset" @click="DisableFunction" data-toggle="collapse" data-target="#collapseForm"
                                 aria-expanded="false" aria-controls="collapseForm"><i class="pe-7s-close"></i> Cancelar</button>
                                <div class="clearfix"></div>
                            </div>
                        <!-- MUESTRA EL FORMULARIO PARA generar una Compra -->
                            <div v-show="tipofrm=='modificar'">
                                <div class="tab-content">
                                    <div class="tab-pane fade in active">
                                        <div class="row">
                                            <div class="col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <label>Registro de Compra</label>
                                                    <v-select
                                                        :options="['No Contable','Contable']"
                                                        v-model="tipocompra"
                                                    ></v-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-4">
                                                <div class="form-group">
                                                    <label>No. Recibo</label>
                                                    <input type="text" class="form-control" v-model="numrecibo">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-4">
                                                <div class="form-group">
                                                    <label>Empresa Solicitante:</label>
                                                    <input type="text" class="form-control" v-model="empresasolictante">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <label>Fecha de Compra:</label>
                                                    <input type="date" class="form-control" v-model="fechacompra" :max="mesactual">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-lg-4">
                                                <div class="form-group">
                                                    <label>Proveedor:</label>
                                                    <v-select
                                                        label="Nombre"
                                                        placeholder= "Seleccione Proveedor"
                                                        :options="arrayProveedor"
                                                        v-model="proveedor"
                                                        :value="arrayProveedor.Nombre"
                                                        @input="setProveedor"
                                                    ></v-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-5">
                                                <div class="form-group">
                                                    <label>Observación:</label>
                                                    <input type="text" class="form-control" v-model="observacion">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <label>Total C$:</label>
                                                    <input type="number" class="form-control" placeholder="00.00" v-model="total">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-1">
                                                <div class="form-group">
                                                    <a class="btn btn-primary" style="margin-top: 27px; display: block !important" href="#openModal2" @click="selectProducto()">Agregar</a>                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" v-show="tipocompra == 'Contable'">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>No. Poliza</label>
                                                    <input type="text" class="form-control" placeholder="No. de Poliza " v-model="poliza">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>IVA</label>
                                                    <input type="number" class="form-control" placeholder="00.00" step="0.01" v-model="iva">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>DAI</label>
                                                    <input type="number" class="form-control" placeholder="00.00" step="0.01" v-model="dai">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>ISC</label>
                                                    <input type="number" class="form-control" placeholder="00.00" step="0.01" v-model="isc">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-hover table-bordered">
                                                    <thead class="text-center" style="background-color: gray; color: white;">
                                                       <th class="text-center">Producto</th>
                                                        <th class="text-center">Cantidad</th>
                                                        <th class="text-center">Precio C$</th>
                                                        <th class="text-center">Precio $</th>
                                                        <th class="text-center">Precio ¥</th>
                                                        <th class="text-center">Tasa $</th>
                                                        <th class="text-center">Tasa ¥</th>
                                                        <th class="text-center">F.Vencimiento</th>
                                                        <th class="text-center">Total C$</th>
                                                    </thead>
                                                    <tbody class="text-center">
                                                        <tr v-for="det in arraydatos" :key="det.idInventario">
                                                            <td v-text="det.Producto"></td>
                                                            <td><input type="number" min="0" class="form-control" v-model="det.Cantidad"></td>
                                                            <td><input type="number" min="0" step ='0.01' class="form-control" v-model="det.PrecioCordoba"></td>
                                                            <td><input type="number" min="0" step ='0.01' class="form-control" v-model="det.PrecioDolar"></td>
                                                            <td><input type="number" min="0" step ='0.01' class="form-control" v-model="det.PrecioYuan"></td>
                                                            <td><input type="number" min="0" step ='0.01' class="form-control" v-model="det.TasaDolar"></td>
                                                            <td><input type="number" min="0" step ='0.01' class="form-control" v-model="det.TasaYuan"></td>
                                                            <td><input type="date" :min="mesactual" class="form-control" v-model="det.FechaVencimiento"></td>
                                                            <td>{{parseFloat(det.PrecioCordoba).toFixed(2) * det.Cantidad}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="8" style="text-align: end; padding-right: 25px">Total Factura C$</td>
                                                            <td class="text-center" style="font-weight: bold;">{{ totalC = TotalCord1.toFixed(2) }} </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="8" style="text-align: end; padding-right: 25px">Total Factura $</td>
                                                            <td class="text-center" style="font-weight: bold;">{{ totalD = TotalDolar1.toFixed(2) }} </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="8" style="text-align: end; padding-right: 25px">Total Factura ¥</td>
                                                            <td class="text-center" style="font-weight: bold;">{{ totalY = TotalYuan1.toFixed(2) }} </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <hr>
                                                <table class="table table-hover table-bordered">
                                                    <thead class="text-center" style="background-color: gray; color: white;">
                                                        <td>Opcion</td>
                                                        <td>Producto</td>
                                                        <td>Cantidad</td>
                                                        <td>Precio C$</td>
                                                        <td>F.Vencimiento</td>
                                                        <td>Total Factura C$</td>
                                                    </thead>
                                                    <tbody class="text-center" v-if="detallecompra.length>0">
                                                        <tr v-for="(det, index) in detallecompra" :key="det.idproducto">
                                                            <td>
                                                                <a type="button" class="btn btn-danger" @click="eliminarProd(index)"><i class="pe-7s-close"></i></a>
                                                            </td>
                                                            <td v-text="det.articulo"></td>
                                                            <td>
                                                                <input type="number" min="1"  :max="det.stock" class="form-control" v-model="det.cantidad">
                                                            </td>
                                                            <td v-text="det.precioCordoba"></td>
                                                            <td v-text="det.vencimiento"></td>
                                                            <td>{{parseFloat(det.precioCordoba).toFixed(2) * det.cantidad}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5" style="text-align: end; padding-right: 25px">Total Factura</td>
                                                            <td class="text-center" style="font-weight: bold;">C$ {{ totalC = TotalCord.toFixed(2) }} </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5" style="text-align: end; padding-right: 25px"></td>
                                                            <td class="text-center" style="font-weight: bold;">$ {{ totalD = TotalDolar.toFixed(2) }} </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5" style="text-align: end; padding-right: 25px"></td>
                                                            <td class="text-center" style="font-weight: bold;">¥ {{ totalY = TotalYuan.toFixed(2) }} </td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody v-else>
                                                        <tr>
                                                            <td colspan="8" style="text-align: center;">
                                                                **** No hay Producto registrado ****
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                         <!-- CUADRO MODAL AGREGAR PRODUCTO -->
                                        <div id="openModal2" class="modalDialog">
                                            <div class="modalProducto">
                                                <a href="#close" title="Close" class="close" @click="ClearProd">X</a>
                                                <h4 class="tituloModal">Productos</h4>
                                                <hr class="linetitle">
                                                <div class="buscador" >
                                                    <p style="display: inline;">Buscar:</p>
                                                    <v-select
                                                        label="Nombre"
                                                        placeholder= "Seleccione Producto"
                                                        @search="selectProducto"
                                                        :options="arrayProducto"
                                                        @input="setProducto"
                                                        :value="arrayProducto.Nombre"
                                                        v-model="producto"
                                                        @keydown.native.enter="saltar_TasaD1"
                                                    ></v-select>
                                                </div>
                                                <div class="contenidoModal">
                                                    <div class="row">
                                                        <div class="col-md-6" v-if="imagen">
                                                            <img :src="imagen" alt="El producto no cuenta con IMAGEN" class="img-responsive imgsize">
                                                        </div>
                                                        <div class="col-md-6" v-else>
                                                            <img :src="imgdefault" class="img-responsive imgsize">
                                                        </div>
                                                        <div class="col-md-6 row">
                                                            <div class="col-md-4">
                                                                <label for="">Cantidad Existente</label>
                                                                <p v-text="stock"></p>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label for="">Cajas Existente</label>
                                                                <p v-text="caja"></p>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label for="">Presentación</label>
                                                                <p v-text="presentacion"></p>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label>Tasa $</label>
                                                                <input type="number" step="0.01" v-model="tasadolar" class="form-control" id="txtTasaD1" @keydown.enter="saltar_TasaY1">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label>Tasa ¥</label>
                                                                <input type="number" step="0.01" v-model="tasayuan" class="form-control" id="txtTasaY1" @keydown.enter="saltar_unidpaquete1">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label>Unid x Paquete</label>
                                                                <input type="number" class="form-control" id="txtundpaquete1" @keydown.enter="saltar_cajon1" v-model="unidadxPaquete">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label>Cajon</label>
                                                                <input type="number" class="form-control" id="txtcajon1"  @keydown.enter="saltar_CantComp1(cajon)" v-model="cajon">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="">Cant. Comprada</label>
                                                                <input type=number class="form-control" min="1" step="1" v-model="cantidad" @keydown.enter="saltar_PrecioC1(cantidad)" id="txtCantComp1">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label>Precio C$</label>
                                                                <input type="text" v-model="preciocordoba" @keydown.enter="convCordoba1(preciocordoba)"  class="form-control" id="txtPrecioC1">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label>Precio $</label>
                                                                <input type="text" v-model="preciodolar" @keydown.enter="convDolar1(preciodolar)" class="form-control" id="txtPrecioD1">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label>Precio ¥</label>
                                                                <input type="text" v-model="precioyuan" @keydown.enter="convYuan1(precioyuan)" class="form-control" id="txtPrecioY1">
                                                            </div>
                                                            <div class="col-md-6" style="margin-top: 8%">
                                                                <label for="venc"><input type="checkbox" name="venc" id="" v-model="checked"> Activar F.Venc</label>
                                                            </div>
                                                            <div class="col-md-6" v-show="checked">
                                                                <label>Fecha Vencimiento</label>
                                                                <input type="date" v-model="fechavencimiento" :min="mesactual" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row div-error" v-show="errorProducto">
                                                    <div class="text-center text-error">
                                                        <ul>
                                                            <li v-for="msjerror in txtvalidate1" :key="msjerror" v-text="msjerror"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="pieModal">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <button class="btn btn-success pull-right" style="margin-left:10px;" @click="agregarDetalleAct" id="btnaddDetails">Agregar</button>
                                                            <a href="#close" class="btn btn-danger pull-right" @click="ClearProd">Cerrar</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- FIN DEL MODAL -->   
                                    </div>
                                    <div class="form-group row div-error" v-show="errorCompra">
                                        <div class="text-center text-error">
                                            <ul>
                                                <li v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary" @click="mostrarTabla()" v-if="tablamostrar">Mostrar Tabla</button>
                                <button class="btn btn-primary" @click="ocultarTabla()" v-else>Ocultar Tabla</button>
                                <a class="btn btn-success pull-right" id="btnAdd" v-if="$can('compra.update')" @click="actualizarCompra" href="#ModalImprimir"><i class="pe-7s-check"></i> Guardar</a>
                                <button type="reset" class="btn btn-danger pull-right" @click="cerrarUpdate"><i class="pe-7s-close"></i> Cancelar</button>
                                <div class="clearfix"></div>
                            </div>
                        <!-- MUESTRA LA INFORMACION DE la Compra -->
                            <div v-show="tipofrm=='ver'">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 style="font-weight: bold; border-bottom: 1px solid; margin: 0">Información</h4>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Proveedor:</h5>
                                            <p style="margin: 0 2%;"  v-text="proveedor"></p>
                                        </div>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Empresa Solicitante:</h5>
                                            <p style="margin: 0 2%;"  v-text="empresasolictante"></p>
                                        </div>
                                        
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Tipo de Compra:</h5>
                                            <p style="margin: 0 2%;"  v-text="tipocompra"></p>
                                        </div>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Total de Compra:</h5>
                                            <p style="margin: 0 2%;"  v-text="'C$'+parseFloat(total).toFixed(3)+' - $ '+parseFloat(dolartotal).toFixed(3)+' - ¥ '+parseFloat(yuantotal).toFixed(3)"></p>
                                        </div>
                                        <div class="d-flex" v-show="tipocompra == 'Contable'">
                                            <h5 style="margin:auto 0;font-weight: bold;">IVA:</h5>
                                            <p style="margin: 0 2%;"  v-text="iva"></p>
                                        </div>
                                        <div class="d-flex" v-show="tipocompra == 'Contable'">
                                            <h5 style="margin:auto 0;font-weight: bold;">DAI:</h5>
                                            <p style="margin: 0 2%;"  v-text="dai"></p>
                                        </div>
                                        <div class="d-flex" v-show="tipocompra == 'Contable'">
                                            <h5 style="margin:auto 0;font-weight: bold;">ISC:</h5>
                                            <p style="margin: 0 2%;"  v-text="isc"></p>
                                        </div>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Observación:</h5>
                                            <p style="margin: 0 2%;"  v-text="observacion"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h2 style="font-weight: bold; margin: 0px;" class="text-right">Compra</h2>
                                        <div class="d-flex justify-content-end">
                                            <p style="margin: 0 2%;"><b>No. Compra:</b> {{idCompra}}</p>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <h5 style="margin:auto 0;font-weight: bold;">Fecha de Compra:</h5>
                                            <p style="margin: 0 2%;" v-text="fechacompra"></p>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <h5 style="margin:auto 0;font-weight: bold;">Fecha de Registro:</h5>
                                            <p style="margin: 0 2%;" v-text="fecharegistro"></p>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <h5 style="margin:auto 0;font-weight: bold;">No. Recibo:</h5>
                                            <p style="margin: 0 2%;"  v-text="numrecibo"></p>
                                        </div>
                                        <div class="d-flex justify-content-end" v-show="tipocompra == 'Contable'">
                                            <h5 style="margin:auto 0;font-weight: bold;">Póliza:</h5>
                                            <p style="margin: 0 2%;"  v-text="poliza"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 content table-responsive">
                                        <table class="table table-bordered text-center">
                                            <thead style="background: gray; color: white;">
                                                <th class="text-center">Producto</th>
                                                <th class="text-center">Cantidad</th>
                                                <th class="text-center">Precio C$</th>
                                                <th class="text-center">Precio $</th>
                                                <th class="text-center">Precio ¥</th>
                                                <th class="text-center">Total $</th>
                                                <th class="text-center">Total ¥</th>
                                                <th class="text-center">Total C$</th>
                                            </thead>
                                            <tbody>
                                                <tr v-for="det in arraydatos" :key="det.idCompra">
                                                    <td v-text="det.Producto"></td>
                                                    <td v-text="det.Cantidad"></td>
                                                    <td>{{ parseFloat(det.PrecioCordoba).toFixed(3) }}</td>
                                                    <td>{{ parseFloat(det.PrecioDolar).toFixed(3) }}</td>
                                                    <td>{{ parseFloat(det.PrecioYuan).toFixed(3) }}</td>
                                                    <td>{{ parseFloat(det.PrecioDolar * det.Cantidad).toFixed(3) }}</td>
                                                    <td>{{ parseFloat(det.PrecioYuan * det.Cantidad).toFixed(3) }}</td>
                                                    <td>{{ parseFloat(det.PrecioCordoba * det.Cantidad).toFixed(3) }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-default" @click="cerrarView">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
                <!--   TABLA -->
                <div class="col-md-12 collapse in" id="tabla">
                    <div class="card mb-30"> 
                        <div class="header">
                            <div class="form-group" style="display: inline-block;">
                                <p style="display: inline;" >Buscar:</p>
                                <select name="Filtro" class="select-css" v-model="filtro">
                                    <option value="idCompra">No.Compra</option>
                                    <option value="NumRecibo">No.Recibo</option>
                                </select>
                                <input type="text" v-model="buscar" class="txtbuscar" placeholder="Buscar..." id="txtBuscar"  @keyup.shift.0="EnableFunction1" @keyup.enter="listarCompras(1, buscar,filtro)">
                                <img :src="imgbuscar" class="img-sidebar">
                            </div>
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary pull-left btnhidden" id="btnnew" v-if="$can('compras.store')" @click="EnableFunction"  data-toggle="collapse" data-target="#collapseForm"
                                    aria-expanded="false" aria-controls="collapseForm"><i class="pe-7s-plus"></i> Generar Compra</button>
                            </div>
                        </div>
                        <div class="content">                                                                                  
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped" >
                                    <thead> 
                                        <th>Opciones</th>
                                        <th>No.Compra</th>
                                        <th>No. Recibo</th>
                                        <th>F.Compra</th>
                                        <th>F.Registro</th>
                                        <th>Total C$</th>
                                        <th>Tipo Compra</th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="Compra in arrayCompra" :key="Compra.idCompra">
                                            <td>
                                                <button type="button" class="btn btn-warning" v-if="$can('compra.update')" @click="editarCompra(Compra.idCompra)" ><i class="pe-7s-edit"></i></button>
                                                <button type="button" class="btn btn-default" @click="infoCompra(Compra.idCompra)"><i class="pe-7s-id"></i></button>
                                            </td>
                                            <td v-text="Compra.idCompra"></td>
                                            <td v-text="Compra.NumRecibo"></td>
                                            <td v-text="Compra.fechacompra"></td>
                                            <td v-text="Compra.fecharegistro"></td>
                                            <td v-text="Compra.Total"></td>
                                            <td v-text="Compra.TipoCompra"></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <ul class="pagination d-flex">
                                            <li class="page-item" v-if="pagination.current_page > 1">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page - 1, buscar,filtro)">&laquo;</a>
                                            </li>
                                            <li class="page-item" v-for="page in pagesNumber" :key="page" :class= "[ page == isActived ? 'active' : '' ]" >
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(page, buscar,filtro)" v-text="page"></a>
                                            </li>
                                            <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page + 1, buscar,filtro)">&raquo;</a>
                                            </li>
                                        </ul>
                                    </tfoot>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</template>

<script>
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    export default {
        props:['ruta'],
        data(){
            return{
                disabledvue: 'true',
                idCompra: 0,
                arrayCompra : [],
                titulo: 'Compra',
                idproveedor: 0,
                proveedor: '',
                arrayProveedor: [],
                numrecibo: '',
                fechacompra: '',
                fecharegistro: '',
                poliza: '',
                iva : 0,
                dai: 0,
                isc: 0,
                empresasolictante: '',
                detallecompra:[],
                idproducto:0,
                producto: '',
                arrayProducto: [],
                errorProducto: 0,
                imagen: '',
                stock: 0,
                cantidad: 1,
                tipocompra: 'No Contable',
                total: 0,
                totalD: 0,
                TotalC: 0,
                totalY: 0,
                tasadolar: 0,
                tasayuan: 0,
                observacion: '',
                fechavencimiento: '',
                preciocordoba: 0,
                preciodolar: 0,
                precioyuan: 0,
                idprovprod: 0,
                errorCompra: 0,
                txtvalidate: [],
                txtvalidate1: [],
                arraydatos: [], 
                tablamostrar: true,
                tipofrm: 'crear',
                pagination: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                },
                offset: 3,
                buscar: '', 
                filtro: 'idCompra',
                mesactual: '',
                previsualizar: '',
                imgbuscar: './img/icons8_search1_32.png',
                imgdefault: './img/product-default.jpg',
                checked: false,
                dolartotal: 0,
                yuantotal: 0,
                descripcion: '',
                presentacion: '',
                cajon: 0,
                unidadxPaquete: 0,
            }
        },
        computed: {
            isActived: function() {
                return this.pagination.current_page;
            },
            pagesNumber: function() {
                if(!this.pagination.to){
                    return [];
                }

                var from = this.pagination.current_page - this.offset; 
                if(from < 1){
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            },            
            TotalCord: function(){
                var suma = 0;
                for (let i = 0; i < this.detallecompra.length; i++) {
                    suma = parseFloat(suma) + parseFloat(this.detallecompra[i].cantidad * this.detallecompra[i].precioCordoba);
                }
                return suma;
            },
            TotalDolar: function(){
                var suma = 0;
                for (let i = 0; i < this.detallecompra.length; i++) {
                    suma = parseFloat(suma) + parseFloat(this.detallecompra[i].cantidad * this.detallecompra[i].precioDolar);
                }
                return suma;
            },
            TotalYuan: function(){
                var suma = 0;
                for (let i = 0; i < this.detallecompra.length; i++) {
                    suma = parseFloat(suma) + parseFloat(this.detallecompra[i].cantidad * this.detallecompra[i].precioYuan);
                }
                return suma;
            },
            TotalCord1: function(){
                var suma = 0;
                for (let i = 0; i < this.arraydatos.length; i++) {
                    suma = parseFloat(suma) + parseFloat(this.arraydatos[i].Cantidad * this.arraydatos[i].PrecioCordoba);
                    this.arraydatos[i].PrecioDolar = this.arraydatos[i].PrecioCordoba / this.arraydatos[i].TasaDolar;
                    this.arraydatos[i].PrecioYuan = this.arraydatos[i].PrecioDolar * this.arraydatos[i].TasaYuan;
                }
                

                return suma;
            },
            TotalDolar1: function(){
                var suma = 0;
                for (let i = 0; i < this.arraydatos.length; i++) {
                    suma = parseFloat(suma) + parseFloat(this.arraydatos[i].Cantidad * this.arraydatos[i].PrecioDolar);
                    this.arraydatos[i].PrecioCordoba = this.arraydatos[i].PrecioDolar * this.arraydatos[i].TasaDolar;
                    this.arraydatos[i].PrecioYuan = this.arraydatos[i].PrecioDolar * this.arraydatos[i].TasaYuan;
                }
                return suma;
            },
            TotalYuan1: function(){
                var suma = 0;
                for (let i = 0; i < this.arraydatos.length; i++) {
                    suma = parseFloat(suma) + parseFloat(this.arraydatos[i].Cantidad * this.arraydatos[i].PrecioYuan);
                    this.arraydatos[i].PrecioDolar = this.arraydatos[i].PrecioYuan / this.arraydatos[i].TasaYuan;
                    this.arraydatos[i].PrecioCordoba = this.arraydatos[i].PrecioDolar * this.arraydatos[i].TasaDolar;
                }
                return suma;
            },
        },
        components:{
            vSelect,
        },
        methods:{
            fecha(){
                let me=this;
                var url = this.ruta + '/comision/fechaactual'
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.mesactual = respuesta.hoy;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            listarCompras(page, buscar, filtro){
                let me=this;
                var url = this.ruta + '/compra?page=' + page +'&buscar=' + buscar+'&filtro='+filtro;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayCompra = respuesta.compra.data;
                    me.pagination = respuesta.pagination;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            SeleccionarProveedor(){
                let me=this;
                var url = this.ruta + '/proveedor/seleccionar';
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayProveedor = respuesta.proveedor;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            setProveedor(value){
                let me = this;
                me.loading = true;
                me.idproveedor = value.idProveedor;
            },
            /*selectProducto(search,loading){
                let me = this;
                loading(true)

                var url = this.ruta + '/producto/seleccionar?buscar='+search;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayProducto = respuesta.producto;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },*/
            selectProducto(search,loading){
                let me = this;
                var url = this.ruta + '/producto/seleccionar';
                axios.post(url,{
                    'buscar': search,
                })
                .then(function (response) {
                    var respuesta = response.data; 
                    me.arrayProducto = respuesta.producto;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            setProducto(value){
                let me = this;
                me.loading = true;
                me.idproducto = value.idInventario;
                me.stock  = value.Stock;
                me.previsualizar = value.Imagen;
                if (me.previsualizar == null) {
                    me.imagen = './imagenes/productos/sin-imagen1.png';
                }else{
                    me.imagen = './imagenes/productos/'+ value.Imagen;
                }
                me.undpaq = value.Unidad_de_Paquete;
                me.caja = value.Stock/value.Unidad_de_Paquete;
                me.descripcion = value.Descripcion;
                me.loading = false;

            },
            saltar_unidpaquete(){
                $("#txtundpaquete").focus().select();
            },
            saltar_cajon(){
                $("#txtcajon").focus().select();
            },
            saltar_TasaD(){
                $("#txtTasaD").focus().select();
            },
            saltar_TasaY(){
                $("#txtTasaY").focus().select();
            },
            saltar_CantComp(cajon){
                this.cantidad = cajon * this.unidadxPaquete;
                $("#txtCantComp").focus().select();
            },
            saltar_PrecioC(cantidad){
                this.cajon = cantidad/this.unidadxPaquete;
                $("#txtPrecioC").focus().select();
            },
            /*selectProducto(search,loading){
                let me = this;
                loading(true)

                var url = this.ruta + '/producto/seleccionar?buscar='+search;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayProducto = respuesta.producto;
                    loading(false)
                })
                .catch(function (error) {
                    console.log(error);
                })
            },*/
            setProducto(value){
                let me = this;
                me.loading = true;
                me.idproducto = value.idInventario;
                me.stock  = value.Stock;
                me.previsualizar = value.Imagen;
                if (me.previsualizar == null) {
                    me.imagen = './imagenes/productos/sin-imagen1.png';
                }else{
                    me.imagen = './imagenes/productos/'+ value.Imagen;
                }
                me.undpaq = value.Unidad_de_Paquete;
                me.caja = value.Stock/value.Unidad_de_Paquete;
                me.presentacion = value.Unidad+' '+value.Presentacion;
                me.loading = false;

            },
            saltar_unidpaquete1(){
                $("#txtundpaquete1").focus().select();
            },
            saltar_cajon1(){
                $("#txtcajon1").focus().select();
            },
            saltar_TasaD1(){
                $("#txtTasaD1").focus().select();
            },
            saltar_TasaY1(){
                $("#txtTasaY1").focus().select();
            },
            saltar_CantComp1(cajon){
                this.cantidad = cajon * this.unidadxPaquete;
                $("#txtCantComp1").focus().select();
            },
            saltar_PrecioC1(cantidad){
                this.cajon = cantidad/this.unidadxPaquete;
                $("#txtPrecioC1").focus().select();
            },
            convCordoba1(cordoba){
                this.preciodolar = cordoba / this.tasadolar;
                this.precioyuan = this.preciodolar * this.tasayuan;
                $("#txtPrecioD1").focus().select();
            },
            convYuan1(yuan){
                this.preciodolar = yuan / this.tasayuan;
                this.preciocordoba = this.preciodolar * this.tasadolar;
                document.getElementById('btnaddDetails').click();
            },
            convDolar1(dolar){
                this.preciocordoba = dolar * this.tasadolar;
                this.precioyuan = dolar * this.tasayuan;
                $("#txtPrecioY1").focus().select();

            },
            convCordoba(cordoba){
                this.preciodolar = cordoba / this.tasadolar;
                this.precioyuan = this.preciodolar * this.tasayuan;
                $("#txtPrecioD").focus().select();
            },
            convYuan(yuan){
                this.preciodolar = yuan / this.tasayuan;
                this.preciocordoba = this.preciodolar * this.tasadolar;
                document.getElementById('btnaddDetails').click();
            },
            convDolar(dolar){
                this.preciocordoba = dolar * this.tasadolar;
                this.precioyuan = dolar * this.tasayuan;
                $("#txtPrecioY").focus().select();

            },
            cambiarPagina(page, buscar, filtro){
                let me = this;
                me.pagination.current_page = page;
                me.listarCompras(page, buscar, filtro);
            },
            encuentra(id){
                var temp = false;
                for (let i = 0; i < this.detallecompra.length; i++) {
                    if (this.detallecompra[i].idproducto == id) {
                        return temp=true;
                    } 
                }
                return temp;
            },
            eliminarProd(index){
                let me = this;
                me.detallecompra.splice(index, 1);
            },
            agregarDetalle(){
                if(this.ValidarProducto()){
                    return;
                }
                let me = this;
                if (me.encuentra(me.idproducto)) {
                    Swal.fire({
                    title: 'Error...',
                    text: "Lo sentimos, ya tiene registrado el producto",
                    icon: 'error',
                    confirmButtonColor: '#3085d6',
                    showClass: {
                        popup: 'animated fadeInDown faster'
                    },
                    hideClass: {
                        popup: 'animated fadeOutUp faster'
                    }
                    })
                } else {
                    me.detallecompra.push({
                        idproducto : me.idproducto,
                        articulo : me.producto.Nombre,
                        cantidad : me.cantidad,
                        tasaYuan : me.tasayuan,
                        tasaDolar : me.tasadolar,
                        precioDolar :  me.preciodolar,
                        precioCordoba : me.preciocordoba,
                        precioDolar: me.preciodolar,
                        precioYuan : me.precioyuan, 
                        vencimiento : me.fechavencimiento
                    });
                }
                $('.vs__search').focus();
                me.ClearProd();
            },
            agregarDetalleAct(){
                if(this.ValidarProducto()){
                    return;
                }
                let me = this;
                if (me.encuentra(me.idproducto)) {
                    Swal.fire({
                    title: 'Error...',
                    text: "Lo sentimos, ya tiene registrado el producto",
                    icon: 'error',
                    confirmButtonColor: '#3085d6',
                    showClass: {
                        popup: 'animated fadeInDown faster'
                    },
                    hideClass: {
                        popup: 'animated fadeOutUp faster'
                    }
                    })
                } else {
                    me.detallecompra.push({
                        idproducto : me.idproducto,
                        articulo : me.producto.Nombre,
                        cantidad : me.cantidad,
                        tasaYuan : me.tasayuan,
                        tasaDolar : me.tasadolar,
                        precioDolar :  me.preciodolar,
                        precioCordoba : me.preciocordoba,
                        precioDolar: me.preciodolar,
                        precioYuan : me.precioyuan, 
                        vencimiento : me.fechavencimiento
                    });
                }
                $('.vs__search').focus();
                me.ClearProd();
            },
            notificacion(){
                toastr.success("Compra Agregada",{
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                });
            },
            registrarCompra(){
                if (this.ValidateCompra()) {
                    return;
                }
                let me = this;
                axios.post(this.ruta+'/compra/registrar', {
                    'idProveedor' : this.idproveedor,
                    'NumRecibo' :  this.numrecibo,
                    'FechaCompra' : this.fechacompra,
                    'TipoCompra' : this.tipocompra,
                    'Poliza' : this.poliza,
                    'IVA' : this.iva,
                    'DAI' : this.dai,
                    'ISC' : this.isc,
                    'EmpresaSolicitante' : this.empresasolictante,
                    'Observacion' : this.observacion,
                    'Total' : this.total,
                    'data' : this.detallecompra,
                    })
                .then(function (response) {
                    me.listarCompras(1,'','idCompra');
                    me.ClearTxt();
                    me.notificacion();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            actualizarCompra(){
                let me = this;
                axios.put(this.ruta+'/compra/actualizar', {
                    'idCompra': this.idCompra,
                    'idProveedor' : this.idproveedor,
                    'NumRecibo' :  this.numrecibo,
                    'FechaCompra' : this.fechacompra,
                    'TipoCompra' : this.tipocompra,
                    'Poliza' : this.poliza,
                    'IVA' : this.iva,
                    'DAI' : this.dai,
                    'ISC' : this.isc,
                    'EmpresaSolicitante' : this.empresasolictante,
                    'Observacion' : this.observacion,
                    'Total' : this.total,
                    'data' : this.arraydatos,
                    'data2' : this.detallecompra
                    })
                .then(function (response) {
                    me.listarCompras(1,'');
                    me.ClearTxt();
                    me.arraydatos= [];
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            mostrarTabla(){
                this.tablamostrar = false;
                $("#tabla").addClass("in");
            },
            ocultarTabla(){
                this.tablamostrar = true;
                $("#tabla").removeClass("in");
            },
            DisableFunction(){
                this.DisableTxt();
                this.errorCompra= 0;
                this.txtvalidate= [];
                this.detallecompra= [];
                this.disabledvue= true;
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle();

                this.ClearTxt();
                this.EnabledButon();

                $("#tabla").addClass("in");
                $("#txtBuscar").focus();
            },
            DisableTxt(){
                $("#txtCodigo").prop( "disabled", true );
                $("#txtCodigoB").prop( "disabled", true );
                $("#txtNombre").prop( "disabled", true );
                $("#txtNombreOrig").prop( "disabled", true );
                $("#txtStock").prop( "disabled", true );
                $("#txtUnidad").prop( "disabled", true );

                $("#txtBuscar").prop( "disabled", false );

            },
            fechaActual(){
                let me=this;
                var url = this.ruta + '/fecha';
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.fechacompra = respuesta.fecha;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            EnableFunction(){
                this.fechaActual();
                this.titulo = 'Generar Compra';
                this.SeleccionarProveedor();
                this.tipofrm = 'crear';
                this.disabledvue= false;
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle(); 
                this.fecha();

                $("#tabla").removeClass("in");
                $("#txtcambio").focus();
                this.EnableTxt();
                this.DesabledButton();
            },
            EnableTxt(){
                $("#txtCodigo").prop( "disabled", false );
                $("#txtCodigoB").prop( "disabled", false );
                $("#txtNombre").prop( "disabled", false );
                $("#txtNombreOrig").prop( "disabled", false );
                $("#txtStock").prop( "disabled", false );
                $("#txtUnidad").prop( "disabled", false );
                $("#txtPorcComision").prop( "disabled", false );
                $("#txtDescripcion").prop( "disabled", false );
            },
            DesabledButton(){
                $("tbody > tr > td").find("button").prop( "disabled", true );
                $("tfoot").css("display", "none");
            },
            EnabledButon(){
                $("tbody > tr > td").find("button").prop( "disabled", false );
                $("tfoot").css("display", "inherit");
            },
            ClearTxt(){
                this.idCompra= 0;
                this.titulo= 'Compra';
                this.idproveedor= 0;
                this.proveedor= '';
                this.arrayProveedor= [];
                this.numrecibo= '';
                this.fechacompra= '';
                this.poliza= '';
                this.iva= 0;
                this.dai= 0;
                this.isc= 0;
                this.empresasolictante=  '';
                this.detallecompra= [];
                this.idproducto= 0;
                this.producto= '';
                this.arrayProducto= [];
                this.imagen= '';
                this.stock= 0;
                this.cantidad= 1;
                this.tipocompra= 'No Contable';
                this.total= 0;
                this.tasadolar= 0;
                this.tasayuan= 0;
                this.tasaD= 0;
                this.tasaY= 0;
                this.fechavencimiento= '';
                this.preciocordoba= 0;
                this.idprovprod= 0;
                this.errorCompra= 0;
                this.txtvalidate= [];
                this.txtvalidate1= [];
                this.arraydatos= [];
                this.observacion= '';
            },
            ClearProd(){
                this.idproducto=0;
                this.cantidad = 1;
                this.producto= '';
                this.imagen= '';
                this.preciocordoba = 0;
                this.preciodolar= 0;
                this.precioyuan = 0;
                this.fechavencimiento = '';
                this.cantidad = '';
                this.undmed='';
                this.caja= 0;
                this.undpaq= 0;
                this.stock = 0;
                this.errorProducto = 0;
                this.txtvalidate1 = [];
                this.previsualizar = '';
                this.presentacion = '';
                this.cajon = 0;
                this.unidadxPaquete = 0; 
            },
            ValidateCompra(){
                this.errorCompra = 0;
                this.txtvalidate = [];

                if (!this.empresasolictante) this.txtvalidate.push("No puede estar vacío el campo de empresa solicitante");
                if (!this.numrecibo) this.txtvalidate.push("Agregue el número de recibo de la compra");
                if (!this.fechacompra) this.txtvalidate.push("Agregar la fecha de la compra");
                if (!this.proveedor) this.txtvalidate.push("Seleccione el proveedor que realizo la compra");
                if (!this.total) this.txtvalidate.push("Agregar monto total de la compra");
                /*if (this.tipocompra == 'Contable'){
                    if (!this.poliza) this.txtvalidate.push("Agregue el número de poliza");
                    if (!this.iva) this.txtvalidate.push("Agregar el monto del IVA");
                    if (!this.isc) this.txtvalidate.push("Agregar el monto del ISC");
                    if (!this.dai) this.txtvalidate.push("Agregar el monto del DAI");
                }*/
                
                if(this.txtvalidate.length) this.errorCompra = 1;

                return this.errorCompra;
            },
            ValidarProducto(){
                this.errorProducto = 0;
                this.txtvalidate1 = [];

                if (this.preciocordoba==0) this.txtvalidate1.push("El precio del producto no puede ser 0");
                if (this.cantidad==0) this.txtvalidate1.push("Al menos debe de tener 1 producto comprado");
                if (this.idproducto==0) this.txtvalidate1.push("Seleccione un producto");
                if (this.tasayuan==0) this.txtvalidate1.push("Tasa de Yuan no puede ser 0");
                if (this.tasadolar==0) this.txtvalidate1.push("Tasa de Dolar no puede ser 0");
                if(this.checked)
                {
                    if (this.fechavencimiento==0) this.txtvalidate1.push("Fecha de Vencimiento no puede estar vacío");
                }
                if(this.txtvalidate1.length) this.errorProducto = 1;

                return this.errorProducto;
            },
            editarCompra(id){
                let me=this;
                me.tipofrm = 'modificar';
                var url = this.ruta+'/compra/datos?idCompra=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arraydatos = respuesta.datos;
                    me.tipocompra = respuesta.datos[0].TipoCompra;
                    me.numrecibo = respuesta.datos[0].NumRecibo;
                    me.empresasolictante = respuesta.datos[0].EmpresaSolicitante;
                    me.total =  respuesta.datos[0].Total;
                    me.fechacompra = respuesta.datos[0].FechaCompra;
                    me.observacion = respuesta.datos[0].Observacion;
                    me.idCompra = respuesta.datos[0].idCompra;
                    me.idproveedor = respuesta.datos[0].idProveedor;
                    me.proveedor = respuesta.datos[0].Nombre;
                    me.fechacompra = respuesta.datos[0].FechaCompra;
                    me.fecharegistro =  respuesta.datos[0].FechaRegistro;
                    me.poliza = respuesta.datos[0].Poliza;
                    me.iva = respuesta.datos[0].IVA;
                    me.dai = respuesta.datos[0].DAI;
                    me.isc = respuesta.datos[0].ISC;
                })
                .catch(function (error) {
                    console.log(error);
                })
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle(); 

                $("#tabla").removeClass("in");
                $("#collapseForm").addClass("in");
                this.DesabledButton();
                this.titulo = 'Actualizar Compra';
                this.SeleccionarProveedor();
            },
            cerrarUpdate(){
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle(); 

                $("#collapseForm").removeClass("in");
                $("#collapseForm").removeClass("show");
                $("#tabla").addClass("in");

                this.EnabledButon();
                this.arraydatos= [];
                this.ClearTxt();
            },
            infoCompra(id){
                let me=this;
                var url = this.ruta+'/compra/datos?idCompra=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arraydatos = respuesta.datos;
                    me.tipocompra = respuesta.datos[0].TipoCompra;
                    me.numrecibo = respuesta.datos[0].NumRecibo;
                    me.empresasolictante = respuesta.datos[0].EmpresaSolicitante;
                    me.total =  respuesta.datos[0].Total;
                    me.fechacompra = respuesta.datos[0].FechaCompra;
                    me.observacion = respuesta.datos[0].Observacion;
                    me.idCompra = respuesta.datos[0].idCompra;
                    me.idproveedor = respuesta.datos[0].idProveedor;
                    me.proveedor = respuesta.datos[0].Nombre;
                    me.fechacompra = respuesta.datos[0].FechaCompra;
                    me.fecharegistro =  respuesta.datos[0].FechaRegistro;
                    me.poliza = respuesta.datos[0].Poliza;
                    me.iva = respuesta.datos[0].IVA;
                    me.dai = respuesta.datos[0].DAI;
                    me.isc = respuesta.datos[0].ISC;
                    me.dolartotal = respuesta.totales[0].TotalDolares;
                    me.yuantotal = respuesta.totales[0].TotalYuanes;
                })
                .catch(function (error) {
                    console.log(error);
                })
                this.tipofrm="ver",
                this.titulo= "Detalle de Compra",
                $("#tabla").removeClass('in');
                $("#collapseForm").addClass('in');
                
                this.DesabledButton();
            },
            cerrarView(){
                this.tipofrm="crear",
                $("#collapseForm").removeClass('in');
                $("#tabla").addClass('in');
                this.ClearTxt();
                this.EnabledButon();
            },
        },
        mounted() {
            this.listarCompras(1, this.buscar, this.filtro);
            this.DisableFunction();
        }
    }
</script>
<style>
    .div-error{
        display: flex;
        margin-left: 0.5rem;
        font-size: 12px;
        /*justify-content: left;*/
    }
    .text-error{
        color:red !important;
        font-weight: bold;
        text-align: left;
    }
    .titleEnc{
        display: block;
        text-align: center;
        font-weight: bold;
    }
    .info{
        font-size: 14px;
    }
    .d-flex{
        display: flex;
    }
    .pReturn{
        padding-left: 0px;
        border-top: 0px;
    }
    .imgsize{
        min-width: 100px;
        min-height: 150px;
        max-width: 250px;
        max-height: 250px;
        margin: auto;
    }
    .linetitle{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .titleEnc{
        display: block;
        text-align: center;
        font-weight: bold;
    }
    .mb-30{
        margin-bottom: 0px;
    }
    .btn{
        border: 1px solid;
    }
    .justify-content-end{
        justify-content: end;
    }
    .contenidoModal{
        margin: 25px 0px;
    }
    .modalDialog {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.3);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 0ms ease-in;
        -moz-transition: opacity 0ms ease-in;
        transition: opacity 0ms ease-in;
        pointer-events: none;
    }
    .modalDialog:target {
        opacity:1;
        pointer-events: auto;
    }
    .modalDialog > .modalProducto {
        width: 60%;
        position: relative;
        margin: 5% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 3px;
        background: #fff;
        -webkit-transition: opacity 0ms ease-in;
        -moz-transition: opacity 0ms ease-in;
        transition: opacity 0ms ease-in;
    }
    .modalDialog > .maneraImprimir {
        width: 30%;
        position: relative;
        margin: 5% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 3px;
        background: #fff;
        -webkit-transition: opacity 0ms ease-in;
        -moz-transition: opacity 0ms ease-in;
        transition: opacity 0ms ease-in;
    }
    .close {
        background: hsl(0, 50%, 60%);
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }
    .close:hover { background: hsl(0, 80%, 50%); color: white; }
    .tituloModal{
        margin: 10px 0 15px;
    }
    .vs__dropdown-menu{
        color: red;
    }
    @media (max-width: 1199px) {
        .modalDialog > .modalProducto{
            width: 60%;
        }
    }
</style>