<template>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 card">
                    <h4>Cuentas por Cobrar</h4>
                    <ul>
                        <li class="informes"><a href="#FactVendedor" @click="SeleccionarVendedor">Listado de Recibo por Vendedor</a></li>
                        <li class="informes"><a href="#Calendario" @click="SeleccionarZona">Calendario de Cobro por Vendedor</a></li>
                    </ul>
                </div>
                <!-- CUADRO MODAL IMPRIMIR Listado de facturas de credito y contado -->
                    <div id="FactVendedor" class="modalDialog">
                        <div style="width: 30%">
                            <h4 class="tituloModal">Recibo por Vendedor</h4>
                            <hr class="linetitle">
                            <div class="contenidoModal">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="">Fecha Inicio</label>
                                        <input type="date" v-model="fechainicio" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">Fecha Final</label>
                                        <input type="date" v-model="fechafinal" class="form-control">
                                    </div>
                                    <div class="col-md-12">
                                        <label for="">Vendedor</label>
                                        <v-select
                                            label="Nombre"
                                            placeholder= "Seleccione Vendedor"
                                            :options="arrayVendedor"
                                            v-model="vendedor"
                                            :value="arrayVendedor.Nombre"
                                            @input="setVendedor"
                                        ></v-select>
                                    </div>
                                </div>
                                <div class="form-group row div-error" v-show="errores">
                                    <div class="text-center text-error">
                                        <div v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror">            
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-left: 25%; margin-top: 5%">
                                    <div class="col-md-4">
                                        <a class="btn btn-danger btn-block" id="cerrar" href="#close">Cerrar</a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="btn btn-default btn-block" @click="reciboVendedor(fechainicio, fechafinal, idvendedor)">Imprimir</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                <!-- FIN DEL MODAL -->
                <!-- CUADRO MODAL IMPRIMIR Listado de facturas de credito y contado -->
                    <div id="Calendario" class="modalDialog">
                        <div style="width: 30%">
                            <h4 class="tituloModal">Recibo por Vendedor</h4>
                            <hr class="linetitle">
                            <div class="contenidoModal">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="">Fecha</label>
                                        <input type="date" v-model="fechainicio" class="form-control">
                                    </div>
                                    <div class="col-md-12">
                                        <label for="">Vendedor</label>
                                        <v-select
                                            label="Nombre"
                                            placeholder= "Seleccione Vendedor"
                                            :options="arrayVendedor"
                                            v-model="vendedor"
                                            :value="arrayVendedor.Nombre"
                                            @input="setVendedor"
                                        ></v-select>
                                    </div>
                                     <div class="col-md-12">
                                        <label>Zona</label>
                                        <v-select
                                            label="Nombre"
                                            placeholder= "Seleccione zona..."
                                            :options="arrayZona"
                                            v-model="zona"
                                            :value="arrayZona.Nombre"
                                            @input="setZona"
                                        ></v-select>
                                    </div>
                                </div>
                                <div class="form-group row div-error" v-show="errores">
                                    <div class="text-center text-error">
                                        <div v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror">            
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-left: 25%; margin-top: 5%">
                                    <div class="col-md-4">
                                        <a class="btn btn-danger btn-block" id="cerrar" href="#close">Cerrar</a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="btn btn-default btn-block" @click="Calendario(fechainicio, idzona, idvendedor)">Imprimir</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                <!-- FIN DEL MODAL -->
            </div>
        </div>
    </div>

</template>

<script>
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    export default {
        props:['ruta'],
        data(){
            return {
                fechainicio: '',
                fechafinal: '',
                errores: 0,
                txtvalidate: [],
                vendedor: '',
                idvendedor: 0,
                arrayVendedor: [],
                zona: '',
                idzona: 0,
                arrayZona: [],
            }
        },
        components:{
            vSelect,
        },
        methods : {
            SeleccionarVendedor(){
                let me=this;
                var url = this.ruta+ '/vendedor/seleccionar'
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayVendedor = respuesta.vendedor;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            setVendedor(value){
                let me = this;
                me.loading = true;
                me.idvendedor = value.idVendedor;
            },
            reciboVendedor(inicio, fin, id){
                if (this.ValidateVendedor()) {
                    return;
                }
                window.open("http://127.0.0.1:8000/informecxc/recibo?FInicio="+inicio+"&FFin="+fin+"&idVendedor="+id);
                document.getElementById("cerrar").click();
                this.ClearText();
            },
            SeleccionarZona(page, buscar){
                let me=this;
                var url = this.ruta+'/zona/seleccionar'
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayZona = respuesta.zona;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            setZona(value){
                let me = this;
                me.loading = true;
                me.idzona = value.idZona;
            },
            Calendario(inicio, idzona, idvend){
                if (this.ValidateCalendario()) {
                    return;
                }
                window.open("http://127.0.0.1:8000/informecxc/calendario?Fecha="+inicio+"&idVendedor="+idvend+"&idZona="+idzona);
                document.getElementById("cerrar").click();
                this.ClearText();
            },
            ValidateVendedor(){
                this.errores = 0;
                this.txtvalidate = [];

                if(!this.fechainicio) this.txtvalidate.push("*La fecha inicial no puede estar vacío");
                if(!this.fechafinal) this.txtvalidate.push("*La fecha final no puede estar vacío");

                if (Date.parse(this.fechainicio) > Date.parse(this.fechafinal)) this.txtvalidate.push("*La fecha inicial no puede ser mayor a la fecha final");

                if (!this.idvendedor) this.txtvalidate.push("*Seleccione al vendedor");
                
                if(this.txtvalidate.length) this.errores = 1;

                return this.errores;
            },

            ValidateCalendario(){
                this.errores = 0;
                this.txtvalidate = [];

                if(!this.fechainicio) this.txtvalidate.push("*La fecha inicial no puede estar vacío");
                if(!this.idzona) this.txtvalidate.push("*Seleccione una zona");

                if (!this.idvendedor) this.txtvalidate.push("*Seleccione al vendedor");
                
                if(this.txtvalidate.length) this.errores = 1;

                return this.errores;
            },

            ClearText(){
                this.fechainicio = '';
                this.fechafinal = '';
                this.idvendedor= 0;
                this.vendedor = '';
                this.idzona= 0;
                this.zona = '' ;
            }
        },
        mounted() {
            this.SeleccionarVendedor();
        }
    }
</script>
<style>
.informes{
    padding: 4px;
    margin-bottom: 1%;
}

.informes > a{
    color: black
}

.informes > a:hover{
    color: green
}

</style>