<template>
    <div class="content" >
        <div class="container-fluid">
            <div class="row">
                <!-- FORMULARIO -->
                <div class="col-md-12 pReturn collapse" id="collapseForm">
                    <div class="card">
                        <div class="header">
                            <h4 class="title" v-text="titulo"></h4>
                        </div>
                        <div class="content">
                         <!-- MUESTRA EL FORMULARIO PARA generar una factura -->
                            <div v-show="tipofrm=='crear'">
                                <div class="tab-content">
                                    <!-----   DATOS GENERALES DEL PRODUCTO ------->
                                    <div class="tab-pane fade in active">
                                        <div class="row">
                                            <div class="col-md-6 col-lg-3">
                                                <div class="form-group">
                                                    <label>Facturas:</label>
                                                    <v-select
                                                        label="idFactura"
                                                        placeholder= "Seleccione Factura"
                                                        :options="arrayfactura"
                                                        v-model="factura"
                                                        :value="arrayfactura.idFactura"
                                                        @input="setFactura"
                                                        :disabled="disabledvue"
                                                    ></v-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <div class="form-group">
                                                    <label>Cliente</label>
                                                    <input type="text" v-model="cliente" disabled class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <label>Total Compra</label>
                                                    <input type="text" v-model="totalfactura" disabled class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <label>Saldo Restante</label>
                                                    <input type="text" v-model="saldorest" disabled class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <button class="btn btn-info" style="margin-top: 13%" @click="cargarProductos(idfactura)">Cargar Productos</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Motivo de la devolución</label>
                                                    <input type="text" v-model="comentario" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-hover table-bordered">
                                                    <thead class="text-center" style="background-color: gray; color: white;">
                                                        <td>Productos</td>
                                                        <td>Cantidad Comprada</td>
                                                        <td>Devoluciones Ant.</td>
                                                        <td>Precio C$</td>
                                                        <td>Devolución Und</td>
                                                        <td>Devolución C$</td>
                                                    </thead>
                                                    <tbody v-if="idfactura == 0">
                                                        <tr>
                                                            <td colspan="6" class="text-center">**** Seleccione una Factura ***</td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody v-else>
                                                        <tr v-for="det in arraydetalle" :key="det.idDetalleFactura" :style="det.CantidadesDev!=0?'color: orange':''">
                                                            <td v-text="det.Nombre"></td>
                                                            <td v-text="det.Cantidad" class="text-center"></td>
                                                            <td v-text="det.CantidadesDev" class="text-center"></td>
                                                            <td v-text="parseFloat(det.Precio).toFixed(2)" class="text-center"></td>
                                                            <td><input type="number" min='0' :max="det.CantidadRestante" v-model="det.Devoluciones" class="form-control"></td>
                                                            <td class="text-center">{{parseFloat(det.Devoluciones * det.Precio).toFixed(2)}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5" style="text-align: end; padding-right: 25px">Total Devolución C$:</td>
                                                            <td class="text-center">{{totaldevolucion = parseFloat(TotalDev).toFixed(2)}}</td>
                                                            <td style="display: none">{{totalcomision = parseFloat(TotalComision).toFixed(2)}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="form-group row div-error" v-show="errorDevolucion">
                                                    <div class="text-center text-error">
                                                        <ul>
                                                            <li v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                    
                                    </div>
                                </div>
                                
                                <button class="btn btn-primary" @click="mostrarTabla()" v-if="tablamostrar">Mostrar Tabla</button>
                                <button class="btn btn-primary" @click="ocultarTabla()" v-else>Ocultar Tabla</button>
                                <button class="btn btn-success pull-right" id="btnAdd" v-if="$can('devolucion.store')" @click="registrarDevolucion()"><i class="pe-7s-check"></i> Guardar</button>
                                <button type="reset" class="btn btn-danger pull-right" id="btnReset" @click="DisableFunction" data-toggle="collapse" data-target="#collapseForm"
                                 aria-expanded="false" aria-controls="collapseForm"><i class="pe-7s-close"></i> Cancelar</button>
                                <div class="clearfix"></div>
                            </div>
                         <!-- MUESTRA LA INFORMACION DE la factura -->
                            <div v-show="tipofrm=='ver'">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 style="font-weight: bold; border-bottom: 1px solid; margin: 0">Cliente</h4>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Nombre:</h5>
                                            <p style="margin: 0 2%;"  v-text="cliente"></p>
                                        </div>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Zona:</h5>
                                            <p style="margin: 0 2%;"  v-text="zona"></p>
                                        </div>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Motivo Devolución:</h5>
                                            <p style="margin: 0 2%;"  v-text="comentario"></p>
                                        </div>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Total Devolución:</h5>
                                            <p style="margin: 0 2%;" >{{'C$' + parseFloat(total).toFixed(2)}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h2 style="font-weight: bold; margin: 0px;" class="text-right">DEVOLUCIÓN</h2>
                                        <div class="d-flex justify-content-end">
                                            <h5 style="margin:auto 0;font-weight: bold;">No. Devolución:</h5>
                                            <p style="margin: 0 2%;" v-text="idDevoluciones"></p>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <h5 style="margin:auto 0;font-weight: bold;">No. Factura:</h5>
                                            <p style="margin: 0 2%;" v-text="idfactura"></p>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <h5 style="margin:auto 0;font-weight: bold;">Ingresado por:</h5>
                                            <p style="margin: 0 2%;" v-text="usuario"></p>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <h5 style="margin:auto 0;font-weight: bold;">Fecha de Emisión:</h5>
                                            <p style="margin: 0 2%;" v-text="fecha"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 content table-responsive">
                                        <table class="table table-bordered text-center">
                                            <thead style="background: gray; color: white;">
                                                <th class="text-center">Producto</th>
                                                <th class="text-center">Cantidad</th>
                                                <th class="text-center">Devolución</th>
                                                <th class="text-center">Precio C$</th>
                                                <th class="text-center">Total Devolución C$</th>
                                            </thead>
                                            <tbody>
                                                <tr v-for="det in arraydatos" :key="det.idDevoluciones">
                                                    <td v-text="det.producto"></td>
                                                    <td v-text="det.Cantidad"></td>
                                                    <td v-text="det.Devolucion"></td>
                                                    <td>{{ parseFloat(det.Precio).toFixed(2) }}</td>
                                                    <td>{{ parseFloat(det.Precio * det.Devolucion).toFixed(2) }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-default" @click="cerrarView">Cerrar</button>
                                        <button class="btn btn-warning" @click="imprimirDevoluc(idDevoluciones)">Imprimir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
                <!--   TABLA -->
                <div class="col-md-12 collapse in" id="tabla">
                    <div class="card mb-30"> 
                        <div class="header">
                            <div class="form-group" style="display: inline-block;">
                                <p style="display: inline;" >Buscar:</p>
                                <select name="Filtro" class="select-css" v-model="filtro">
                                    <option value="d.idDevoluciones">No. Devolución</option>
                                    <option value="d.idFactura">No. Factura</option>
                                    <option value="c.Nombre">Cliente</option>
                                </select>
                                <input type="text" v-model="buscar" class="txtbuscar" placeholder="Buscar..." id="txtBuscar"  @keyup.enter="listarDevoluciones(1, buscar,filtro)">
                                <img :src="imgbuscar" class="img-sidebar">
                            </div>
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary pull-left" id="btnnew"  @click="EnableFunction"  data-toggle="collapse" data-target="#collapseForm"
                                    aria-expanded="false" aria-controls="collapseForm"><i class="pe-7s-plus"></i> Generar Devolución</button>
                            </div>
                        </div>
                        <div class="content">                                                                                  
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped" >
                                    <thead> 
                                        <th>Detalles</th>
                                        <th>No. Devolucion</th>
                                        <th>No.Factura</th>
                                        <th>Cliente</th>
                                        <th>Total</th>
                                        <th>Fecha</th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="devolucion in arrayDevolucion" :key="devolucion.idDevoluciones" >
                                            <td>
                                                <button type="button" class="btn btn-default" @click="infoDevolucion(devolucion.idDevoluciones)"><i class="pe-7s-id"></i></button>
                                            </td>
                                            <td v-text="devolucion.idDevoluciones"></td>
                                            <td v-text="devolucion.idFactura"></td>
                                            <td v-text="devolucion.Nombre"></td>
                                            <td>{{parseFloat(devolucion.Total).toFixed(2)}}</td>
                                            <td v-text="devolucion.created_at"></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <ul class="pagination d-flex">
                                            <li class="page-item" v-if="pagination.current_page > 1">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page - 1, buscar,filtro)">&laquo;</a>
                                            </li>
                                            <li class="page-item" v-for="page in pagesNumber" :key="page" :class= "[ page == isActived ? 'active' : '' ]" >
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(page, buscar,filtro)" v-text="page"></a>
                                            </li>
                                            <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page + 1, buscar,filtro)">&raquo;</a>
                                            </li>
                                        </ul>
                                    </tfoot>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
 
<script>
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    export default {
        props:['ruta'],
        data(){
            return{
                disabledvue: 'true',
                idDevoluciones: 0,
                titulo: 'Devoluciones',
                devoluciones: [],
                idcliente: 0,
                cliente: '',
                idfactura: 0,
                factura: '',
                totalfactura: 0,
                saldorest: 0,
                comentario: '',
                arrayfactura: [], 
                arraydetalle:[],
                arraydatos: [],
                totaldevolucion: 0,
                totalcomision: 0,
                total: 0,
                arrayDevolucion: [],
                errorDevolucion: 0,
                txtvalidate: [],
                tablamostrar: true,
                tipoBtn: 1,
                tipofrm: 'crear',
                fecha: '',
                zona: '', 
                pagination: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                },
                offset: 3,
                buscar: '', 
                filtro: 'd.idDevoluciones',
                imgbuscar: './img/icons8_search1_32.png',
                usuario: '', 
            }
        },
        computed: {
            isActived: function() {
                return this.pagination.current_page;
            },
            pagesNumber: function() {
                if(!this.pagination.to){
                    return [];
                }
                var from = this.pagination.current_page - this.offset; 
                if(from < 1){
                    from = 1;
                }
                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            },            
            TotalDev: function(){
                var suma = 0;
                for (let i = 0; i < this.arraydetalle.length; i++) {
                    suma = parseFloat(suma) + parseFloat(this.arraydetalle[i].Devoluciones * this.arraydetalle[i].Precio);
                }
                return suma;
            },
            TotalComision: function(){
                var suma = 0;
                for (let i = 0; i < this.arraydetalle.length; i++) {
                    suma = parseFloat(suma) + (parseFloat(this.arraydetalle[i].Devoluciones * this.arraydetalle[i].Precio) * (parseInt(this.arraydetalle[i].PorcComision)/100));
                }
                return suma;
            },

        },
        components:{
            vSelect,
        },
        methods:{
            listarDevoluciones(page, buscar,filtro){
                let me=this;
                var url = this.ruta+'/devolucion?page=' + page +'&buscar=' + buscar + '&filtro='+filtro;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayDevolucion = respuesta.devoluciones.data;
                    me.pagination = respuesta.pagination;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            SeleccionarFactura(){
                let me=this;
                var url = this.ruta+'/factura/seleccionarfacturas'
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayfactura = respuesta.facturas;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            setFactura(value){
                let me = this;
                me.idfactura = value.idFactura;
                me.saldorest  = parseFloat(value.SaldoRestante).toFixed(2);
                me.totalfactura =  parseFloat(value.TotalDeuda).toFixed(2);
                me.cliente = value.Cliente;
                me.idcliente = value.idCliente;
            },
            cargarProductos(id){
                let me=this;
                var url = this.ruta+'/factura/seleccionarproductos?id=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arraydetalle = respuesta.detallefacturas;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            cambiarPagina(page, buscar, filtro){
                let me = this;
                me.pagination.current_page = page;
                me.listarDevoluciones(page, buscar, filtro);
            },
            notificacion(){
                toastr.success("Devolucion registrada",{
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                });
            },
            registrarDevolucion(){
                 if(this.ValidateDevoluciones()){
                    return;
                }
                let suma = 0
                for (let i = 0; i < this.arraydetalle.length; i++) {
                    suma= suma + this.arraydetalle[i].Devoluciones;
                    
                    if (parseInt(this.arraydetalle[i].Devoluciones) > parseInt(this.arraydetalle[i].CantidadRestante)) {
                        this.txtvalidate.push('La devolucion no puede superar a la cantidad comprada, por favor verifique el producto '+this.arraydetalle[i].Nombre);
                        if(this.txtvalidate.length) this.errorDevolucion = 1;
                        return this.errorDevolucion;
                    }
                } 
                if(suma == 0){
                    this.txtvalidate.push('Verifique debe de haber al menos un producto con devolución');
                    if(this.txtvalidate.length) this.errorDevolucion = 1;
                    return this.errorDevolucion;
                }
                let me = this;
                axios.post(this.ruta+'/devolucion/registrar', {
                    'Comentario' : this.comentario,
                    'Total' :  this.totaldevolucion,
                    'TotalComision': this.totalcomision,
                    'idfactura': this.idfactura,
                    'idCliente': this.idcliente,
                    'Cliente' : this.cliente,
                    'data' : this.arraydetalle,
                    })
                .then(function (response) {
                    me.listarDevoluciones(1,'','idDevolucion');
                    me.ClearTxt();
                    //me.idDevoluciones = response.data.devolucion;
                    me.notificacion();
                    me.imprimirDevoluc(response.data.devolucion);
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            mostrarTabla(){
                this.tablamostrar = false;
                $("#tabla").addClass("in");
            },
            ocultarTabla(){
                this.tablamostrar = true;
                $("#tabla").removeClass("in");
            },
            DisableFunction(){
                this.DisableTxt();
                this.titulo= 'Devoluciones';
                this.errorDevolucion= 0;
                this.txtvalidate= [];
                this.detalleventa= [];
                this.tipoBtn=1;
                this.disabledvue= true;
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle();

                this.ClearTxt();
                this.EnabledButon();

                $("#tabla").addClass("in");
                $("#txtBuscar").focus();
                $("#txtBuscar").focus();
            },
            DisableTxt(){
                $("#txtCodigo").prop( "disabled", true );
                $("#txtCodigoB").prop( "disabled", true );
                $("#txtNombre").prop( "disabled", true );
                $("#txtNombreOrig").prop( "disabled", true );
                $("#txtStock").prop( "disabled", true );
                $("#txtUnidad").prop( "disabled", true );

                $("#txtBuscar").prop( "disabled", false );
            },
            EnableFunction(){
                this.titulo = 'Registrar Devolucion';
                this.disabledvue= false;
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle(); 
                this.SeleccionarFactura();

                $("#tabla").removeClass("in");
                $("#txtcambio").focus();
                this.EnableTxt();
                this.DesabledButton();
            },
            EnableTxt(){
                $("#txtCodigo").prop( "disabled", false );
                $("#txtCodigoB").prop( "disabled", false );
                $("#txtNombre").prop( "disabled", false );
                $("#txtNombreOrig").prop( "disabled", false );
                $("#txtStock").prop( "disabled", false );
                $("#txtUnidad").prop( "disabled", false );
                $("#txtPorcComision").prop( "disabled", false );
                $("#txtDescripcion").prop( "disabled", false );
            },
            DesabledButton(){
                $("tbody > tr > td").find("button").prop( "disabled", true );
                $("tfoot").css("display", "none");
            },
            EnabledButon(){
                $("tbody > tr > td").find("button").prop( "disabled", false );
                $("tfoot").css("display", "inherit");
            },
            ClearTxt(){
                this.idfactura= 0;
                this.idDevoluciones= 0;
                this.factura= '';
                this.totalfactura= 0;
                this.saldorest= 0;
                this.comentario= '';
                this.totaldevolucion= 0;
                this.cliente = '';
                this.arraydetalle=[];
                this.arraydatos=[];
            },
            ValidateDevoluciones(){
                this.errorDevolucion = 0;
                this.txtvalidate = [];

                if (this.idfactura==0) this.txtvalidate.push("Seleccione una factura");
                if (this.arraydetalle.length==0 && this.idfactura != 0) this.txtvalidate.push('Haga click al botón CARGAR PRODUCTOS');
                if (this.comentario=='') this.txtvalidate.push("Agregar el motivo de la devolución");
                
                if(this.txtvalidate.length) this.errorDevolucion = 1;

                return this.errorDevolucion;
            },
            infoDevolucion(id){
                let me=this;
                var url = this.ruta+'/devolucion/datos?id=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arraydatos = respuesta.devolucion;
                    me.idDevoluciones = me.arraydatos[0].idDevoluciones;
                    me.idfactura = me.arraydatos[0].idFactura;
                    me.cliente = me.arraydatos[0].Nombre;
                    me.total = me.arraydatos[0].Total;
                    me.fecha = me.arraydatos[0].created_at;
                    me.comentario = me.arraydatos[0].Comentario;
                    me.zona = me.arraydatos[0].Zona;
                    me.usuario = me.arraydatos[0].Usuario;
                })
                .catch(function (error) {
                    console.log(error);
                }),
                this.tipofrm="ver",
                this.titulo= "Detalle de Devolución",
                $("#tabla").removeClass('in');
                $("#collapseForm").addClass('in');
                
                this.DesabledButton();
            },
            cerrarView(){
                this.tipofrm="crear",
                this.titulo= "Devoluciones",
                $("#collapseForm").removeClass('in');
                $("#tabla").addClass('in');
                this.ClearTxt();
                this.EnabledButon();
            },
            imprimirDevoluc(id){
                window.open(this.ruta + "/devolucion/print/"+id);
            },
        },
        mounted() {
            this.listarDevoluciones(1, this.buscar,this.filtro);
            this.DisableFunction();
            $("#btnnew").toggle();
        }
    }
</script>
<style>
    .div-error{
        display: flex;
        margin-left: 0.5rem;
        font-size: 12px;
    }
    .text-error{
        color:red !important;
        font-weight: bold;
        text-align: left;
    }
    .linetitle{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .titleEnc{
        display: block;
        text-align: center;
        font-weight: bold;
    }
    .info{
        font-size: 14px;
    }
    .d-flex{
        display: flex;
    }
    .ml-25{
        margin-left: 25%;
    }
    .w-25{
        width: 25%;
    }
    .w-75{
        width: 75%;
    }
    .w-50{
        width: 50%;
    }
    .pReturn{
        padding-left: 0px;
        border-top: 0px;
    }
    .imgsize{
        min-width: 100px;
        min-height: 150px;
        max-width: 250px;
        max-height: 250px;
        margin: auto;
    }
    .linetitle{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .titleEnc{
        display: block;
        text-align: center;
        font-weight: bold;
    }
    .mb-30{
        margin-bottom: 0px;
    }
    .btn{
        border: 1px solid;
    }
    .justify-content-end{
        justify-content: end;
    }
    .contenidoModal{
        margin: 25px 0px;
    }
    .modalDialog {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.3);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 0ms ease-in;
        -moz-transition: opacity 0ms ease-in;
        transition: opacity 0ms ease-in;
        pointer-events: none;
    }
    .modalDialog:target {
        opacity:1;
        pointer-events: auto;
    }
    .modalDialog > div {
        width: 50%;
        position: relative;
        margin: 5% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 3px;
        background: #fff;
        -webkit-transition: opacity 0ms ease-in;
        -moz-transition: opacity 0ms ease-in;
        transition: opacity 0ms ease-in;
    }
    .close {
        background: hsl(0, 50%, 60%);
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }
    .close:hover { background: hsl(0, 80%, 50%); color: white; }
    .tituloModal{
        margin: 10px 0 15px;
    }
    .vs__dropdown-menu{
        color: red;
    }
</style>