<template>
    <div class="content" >
        <div class="container-fluid">
            <div class="row">
                <!-- FORMULARIO -->
                <div class="col-md-12 pReturn collapse" id="collapseForm">
                    <div class="card">
                        <div class="header">
                            <h4 class="title" v-text="titulo+idlast"></h4>
                        </div>
                        <div class="content">
                        <!-- MUESTRA EL FORMULARIO PARA ENTRADA DE PRODUCTO -->
                            <div v-show="tipofrm=='crear'">
                                <div class="tab-content">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label>Producto:</label>
                                                <v-select
                                                    label="Nombre"
                                                    placeholder= "Escriba un Producto"
                                                    @search="selectProducto"
                                                    :options="arrayProducto"
                                                    @input="setProducto"
                                                    :value="arrayProducto.idInventario"
                                                    v-model="producto"
                                                ></v-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-2">
                                            <div class="form-group">
                                                <label>Stock</label>
                                                <input type="text" v-model="stock" disabled class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-2">
                                            <div class="form-group">
                                                <label>Costo C$</label>
                                                <input type="text" v-model="precio" disabled class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-2">
                                            <div class="form-group">
                                                <label>Entrada</label>
                                                <input type="number" v-model="agregarEntrada" min='0' @keypress.enter="agregarDetalle" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label>Observacion</label>
                                                <input type="text" v-model="observacion" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-2">
                                            <div class="form-group">
                                                <label>Fecha Entrada</label>
                                                <input type="date" v-model="fechaentrada" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-2">
                                            <div class="form-group">
                                                <label>Total:</label>
                                                <input type="text" v-model="total" v-text="total = Total.toFixed(2)" disabled class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-2">
                                            <button class="btn btn-primary" style="margin-top: 25px" @click="agregarDetalle"><i class="pe-7s-plus"></i> Agregar</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-hover table-bordered">
                                                <thead class="text-center" style="background-color: gray; color: white;">
                                                    <td>Eliminar</td>
                                                    <td>Producto</td>
                                                    <td>Cantidad Existente</td>
                                                    <td>Entrada</td>
                                                    <td>Precio C$</td>
                                                    <td>Total C$</td>
                                                </thead>
                                                <tbody v-if="detalleentrada.length == 0">
                                                    <tr>
                                                        <td colspan="6" class="text-center">**** Agregue un Producto ****</td>
                                                    </tr>
                                                </tbody>
                                                <tbody v-else>
                                                    <tr v-for="(det, index) in detalleentrada" :key="det.idproducto">
                                                        <td class="text-center"><button class="btn btn-danger" @click="eliminarProd(index)">X</button></td>
                                                        <td v-text="det.nombre" class="text-center"></td>
                                                        <td v-text="det.stock" class="text-center"></td>
                                                        <td v-text="det.entrada" class="text-center"></td>
                                                        <td v-text="parseFloat(det.precio)" class="text-center" :id="'saldo'+index"></td>
                                                        <td class="text-center">{{parseFloat(det.entrada) * parseFloat(det.precio).toFixed(2)}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="form-group row div-error" v-show="errorEntrada">
                                                <div class="text-center text-error">
                                                    <ul>
                                                        <li v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror"></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                                
                                <button class="btn btn-primary" @click="mostrarTabla()" v-if="tablamostrar">Mostrar Tabla</button>
                                <button class="btn btn-primary" @click="ocultarTabla()" v-else>Ocultar Tabla</button>
                                <button class="btn btn-success pull-right" id="btnAdd" v-if="$can('entrada.store')" @click="registrarEntrada()"><i class="pe-7s-check"></i> Guardar</button>
                                <button type="reset" class="btn btn-danger pull-right"  @click="DisableFunction" data-toggle="collapse" data-target="#collapseForm"
                                aria-expanded="false" aria-controls="collapseForm"><i class="pe-7s-close"></i> Cancelar</button>
                                <div class="clearfix"></div>
                            </div>
                        <!-- MUESTRA EL FORMULARIO PARA MODIFICAR LA ENTRADA DE PRODUCTO -->
                            <div v-show="tipofrm=='modificar'">
                                <div class="tab-content">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label>Producto:</label>
                                                <v-select
                                                    label="Nombre"
                                                    placeholder= "Escriba un producto"
                                                    @search="selectProducto"
                                                    :options="arrayProducto"
                                                    v-model="producto"
                                                    :value="arrayProducto.idInventario"
                                                    @input="setProducto"
                                                ></v-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-2">
                                            <div class="form-group">
                                                <label>Stock</label>
                                                <input type="text" v-model="stock" disabled class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-2">
                                            <div class="form-group">
                                                <label>Costo C$</label>
                                                <input type="text" v-model="precio" disabled class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-2">
                                            <div class="form-group">
                                                <label>Entrada</label>
                                                <input type="number" v-model="agregarEntrada" min='0' disabled class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label>Observacion</label>
                                                <input type="text" v-model="observacion" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-2">
                                            <div class="form-group">
                                                <label>Fecha Entrada:</label>
                                                <input type="date" v-model="fechaentrada" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-2">
                                            <div class="form-group">
                                                <label>Total:</label>
                                                <input type="text" v-model="total1" v-text="total1 = TotalMod.toFixed(2)" disabled class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-hover table-bordered">
                                                <thead class="text-center" style="background-color: gray; color: white;">
                                                    <td>Producto</td>
                                                    <td>Cantidad Existente</td>
                                                    <td>Entrada</td>
                                                    <td>Precio C$</td>
                                                    <td>Total C$</td>
                                                    <td>Total Stock</td>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(det, index) in arraydatos" :key="det.idEntrada">
                                                        <td v-text="det.Nombre" class="text-center"></td>
                                                        <td v-text="det.StockAnt" class="text-center"></td>
                                                        <td class="text-center"><input type="number" min='0' class="form-control" v-model="det.Cantidad"></td>
                                                        <td v-text="parseFloat(det.Precio)" class="text-center" :id="'saldo'+index"></td>
                                                        <td class="text-center">{{parseInt(det.Cantidad) * parseFloat(det.Precio).toFixed(2)}}</td>
                                                        <td class="text-center">{{parseInt(det.Cantidad) + parseInt(det.StockAnt)}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="form-group row div-error" v-show="errorEntrada">
                                                <div class="text-center text-error">
                                                    <ul>
                                                        <li v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror"></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                                
                                <button class="btn btn-primary" @click="mostrarTabla()" v-if="tablamostrar">Mostrar Tabla</button>
                                <button class="btn btn-primary" @click="ocultarTabla()" v-else>Ocultar Tabla</button>
                                <button class="btn btn-warning pull-right" v-if="$can('entrada.update')" @click="ActualizarEntrada()"><i class="pe-7s-refresh-2"></i> Actualizar</button>
                                <button class="btn btn-danger pull-right" @click="cerrarUpdate()"><i class="pe-7s-close"></i> Cancelar</button>
                                <div class="clearfix"></div>
                            </div>
                        <!-- MUESTRA LA INFORMACION DE LA ENTRADA DEL PRODUCTO-->
                            <div v-show="tipofrm=='ver'">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h2 style="font-weight: bold; margin: 0px;">ENTRADA</h2>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Numero de Entrada:</h5>
                                            <p style="margin: 0 2%;" v-text="idEntrada"></p>
                                        </div>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Total C$:</h5>
                                            <p style="margin: 0 2%;" v-text="total1"></p>
                                        </div>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Generado por:</h5>
                                            <p style="margin: 0 2%;" v-text="usuario"></p>
                                        </div>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Fecha de Emisión:</h5>
                                            <p style="margin: 0 2%;" v-text="fecha"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 content table-responsive">
                                        <table class="table table-bordered text-center">
                                            <thead style="background: gray; color: white;">
                                                <th class="text-center">Producto</th>
                                                <th class="text-center">Precio</th>
                                                <th class="text-center">Stock Ant.</th>
                                                <th class="text-center">Entrada</th>
                                                <th class="text-center">Stock Actual</th>
                                            </thead>
                                            <tbody>
                                                <tr v-for="det in arraydatos" :key="det.idEntrada">
                                                    <td v-text="det.Nombre"></td>
                                                    <td v-text="parseFloat(det.Precio).toFixed(2)"></td>
                                                    <td v-text="det.StockAnt"></td>
                                                    <td v-text="det.Cantidad"></td>
                                                    <td v-text="det.Stock"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-default" @click="cerrarView">Cerrar</button>
                                        <button class="btn btn-warning" @click="imprimirEntrada(idEntrada)">Imprimir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
                <!--   TABLA -->
                <div class="col-md-12 collapse in" id="tabla">
                    <div class="card mb-30"> 
                        <div class="header">
                            <div class="form-group" style="display: inline-block;">
                                <p style="display: inline;" >Buscar:</p>
                                <input type="text" v-model="buscar" class="txtbuscar" placeholder="Buscar No. entrada" id="txtBuscar"  @keyup.enter="listarEntrada(1, buscar,filtro)">
                                <img :src="imgbuscar" class="img-sidebar">
                            </div>
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary pull-left" id="btnnew" v-if="$can('entrada.store')" @click="EnableFunction"  data-toggle="collapse" data-target="#collapseForm"
                                    aria-expanded="false" aria-controls="collapseForm"><i class="pe-7s-plus"></i> Registrar Entrada</button>
                            </div>
                        </div>
                        <div class="content">                                                                                  
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped" >
                                    <thead> 
                                        <th>Opciones</th>
                                        <th>No.Entrada</th>
                                        <th>Total C$</th>
                                        <th>Observacion</th>
                                        <th>Estado</th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="entrada in arrayentrada" :key="entrada.idEntrada" >
                                            <td>
                                                <div v-if="entrada.Estado == 'Activo'">
                                                    <button type="button" class="btn btn-danger" v-if="$can('entrada.inactive')" @click="deshabilitarEntrada(entrada.idEntrada)" ><i class="pe-7s-trash"></i></button>
                                                    <button type="button" class="btn btn-warning" v-if="$can('entrada.update')" @click="getEntrada(entrada.idEntrada)"><i class="pe-7s-edit"></i></button>
                                                    <button type="button" class="btn btn-default" @click="infoEntrada(entrada.idEntrada)"><i class="pe-7s-id"></i></button>
                                                </div>
                                                <div v-else>
                                                    <button type="button" class="btn btn-default" @click="infoEntrada(entrada.idEntrada)"><i class="pe-7s-id"></i></button>
                                                </div>
                                            </td>
                                            <td v-text="entrada.idEntrada"></td>
                                            <td>{{parseFloat(entrada.Total).toFixed(2)}}</td>
                                            <td v-text="entrada.Comentario"></td>
                                            <td v-text="entrada.Estado"></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <ul class="pagination d-flex">
                                            <li class="page-item" v-if="pagination.current_page > 1">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page - 1, buscar)">&laquo;</a>
                                            </li>
                                            <li class="page-item" v-for="page in pagesNumber" :key="page" :class= "[ page == isActived ? 'active' : '' ]" >
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(page, buscar)" v-text="page"></a>
                                            </li>
                                            <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page + 1, buscar)">&raquo;</a>
                                            </li>
                                        </ul>
                                    </tfoot>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
 
<script>
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    export default {
        props:['ruta'],
        data(){
            return{
                disabledvue: 'true',
                idEntrada: 0,
                titulo: 'Entrada de Producto',
                arrayentrada: [],
                detalleentrada: [],
                idproducto: 0,
                producto: '',
                arrayProducto: [],
                stock: 0,
                precio: 0,
                agregarEntrada: 0,
                total: 0,
                total1: 0,
                fecha: '',
                observacion: '', 
                arraydatos: [],
                errorEntrada: 0,
                txtvalidate: [],
                tablamostrar: true,
                tipoBtn: 1,
                tipofrm: 'crear',
                rsp: '',
                estado: '',
                pagination: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                },
                offset: 3,
                buscar: '', 
                usuario: '',
                imgbuscar: './img/icons8_search1_32.png',
                idlast: 0,
                fechaentrada: '',

            }
        },
        computed: {
            isActived: function() {
                return this.pagination.current_page;
            },
            pagesNumber: function() {
                if(!this.pagination.to){
                    return [];
                }

                var from = this.pagination.current_page - this.offset; 
                if(from < 1){
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }, 
            Total: function(){
                var suma = 0;
                for (let i = 0; i < this.detalleentrada.length; i++) {
                    suma = parseFloat(suma) + (parseFloat(this.detalleentrada[i].precio).toFixed(2)*parseFloat(this.detalleentrada[i].entrada));
                }
                return suma;
            }, 
            TotalMod: function(){
                var suma = 0;
                for (let i = 0; i < this.arraydatos.length; i++) {
                    suma = parseFloat(suma) + (parseFloat(this.arraydatos[i].Precio).toFixed(2)*parseFloat(this.arraydatos[i].Cantidad));
                }
                return suma;
            }, 
        },
        components:{
            vSelect,
        },
        methods:{
            listarEntrada(page, buscar){
                let me=this;
                var url = this.ruta + '/entrada?page=' + page +'&buscar=' + buscar;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayentrada = respuesta.entrada.data;
                    me.pagination = respuesta.pagination;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            costoProducto(id){
                let me = this;
                var url = this.ruta + '/entrada/costo?id='+id;
                axios.get(url).then(function (response){
                    var respuesta = response.data;
                    me.precio = respuesta.costo[0].Costo; 
                })
                .catch(function (error) {
                    console.log(error)
                })
            },
            selectProducto(search,loading){
                let me = this;
                loading(true)

                var url = this.ruta + '/producto/seleccionar?buscar='+search;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayProducto = respuesta.producto;

                    loading(false)
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            SeleccionarProducto(){
                let me=this;
                var url = this.ruta + '/producto/seleccionar'
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayProducto = respuesta.producto;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            setProducto(value){
                let me = this;
                me.loading = true;
                me.costoProducto(value.idInventario);
                me.idproducto = value.idInventario;
                me.producto = value.Nombre;
                me.stock = value.Stock;
            },
            agregarDetalle(){
                let me = this;

                if (this.validateProducto()) {
                    return ;
                }else{
                    me.detalleentrada.push({
                        'idproducto': me.idproducto,
                        'nombre': me.producto,
                        'stock': me.stock,
                        'precio': me.precio,
                        'entrada': me.agregarEntrada
                    });
                    this.clearprod();
                    $('.vs__search').focus();
                }
            },
            eliminarProd(index){
                let me = this;
                me.detalleentrada.splice(index, 1);
            },
            cambiarPagina(page, buscar){
                let me = this;
                me.pagination.current_page = page;
                me.listarEntrada(page, buscar);
            },
            notificacion(){
                toastr.success("Entrada realizada",{
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                });
            },
            registrarEntrada(){
                if(this.validateEntrada()){
                    return;
                }
                let me = this;
                axios.post(this.ruta + '/entrada/registrar', {
                    'Observacion': this.observacion,
                    'Total': this.total,
                    'FechaEntrada' : this.fechaentrada,
                    'data' : this.detalleentrada,
                    })
                .then(function (response) {
                    me.listarEntrada(1,'');
                    me.notificacion();
                    me.ClearTxt();
                    me.ObtenerId();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            ActualizarEntrada(){
                let me = this;
                axios.put(this.ruta + '/entrada/actualizar', {
                    'idEntrada': this.idEntrada,
                    'Observacion': this.observacion,
                    'Total' : this.total1,
                    'data' : this.arraydatos,
                    })
                .then(function (response) {
                    me.listarEntrada(1,'');
                    me.ClearTxt();
                    this.arraydatos= [];
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            deshabilitarEntrada(id){
                this.idEntrada = id;
                Swal.fire({
                title: '¿Anular entrada?',
                text: "Anular la entrada implica que removerán los producto agregado al inventario",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar',
                showClass: {
                    popup: 'animated fadeInDown faster'
                },
                hideClass: {
                    popup: 'animated fadeOutUp faster'
                }
                }).then((result) => {
                if (result.value) {
                let me = this;
                axios.put(this.ruta+'/entrada/inactive', {
                    'idEntrada' : this.idEntrada,
                    })
                .then(function (response) {
                    Swal.fire(
                    'Anulado',
                    'Se actualizo el Inventario',
                    )
                    me.listarEntrada(1, '');
                })
                .catch(function (error) {
                    console.log(error);
                });
                }
                })
            },  
            mostrarTabla(){
                this.tablamostrar = false;
                $("#tabla").addClass("in");
            },
            ocultarTabla(){
                this.tablamostrar = true;
                $("#tabla").removeClass("in");
            },
            DisableFunction(){
                this.titulo= 'Entrada de Producto';
                this.errorEntrada= 0;
                this.txtvalidate= [];
                this.arrayfactura= [];
                this.arrayrecibo = [];
                this.tipoBtn=1;
                this.disabledvue= true;
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle();


                this.ClearTxt();
                this.EnabledButon();

                $("#tabla").addClass("in");
                $("#txtBuscar").focus();

            },
            DisableFunction1(){
                this.DisableFunction();
                $("#collapseForm").removeClass("in");
                $("#btnAdd").toggle();

            },
            EnableFunction(){
                this.tipofrm = 'crear';
                this.titulo = 'Registrar Entrada No.';
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle(); 
                this.SeleccionarProducto();
                this.opcion = 'crear';
                this.disabledvue= false;

                $("#tabla").removeClass("in");
                this.DesabledButton();
                //this.selectProducto();
                this.ObtenerId()
            },
            DesabledButton(){
                $("tbody > tr > td").find("button").prop( "disabled", true );
                $("tfoot").css("display", "none");
            },
            EnabledButon(){
                $("tbody > tr > td").find("button").prop( "disabled", false );
                $("tfoot").css("display", "inherit");
            },
            ClearTxt(){
                this.idproducto= 0;
                this.producto= '';
                this.arrayProducto= [];
                this.stock= 0;
                this.precio= 0;
                this.agregarEntrada= 0;
                this.total= 0;
                this.fecha= '';
                this.observacion= '';
                this.arraydatos= [];
                this.detalleentrada=[];
                this.errorEntrada= 0;
                this.txtvalidate= [];
            },
            clearprod(){
                this.idproducto= 0;
                this.producto= '';
                this.stock = 0;
                this.precio = 0;
                this.agregarEntrada = 0;
            },
            validateProducto(){
                this.errorEntrada = 0;
                this.txtvalidate = [];

                if (this.agregarEntrada == 0) this.txtvalidate.push('Agregue una cantidad mayor a 0 en el campo de entrada');
                if (!this.producto) this.txtvalidate.push('Seleccione un producto');

                if(this.txtvalidate.length) this.errorEntrada = 1;

                return this.errorEntrada;
            },
            validateEntrada(){
                this.errorEntrada = 0;
                this.txtvalidate = [];

                if (this.detalleentrada.length == 0) this.txtvalidate.push("Debe de agregar al menos un producto");
                if (!this.observacion) this.txtvalidate.push('Agregar un comentario');
                if (!this.fechaentrada) this.txtvalidate.push('Registrar fechas de entrada');

                if(this.txtvalidate.length) this.errorEntrada = 1;

                return this.errorEntrada;
            },
            cerrarUpdate(){
                this.titulo = 'Entrada de Producto';
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle(); 

                $("#collapseForm").removeClass("in");
                $("#collapseForm").removeClass("show");
                $("#tabla").addClass("in");

                this.EnabledButon();
                this.arraydatos= [];
                this.ClearTxt();
            },
            getEntrada(id){
                this.tipofrm = 'modificar';
                let me =  this;
                var url = this.ruta+'/entrada/datos?id=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arraydatos = respuesta.entrada;
                    me.observacion = me.arraydatos[0].Comentario;
                    me.total = me.arraydatos[0].Total;
                    me.idEntrada  =me.arraydatos[0].idEntrada;

                })
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle(); 
                this.disabledvue = true;

                $("#tabla").removeClass("in");
                $("#collapseForm").addClass("in");
                this.DesabledButton();
                this.titulo = 'Actualizar Entrada';

            },
            infoEntrada(id){
                let me=this;
                var url = this.ruta+'/entrada/datos?id=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arraydatos = respuesta.entrada;
                    me.idEntrada = me.arraydatos[0].idEntrada;
                    me.observacion = me.arraydatos[0].Comentario;
                    me.total1 = me.arraydatos[0].Total;
                    me.fecha = me.arraydatos[0].Fecha;
                    me.usuario = me.arraydatos[0].Usuario;
                    me.fechaentrada = me.arraydatos[0].FechaEntrada;
                })
                .catch(function (error) {
                    console.log(error);
                }),
                this.tipofrm="ver",
                this.titulo= "Detalle de Entrada",
                $("#tabla").removeClass('in');
                $("#collapseForm").addClass('in');
                
                this.DesabledButton();
            },
            cerrarView(){
                this.tipofrm="crear",
                this.titulo= "Cheque",
                $("#collapseForm").removeClass('in');
                $("#tabla").addClass('in');
                this.ClearTxt();
                this.EnabledButon();
                this.arraydatos= [];
            },
            ObtenerId(){
                let me = this;

                var url = this.ruta + '/entrada/id';
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.idlast = parseInt(respuesta.id)+1;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            imprimirEntrada(id){
                window.open(this.ruta + "/entrada/print/"+ id);
            }
        },
        mounted() {
            this.listarEntrada(1, this.buscar);
            this.DisableFunction();
            $("#btnnew").toggle(); 

        }
    }
</script>
<style>
    .div-error{
        display: flex;
        margin-left: 0.5rem;
        font-size: 12px;
        /*justify-content: left;*/
    }
    .text-error{
        color:red !important;
        font-weight: bold;
        text-align: left;
    }
    .linetitle{
        margin-top: 1px;
    }
    .titleEnc{
        display: block;
        text-align: center;
        font-weight: bold;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        padding: 5px 0px;
    }
    .info{
        font-size: 14px;
    }
    .d-flex{
        display: flex;
    }
    .pReturn{
        padding-left: 0px;
        border-top: 0px;
    }
    .imgsize{
        min-width: 100px;
        min-height: 150px;
        max-width: 250px;
        max-height: 250px;
        margin: auto;
    }
    .linetitle{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .titleEnc{
        display: block;
        text-align: center;
        font-weight: bold;
    }
    .mb-30{
        margin-bottom: 0px;
    }
    .btn{
        border: 1px solid;
    }
    .justify-content-end{
        justify-content: end;
    }
    .contenidoModal{
        margin: 25px 0px;
    }
    .modalDialog {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.3);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 0ms ease-in;
        -moz-transition: opacity 0ms ease-in;
        transition: opacity 0ms ease-in;
        pointer-events: none;
    }
    .modalDialog:target {
        opacity:1;
        pointer-events: auto;
    }
    .modalDialog > div {
        width: 50%;
        position: relative;
        margin: 5% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 3px;
        background: #fff;
        -webkit-transition: opacity 0ms ease-in;
        -moz-transition: opacity 0ms ease-in;
        transition: opacity 0ms ease-in;
    }
    .close {
        background: hsl(0, 50%, 60%);
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }
    .close:hover { background: hsl(0, 80%, 50%); color: white; }
    .tituloModal{
        margin: 10px 0 15px;
    }
    .vs__dropdown-menu{
        color: red;
    }
</style>