<template>
    <div class="content" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 card">
                    <div class="card-body">
                        <div class="row">
                            <div class="top1px">
                                <h4 class="text-center">Estado de Cuentas</h4>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label>Cliente:</label>
                                    <v-select
                                        label="Cliente"
                                        placeholder= "Seleccione Cliente"
                                        @search="SeleccionarCliente"
                                        :options="arrayCliente"
                                        v-model="cliente"
                                        :value="arrayCliente.Nombre"
                                        @input="setCliente"
                                        id="seleccionarcliente"
                                    ></v-select>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-2">
                                <div class="form-group">
                                    <label>Teléfono:</label>
                                    <input type="text" class="form-control" disabled :value="telefono">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-5">
                                <div class="form-group">
                                    <label>Dirección:</label>
                                    <input type="text" class="form-control" disabled :value="direccion">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-1 mt-2">
                                <button type="button" class="btn btn-primary pull-left mr-1" @click="cargarEstado(idcliente)"><i class="pe-7s-search"></i></button>
                                <button type="button" class="btn btn-default pull-left"><i class="pe-7s-print"></i></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-2">
                                <p>Entrada C$: {{ EntradaTotal.toFixed(2) }}</p>
                            </div>
                            <div class="col-md-6 col-lg-2">
                                <p>Salida C$: {{ SalidaTotal.toFixed(2) }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card"> 
                    <div class="content table-wrapper-scroll-y my-custom-scrollbar">                                                                                  
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover" >
                                <thead> 
                                    <th>Fecha</th>
                                    <th>Descripción</th>
                                    <th>Salida C$</th>
                                    <th>Entrada C$</th>
                                    <th>Total C$</th>
                                    <th>Tipo Compra</th>
                                    <th>Días</th>
                                </thead>
                                <tbody v-if="arrayEstado.length > 0">
                                        <tr v-for="datos in arrayEstado" :key="datos">
                                            <td v-text="datos.Fecha"></td>
                                            <td v-text="datos.Descripcion"></td>
                                            <td v-text="datos.Salida"></td>
                                            <td v-text="datos.Entrada"></td>
                                            <td v-text="datos.Total"></td>
                                            <td v-text="datos.TipoCompra"></td>
                                            <td v-text="datos.Dias" style="border-bottom: 2px red"></td>
                                        </tr>
                                </tbody>
                                <tbody v-else>
                                    <tr>
                                        <td colspan="7" class="text-center" style="color: red; font-weight: bold" v-show="idcliente != 0" v-text="nota"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>                        
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    export default {
        props:['ruta'],
        data(){
            return{
                arrayEstado: [],
                idcliente: 0,
                cliente: '',
                arrayCliente: [],
                direccion: '',
                telefono : '',
                nota: '',
                idEstado: [],
            }
        },
        components:{
            vSelect,
        },
        computed:{
            EntradaTotal: function(){
                var suma = 0;
                for (let i = 0; i < this.arrayEstado.length; i++) {
                    suma = parseFloat(suma) + parseFloat(this.arrayEstado[i].Entrada);
                }
                return suma;
            },
            SalidaTotal: function(){
                var suma = 0;
                for (let i = 0; i < this.arrayEstado.length; i++) {
                    suma = parseFloat(suma) + parseFloat(this.arrayEstado[i].Salida);
                }
                return suma;
            },
        },
        methods:{
            cargarEstado(id){
                let me=this;
                var url = this.ruta+'/estadocuenta?id=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayEstado = respuesta.estado;
                    if (me.arrayEstado.length == 0) {
                        me.nota = 'El cliente no ha generado compras'
                    }
                })
                .catch(function (error) {
                    console.log(error);
                })
                //me.cargarId(id);
            },
            cargarId(id){
                let me=this;
                var url = this.ruta+'/estadocuenta/ids?id=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.idEstado = respuesta.idestado;
                    if (me.arrayEstado.length == 0) {
                        me.nota = 'El cliente no ha generado compras'
                    }
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            SeleccionarCliente(search,loading){
                let me=this;
                loading=true;
                var url = this.ruta+'/cliente/seleccionar?buscar='+search;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayCliente = respuesta.cliente;
                    loading=false;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            setCliente(value){
                let me = this;
                me.loading=true;
                me.idcliente = value.idCliente;
                me.direccion = value.Direccion;
                me.telefono = value.Telefono;
            },
        },
        mounted() {
            this.SeleccionarCliente();
        }
    }
</script>
<style>
    .div-error{
        display: flex;
        margin-left: 0.5rem;
        font-size: 12px;
    }
    .text-error{
        color:red !important;
        font-weight: bold;
        text-align: left;
    }
    .d-flex{
        display: flex;
    }
    .mt-2{
        margin-top: 2%;
    }
    .mr-1{
        margin-right: 3%;
    }
    .top1px{
        margin-top: -30px;
    }
    .btn{
        border: 1px solid;
    }
    .my-custom-scrollbar {
        position: relative;
        min-height: 10vh;
        max-height: 63vh;
        overflow: auto;
    }
    .table-wrapper-scroll-y {
        display: block;
    }
    
</style>
 