<template>
    <div class="content" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 card">
                    <div class="card-body">
                        <div class="row">
                            <div class="top1px">
                                <h4 class="text-center">Estadística de Venta</h4>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group">
                                    <label>Fecha Inicio:</label>
                                    <input type="date" v-model="fechainicio" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group">
                                    <label>Fecha Fin:</label>
                                    <input type="date" v-model="fechafin" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label>Filtro:</label>
                                    <select name="" id="" class="form-control" v-model="filtrado">
                                        <option value="">Seleccione Filtro...</option>
                                        <option value="Productos">Productos</option>
                                        <option value="Vendedores">Vendedores</option>
                                        <option value="Departamentos">Departamentos</option>
                                        <option value="Zonas">Zonas</option>
                                        <option value="Clientes">Clientes</option>
                                        <option value="TClientes">Tipo de Clientes</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-2 mt-2">
                                <a href="#openModal" class="btn btn-primary pull-left mr-1" ><i class="pe-7s-filter"></i> Filtrar</a>
                            </div>
                        </div>
                        <div class="row">                           
                            <div class="col-md-3">
                                <label for="">Eje Y</label>
                                <select name="" id="" class="form-control" v-model="ejeY">
                                    <option value="Categoria">Por Categoria</option>
                                    <option value="Producto">Por Producto</option>
                                    <option value="Cliente">Por Cliente</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="">Eje X</label>
                                <select name="" id="" class="form-control" v-model="ejeX">
                                    <option value="Vendedor">Por Vendedor</option>
                                    <option value="Zona">Por Zona</option>
                                    <option value="Mes">Por Mes</option>
                                </select>
                            </div>
                             <div class="col-md-3">
                                <label for="">Mostrar</label>
                                <select name="" id="" class="form-control" v-model="mostrar">
                                    <option value="Monto">Monto</option>
                                    <option value="Cantidad">Cantidad</option>
                                </select>
                            </div>
                            <div class="col-md-3" style="margin-top: 2em">
                                <button class="btn btn-success" @click="SeleccionarTabla(fechainicio, fechafin, mostrar,ejeY,ejeX)"> Ejecutar</button>
                                <button class="btn btn-warning"> Imprimir</button>
                            </div>
                        </div>
                        <div class="form-group row div-error" v-show="error">
                            <div  class="text-center text-error">
                                <ul>
                                    <li v-for="msjerror in ArrayError" :key="msjerror" v-text="msjerror"></li>
                                </ul>
                            </div>
                        </div>
                        <!-- CUADRO MODAL AGREGAR PRODUCTO -->
                        <div id="openModal" class="modalDialog">
                            <div class="row">
                                <div class="col-md-12">
                                    <!--<div class="row text-center">
                                        <div class="col-md-4"><button type="button" class="btn btn-dark">Deseleccionar Todos</button></div>
                                        <div class="col-md-4"><button type="button" class="btn btn-dark">Seleccionar Todos</button></div>
                                        <div class="col-md-4"><button type="button" class="btn btn-dark">Aceptar</button></div>
                                    </div>-->
                                    <div class="row col-md-12">
                                        <label for="">Buscar:</label>
                                        <input type="text" class="form-control" v-if="filtrado=='Productos'" v-model="buscar" @keydown.enter="SeleccionarProductos(buscar)" placeholder="Palabra clave + Enter">
                                        <input type="text" class="form-control" v-else-if="filtrado=='Vendedores'" v-model="buscar" @keydown.enter="SeleccionarVendedor(buscar)" placeholder="Palabra clave + Enter">
                                        <input type="text" class="form-control" v-else-if="filtrado=='Departamentos'" v-model="buscar" @keydown.enter="SeleccionarDepartamentos(buscar)" placeholder="Palabra clave + Enter">
                                        <input type="text" class="form-control" v-else-if="filtrado=='Zonas'" v-model="buscar" @keydown.enter="SeleccionarZonas(buscar)" placeholder="Palabra clave + Enter">
                                        <input type="text" class="form-control" v-else-if="filtrado=='Clientes'" v-model="buscar" @keydown.enter="SeleccionarCliente(buscar)" placeholder="Palabra clave + Enter">
                                    </div>
                                    <div class="contenidoModal row">
                                        <div class="col-md-8 scrolltable">
                                            <label for="">Tabla de Busqueda:</label>
                                            <div v-if="filtrado == 'Productos'" class="containertable">
                                                <table class="table table-bordered" >
                                                    <thead class="theadcont">
                                                        <th class="text-center" style="width: 15%;">Selecc.</th>
                                                        <th class="text-center" style="width: 25%;">Codigo</th>
                                                        <th class="text-center" style="width: 60%;">Nombre</th>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="text-center" v-for="prod in arrayProducto" :key="prod">
                                                            <td><input type="checkbox" name="" id="" :value="prod.Cod_Producto" v-model="selectProducto"></td>
                                                            <td v-text="prod.Cod_Producto"></td>
                                                            <td v-text="prod.Nombre"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div v-else class="containertable">
                                                <table class="table table-bordered">
                                                    <thead class="theadcont">
                                                        <th class="text-center" style="width: 15%;">Selecc.</th>
                                                        <th class="text-center" style="width: 60%;">Nombre</th>
                                                    </thead>
                                                    <tbody v-if="filtrado == 'TClientes'">
                                                        <tr class="text-center">
                                                            <td><input type="checkbox" value="Contado" v-model="selectTipo"></td>
                                                            <td>Contado</td>
                                                        </tr>
                                                        <tr class="text-center">
                                                            <td><input type="checkbox" value="Credito" v-model="selectTipo"></td>
                                                            <td>Crédito</td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody v-else-if="filtrado == 'Vendedores'">
                                                        <tr v-for="vend in arrayVendedor" :key="vend">
                                                            <td><input type="checkbox" :value="vend.Nombre" v-model="selectVendedor"></td>
                                                            <td v-text="vend.Nombre"></td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody v-else-if="filtrado == 'Zonas'">
                                                        <tr v-for="zona in arrayZonas" :key="zona">
                                                            <td><input type="checkbox" :value="zona.Nombre" v-model="selectZonas"></td>
                                                            <td v-text="zona.Nombre"></td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody v-else-if="filtrado == 'Clientes'">
                                                        <tr v-for="cliente in arrayCliente" :key="cliente">
                                                            <td><input type="checkbox" :value="cliente.Nombre" v-model="selectCliente"></td>
                                                            <td v-text="cliente.Nombre"></td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody v-else-if="filtrado == 'Departamentos'">
                                                        <tr v-for="dpto in arrayDepartamento" :key="dpto">
                                                            <td><input type="checkbox" :value="dpto.Nombre" v-model="selectDpto"></td>
                                                            <td v-text="dpto.Nombre"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <label for="">Datos Filtrados</label>
                                            <div class="containertable">
                                                <table class="table table-bordered table-full-width">
                                                    <thead>
                                                        <th>Tipo</th>
                                                        <th>Código</th>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size: 11px">Productos</td>
                                                            <td v-text="selectProducto" style="font-size: 11px"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 11px">Vendedores</td>
                                                            <td v-text="selectVendedor" style="font-size: 11px"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 11px">Departamentos</td>
                                                            <td v-text="selectDpto" style="font-size: 11px"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 11px">Zonas</td>
                                                            <td v-text="selectZonas" style="font-size: 11px"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 11px">Clientes</td>
                                                            <td v-text="selectCliente" style="font-size: 11px"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 11px">Tipo Clientes</td>
                                                            <td v-text="selectTipo" style="font-size: 11px"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pieModal">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button class="btn btn-success pull-right" style="margin-left:10px;">Agregar</button>
                                                <a href="#close" class="btn btn-danger pull-right" @click="Clear()">Cerrar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <!-- FIN DEL MODAL -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card"> 
                    <div class="table-responsive containertable1">                                                                                  
                        <table class="table table-bordered">
                            <thead class="theadcont1" > 
                                <tr v-if="ejeX == 'Vendedor'">
                                    <th class="thspecial" style="width: 6em;color: white; font-weight: bold">Eje Y  Eje X</th>
                                    <th v-for="vend in arrayVendedor" :key="vend" class="thspecial" v-text="vend.Nombre" style="color: white; font-weight: bold"></th>
                                </tr>
                                <tr v-else-if="ejeX == 'Zona'">
                                    <th class="thspecial" style="width: 6em;color: white; font-weight: bold">Eje Y  Eje X</th>
                                    <th v-for="zona in arrayZonas" :key="zona" class="thspecial" v-text="zona.Nombre" style="color: white; font-weight: bold"></th>
                                </tr>
                                <tr v-else-if="ejeX == 'Mes'">
                                    <th class="thspecial" style="width: 6em;color: white; font-weight: bold">Eje Y  Eje X</th>
                                    <th class="thspecial" style="color: white; font-weight: bold">Enero</th>
                                    <th class="thspecial" style="color: white; font-weight: bold">Febrero</th>
                                    <th class="thspecial" style="color: white; font-weight: bold">Marzo</th>
                                    <th class="thspecial" style="color: white; font-weight: bold">Abril</th>
                                    <th class="thspecial" style="color: white; font-weight: bold">Mayo</th>
                                    <th class="thspecial" style="color: white; font-weight: bold">Junio</th>
                                    <th class="thspecial" style="color: white; font-weight: bold">Julio</th>
                                    <th class="thspecial" style="color: white; font-weight: bold">Agosto</th>
                                    <th class="thspecial" style="color: white; font-weight: bold">Septiembre</th>
                                    <th class="thspecial" style="color: white; font-weight: bold">Octubre</th>
                                    <th class="thspecial" style="color: white; font-weight: bold">Noviembre</th>
                                    <th class="thspecial" style="color: white; font-weight: bold">Diciembre</th>
                                </tr>
                            </thead>
                            <tbody v-if="ejeX == 'Vendedor'" class="tbodycont1">
                                <tr v-for="cat in arrayDatos" :key="cat">
                                    <th class="text-center" style="font-size: 11px" v-text="cat.Producto"></th>
                                    <td class="text-center" v-text="cat.Adolfo_Torres"></td>
                                    <td class="text-center" v-text="cat.Ariel_Somoza"></td>
                                    <td class="text-center" v-text="cat.Casa_Matriz"></td>
                                    <td class="text-center" v-text="cat.Eduardo_Antonio_Martinez_Chavez"></td>
                                    <td class="text-center" v-text="cat.Erle_Vega"></td>
                                    <td class="text-center" v-text="cat.GUILLERMO_ALBERTO_ZACARIAS"></td>
                                    <td class="text-center" v-text="cat.Julio_Cesar_Martinez"></td>
                                    <td class="text-center" v-text="cat.Manuel_Lopez"></td>
                                    <td class="text-center" v-text="cat.Serguey_Suarez_Guevara"></td>
                                    <td class="text-center" v-text="cat.Tania_Lira"></td>
                                </tr>
                            </tbody>
                            <tbody v-else-if="ejeX == 'Zona'" class="tbodycont1">
                                <tr v-for="cat in arrayDatos" :key="cat">
                                    <th class="text-center" style="font-size: 11px" v-text="cat.Producto"></th>
                                    <td class="text-center" v-text="cat.Acoyapa"></td>
                                    <td class="text-center" v-text="cat.Bluefields"></td>
                                    <td class="text-center" v-text="cat.Boaco"></td>
                                    <td class="text-center" v-text="cat.Chichigalpa"></td>
                                    <td class="text-center" v-text="cat.Chinandega"></td>
                                    <td class="text-center" v-text="cat.Ciudad_Sandino"></td>
                                    <td class="text-center" v-text="cat.Condega"></td>
                                    <td class="text-center" v-text="cat.Dario"></td>
                                    <td class="text-center" v-text="cat.Diriamba"></td>
                                    <td class="text-center" v-text="cat.El_Viejo_Chinandega"></td>
                                    <td class="text-center" v-text="cat.Esteli"></td>
                                    <td class="text-center" v-text="cat.Granada"></td>
                                    <td class="text-center" v-text="cat.Jalapa"></td>
                                    <td class="text-center" v-text="cat.Jinotega"></td>
                                    <td class="text-center" v-text="cat.Jinotepe"></td>
                                    <td class="text-center" v-text="cat.Juigalpa"></td>
                                    <td class="text-center" v-text="cat.La_Trinidad"></td>
                                    <td class="text-center" v-text="cat.La_Trinidad2"></td>
                                    <td class="text-center" v-text="cat.Las_Mercedes"></td>
                                    <td class="text-center" v-text="cat.Leon"></td>
                                    <td class="text-center" v-text="cat.Managua"></td>
                                    <td class="text-center" v-text="cat.Masatepe"></td>
                                    <td class="text-center" v-text="cat.Masaya"></td>
                                    <td class="text-center" v-text="cat.Matagalpa"></td>
                                    <td class="text-center" v-text="cat.Nandaime"></td>
                                    <td class="text-center" v-text="cat.Ocotal"></td>
                                    <td class="text-center" v-text="cat.Posoltega"></td>
                                    <td class="text-center" v-text="cat.Puerto_Cabeza"></td>
                                    <td class="text-center" v-text="cat.Rama"></td>
                                    <td class="text-center" v-text="cat.Rivas"></td>
                                    <td class="text-center" v-text="cat.San_Isidro"></td>
                                    <td class="text-center" v-text="cat.San_Marcos"></td>
                                    <td class="text-center" v-text="cat.San_Rafael_del_Norte"></td>
                                    <td class="text-center" v-text="cat.Santo_Tomas"></td>
                                    <td class="text-center" v-text="cat.Sebaco"></td>
                                    <td class="text-center" v-text="cat.Somotillo"></td>
                                    <td class="text-center" v-text="cat.Somoto"></td>
                                    <td class="text-center" v-text="cat.Telica"></td>
                                    <td class="text-center" v-text="cat.Ticuantepe"></td>
                                    <td class="text-center" v-text="cat.Tipitapa"></td>
                                </tr>
                            </tbody>
                            <tbody v-else-if="ejeX == 'Mes'" class="tbodycont1">
                                <tr v-for="cat in arrayDatos" :key="cat">
                                    <th class="text-center" style="font-size: 11px" v-text="cat.Producto"></th>
                                    <td class="text-center" v-text="cat.Enero"></td>
                                    <td class="text-center" v-text="cat.Febrero"></td>
                                    <td class="text-center" v-text="cat.Marzo"></td>
                                    <td class="text-center" v-text="cat.Abril"></td>
                                    <td class="text-center" v-text="cat.Mayo"></td>
                                    <td class="text-center" v-text="cat.Junio"></td>
                                    <td class="text-center" v-text="cat.Julio"></td>
                                    <td class="text-center" v-text="cat.Agosto"></td>
                                    <td class="text-center" v-text="cat.Septiembre"></td>
                                    <td class="text-center" v-text="cat.Octubre"></td>
                                    <td class="text-center" v-text="cat.Noviembre"></td>
                                    <td class="text-center" v-text="cat.Diciembre"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                        
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    export default {
        props:['ruta'],
        data(){
            return{
                arrayVendedor: [],
                arrayZonas: [],
                arrayDatos: [],
                arrayProducto: [],
                arrayCliente: [],
                arrayDepartamento: [],
                filtrado: '',
                fechainicio: '',
                fechafin: '',
                ejeY: 'Categoria',
                ejeX: 'Vendedor',
                mostrar: 'Monto',
                error: 0,
                ArrayError: [],
                buscar: '',
                selectVendedor: [],
                selectZonas: [],
                selectProducto: [],
                selectCliente: [],
                selectTipo: [],
                selectDpto: [],
            }
        },
        components:{
            vSelect,
        },
        methods:{
            SeleccionarVendedor(buscar){
                let me=this;
                var url = this.ruta + '/vendedor/all?buscar='+buscar
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayVendedor = respuesta.vendedor;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            filtroVendedor(){
                let me = this;
                if (me.selectVendedor.length != 0) {
                    for (let i = 0; i < me.arrayVendedor.length; i++) {
                        for (let j = 0; j < me.selectVendedor.length; j++) {
                            if (me.arrayVendedor[i].Nombre == me.selectVendedor[j]) {
                                me.arrayVendedor.splice(i, 1);
                            }                            
                        }
                    }
                }
            },
            SeleccionarZonas(buscar){
                let me=this;
                var url = this.ruta + '/zona/all?buscar='+buscar
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayZonas = respuesta.zonas;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            SeleccionarProductos(buscar){
                let me=this;
                var url = this.ruta + '/producto/all?buscar='+buscar
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayProducto = respuesta.productos;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            SeleccionarTabla(inicio, fin,mostrar,ejey,ejex){
                if(this.validarfecha()){
                    return;
                }
                let me=this;
                var url = this.ruta + 'estadistica/catVend?Inicio='+inicio+'&Fin='+fin+'&Mostrar='+mostrar+'&EjeY='+ejey+'&EjeX='+ejex;
                axios.get(url).then(function (response) {
                    var respuestas = response.data; 
                    me.arrayDatos = respuestas.detalles;
                })
                .catch(function (error) {
                    console.log(error);
                })
                me.filtroVendedor();
            },
            SeleccionarCliente(buscar){
                let me=this;
                var url = this.ruta + '/cliente/all?buscar='+buscar;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayCliente = respuesta.clientes;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            SeleccionarDepartamentos(buscar){
                let me=this;
                var url = this.ruta + '/departamento/all?buscar='+buscar;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayDepartamento = respuesta.departamentos;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            Clear(){
                this.buscar=''; 
                this.SeleccionarVendedor(this.buscar);
                this.SeleccionarZonas(this.buscar);
                this.SeleccionarProductos(this.buscar);
                this.SeleccionarCliente(this.buscar);
                this.SeleccionarDepartamentos(this.buscar);
            },
            validarfecha(){
                this.error= 0;
                this.ArrayError=[];

                if(this.fechainicio == '') this.ArrayError.push('Agregar Fecha de Inicio');
                if(this.fechainicio == '') this.ArrayError.push('Agregar Fecha de Fin');
                if(this.ArrayError.length) this.error = 1;
                
                return this.error;
            }
        },
        mounted() {
            this.SeleccionarVendedor(this.buscar);
            this.SeleccionarZonas(this.buscar);
            this.SeleccionarProductos(this.buscar);
            this.SeleccionarCliente(this.buscar);
            this.SeleccionarDepartamentos(this.buscar);
        }
    }
</script>
<style>
    .div-error{
        display: flex;
        margin-left: 0.5rem;
        font-size: 12px;
    }
    .text-error{
        color:red !important;
        font-weight: bold;
        text-align: left;
    }
    .thspecial{
        font-size: 11.5px;
        font-weight: bold;
        text-align: center;
    }
    .scrolltable{
        overflow: auto;
    }
    .containertable{
        max-height: 25em;
        overflow: auto;
        position: relative;
    }
    .containertable1{
        max-height: 54vh;
        overflow: auto;
        position: relative;
    }
    .theadcont th{
        position: -webkit-sticky; /* for Safari */
        position: sticky;
        top: 0;
        background: #000;
        color: #FFF;
    }
    .theadcont1 th{
        position: -webkit-sticky; /* for Safari */
        position: sticky;
        top: 0;
        background: rgba(0, 0, 0);
    }
    .theadcont th:first-child {
        left: 0;
        z-index: 1;
    }
    .theadcont1 th:first-child{
        left: 0;
        z-index: 1;
    }
    .tbodycont1 th {
        position: -webkit-sticky; /* for Safari */
        position: sticky;
        left: 0;
        background:rgba(128, 128, 128, 0.801);
        color: white;
    }
</style>
 