<template>
    <div class="content portada">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="card bg-green">
                        <div class="card-header"><h5>Tasa de Cambio</h5></div>
                        <div class="card-body">
                            <h3 class="text-center">C$ {{cambio}}</h3>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-9">
                    <h2 class="titleHome">Bienvenido, {{nombreusuario}}</h2>
                    <a href="#TasaDolar" style="display: none" id="TasaValid"></a>
                    <a href="#ProdVenc" style="display: none" id="btnProdVenc"></a>
                </div>
            </div>
            <img :src="imagenportado" alt="Buenos dias" class="imgportada">
            
        </div>
        <div class="col-md-3 d-flex" style="margin-top:-25%" @click="irFactura()">
            <img :src="imagenfactura" width="200" class="imgbtnFactura" >
        </div>
        <!-- CUADRO MODAL IMPRIMIR CHEQUE POR BANCO ANULADO-->
            <div id="TasaDolar" class="modalDialog">
                <div style="width: 25%">
                    <h4 class="tituloModal">Agregar Tasa del Dia</h4>
                    <hr class="linetitle">
                    <div class="contenidoModal">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="">Dolar a Cordoba</label>
                                <input type="number" v-model="tasa" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <a style="display: none" id="cerrar" href="#close"></a>
                            </div>
                            <div>
                                <a class="btn btn-success btn-block mt-1" @click="registrarDolar()"> <i class="pe-7s-plus"></i> Agregar</a>
                            </div>
                            <div class="form-group row div-error" v-show="error">
                                <div class="text-center text-error">
                                    <ul>
                                        <li v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        <!-- FIN DEL MODAL -->
             <div id="ProdVenc" class="modalDialog">
                <div class="prodVenc">
                    <h4 class="tituloModal">Productos a Vencerse</h4>
                    <hr class="linetitle">
                    <div class="contenidoModal">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <th>Verif</th>
                                        <th>Producto</th>
                                        <th>Fecha Venc.</th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="producto in productos" :key="producto.idInventario">
                                            <td><a href="#" class="btn btn-success" @click.prevent="registrarProd(producto)"><i class="pe-7s-check"></i></a></td>
                                            <td v-text="producto.Nombre"></td>
                                            <td v-text="producto.FechaVenc"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="#close" class="btn btn-danger">Cerrar</a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        <!-- FIN DEL MODAL -->
    </div>
</template>

<script>
    export default {
        props:['ruta'],
        data(){
            return{
                nombreusuario: '',
                imagenportado: './img/LOGO-EL-CARPINTERO.png',
                imagenfactura: './img/Facturación-Electrónica-Icono-1024x1024.png',
                rsp: '',
                tasa: 0,
                cambio: 0,
                error: 0,
                txtvalidate: [],
                productos: [],

            }
        },
        methods:{
            NombreUser(){
                let me=this;
                var url = this.ruta + '/cxc/usuario';
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.nombreusuario = respuesta.usuario;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },

            irFactura(){
                document.getElementById('menufactura').click()
            },

            VerificarTasa(){
                let me=this;
                var url = this.ruta + '/dolar/verificar';
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.rsp = respuesta.rps;
                    me.validarTasa(me.rsp);
                })
                .catch(function (error) {
                    console.log(error);
                })
                this.SeleccionarTasa();
            },
            registrarDolar(){
                if (this.validarMonto()) {
                    return;
                }
                let me = this;  
                axios.post(this.ruta + '/dolar/registrar', {
                    'Cambio' : this.tasa,
                    })
                .then(function (response) {
                    me.validarTasa();
                    me.SeleccionarTasa();
                    me.rsp = '';
                    document.getElementById("cerrar").click();
                    if (this.productos.length > 0) {
                        document.getElementById("btnProdVenc").click();
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            validarTasa(respuesta){
                if (this.rsp == 'NO') {
                    document.getElementById("TasaValid").click();
                }
            },
            validarMonto(){
                this.error=0;
                this.txtvalidate = [];

                if(this.tasa == 0) this.txtvalidate.push("El monto no puede ser 0.");
            
                if(this.txtvalidate.length) this.error = 1;

                return this.error;
            },
            SeleccionarTasa(){
                let me=this;
                var url = this.ruta + '/dolar/seleccionar'
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    var Tcambio = parseFloat(respuesta.tasa[0].Cambio);
                    me.cambio = Tcambio.toFixed(2);
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            ProductosVencidos(){
                let me=this;
                var url = this.ruta + '/prodvenc';
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.productos = respuesta.productos;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            registrarProd(productos){
                let me=this;
                axios.post(this.ruta + '/prodvenc/registrar', {
                    'id' : productos.idInventario,
                    'Nombre': productos.Nombre,
                    'Fecha': productos.FechaVenc
                    })
                .then(function (response) {
                    me.ProductosVencidos();
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
        },
        mounted() {
            this.NombreUser();
            this.VerificarTasa();
            this.validarTasa();
            this.SeleccionarTasa();
            this.ProductosVencidos();
            setTimeout(() => {
                console.log(this.productos.length);
                if (this.productos.length > 0) {
                    document.getElementById("btnProdVenc").click();
                }
            }, 2000);
        }
    }

</script>
<style>
    .titleHome{
        margin: auto;
        margin-left: 15%;
    }
    .portada{
        background: whitesmoke;
    }
    .imgportada{
        height: 50vh;
        display: inherit;
        margin: auto;
    }
    .bg-green{
        background: #28a746da;
        color: white;
        font-weight: 600;
        padding: 2.5px;
    }
    .imgbtnFactura{
        margin-left: 10%;
        border-radius: 50%;
        transition: all .2s ease;
    }
    .imgbtnFactura:hover{
        transform: scale(0.95);
        cursor: pointer;
        border-radius: 50%;
    }
    .prodVenc{
        width: 25%;
        min-height: auto;
        max-height: 50vh;
        overflow: auto;
    }
</style>
