<template>
    <div class="content" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 card">
                    <div class="card-body">
                        <div class="row">
                            <div class="top1px">
                                <h4 class="text-center">Kardex</h4>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label>Producto:</label>
                                    <!--<v-select
                                        label="Nombre"
                                        placeholder= "Seleccione Producto"
                                        :options="arrayProducto"
                                        v-model="producto"
                                        :value="arrayProducto.idInventario"
                                        @input="setProducto"
                                    ></v-select>-->
                                    <v-select
                                        label="Nombre"
                                        placeholder= "Escriba un producto"
                                        @search="selectProducto"
                                        :options="arrayProducto"
                                        @input="setProducto"
                                        :value="arrayProducto.idInventario"
                                        v-model="producto"
                                    ></v-select>

                                </div>
                            </div>
                            <div class="col-md-6 col-lg-2">
                                <div class="form-group">
                                    <label>Fecha Inicio:</label>
                                    <input type="date" v-model="fechainicio" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-2">
                                <div class="form-group">
                                    <label>Fecha Fin:</label>
                                    <input type="date" v-model="fechafin" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-2 mt-2">
                                <button type="button" class="btn btn-primary pull-left mr-1" @click="cargarKardex(idproducto, fechainicio, fechafin, filtro)"><i class="pe-7s-search"></i></button>
                                <button type="button" class="btn btn-default pull-left" @click="printKardex(idproducto,fechainicio,fechafin)"><i class="pe-7s-print"></i></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-2">
                                <div class="form-group">
                                    <label>Mostrar:</label>
                                    <select class="form-control" v-model="filtro" @click="cargarKardex(idproducto, fechainicio, fechafin, filtro)">
                                        <option value="ninguno">Seleccione...</option>
                                        <option value="Factura">Factura</option>
                                        <option value="Salida">Salida</option>
                                        <option value="Entrada">Entrada</option>
                                        <option value="Compra">Compra</option>
                                        <option value="Devolucion">Devolución</option>
                                        <option value="S.Inicial">Saldo Inicial</option>
                                    </select>
                                    
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-2 mt-2">
                                <div class="form-group">
                                    <button class="btn btn-default" @click="SummaryKardex(fechainicio,fechafin)"><i class="pe-7s-print"></i> Resumen</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card"> 

                    <div class="content table-wrapper-scroll-y my-custom-scrollbar">                                                                                  
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover" >
                                <thead> 
                                    <th>Fecha</th>
                                    <th>Descripción</th>
                                    <th>Entrada</th>
                                    <th>Salida</th>
                                    <th>Total</th>
                                    <th>Observación</th>
                                </thead>
                                <tbody>
                                    <tr v-for="datos in arraykardex" :key="datos" >
                                        <td v-text="datos.Fecha"></td>
                                        <td v-text="datos.Descripcion"></td>
                                        <td v-text="datos.Entrada"></td>
                                        <td v-text="datos.Salida"></td>
                                        <td v-text="datos.Total"></td>
                                        <td v-text="datos.Observacion"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>                        
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    export default {
        props:['ruta'],
        data(){
            return{
                arraykardex: [],
                idproducto: 0,
                producto: '',
                arrayProducto: [],
                fechainicio: '',
                fechafin: '',
                filtro: 'ninguno'
            }
        },
        components:{
            vSelect,
        },
        methods:{
            cargarKardex(id, inicio, fin, filtro){
                let me=this;
                var url = this.ruta + '/kardex?idProd=' + id + '&Inicio=' + inicio + '&Fin=' + fin + '&Filtro='+filtro;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arraykardex = respuesta.kardex;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            /*SeleccionarProducto(){
                let me=this;
                var url = this.ruta + '/producto/seleccionar'
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayProducto = respuesta.producto;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            selectProducto(search,loading){
                let me = this;
                loading(true)

                var url = this.ruta + '/producto/seleccionar?buscar='+search;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayProducto = respuesta.producto;

                    loading(false)
                })
                .catch(function (error) {
                    console.log(error);
                })
            },*/
            
            selectProducto: _.debounce(function (search,loading){
                let me = this;
                //loading(true)

                var url = this.ruta + '/producto/seleccionar';
                axios.post(url,{
                    'buscar': search,
                })
                .then(function (response) {
                    var respuesta = response.data; 
                    me.arrayProducto = respuesta.producto;
                })
                .catch(function (error) {
                    console.log(error);
                })
                }, 300),
            setProducto(value){
                let me = this;
                me.loading = true;
                me.idproducto = value.idInventario;
            },
            printKardex(id, inicio, fin){
                let me = this;
                //var url = this.ruta + '/kardex/print/'+id+'/'+inicio+'/'+fin;
                /*var url = this.ruta + '/kardex/print/';
                axios.get(url,{
                    params:{
                        'idProd': id,
                        'Inicio': inicio,
                        'Fin': fin
                    }
                }).then(function ()  {*/
                    window.open(me.ruta+'/kardex/print/'+id+'/'+inicio+'/'+fin);
                /*})
                .catch(function(error){
                    console.log(error);
                })*/
            },

            SummaryKardex(inicio, fin){
                let me  = this;
                window.open(me.ruta+'/kardex/summary/'+inicio+'/'+fin);
            }
        },
        mounted() {
            //this.SeleccionarProducto();
        }
    }
</script>
<style>
    .div-error{
        display: flex;
        margin-left: 0.5rem;
        font-size: 12px;
    }
    .text-error{
        color:red !important;
        font-weight: bold;
        text-align: left;
    }
    .d-flex{
        display: flex;
    }
    .mt-2{
        margin-top: 2%;
    }
    .mr-1{
        margin-right: 3%;
    }
    .top1px{
        margin-top: -30px;
    }
    .btn{
        border: 1px solid;
    }
    .my-custom-scrollbar {
        position: relative;
        min-height: 10vh;
        max-height: 80vh;
        overflow: auto;
    }
    .table-wrapper-scroll-y {
        display: block;
    }
</style>
 