<template>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- FORMULARIO -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="header">
                            <h4 class="title" v-text="titulo"></h4>
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control" placeholder="Marca.." id="txtNombre" v-model="nombre">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row div-error" v-show="errorMarca">
                                <div class="text-center text-error">
                                    <div v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror">            
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary pull-left btnhidden" id="btnnew" @click="EnableTxt" v-if="$can('marca.store') && tipoBtn==1"><i class="pe-7s-plus"></i> Nuevo</button>
                            <button type="button" class="btn btn-warning pull-right" id="" v-if="$can('marca.update') && tipoBtn==2" @click="actualizarMarcas()"><i class="pe-7s-diskette"></i> Actualizar</button>
                            <button type="button" class="btn btn-success pull-right" id="btnAdd" v-if="$can('marca.store')" @click="registrarMarcas()"><i class="pe-7s-check"></i> Agregar</button>
                            <button type="reset" class="btn btn-danger pull-right" id="btnReset" @click="DisableTxt"><i class="pe-7s-close"></i> Cancelar</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>          
                </div>

                <!--   TABLA -->
                <div class="col-md-8">
                    <div class="card"> 
                        <div class="header">
                            <div class="form-group">
                                <p style="display: inline;" >Buscar:</p>
                                <input type="text" v-model="buscar" class="txtbuscar" placeholder="Buscar..." id="txtBuscar" @keyup.enter="listarMarcas(1, buscar)">
                                <img :src="imgbuscar" class="img-sidebar">
                            </div>
                        </div>
                        <div class="content">                                                                                  
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped" >
                                    <thead> 
                                        <th>Opciones</th>
                                        <th>Nombre</th>
                                        <th>Estado</th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="marca in arrayMarca" :key="marca.idMarca">
                                            <td style="width: 25%">
                                                <div v-if="marca.Estado == 'Activo'">
                                                    <button type="button" class="btn btn-warning" v-if="$can('marca.update')" @click="getMarca(marca)"><i class="pe-7s-pen"></i></button>
                                                    <button type="button" class="btn btn-danger" v-if="$can('marca.inactive')" @click="deshabilitarMarcas(marca.idMarca)" ><i class="pe-7s-trash"></i></button>
                                                </div>
                                                <div v-else>
                                                    <button type="button" class="btn btn-warning" v-if="$can('marca.update')" @click="getMarca(marca)" id="btnEdit"><i class="pe-7s-pen"></i></button>
                                                    <button type="button" class="btn btn-success" v-if="$can('marca.active')" @click="habilitarMarcas(marca.idMarca)" ><i class="pe-7s-check"></i></button>
                                                </div>
                                            </td>
                                            <td v-text="marca.Nombre"></td>
                                            <td v-text="marca.Estado"></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <ul class="pagination">
                                            <li class="page-item" v-if="pagination.current_page > 1">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page - 1, buscar)">&laquo;</a>
                                            </li>
                                            <li class="page-item" v-for="page in pagesNumber" :key="page" :class= "[ page == isActived ? 'active' : '' ]" >
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(page, buscar)" v-text="page"></a>
                                            </li>
                                            <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page + 1, buscar)">&raquo;</a>
                                            </li>
                                        </ul>
                                    </tfoot>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:['ruta'],
        data(){
            return{
                idMarca: 0,
                nombre: '',
                estado: '',
                titulo: 'Marcas',
                arrayMarca: [],
                errorMarca: 0,
                txtvalidate: [],
                tipoBtn: 1,
                pagination: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                },
                offset: 3,
                buscar: '', 
                imgbuscar: './img/icons8_search1_32.png',

            }
        },
        computed: {
            isActived: function() {
                return this.pagination.current_page;
            },
            pagesNumber: function() {
                if(!this.pagination.to){
                    return [];
                }

                var from = this.pagination.current_page - this.offset; 
                if(from < 1){
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }
        },
        methods:{
            listarMarcas(page, buscar){
                let me=this;
                var url = this.ruta + '/marca?page=' + page +'&buscar=' + buscar;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayMarca = respuesta.marca.data;
                    me.pagination = respuesta.pagination;
                    $("#txtBuscar").focus();
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            cambiarPagina(page, buscar){
                let me = this;
                me.pagination.current_page = page;
                me.listarMarcas(page, buscar);
            },
            registrarMarcas(){
                if (this.ValidateMarca()) {
                    return;
                }
                let me = this;
                axios.post(this.ruta + '/marca/registrar', {
                    'nombre' : this.nombre,
                    })
                .then(function (response) {
                    me.listarMarcas(1, '');
                    me.ClearTxt();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
           
            actualizarMarcas(){
                if (this.ValidateMarca()) {
                    return;
                }
                let me = this;
                axios.put(this.ruta + '/marca/actualizar', {
                    'idMarca': this.idMarca,
                    'nombre' : this.nombre,
                    })
                .then(function (response) {
                    me.listarMarcas(1, '');
                    me.DisableTxt();
                    $("#btnReset").toggle();
                    $("#btnAdd").toggle();
                    me.tipoBtn = 1;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            deshabilitarMarcas(id){
                this.idMarca = id;
                Swal.fire({
                title: '¿Desea Deshabilitar?',
                text: "No se mostrar en otros registro",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Deshabilitar',
                cancelButtonText: 'Cancelar',
                showClass: {
                    popup: 'animated fadeInDown faster'
                },
                hideClass: {
                    popup: 'animated fadeOutUp faster'
                }
                }).then((result) => {
                    if (result.value) {
                    let me = this;
                    axios.put(this.ruta + '/marca/inactive', {
                        'idMarca' : this.idMarca,
                        })
                    .then(function (response) {
                        Swal.fire(
                        'Deshabilitado',
                        'No se mostrará en los registro',
                        'Existoso'
                        )
                        me.listarMarcas(1, '');
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                    }     
                    
                })
            },   
            habilitarMarcas(id){
                this.idMarca = id;
                Swal.fire({
                title: '¿Desea Habilitar?',
                text: "No se mostrar en otros registro",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Habilitar',
                cancelButtonText: 'Cancelar',
                showClass: {
                    popup: 'animated fadeInDown faster'
                },
                hideClass: {
                    popup: 'animated fadeOutUp faster'
                }
                }).then((result) => {
                    if (result.value) {
                    let me = this;
                    axios.put(this.ruta + '/marca/active', {
                        'idMarca' : this.idMarca,
                        })
                    .then(function (response) {
                        Swal.fire(
                        'Habilitado',
                        'Esta disponible en los registro',
                        'Existoso'
                        )
                        me.listarMarcas(1, '');
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                    }
                })
            },
            DisableTxt(){
                $("#txtNombre").prop( "disabled", true );
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle();
                this.nombre= '';
                this.titulo= 'Marcas';
                this.errorMarca= 0;
                this.txtvalidate= [];
                this.tipoBtn=1;
                
                this.EnabledButon();
            },
            EnableTxt(){
                $("#txtNombre").prop( "disabled", false );
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle();
                this.titulo = 'Agregar Marca';

                this.DesabledButton();
            },
            DesabledButton(){
                $("tbody > tr > td").find("button").prop( "disabled", true );
                $("tfoot").css("display", "none");
            },
            EnabledButon(){
                $("tbody > tr > td").find("button").prop( "disabled", false );
                $("tfoot").css("display", "inherit");
            },
            ClearTxt(){
                this.nombre = '';
            },
            ValidateMarca(){
                this.errorMarca = 0;
                this.txtvalidate = [];

                if (!this.nombre) this.txtvalidate.push("*El nombre de marca no puede estar vacío.");
                
                if(this.txtvalidate.length) this.errorMarca = 1;

                return this.errorMarca;
            },
            getMarca(data=[]){
                this.tipoBtn=2;
                $("#txtNombre").prop( "disabled", false );
                this.titulo = 'Actualizar Marca'
                this.idMarca = data['idMarca'];
                this.nombre = data['Nombre'];
            }
        },
        mounted() {
            this.listarMarcas(1, this.buscar);
            this.DisableTxt();
        }
    }
</script>
<style>
    .div-error{
        display: flex;
        margin-left: 0.5rem;
        font-size: 12px;
    }
    .text-error{
        color:red !important;
        font-weight: bold;
    }
</style>