<template>
    <div class="content" >
        <div class="container-fluid">
            <div class="row">
                <!--   TABLA -->
                <div class="col-md-12 collapse in" id="tabla">
                    <div class="card mb-30"> 
                        <div class="header">
                            <div class="form-group" style="display: inline-block;">
                                <p style="display: inline;" >Buscar:</p>
                                <select name="Filtro" class="select-css" v-model="filtro">
                                    <option value="nd.idNota">No. Nota</option>
                                    <option value="c.Nombre">Cliente</option>
                                    <option value="t.NumeracionInicial">No.Recibo</option>
                                </select>
                                <input type="text" v-model="buscar" class="txtbuscar" placeholder="Buscar..." id="txtBuscar"  @keyup.enter="listarNotas(1, buscar,filtro)">
                                <img :src="imgbuscar" class="img-sidebar">
                            </div>
                        </div>
                        <div class="content">                                                                                  
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped" >
                                    <thead> 
                                        <th>Opción</th>
                                        <th>Nota Deb</th>
                                        <th>Cliente</th>
                                        <th>Recibo</th>
                                        <th>Monto C$</th>
                                        <th>Estado</th>
                                        <th>F.Registro</th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="Nota in arrayNotas" :key="Nota.idNota" :style="Nota.Estado == 'Aplicado'?'color:green':''">
                                            <td v-if="Nota.Estado != 'Aplicado'">
                                                <button type="button" class="btn btn-warning" v-if="$can('notad.update')" @click="accesoModificar(Nota.idNota)"><i class="pe-7s-edit"></i></button>
                                                <button type="button" class="btn btn-default" v-if="$can('notad.apply')" @click="accesoAplicar(Nota.idNota)"><i class="pe-7s-ticket"></i></button>
                                                <a style="display: none" href="#openModal" id="btnmodal1"></a>                                                    
                                                <a style="display: none" href="#openModal2" id="btnmodal2"></a>                                                    
                                            </td>
                                            <td v-else>
                                                <button type="button" class="btn btn-warning" disabled><i class="pe-7s-edit"></i></button>
                                                <button type="button" class="btn btn-default" disabled><i class="pe-7s-ticket"></i></button>
                                            </td>
                                            <td v-text="Nota.idNota"></td>
                                            <td v-text="Nota.Cliente"></td>
                                            <td v-text="Nota.Recibo"></td>
                                            <td>{{parseFloat(Nota.Monto).toFixed(2)}}</td>
                                            <td v-text="Nota.Estado" v-if="Nota.Estado != 'Aplicado'"></td>
                                            <td v-else v-text="Nota.Estado + ' # Fact: ' + Nota.idFactAplic"></td>
                                            <td v-text="Nota.FechaRegistro"></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <ul class="pagination d-flex">
                                            <li class="page-item" v-if="pagination.current_page > 1">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page - 1, buscar,filtro)">&laquo;</a>
                                            </li>
                                            <li class="page-item" v-for="page in pagesNumber" :key="page" :class= "[ page == isActived ? 'active' : '' ]" >
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(page, buscar,filtro)" v-text="page"></a>
                                            </li>
                                            <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page + 1, buscar,filtro)">&raquo;</a>
                                            </li>
                                        </ul>
                                    </tfoot>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
            <!-- Muestra el modal para actualizar el monto-->
            <div id="openModal" class="modalDialog">
                <div>
                    <a href="#close" title="Close" class="close">X</a>
                    <h4 class="tituloModal">Modificar Nota</h4>
                    <hr class="linetitle">
                    <div class="contenidoModal">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Cliente</label>
                                <input type="text" class="form-control" v-model="cliente" disabled>
                            </div>
                            <div class="col-md-6">
                                <label>Recibo Generador</label>
                                <input type="text" class="form-control" v-model="recibo" disabled>
                            </div>
                            <div class="col-md-6">
                                <label>Vendedor</label>
                                <input type="text" class="form-control" v-model="vendedor" disabled>
                            </div>
                            <div class="col-md-6">
                                <label>Zona</label>
                                <input type="text" class="form-control" v-model="zona" disabled>
                            </div>
                            <div class="col-md-6">
                                <label>Fecha de Registro</label>
                                <input type="text" class="form-control" v-model="fecha" disabled>
                            </div>
                            <div class="col-md-6">
                                <label>Monto</label>
                                <input type="text" class="form-control" v-model="monto">
                            </div>
                        </div>
                        <div class="form-group row div-error" v-show="errorNota">
                            <div class="text-center text-error">
                                <ul>
                                    <li v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="pieModal">
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-warning pull-right" style="margin-left:10px;" v-if="$can('notad.update')" @click="ActualizarNota()">Modificar</button>
                                    <a href="#close" class="btn btn-danger pull-right" id="close1">Cerrar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- muestra el modal para aplicar la nota a una factura -->
            <div id="openModal2" class="modalDialog">
                <div>
                    <a href="#close" title="Close" class="close">X</a>
                    <h4 class="tituloModal">Modificar Nota</h4>
                    <hr class="linetitle">
                    <div class="contenidoModal">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Cliente</label>
                                <input type="text" class="form-control" v-model="cliente" disabled>
                            </div>
                            <div class="col-md-6">
                                <label>Recibo Generador</label>
                                <input type="text" class="form-control" v-model="recibo" disabled>
                            </div>
                            <div class="col-md-6">
                                <label>Vendedor</label>
                                <input type="text" class="form-control" v-model="vendedor" disabled>
                            </div>
                            <div class="col-md-6">
                                <label>Zona</label>
                                <input type="text" class="form-control" v-model="zona" disabled>
                            </div>
                            <div class="col-md-6">
                                <label>Fecha de Registro</label>
                                <input type="text" class="form-control" v-model="fecha" disabled>
                            </div>
                            <div class="col-md-6">
                                <label>Monto</label>
                                <input type="text" class="form-control" v-model="monto" disabled>
                            </div>
                            <div class="col-md-12">
                                <label>Facturas sin cancelar</label>
                                 <v-select
                                    label="idFactura"
                                    placeholder= "Seleccione No. Factura"
                                    :options="arrayfactura"
                                    v-model="idfactura"
                                    :value="arrayfactura.idFactura"
                                    @input="setFactura"
                                ></v-select>
                            </div>
                            <div class="col-md-6">
                                <label>Saldo Actual</label>
                                <input type="text" class="form-control" v-model="saldorest" disabled>
                            </div>
                            <div class="col-md-6">
                                <label>Saldo Restante</label>
                                <input type="text" class="form-control" v-model="saldorestante = SaldoPendiente">
                            </div>
                        </div>
                        <div class="form-group row div-error" v-show="errorNota">
                            <div class="text-center text-error">
                                <ul>
                                    <li v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="pieModal">
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-primary pull-right" style="margin-left:10px;" v-if="$can('notad.apply')" @click="AplicarNota()">Aplicar</button>
                                    <a href="#close" class="btn btn-danger pull-right" id="close2">Cerrar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
</template>
 
<script>
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    export default {
        props:['ruta'],
        data(){
            return{
                disabledvue: 'true',
                idNota: 0,
                titulo: 'Notas',
                Nota: [],
                idcliente: 0,
                cliente: '',
                idfactura: 0,
                factura: '',
                arrayfactura: [], 
                vendedor: '',
                zona: '',
                monto: 0,
                recibo: 0,
                total: 0,
                totalant: 0,
                saldorestante: 0,
                fecha: '',
                arrayNotas: [],
                arraydatos: [],
                idNota: 0,
                saldorest: 0,
                errorNota: 0,
                txtvalidate: [],
                tablamostrar: true,
                tipoBtn: 1,
                cambio: 0,
                tipofrm: 'crear',
                pagination: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                },
                offset: 3,
                buscar: '', 
                filtro: 'nd.idNota',
                fecha : '',
                rsp: '',
                imgbuscar: './img/icons8_search1_32.png',

            }
        },
        computed: {
            isActived: function() {
                return this.pagination.current_page;
            },
            pagesNumber: function() {
                if(!this.pagination.to){
                    return [];
                }

                var from = this.pagination.current_page - this.offset; 
                if(from < 1){
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            },         
            SaldoPendiente: function(){
                var saldo = this.saldorest;
                var saldoactual = 0;
                saldoactual = saldo - this.monto;
                return saldoactual;
            },
        },
        components:{
            vSelect,
        },
        methods:{
            listarNotas(page, buscar,filtro){
                let me=this;
                var url = this.ruta + '/notad?page=' + page +'&buscar=' + buscar + '&filtro='+filtro;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayNotas = respuesta.notas.data;
                    me.pagination = respuesta.pagination;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            cargarFactura(id){
                this.disabledvue = false;
                let me=this;
                var url = this.ruta + '/factura/clientes?idCliente=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayfactura = respuesta.facturas;
                })
                .catch(function (error) {
                    console.log(error);
                })
                $("#txtAbono").prop('disabled', false);
            },
            setFactura(value){
                let me = this;
                me.idfactura = value.idFactura;
                me.saldorest = parseFloat(value.SaldoRestante).toFixed(2);
                me.vendedor = value.Vendedor;
            },    
            ActualizarNota(){
                if(this.ValidateNotas()){
                    return;
                }
                let me = this;
                axios.put(this.ruta + '/notad/actualizar', {
                    'idNota': this.idNota,
                    'Monto' : this.monto,
                    })
                .then(function (response) {
                    me.listarNotas(1,'','nd.idNota');
                    me.ClearTxt();
                    document.getElementById("close1").click();

                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            AplicarNota(){
                if(this.ValidateNotas2()){
                    return;
                }
                let me = this;
                axios.put(this.ruta + '/notad/aplicar', {
                    'idNota': this.idNota,
                    'idFactura' : this.idfactura,
                    })
                .then(function (response) {
                    me.listarNotas(1,'','nd.idNota');
                    me.ClearTxt();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            cambiarPagina(page, buscar, filtro){
                let me = this;
                me.pagination.current_page = page;
                me.listarNotas(page, buscar, filtro);
            },
            accesoModificar(id){
               Swal.fire({
               title: 'Ingrese la contraseña de acceso',
                input: 'password',
                inputPlaceholder: '',
                inputAttributes: {
                    autocapitalize: 'off',
                },
                imageUrl: './img/pass.png',
                imageWidth: 125,
                imageHeight: 100,
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Verificar',
                cancelButtonText: 'Cancelar',
                }).then((result) => {
                    if (result.value) {
                        let me=this;
                        var url = this.ruta + '/notad/contraseña?contraseña=' + result.value;
                        axios.get(url).then(function (response) {
                            var respuesta = response.data; 
                            if (respuesta.verificar.length != 0) {
                                me.rsp = respuesta.verificar[0].Nombre;
                                if (me.rsp == 'Universal') {
                                    me.getNota(id);
                                    document.getElementById("btnmodal1").click();
                                } else {
                                    Swal.fire(
                                    'ERROR',
                                    'Contraseña Incorrecta',
                                    'error'
                                    )
                                    me.listarNotas(1,'','nd.idNota');
                                }
                               
                            } else{
                                Swal.fire(
                                    'ERROR',
                                    'Contraseña Incorrecta',
                                    'error'
                                    )
                                    me.listarNotas(1,'','nd.idNota');
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                    }     
                })
            },
            accesoAplicar(id){
               Swal.fire({
               title: 'Ingrese la contraseña de acceso',
                input: 'password',
                inputPlaceholder: '',
                inputAttributes: {
                    autocapitalize: 'off',
                },
                imageUrl: './img/pass.png',
                imageWidth: 125,
                imageHeight: 100,
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Verificar',
                cancelButtonText: 'Cancelar',
                }).then((result) => {
                    if (result.value) {
                        let me=this;
                        var url = this.ruta + '/notad/contraseña?contraseña=' + result.value;
                        axios.get(url).then(function (response) {
                            var respuesta = response.data; 
                            if (respuesta.verificar.length != 0) {
                                me.rsp = respuesta.verificar[0].Nombre;
                                if (me.rsp == 'Universal') {
                                    me.getNota2(id);
                                    document.getElementById("btnmodal2").click();
                                } else {
                                    Swal.fire(
                                    'ERROR',
                                    'Contraseña Incorrecta',
                                    'error'
                                    )
                                    me.listarNotas(1,'','nd.idNota');
                                }
                               
                            } else{
                                Swal.fire(
                                    'ERROR',
                                    'Contraseña Incorrecta',
                                    'error'
                                    )
                                    me.listarNotas(1,'','nd.idNota');
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                    }     
                })
            },      
            DisableFunction(){
                this.DisableTxt();
                this.titulo= 'Nota';
                this.errorNota= 0;
                this.txtvalidate= [];
                this.detalleventa= [];
                this.tipoBtn=1;
                this.disabledvue= true;
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle();

                this.ClearTxt();
                this.EnabledButon();

                $("#tabla").addClass("in");
                $("#txtBuscar").focus();

            },
            DisableTxt(){
                $("#txtCodigo").prop( "disabled", true );
                $("#txtCodigoB").prop( "disabled", true );
                $("#txtNombre").prop( "disabled", true );
                $("#txtNombreOrig").prop( "disabled", true );
                $("#txtStock").prop( "disabled", true );
                $("#txtUnidad").prop( "disabled", true );


                $("#txtBuscar").prop( "disabled", false );

            },
            EnableFunction(){
                this.tipofrm = 'crear';
                this.titulo = 'Registrar Nota';
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle(); 
                this.SeleccionarCliente();
                this.SeleccionarTasa();
                this.disabledvue1= false;
                this.EnableTxt();

                $("#tabla").removeClass("in");
                this.DesabledButton();

                $("#txtAbono").prop('disabled', true);
            },
            EnableTxt(){
                $("#txtCodigo").prop( "disabled", false );
                $("#txtCodigoB").prop( "disabled", false );
                $("#txtNombre").prop( "disabled", false );
                $("#txtNombreOrig").prop( "disabled", false );
                $("#txtStock").prop( "disabled", false );
                $("#txtUnidad").prop( "disabled", false );
            },
            DesabledButton(){
                $("tbody > tr > td").find("button").prop( "disabled", true );
                $("tfoot").css("display", "none");
            },
            EnabledButon(){
                $("tbody > tr > td").find("button").prop( "disabled", false );
                $("tfoot").css("display", "inherit");
            },
            ClearTxt(){
                this.Nota = [];
                this.idcliente= 0;
                this.cliente= '';
                this.idfactura= 0;
                this.factura= '';
                this.arrayfactura= [];
                this.arraydatos = [];
                this.vendedor= '';
                this.zona= '';
                this.monto= 0;
                this.idvendedor= 0;
                this.total= 0;
                this.totalNota= 0;
                this.totalant= 0;
                this.fecha= '';
                this.zona= '';
                this.idNota = 0;
                this.saldorest = 0;
                this.recibo = 0;
                this.errorNota = 0;
                this.txtvalidate = [];
            },
            ValidateNotas(){
                this.errorNota = 0;
                this.txtvalidate = [];

                if (this.monto < 0) this.txtvalidate.push("Verifique, el monto no puede ser negativo");
                
                if(this.txtvalidate.length) this.errorNota = 1;

                return this.errorNota;
            },
            ValidateNotas2(){
                this.errorNota = 0;
                this.txtvalidate = [];

                if (this.saldorestante <= 0) this.txtvalidate.push("No puede cancelar una factura con una nota de debito");
                
                if(this.txtvalidate.length) this.errorNota = 1;

                return this.errorNota;
            },
            cerrarUpdate(){
                this.titulo = 'Nota';
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle(); 

                $("#collapseForm").removeClass("in");
                $("#collapseForm").removeClass("show");
                $("#tabla").addClass("in");
                this.disabledvue1= true;

                $("#txtAbono").prop('disabled', true);
                this.ClearTxt();
                this.EnabledButon();
                this.arraydatos= [];
            },
            getNota(id){
                let me=this;
                var url = this.nota + '/notad/datos?id=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arraydatos = respuesta.nota;
                    me.idNota = me.arraydatos[0].idNota;
                    me.monto = parseFloat(me.arraydatos[0].Monto).toFixed(2);
                    me.cliente = me.arraydatos[0].Cliente;
                    me.idcliente = me.arraydatos[0].idCliente;
                    me.zona = me.arraydatos[0].Zona;
                    me.vendedor =  me.arraydatos[0].Vendedor;
                    me.recibo = me.arraydatos[0].Recibo;
                    me.fecha =  me.arraydatos[0].FechaRegistro;
                })
                .catch(function (error) {
                    console.log(error);
                }),
               
                $("#txtAbono").prop('disabled', false);
            },
            getNota2(id){
                let me=this;
                var url = this.nota + '/notad/datos?id=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arraydatos = respuesta.nota;
                    me.idNota = me.arraydatos[0].idNota;
                    me.monto = parseFloat(me.arraydatos[0].Monto).toFixed(2);
                    me.cliente = me.arraydatos[0].Cliente;
                    me.idcliente = me.arraydatos[0].idCliente;
                    me.zona = me.arraydatos[0].Zona;
                    me.vendedor =  me.arraydatos[0].Vendedor;
                    me.recibo = me.arraydatos[0].Recibo;
                    me.fecha =  me.arraydatos[0].FechaRegistro;
                    me.cargarFactura(me.arraydatos[0].idCliente);
                })
                .catch(function (error) {
                    console.log(error);
                }),
               
                $("#txtAbono").prop('disabled', false);
            },
            cerrarView(){
                this.tipofrm="crear",
                this.titulo= "Nota",
                $("#collapseForm").removeClass('in');
                $("#tabla").addClass('in');
                this.ClearTxt();
                this.EnabledButon();
                this.arraydatos= [];
            },
        },
        mounted() {
            this.listarNotas(1, this.buscar,this.filtro);
            this.DisableFunction();
        }
    }
</script>
<style>
    .div-error{
        display: flex;
        margin-left: 0.5rem;
        font-size: 12px;
    }
    .text-error{
        color:red !important;
        font-weight: bold;
        text-align: left;
    }
    .text-error{
        color:red !important;
        font-weight: bold;
        text-align: left;
    }
    .linetitle{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .titleEnc{
        display: block;
        text-align: center;
        font-weight: bold;
    }
    .info{
        font-size: 14px;
    }
    .d-flex{
        display: flex;
    }
    .mb-30{
        margin-bottom: 0px;
    }
    .btn{
        border: 1px solid;
    }
    .contenidoModal{
        margin: 25px 0px;
    }
    .modalDialog {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.3);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 0ms ease-in;
        -moz-transition: opacity 0ms ease-in;
        transition: opacity 0ms ease-in;
        pointer-events: none;
    }
    .modalDialog:target {
        opacity:1;
        pointer-events: auto;
    }
    .modalDialog > div {
        width: 50%;
        position: relative;
        margin: 5% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 3px;
        background: #fff;
        -webkit-transition: opacity 0ms ease-in;
        -moz-transition: opacity 0ms ease-in;
        transition: opacity 0ms ease-in;
    }
    .close {
        background: hsl(0, 50%, 60%);
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }
    .close:hover { background: hsl(0, 80%, 50%); color: white; }
    .vs__dropdown-menu{
        color: red;
    }
</style> 