<template>
    <div class="content" >
        <div class="container-fluid">
            <div class="row">
                <!-- FORMULARIO -->
                <div class="col-md-12 pReturn collapse" id="collapseForm">
                    <div class="card">
                        <div class="header">
                            <h4 class="title" v-text="titulo"></h4>
                        </div>
                        <div class="content">
                         <!-- MUESTRA EL FORMULARIO PARA generar una Nota -->
                            <div v-show="tipofrm=='crear'">
                                <div class="tab-content">
                                    <div class="tab-pane fade in active">
                                        <div class="row">
                                            <div class="col-md-6 col-lg-4">
                                                <div class="form-group">
                                                    <label>Cliente:</label>
                                                    <v-select
                                                        label="Nombre"
                                                        placeholder= "Seleccione Cliente"
                                                        :options="arrayCliente"
                                                        v-model="cliente"
                                                        :value="arrayCliente.idCliente"
                                                        @input="setCliente"
                                                    ></v-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <div class="form-group">
                                                    <label>No. Factura:</label>
                                                    <v-select
                                                        label="idFactura"
                                                        placeholder= "Seleccione No. Factura"
                                                        :options="arrayfactura"
                                                        v-model="idfactura"
                                                        :value="arrayfactura.idFactura"
                                                        @input="setFactura"
                                                    ></v-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <label>Zona</label>
                                                    <input type="text" v-model="zona" disabled class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <div class="form-group">
                                                    <label>Vendedor</label>
                                                    <input type="text" v-model="vendedor" disabled class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-lg-3">
                                                <div class="form-group">
                                                    <label>Cambio $:</label>
                                                    <input type="text" v-model="cambio" class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <div class="form-group">
                                                    <label>Motivo de Nota:</label>
                                                    <v-select
                                                        placeholder= "Seleccione Motivo"
                                                        :options="['Desc. Pronto Pago','Cheque sin Fondo','Varios']"
                                                        v-model="motivo"
                                                    ></v-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3 mostrardiv">
                                                <div class="form-group">
                                                    <label>Monto</label>
                                                    <input type="text" v-model="monto" class="form-control" id="txtAbono">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3 mostrardiv">
                                                <div class="form-group">
                                                    <label>Total Deuda</label>
                                                    <input type="text" v-model="saldorest" disabled class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row ocultardiv">
                                            <div class="col-md-6 col-lg-3">
                                                <div class="form-group">
                                                    <label>Monto</label>
                                                    <input type="text" v-model="monto" class="form-control" id="txtAbono">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <div class="form-group">
                                                    <label>Total Deuda</label>
                                                    <input type="text" v-model="saldorest" disabled class="form-control">
                                                </div>
                                            </div>
                                        </div>   
                                        <div class="row">
                                            <div class="col-md-6 col-lg-9"> 
                                                <div class="form-group">
                                                    <label>Observación</label>
                                                    <input type="text" v-model="observacion" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3"> 
                                                <div class="form-group">
                                                    <label>Deuda Pendiente</label>
                                                    <input type="text" :value="parseFloat(SaldoPendiente).toFixed(2)" disabled class="form-control">
                                                </div>
                                            </div>
                                        </div>  
                                        <div class="form-group row div-error" v-show="errorNota">
                                            <div class="text-center text-error">
                                                <ul>
                                                    <li v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror"></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary" @click="mostrarTabla()" v-if="tablamostrar">Mostrar Tabla</button>
                                <button class="btn btn-primary" @click="ocultarTabla()" v-else>Ocultar Tabla</button>
                                <button class="btn btn-success pull-right" id="btnAdd" v-if="$can('nota.store')" @click="registrarNota"><i class="pe-7s-check"></i> Guardar</button>
                                <button type="reset" class="btn btn-danger pull-right" id="btnReset" @click="DisableFunction" data-toggle="collapse" data-target="#collapseForm"
                                 aria-expanded="false" aria-controls="collapseForm"><i class="pe-7s-close"></i> Cancelar</button>
                                <div class="clearfix"></div>
                            </div>
                        <!-- MUESTRA EL FORMULARIO PARA MODIFICAR una Nota -->
                            <div v-show="tipofrm=='modificar'">
                                <div class="tab-content">
                                    <div class="tab-pane fade in active">
                                        <div class="row">
                                            <div class="col-md-6 col-lg-4">
                                                <div class="form-group">
                                                    <label>Cliente:</label>
                                                    <v-select
                                                        label="Nombre"
                                                        placeholder= "Seleccione Cliente"
                                                        v-model="cliente"
                                                        :value="arrayCliente.idCliente"
                                                        @input="setCliente"
                                                    ></v-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <div class="form-group">
                                                    <label>No. Factura:</label>
                                                    <v-select
                                                        label="idFactura"
                                                        placeholder= "Seleccione No. Factura"
                                                        :options="arrayfactura"
                                                        v-model="idfactura"
                                                        :value="arrayfactura.idFactura"
                                                        @input="setFactura"
                                                    ></v-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <label>Zona</label>
                                                    <input type="text" v-model="zona" disabled class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <div class="form-group">
                                                    <label>Vendedor</label>
                                                    <input type="text" v-model="vendedor" disabled class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-lg-3">
                                                <div class="form-group">
                                                    <label>Cambio $:</label>
                                                    <input type="text" v-model="cambio" class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <div class="form-group">
                                                    <label>Motivo de Nota:</label>
                                                    <v-select
                                                        placeholder= "Seleccione Motivo"
                                                        :options="['Desc. Pronto Pago','Cheque sin Fondo','Varios','Devolucion']"
                                                        v-model="motivo"
                                                    ></v-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <label>Monto</label>
                                                    <input type="text" v-model="monto" class="form-control" id="txtAbono">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <label>Total Deuda Act</label>
                                                    <input type="text" v-model="total" disabled class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <label>Total Deuda Ant</label>
                                                    <input type="text" v-model="totalant" disabled class="form-control">
                                                </div>
                                            </div>
                                        </div>   
                                        <div class="row">
                                            <div class="col-md-6 col-lg-9"> 
                                                <div class="form-group">
                                                    <label>Observación</label>
                                                    <input type="text" v-model="observacion" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3"> 
                                                <div class="form-group">
                                                    <label>Deuda Pendiente</label>
                                                    <input type="text" v-model="saldorestante=parseFloat(SaldoPendienteMod).toFixed(2)" disabled class="form-control">
                                                </div>
                                            </div>
                                        </div>  
                                        <div class="form-group row div-error" v-show="errorNota">
                                            <div class="text-center text-error">
                                                <ul>
                                                    <li v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror"></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <button class="btn btn-primary" @click="mostrarTabla()" v-if="tablamostrar">Mostrar Tabla</button>
                                <button class="btn btn-primary" @click="ocultarTabla()" v-else>Ocultar Tabla</button>
                                <button class="btn btn-warning pull-right" id="btnUpdate" v-if="$can('nota.update')" @click="ActualizarNota()"><i class="pe-7s-check"></i> Actualizar</button>
                                <button type="button" class="btn btn-danger pull-right" id="btnclose" @click="cerrarUpdate"><i class="pe-7s-close"></i> Cancelar</button>
                                <div class="clearfix"></div>
                            </div>
                        <!-- MUESTRA LA INFORMACION DE la Nota -->
                            <div v-show="tipofrm=='ver'">
                                <div class="row">
                                    <hr class="linetitle">
                                    <h5 class="titleEnc" v-text="'Nota de Crédito No. '+idNota"></h5>
                                    <hr class="linetitle">
                                    <div class="col-md-4">
                                        <label>Cliente:</label>
                                        <p v-text="cliente" class="info"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Zona:</label>
                                        <p v-text="zona" class="info"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Vendedor:</label>
                                        <p v-text="vendedor" class="info"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>No. Factura:</label>
                                        <p v-text="idfactura" class="info"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Monto de la nota:</label>
                                        <p v-text="'C$'+ monto" class="info"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Tasa de Cambio:</label>
                                        <p v-text="'C$'+ cambio" class="info"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Motivo de Nota:</label>
                                        <p v-text="motivo" class="info"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Observación:</label>
                                        <p v-text="observacion" class="info"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Fecha de Registro:</label>
                                        <p v-text="fecha" class="info"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-default" @click="cerrarView">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
                <!--   TABLA -->
                <div class="col-md-12 collapse in" id="tabla">
                    <div class="card mb-30"> 
                        <div class="header">
                            <div class="form-group" style="display: inline-block;">
                                <p style="display: inline;" >Buscar:</p>
                                <select name="Filtro" class="select-css" v-model="filtro">
                                    <option value="nc.idNota">No. Nota</option>
                                    <option value="c.Nombre">Cliente</option>
                                    <option value="nc.idFactura">No.Fact</option>
                                </select>
                                <input type="text" v-model="buscar" class="txtbuscar" placeholder="Buscar..." id="txtBuscar"  @keyup.enter="listarNotas(1, buscar,filtro)">
                                <img :src="imgbuscar" class="img-sidebar">
                            </div>
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary pull-left" id="btnnew" v-if="$can('nota.store')" @click="EnableFunction"  data-toggle="collapse" data-target="#collapseForm"
                                    aria-expanded="false" aria-controls="collapseForm"><i class="pe-7s-plus"></i>Registrar Nota</button>
                            </div>
                        </div>
                        <div class="content">                                                                                  
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped" >
                                    <thead> 
                                        <th>Opciones</th>
                                        <th># Nota Cred</th>
                                        <th>Cliente</th>
                                        <th>No.Fact</th>
                                        <th>Monto C$</th>
                                        <th>Motivo Nota</th>
                                        <th>F.Registro</th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="Nota in arrayNotas" :key="Nota.idNota">
                                            <td v-if="Nota.TipoNota != 'Devolucion'">
                                                <button type="button" class="btn btn-warning" v-if="$can('nota.update')" @click="accesoModificar(Nota.idNota)"><i class="pe-7s-edit"></i></button>
                                                <button type="button" class="btn btn-default" @click="infoNota(Nota.idNota)"><i class="pe-7s-id"></i></button>
                                            </td>
                                            <td v-else>
                                                <button type="button" class="btn btn-default" @click="infoNota(Nota.idNota)"><i class="pe-7s-id"></i></button>
                                            </td>
                                            <td v-text="Nota.idNota"></td>
                                            <td v-text="Nota.Cliente"></td>
                                            <td v-text="Nota.idFactura"></td>
                                            <td>{{parseFloat(Nota.Monto).toFixed(2)}}</td>
                                            <td v-text="Nota.TipoNota"></td>
                                            <td v-text="Nota.FechaRegistro"></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <ul class="pagination d-flex">
                                            <li class="page-item" v-if="pagination.current_page > 1">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page - 1, buscar,filtro)">&laquo;</a>
                                            </li>
                                            <li class="page-item" v-for="page in pagesNumber" :key="page" :class= "[ page == isActived ? 'active' : '' ]" >
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(page, buscar,filtro)" v-text="page"></a>
                                            </li>
                                            <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page + 1, buscar,filtro)">&raquo;</a>
                                            </li>
                                        </ul>
                                    </tfoot>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
 
<script>
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    export default {
        props:['ruta'],
        data(){
            return{
                disabledvue: 'true',
                idNota: 0,
                titulo: 'Notas',
                Nota: [],
                idcliente: 0,
                cliente: '',
                arrayCliente: [],
                idfactura: 0,
                factura: '',
                arrayfactura: [], 
                vendedor: '',
                zona: '',
                monto: 0,
                total: 0,
                totalant: 0,
                saldorestante: 0,
                fecha: '',
                zona: '', 
                arrayNotas: [],
                motivo: '',
                observacion: '',
                arraydatos: [],
                idNota: 0,
                saldorest: 0,
                errorNota: 0,
                txtvalidate: [],
                tablamostrar: true,
                tipoBtn: 1,
                cambio: 0,
                tipofrm: 'crear',
                pagination: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                },
                offset: 3,
                buscar: '', 
                filtro: 'nc.idNota',
                fecha : '',
                imgbuscar: './img/icons8_search1_32.png',

            }
        },
        computed: {
            isActived: function() {
                return this.pagination.current_page;
            },
            pagesNumber: function() {
                if(!this.pagination.to){
                    return [];
                }

                var from = this.pagination.current_page - this.offset; 
                if(from < 1){
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            },   
            TotalDev: function(){
                var suma = 0;
                for (let i = 0; i < this.arrayfactura.length; i++) {
                    suma = parseFloat(suma) + parseFloat(this.arrayfactura[i].Abono);
                }
                return suma;
            },        
            SaldoPendiente: function(){
                var saldo = this.saldorest;
                var saldoactual = 0;
                saldoactual = saldo - this.monto;
                return saldoactual;
            },
            SaldoPendienteMod: function(){
                var saldo = this.totalant;
                var saldoactual = 0;
                saldoactual = parseFloat(saldo).toFixed(2) - parseFloat(this.monto).toFixed(2);

                return saldoactual;
            },
        },
        components:{
            vSelect,
        },
        methods:{
            listarNotas(page, buscar,filtro){
                let me=this;
                var url = this.ruta + '/nota?page=' + page +'&buscar=' + buscar + '&filtro='+filtro;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayNotas = respuesta.notas.data;
                    me.pagination = respuesta.pagination;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            SeleccionarCliente(){
                let me=this;
                var url = this.ruta + '/cliente/cheque';
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayCliente = respuesta.clientes;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            setCliente(value){
                let me = this;
                me.idcliente = value.idCliente;
                me.cliente = value.Nombre;
                me.zona = value.Zona;
                me.cargarFactura(me.idcliente);
            },
            cargarFactura(id){
                this.disabledvue = false;
                let me=this;
                var url = this.ruta + '/factura/clientes?idCliente=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayfactura = respuesta.facturas;
                })
                .catch(function (error) {
                    console.log(error);
                })
                $("#txtAbono").prop('disabled', false);
            },
            setFactura(value){
                let me = this;
                me.idfactura = value.idFactura;
                me.saldorest = value.SaldoRestante;
                me.vendedor = value.Vendedor;
            },
            SeleccionarTasa(){
                let me=this;
                var url = this.ruta + '/dolar/seleccionar';
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    var Tcambio = parseFloat(respuesta.tasa[0].Cambio);
                    me.cambio = Tcambio.toFixed(2);
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            cambiarPagina(page, buscar, filtro){
                let me = this;
                me.pagination.current_page = page;
                me.listarNotas(page, buscar, filtro);
            },
            registrarNota(){
                if(this.ValidateNotas()){
                    return;
                }
                let me = this;
                axios.post(this.ruta + '/nota/registrar', {
                    'idCliente': this.idcliente,
                    'idFactura' : this.idfactura,
                    'Monto' : this.monto,
                    'Tipo' : this.motivo,
                    'Tasa' : this.cambio,
                    'Observacion': this.observacion,
                    })
                .then(function (response) {
                    me.listarNotas(1,'');
                    me.ClearTxt();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            ActualizarNota(){
                if(this.ValidateNotas()){
                    return;
                }
                let me = this;
                axios.put(this.ruta + '/nota/actualizar', {
                    'idNota': this.idNota,
                    'idCliente': this.idcliente,
                    'idFactura' : this.idfactura,
                    'Monto' : this.monto,
                    'Tipo' : this.motivo,
                    'Tasa' : this.cambio,
                    'Observacion': this.observacion,
                    })
                .then(function (response) {
                    me.listarNotas(1,'','pcc.idNotaCxC');
                    me.ClearTxt();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            accesoModificar(id){
               Swal.fire({
               title: 'Ingrese la contraseña de acceso',
                input: 'password',
                inputPlaceholder: '',
                inputAttributes: {
                    autocapitalize: 'off',
                },
                imageUrl: './img/pass.png',
                imageWidth: 125,
                imageHeight: 100,
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Verificar',
                cancelButtonText: 'Cancelar',
                showClass: {
                    popup: 'animated fadeInDown faster'
                },
                hideClass: {
                    popup: 'animated fadeOutUp faster'
                },
                }).then((result) => {
                    if (result.value) {
                        let me=this;
                        var url = this.ruta + '/nota/contraseña?contraseña=' + result.value;
                        axios.get(url).then(function (response) {
                            var respuesta = response.data; 
                            if (respuesta.verificar.length != 0) {
                                me.rsp = respuesta.verificar[0].Nombre;
                                if (me.rsp == 'Universal') {
                                    me.getNota(id);
                                } else {
                                    Swal.fire(
                                    'ERROR',
                                    'Contraseña Incorrecta',
                                    'error'
                                    )
                                    me.listarNotas(1,'','nc.idNota');
                                }
                               
                            } else{
                                Swal.fire(
                                    'ERROR',
                                    'Contraseña Incorrecta',
                                    'error'
                                    )
                                    me.listarNotas(1,'','nc.idNota');
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                    }     
                })
            },      
            mostrarTabla(){
                this.tablamostrar = false;
                $("#tabla").addClass("in");
            },
            ocultarTabla(){
                this.tablamostrar = true;
                $("#tabla").removeClass("in");
            },
            DisableFunction(){
                this.DisableTxt();
                this.titulo= 'Nota';
                this.errorNota= 0;
                this.txtvalidate= [];
                this.detalleventa= [];
                this.tipoBtn=1;
                this.disabledvue= true;
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle();


                this.ClearTxt();
                this.EnabledButon();

                $("#tabla").addClass("in");
                $("#txtBuscar").focus();

            },
            DisableTxt(){
                $("#txtCodigo").prop( "disabled", true );
                $("#txtCodigoB").prop( "disabled", true );
                $("#txtNombre").prop( "disabled", true );
                $("#txtNombreOrig").prop( "disabled", true );
                $("#txtStock").prop( "disabled", true );
                $("#txtUnidad").prop( "disabled", true );


                $("#txtBuscar").prop( "disabled", false );

            },
            EnableFunction(){
                this.tipofrm = 'crear';
                this.titulo = 'Registrar Nota';
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle(); 
                this.SeleccionarCliente();
                this.SeleccionarTasa();
                this.disabledvue1= false;
                this.EnableTxt();

                $("#tabla").removeClass("in");
                this.DesabledButton();

                $("#txtAbono").prop('disabled', true);
            },
            EnableTxt(){
                $("#txtCodigo").prop( "disabled", false );
                $("#txtCodigoB").prop( "disabled", false );
                $("#txtNombre").prop( "disabled", false );
                $("#txtNombreOrig").prop( "disabled", false );
                $("#txtStock").prop( "disabled", false );
                $("#txtUnidad").prop( "disabled", false );
            },
            DesabledButton(){
                $("tbody > tr > td").find("button").prop( "disabled", true );
                $("tfoot").css("display", "none");
            },
            EnabledButon(){
                $("tbody > tr > td").find("button").prop( "disabled", false );
                $("tfoot").css("display", "inherit");
            },
            ClearTxt(){
                this.Nota = [];
                this.idcliente= 0;
                this.cliente= '';
                this.idfactura= 0;
                this.factura= '';
                this.arrayfactura= [];
                this.arraydatos = [];
                this.vendedor= '';
                this.zona= '';
                this.monto= 0;
                this.idvendedor= 0;
                this.total= 0;
                this.totalNota= 0;
                this.totalant= 0;
                this.fecha= '';
                this.zona= '';
                this.observacion = '',
                this.motivo = '',
                this.idNota = 0;
                this.saldorest = 0;
                this.errorNota = 0;
                this.txtvalidate = [];
            },
            ValidateNotas(){
                this.errorNota = 0;
                this.txtvalidate = [];
                var abono = this.monto;
                var total = this.saldorest;
                var total1 = this.saldorestante;

                if (!this.idcliente) this.txtvalidate.push("Seleccione un cliente, por favor");
                if (!this.idfactura) this.txtvalidate.push('Seleccione una nota');
                if (this.tipofrm == 'crear') {
                    if( parseFloat(abono) > parseFloat(total)) this.txtvalidate.push("Monto no puede ser mayor al Total de la Deuda");
                    if (!this.monto) this.txtvalidate.push("El monto no puede ser cero");
                } else {
                    if( parseFloat(abono) > parseFloat(total1)) this.txtvalidate.push("Monto no puede ser mayor al Deuda pendiente");
                    
                }
                if(!this.motivo) this.txtvalidate.push("Seleccione el motivo de nota");
                if(!this.observacion) this.txtvalidate.push("El campo de observación no puede estar vacío");
                
                if(this.txtvalidate.length) this.errorNota = 1;

                return this.errorNota;
            },
            cerrarUpdate(){
                this.titulo = 'Nota';
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle(); 

                $("#collapseForm").removeClass("in");
                $("#collapseForm").removeClass("show");
                $("#tabla").addClass("in");
                this.disabledvue1= true;

                $("#txtAbono").prop('disabled', true);
                this.ClearTxt();
                this.EnabledButon();
                this.arraydatos= [];
            },
            getNota(id){
                this.tipofrm = 'modificar';
                let me=this;
                var url = this.ruta + '/nota/datos?id=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arraydatos = respuesta.nota;
                    me.idNota = me.arraydatos[0].idNota;
                    me.idfactura = me.arraydatos[0].idFactura;
                    me.monto = me.arraydatos[0].Monto;
                    me.cliente = me.arraydatos[0].Nombre;
                    me.idcliente = me.arraydatos[0].idCliente;
                    me.zona = me.arraydatos[0].Zona;
                    me.vendedor =  me.arraydatos[0].Vendedor;
                    me.motivo = me.arraydatos[0].TipoNota;
                    me.cambio = me.arraydatos[0].TasaCambio;
                    me.observacion = me.arraydatos[0].Observacion;
                    me.total = me.arraydatos[0].SaldoRestante;
                    me.totalant = me.arraydatos[0].TotalAnt;
                })
                .catch(function (error) {
                    console.log(error);
                }),
                this.titulo = 'Actualizar Nota';
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle(); 
                this.SeleccionarCliente();

                $("#tabla").removeClass("in");
                $("#collapseForm").addClass("in");
                this.EnableTxt();
                this.DesabledButton();
                this.disabledvue1= false;
                
                $("#txtAbono").prop('disabled', false);
            },
            infoNota(id){
                let me=this;
                var url = this.ruta + '/nota/datos?id=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arraydatos = respuesta.nota;
                    me.idNota = me.arraydatos[0].idNota;
                    me.idfactura = me.arraydatos[0].idFactura;
                    me.monto = me.arraydatos[0].Monto;
                    me.cliente = me.arraydatos[0].Nombre;
                    me.zona = me.arraydatos[0].Zona;
                    me.vendedor =  me.arraydatos[0].Vendedor;
                    me.motivo = me.arraydatos[0].TipoNota;
                    me.cambio = me.arraydatos[0].TasaCambio;
                    me.observacion = me.arraydatos[0].Observacion;
                    me.fecha = me.arraydatos[0].created_at;
                })
                .catch(function (error) {
                    console.log(error);
                }),
                this.tipofrm="ver",
                this.titulo= "Detalle de Nota",
                $("#tabla").removeClass('in');
                $("#collapseForm").addClass('in');
                
                this.DesabledButton();
            },
            cerrarView(){
                this.tipofrm="crear",
                this.titulo= "Nota",
                $("#collapseForm").removeClass('in');
                $("#tabla").addClass('in');
                this.ClearTxt();
                this.EnabledButon();
                this.arraydatos= [];
            },
        },
        mounted() {
            this.listarNotas(1, this.buscar,this.filtro);
            this.DisableFunction();
            $("#btnnew").toggle();
        }
    }
</script>
<style>
    .div-error{
        display: flex;
        margin-left: 0.5rem;
        font-size: 12px;
    }
    .text-error{
        color:red !important;
        font-weight: bold;
        text-align: left;
    }
    .linetitle{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .titleEnc{
        display: block;
        text-align: center;
        font-weight: bold;
    }
    .info{
        font-size: 14px;
    }
    .d-flex{
        display: flex;
    }
    .ml-25{
        margin-left: 25%;
    }
    .w-25{
        width: 25%;
    }
    .w-75{
        width: 75%;
    }
    .w-50{
        width: 50%;
    }
    .pReturn{
        padding-left: 0px;
        border-top: 0px;
    }
    .imgsize{
        min-width: 100px;
        min-height: 150px;
        max-width: 250px;
        max-height: 250px;
        margin: auto;
    }
    .linetitle{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .titleEnc{
        display: block;
        text-align: center;
        font-weight: bold;
    }
    .mb-30{
        margin-bottom: 0px;
    }
    .btn{
        border: 1px solid;
    }
    .justify-content-end{
        justify-content: end;
    }
    .vs__dropdown-menu{
        color: red;
    }
</style>