<template>
    <div class="content" >
        <div class="container-fluid">
            <div class="row">
                <!-- FORMULARIO -->
                <div class="col-md-12 pReturn collapse" id="collapseForm">
                    <div class="card">
                        <div class="header">
                            <h4 class="title" v-text="titulo"></h4>
                        </div>
                        <div class="content">
                        <!-- MUESTRA EL FORMULARIO PARA generar una recibo -->
                            <div v-show="tipofrm=='crear'">
                                <div class="tab-content">
                                    <div class="tab-pane fade in active">
                                        <div class="row">
                                            <div class="col-md-6 col-lg-5">
                                                <div class="form-group">
                                                    <label>Cliente:</label>
                                                    <v-select
                                                        label="Cliente"
                                                        placeholder= "Escriba el codigo o nombre del cliente"
                                                        @search="selectCliente"
                                                        :options="arrayCliente"
                                                        v-model="cliente"
                                                        :value="arrayCliente.Cliente"
                                                        @input="setCliente"
                                                    ></v-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <label>Zona</label>
                                                    <input type="text" v-model="zona" disabled class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <div class="form-group">
                                                    <label>Vendedor</label>
                                                    <!--<input type="text" v-model="vendedor" disabled class="form-control">-->
                                                    <v-select
                                                        label="Nombre"
                                                        placeholder= "Escriba el vendedor"
                                                        @search="selectVendedor"
                                                        :options="arrayVendedor"
                                                        v-model="vendedor"
                                                        :value="arrayVendedor.Nombre"
                                                        @input="setVendedor"
                                                    ></v-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <button class="btn btn-info" style="margin-top: 10%" @click="cargarFactura(idcliente)">Cargar Datos</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-lg-3">
                                                <div class="form-group">
                                                    <label>No. recibo:</label>
                                                    <v-select
                                                        label="NumeracionInicial"
                                                        placeholder= "Seleccione Recibo"
                                                        :options="arrayrecibo"
                                                        v-model="recibo"
                                                        :value="arrayrecibo.NumeracionInicial"
                                                        @input="setRecibo"
                                                        :disabled="disabledvue"
                                                    ></v-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <label>F.Registro</label>
                                                    <input type="date" v-model="fecharegistro" class="form-control" id="txtfecha">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-3">
                                                <div class="form-group">
                                                    <label>Abono</label>
                                                    <input type="text" v-model="abono" class="form-control" id="txtAbono">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-2">
                                                <div class="form-group">
                                                    <label>Total Deuda</label>
                                                    <input type="text" v-model="saldorest" disabled class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-2">
                                                <div class="form-group">
                                                    <label>Deuda Pendiente</label>
                                                    <input type="text" :value="parseFloat(SaldoPendiente).toFixed(2)" disabled class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label>Observación</label>
                                                    <input type="text" v-model="observacion" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-2">
                                                <div class="form-group">
                                                    <label>Ult. Ref:</label>
                                                    <input type="text" v-model="ref" class="form-control" disabled >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-hover table-bordered">
                                                    <thead class="text-center" style="background-color: gray; color: white;">
                                                        <td>Pagar</td>
                                                        <td>Facturas</td>
                                                        <td>F.Fact.</td>
                                                        <td>F.Rec.</td>
                                                        <td>Deuda</td>
                                                        <td>Abono C$</td>
                                                        <td>Descuento C$</td>
                                                        <td>Saldo C$</td>
                                                        <td>Calc. Desc.</td>
                                                    </thead>
                                                    <tbody v-if="idcliente == 0">
                                                        <tr>
                                                            <td colspan="8" class="text-center">**** Seleccione un cliente ****</td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody v-else>
                                                        <tr v-for="(fact, index) in arrayfactura" :key="fact.idCuentasxCobrar">
                                                            <td class="text-center"><input type="checkbox" :true-value="parseFloat(fact.SaldoRestante).toFixed(2)" :false-value='0' v-model="fact.Abono" :id="'list'+index" @click="AbonoTotal(index)" class="select"></td>
                                                            <td v-text="fact.idFactura" class="text-center"></td>
                                                            <td v-text="fact.FechaFactura" class="text-center"></td>
                                                            <td v-text="fact.FechaRecuperacionV" class="text-center"></td>
                                                            <td v-text="parseFloat(fact.SaldoRestante)" class="text-center" :id="'saldo'+index"></td>
                                                            <td style="width: 20%"><input type="number" min="0" :max="parseFloat(fact.SaldoRestante).toFixed(2)" v-model="fact.Abono" class="form-control" :id="'txtAbono'+index"></td>
                                                            <td style="width: 20%"><input type="number" min="0" v-model="fact.Descuento" class="form-control"></td>
                                                            <td style="width: 10%" class="text-center">{{(fact.SaldoRestante - fact.Abono - fact.Descuento).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') }}</td>
                                                            <td style="width: 7%" class="text-center"><a class="btn" style="color: blue" href="#openModalDesc" id="modalDesc" @click="CalcularDescuento(fact)"><i class="pe-7s-calculator"></i></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5" style="text-align: end; padding-right: 25px">Total Recibo C$:</td>
                                                            <td class="text-center" :style="parseFloat(abono) >= parseFloat(totalrecibo)?'color: black':'color: red'">{{totalrecibo = parseFloat(TotalDev).toFixed(2)}}</td>
                                                            <td class="text-center">{{(TotalDesc).toFixed(2)}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="form-group row div-error" v-show="errorPago">
                                                    <div class="text-center text-error">
                                                        <ul>
                                                            <li v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                    
                                    </div>
                                    <!-- CUADRO MODAL CALCULAR DESCUENTO -->
                                    <div id="openModalDesc" class="modalDialog" @keydown.esc="cerrarEsc" tabindex="0">
                                        <div class="modalDescuento">
                                            <a href="#close" title="Close" class="close" id="btnclose"  @click="ClearCalc">X</a>
                                            <h5 class="tituloModal">Calculo de Descuento</h5>
                                            <hr class="linetitle">
                                            <div class="contenidoModal">
                                                <div class="row">
                                                    <div class="col-md-12 col-lg-6">
                                                        <div class="form-group">
                                                            <label>No. Factura</label>
                                                            <input type="text" class="form-control" disabled v-model="idfactura">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 col-lg-6">
                                                        <div class="form-group">
                                                            <label>Total Factura C$</label>
                                                            <input type="text" class="form-control" disabled v-model="TotalFact">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 col-lg-12">
                                                        <div class="form-group">
                                                            <label>% Descuento</label>
                                                            <input type="number" class="form-control" min="0" v-model="descuento">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 col-lg-12">
                                                        <div class="form-group">
                                                            <label>Descuento C$</label>
                                                            <input type="text" class="form-control" v-model="calcularDescuento" style="font-weight: 800" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- FIN DEL MODAL -->
                                </div>
                                
                                <button class="btn btn-primary" @click="mostrarTabla()" v-if="tablamostrar">Mostrar Tabla</button>
                                <button class="btn btn-primary" @click="ocultarTabla()" v-else>Ocultar Tabla</button>
                                <button class="btn btn-success pull-right" id="btnAdd" v-if="$can('recibo.store')" @click="registrarRecibo()"><i class="pe-7s-check"></i> Guardar</button>
                                <button type="reset" class="btn btn-danger pull-right" id="btnReset" @click="DisableFunction" data-toggle="collapse" data-target="#collapseForm"
                                 aria-expanded="false" aria-controls="collapseForm"><i class="pe-7s-close"></i> Cancelar</button>
                                <div class="clearfix"></div>
                            </div>
                        <!-- MUESTRA EL FORMULARIO PARA MODIFICAR una recibo -->
                            <div v-show="tipofrm=='modificar'">
                                <div class="tab-content">
                                    <div class="tab-pane fade in active">
                                        <div class="row">
                                            <div class="col-md-6 col-lg-5">
                                                <div class="form-group">
                                                    <label>Cliente:</label>
                                                    <v-select
                                                        label="Nombre"
                                                        placeholder= "Seleccione Cliente"
                                                        :options="arrayCliente"
                                                        v-model="cliente"
                                                        :value="arrayCliente.idCliente"
                                                        @input="setCliente"
                                                        :disabled="disabledvue1"
                                                    ></v-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <label>Zona</label>
                                                    <input type="text" v-model="zona" disabled class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <div class="form-group">
                                                    <label>Vendedor</label>
                                                    <v-select
                                                        label="Nombre"
                                                        placeholder= "Escriba el vendedor"
                                                        @search="selectVendedor"
                                                        :options="arrayVendedor"
                                                        v-model="vendedor"
                                                        :value="arrayVendedor.Nombre"
                                                        @input="setVendedor"
                                                    ></v-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <button class="btn btn-info" style="margin-top: 10%" disabled>Cargar Datos</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-lg-3">
                                                <div class="form-group">
                                                    <label>No. recibo:</label>
                                                    <v-select
                                                        label="NumeracionInicial"
                                                        placeholder= "Seleccione Recibo"
                                                        :options="arrayrecibo"
                                                        v-model="recibo"
                                                        :value="arrayrecibo.NumeracionInicial"
                                                        @input="setRecibo"
                                                        :disabled="disabledvue1"
                                                    ></v-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <label>F.Registro</label>
                                                    <input type="date" v-model="fecharegistro" class="form-control" id="txtfecha">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-3">
                                                <div class="form-group">
                                                    <label>Abono</label>
                                                    <input type="text" v-model="abono" class="form-control" id="txtAbono">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-2">
                                                <div class="form-group">
                                                    <label>Total Deuda</label>
                                                    <input type="text" v-model="saldorest" disabled class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-2">
                                                <div class="form-group">
                                                    <label>Deuda Pendiente</label>
                                                    <input type="text" :value="parseFloat(SaldoPendienteMod).toFixed(2)" disabled class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-lg-12">
                                                <div class="form-group">
                                                    <label>Observación</label>
                                                    <input type="text" v-model="observacion" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-hover table-bordered">
                                                    <thead class="text-center" style="background-color: gray; color: white;">
                                                        <td>Pagar</td>
                                                        <td>Facturas</td>
                                                        <td>Fecha de Recuperación</td>
                                                        <td>Deuda</td>
                                                        <td>Abono C$</td>
                                                        <td>Descuento C$</td>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="(fact, index) in arraydatos" :key="fact.idCuentasxCobrar">
                                                            <td class="text-center"><input type="checkbox" :true-value="parseFloat(fact.total).toFixed(1)" :false-value='0' v-model="fact.Monto" :id="'list'+index" @click="AbonoTotal(index)"></td>
                                                            <td v-text="fact.idFactura" class="text-center"></td>
                                                            <td v-text="fact.FechaRecuperacionV" class="text-center"></td>
                                                            <td v-text="parseFloat(fact.total).toFixed(1)" class="text-center" :id="'saldo'+index"></td>
                                                            <td style="width: 20%"><input type="number" min="0" :max="parseFloat(fact.total).toFixed(1)" v-model="fact.Monto" class="form-control"></td>
                                                            <td style="width: 20%"><input type="number" min="0" v-model="fact.Descuento" class="form-control"></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="4" style="text-align: end; padding-right: 25px">Total ReciboC$:</td>
                                                            <td class="text-center" :style="parseFloat(abono).toFixed(1) >= parseFloat(totaldevolucion).toFixed(1)?'color: black':'color: red'">{{totaldevolucion = parseFloat(TotalDeuda)}}</td>
                                                            <!--<td class="text-center">{{parseFloat(TotalDescuento)}}</td>-->
                                                            <td class="text-center">{{total=parseFloat(TotalDescuento)}}</td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="form-group row div-error" v-show="errorPago">
                                                    <div class="text-center text-error">
                                                        <ul>
                                                            <li v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                    
                                    </div>
                                </div>
                                
                                <button class="btn btn-primary" @click="mostrarTabla()" v-if="tablamostrar">Mostrar Tabla</button>
                                <button class="btn btn-primary" @click="ocultarTabla()" v-else>Ocultar Tabla</button>
                                <button class="btn btn-warning pull-right" id="btnUpdate" v-if="$can('recibo.update')" @click="ActualizarRecibo()"><i class="pe-7s-check"></i> Actualizar</button>
                                <button type="button" class="btn btn-danger pull-right" id="btncloseact" @click="cerrarUpdate"><i class="pe-7s-close"></i> Cancelar</button>
                                <div class="clearfix"></div>
                            </div>
                        <!-- MUESTRA LA INFORMACION DE la recibo -->
                            <div v-show="tipofrm=='ver'">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 style="font-weight: bold; border-bottom: 1px solid; margin: 0">Cliente</h4>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Nombre:</h5>
                                            <p style="margin: 0 2%;"  v-text="cliente"></p>
                                        </div>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Zona:</h5>
                                            <p style="margin: 0 2%;"  v-text="zona"></p>
                                        </div>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Total Abono:</h5>
                                            <p style="margin: 0 2%;" >{{'C$' + parseFloat(abono).toFixed(2)}}</p>
                                        </div>
                                        <div class="d-flex" v-show="estado=='Anulada'">
                                            <h5 style="margin:auto 0;font-weight: bold;">Motivo Anulación:</h5>
                                            <p style="margin: 0 2%;" v-text="anular"></p>
                                        </div>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Observación:</h5>
                                            <p style="margin: 0 2%;" v-text="observacion"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h2 style="font-weight: bold; margin: 0px;" class="text-right">RECIBO</h2>
                                        <div class="d-flex justify-content-end" v-show="estado=='Anulada'">
                                            <h4 style="margin:auto 0;font-weight: bold; color: red">ANULADA</h4>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <h5 style="margin:auto 0;font-weight: bold;">No. Recibo:</h5>
                                            <p style="margin: 0 2%;" v-text="idrecibo"></p>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <h5 style="margin:auto 0;font-weight: bold;">Atendido por:</h5>
                                            <p style="margin: 0 2%;" v-text="usuario"></p>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <h5 style="margin:auto 0;font-weight: bold;">Fecha de Emisión:</h5>
                                            <p style="margin: 0 2%;" v-text="fecharegistro"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 content table-responsive">
                                        <table class="table table-bordered text-center">
                                            <thead style="background: gray; color: white;">
                                                <th class="text-center">No. Factura</th>
                                                <th class="text-center">Vencimiento Fact</th>
                                                <th class="text-center">Total Deuda</th>
                                                <th class="text-center">Monto Abonado</th>
                                                <th class="text-center">Descuento</th>
                                                <th class="text-center">Saldo Restante</th>
                                            </thead>
                                            <tbody>
                                                <tr v-for="det in arraydatos" :key="det.idPagosCxC">
                                                    <td v-if="det.Monto > 0 || det.Descuento > 0" v-text="det.idFactura"></td>
                                                    <td v-if="det.Monto > 0 || det.Descuento > 0" v-text="det.FechaRecuperacionV"></td>
                                                    <td v-if="det.Monto > 0 || det.Descuento > 0">{{ parseFloat(det.total).toFixed(2) }}</td>
                                                    <td v-if="det.Monto > 0 || det.Descuento > 0">{{ parseFloat(det.Monto).toFixed(2) }}</td>
                                                    <td v-if="det.Monto > 0 || det.Descuento > 0">{{ parseFloat(det.Descuento).toFixed(2) }}</td>
                                                    <td v-if="det.Monto > 0 || det.Descuento > 0">{{ parseFloat(det.SaldoRestante).toFixed(2) }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-default" @click="cerrarView">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
                <!--   TABLA -->
                <div class="col-md-12 collapse in" id="tabla">
                    <div class="card mb-30"> 
                        <div class="header">
                            <div class="form-group" style="display: inline-block;">
                                <p style="display: inline;" >Buscar:</p>
                                <select name="Filtro" class="select-css" v-model="filtro">
                                    <option value="t.NumeracionInicial">No. Recibo</option>
                                    <option value="c.Nombre">Cliente</option>
                                </select>
                                <input type="text" v-model="buscar" class="txtbuscar" placeholder="Buscar..." id="txtBuscar"  @keyup.enter="listarPagos(1, buscar,filtro)">
                                <img :src="imgbuscar" class="img-sidebar">
                            </div>
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary pull-left" id="btnnew"  @click="EnableFunction"  data-toggle="collapse" data-target="#collapseForm"
                                    aria-expanded="false" aria-controls="collapseForm" v-if="$can('recibo.store')"><i class="pe-7s-plus"></i>Registrar Recibo</button>
                            </div>
                        </div>
                        <div class="content">                                                                                  
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped" >
                                    <thead> 
                                        <th>Opciones</th>
                                        <th>NumRef.</th>
                                        <th>No.Recibo</th>
                                        <th>Cliente</th>
                                        <th>Total</th>
                                        <th>Fecha</th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="pago in arraypagos" :key="pago.idPago">
                                            <td>
                                                <div v-if="pago.Estado == 'Aplicado'">
                                                    <button type="button" class="btn btn-danger" v-if="$can('recibo.disable')" @click="deshabilitarRecibo(pago.idPago)" ><i class="pe-7s-trash"></i></button>
                                                    <button type="button" class="btn btn-warning" v-if="$can('recibo.update')" @click="getRecibo(pago.idPago)"><i class="pe-7s-edit"></i></button>
                                                    <button type="button" class="btn btn-default" @click="infoRecibo(pago.idPago)"><i class="pe-7s-id"></i></button>
                                                </div>
                                                <div v-else>
                                                    <button type="button" class="btn btn-default" @click="infoRecibo(pago.idPago)"><i class="pe-7s-id"></i></button>
                                                </div>
                                            </td>
                                            <td v-text="pago.idPago"></td>
                                            <td v-text="pago.NumeracionInicial"></td>
                                            <td v-text="pago.Cliente"></td>
                                            <td v-text="pago.Abono"></td>
                                            <td v-text="pago.FechaRegistro"></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <ul class="pagination d-flex">
                                            <li class="page-item" v-if="pagination.current_page > 1">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page - 1, buscar,filtro)">&laquo;</a>
                                            </li>
                                            <li class="page-item" v-for="page in pagesNumber" :key="page" :class= "[ page == isActived ? 'active' : '' ]" >
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(page, buscar,filtro)" v-text="page"></a>
                                            </li>
                                            <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page + 1, buscar,filtro)">&raquo;</a>
                                            </li>
                                        </ul>
                                    </tfoot>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
 
<script>
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    export default {
        props:['ruta'],
        data(){
            return{
                disabledvue: 'true',
                disabledvue1: 'true',
                idpago: 0,
                titulo: 'Recibos',
                pago: [],
                idcliente: 0,
                cliente: '',
                arrayCliente: [],
                idfactura: 0,
                factura: '',
                arrayfactura: [], 
                vendedor: '',
                zona: '',
                abono: 0,
                descuento: 0,
                idvendedor: 0,
                total: 0,
                totalrecibo: 0,
                totaldevolucion: 0 ,
                fecha: '',
                zona: '',
                observacion: '' ,
                arrayrecibo: [],
                arraypagos: [],
                recibo: '',
                arraydatos: [],
                idrecibo: 0,
                saldorest: 0,
                errorPago: 0,
                txtvalidate: [],
                tablamostrar: true,
                tipoBtn: 1,
                tipofrm: 'crear',
                rsp: '',
                estado: '',
                anular: '',
                pagination: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                },
                offset: 3,
                buscar: '', 
                filtro: 't.NumeracionInicial',
                fecha : '',
                notadebito: 0,
                usuario: '',
                imgbuscar: './img/icons8_search1_32.png',
                fecharegistro: '',
                ref: 0,
                arrayVendedor: [],
                cont: 0,
                descuento: 2,
                idfactura: 0,
                TotalFact: 0,
                CalcDesc: 0
            }
        },
        computed: {
            isActived: function() {
                return this.pagination.current_page;
            },
            pagesNumber: function() {
                if(!this.pagination.to){
                    return [];
                }

                var from = this.pagination.current_page - this.offset; 
                if(from < 1){
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            },   
            TotalDev: function(){
                var suma = 0;
                for (let i = 0; i < this.arrayfactura.length; i++) {
                    suma = parseFloat(suma) + parseFloat(this.arrayfactura[i].Abono);
                }
                return suma;
            }, 
            TotalDesc: function(){
                var suma = 0;
                for (let i = 0; i < this.arrayfactura.length; i++) {
                    suma = parseFloat(suma) + parseFloat(this.arrayfactura[i].Descuento);
                }
                return suma;
            },        
            SaldoPendiente: function(){
                var saldo = this.saldorest;
                var saldoactual = 0;
                saldoactual = parseFloat(saldo) - (this.TotalDev + this.TotalDesc);
                return saldoactual;
            },
            TotalDescuento: function(){
                var suma = 0;
                for (let i = 0; i < this.arraydatos.length; i++) {
                    suma = parseFloat(suma) + parseFloat(this.arraydatos[i].Descuento);
                }
                return suma;
            }, 
            TotalDeuda: function(){
                var suma = 0;
                for (let i = 0; i < this.arraydatos.length; i++) {
                    suma = parseFloat(suma) + parseFloat(this.arraydatos[i].Monto);
                }
                return suma;
            },        
            SaldoPendienteMod: function(){
                var saldo = this.saldorest;
                var saldoactual = 0;
                saldoactual = saldo - (this.TotalDeuda + this.TotalDescuento);
                return saldoactual;
            },
            calcularDescuento: function(){
                var total = parseFloat((this.descuento/100) *  this.TotalFact).toFixed(2);
                this.CalcDesc = total;
                return total;
            },
        },
        components:{
            vSelect,
        },
        methods:{
            listarPagos(page, buscar,filtro){
                let me=this;
                var url = this.ruta + '/recibo?page=' + page +'&buscar=' + buscar + '&filtro='+filtro;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arraypagos = respuesta.pagos.data;
                    me.pagination = respuesta.pagination;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            selectCliente(search,loading){
                let me=this;

                var url = this.ruta + '/cliente/seleccionar?buscar='+search;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayCliente = respuesta.cliente;

                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            setCliente(value){
                let me = this;
                me.idcliente = value.idCliente;
                me.cliente = value.Cliente;
                me.idvendedor = value.idVendedor;
                me.vendedor = value.Vendedor;
                me.zona = value.Zona;
                me.saldorest= value.TotalDeuda;
                me.CargarRecibo(me.idvendedor);
                me.cargarFactura(me.idcliente);
                me.selectVendedor();
            },
            selectVendedor(search,loading){
                let me=this;

                var url = this.ruta + '/vendedor/listar';
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayVendedor = respuesta.vendedor;

                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            setVendedor(value){
                let me = this;
                me.idvendedor = value.idVendedor;
                me.vendedor = value.Nombre;
                me.CargarRecibo(me.idvendedor);
            },
            cargarFactura(id){
                this.disabledvue = false;
                let me=this;
                var url = this.ruta + '/factura/clientes?idCliente=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayfactura = respuesta.facturas;
                    me.vendedor = respuesta.facturas[0].Vendedor;
                    me.zona = respuesta.facturas[0].Zona;
                    me.idvendedor = respuesta.facturas[0].idVendedor;
                    me.CargarRecibo(me.idvendedor);
                    var suma= 0;
                    for (let i = 0; i < respuesta.facturas.length; i++) {
                        suma = parseFloat(suma) + parseFloat(respuesta.facturas[i].SaldoRestante);
                    }
                    me.saldorest = suma;
                })
                .catch(function (error) {
                    console.log(error);
                })
                $("#txtAbono").prop('disabled', false);
                this.selectVendedor()
            },
            CargarRecibo(id){
                let me=this;
                var url = this.ruta + '/talonario/disponible?idVend=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayrecibo = respuesta.pendientes;
                })
                .catch(function (error) {
                    console.log(error);
                })
                
            },
            setRecibo(value){
                let me = this;
                me.idrecibo = value.idTalonario;
                me.recibo = value.NumeracionInicial;
            },
            AbonoTotal(index){
                if($("#list"+index).prop('checked'))
                {
                    $("#list"+index).parents("tr").find("#txtAbono"+index).prop("disabled", true);
                }else{
                    $("#list"+index).parents("tr").find("#txtAbono"+index).prop("disabled", false);
                }
            },
            cambiarPagina(page, buscar, filtro){
                let me = this;
                me.pagination.current_page = page;
                me.listarPagos(page, buscar, filtro);
            },
            confirmarRegistro(){
                if(this.totalrecibo <= 0 && this.totaldevolucion <= 0){
                    Swal.fire({
                    title: 'Sin Factura',
                    text: "No ha seleccionado ninguna factura",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Guardar'
                    }).then((result) => {
                        //if (result.isConfirmed) {
                            this.registrarRecibo();
                        //}
                    })
                }else{
                    this.registrarRecibo()
                }
            },
            registrarRecibo(){
                if(this.ValidatePagos()){
                    return;
                }
                var monto = 0;
                var total = 0;
                var descuento = 0;
                var montodesc = 0;
                for (let i = 0; i < this.arrayfactura.length; i++) {
                    monto = parseFloat(this.arrayfactura[i].Abono).toFixed(2);
                    total = parseFloat(this.arrayfactura[i].SaldoRestante).toFixed(2);
                    descuento = parseFloat(this.arrayfactura[i].Descuento).toFixed(2);
                    montodesc = monto + descuento;
                    if (parseFloat(montodesc) > parseFloat(total)) {
                        this.txtvalidate.push('El abono no puede superar a la deuda, por favor verifique la factura No.'+this.arrayfactura[i].idFactura);
                        if(this.txtvalidate.length) this.errorPago = 1;
                        return this.errorPago;
                    }
                    /*else if(parseFloat(monto) == 0 && parseFloat(descuento) > 0){
                        this.txtvalidate.push('No puede aplicar descuento sino se realiza abono a la factura, por favor verifique la factura No.'+this.arrayfactura[i].idFactura);
                        if(this.txtvalidate.length) this.errorPago = 1;
                        return this.errorPago;
                    }*/
                } 
                this.cont =  this.cont + 1;
                let me = this;
                if (me.cont == 1) {
                    axios.post(this.ruta + '/recibo/registrar', {
                        'idTalonario': this.idrecibo,
                        'Abono' : this.abono,
                        'idCliente': this.idcliente,
                        'NotaDebito' : this.notadebito,
                        'Observacion' : this.observacion,
                        'FRegistro' : this.fecharegistro,
                        'data' : this.arrayfactura,
                        })
                    .then(function (response) {
                        me.listarPagos(1,'','pcc.idPagoCxC');
                        me.notificacion();
                        me.ReciboGenerado();
                        me.ClearTxt();
                        me.lastRef();
                        me.cont = 0;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
            },
            lastRef(){
                let me=this;
                var url = this.ruta + '/recibo/last';
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.ref = respuesta.numeroref.idPagoCxC;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            fechaActual(){
                let me=this;
                var url = this.ruta + '/fecha';
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.fecharegistro = respuesta.fecha;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            ActualizarRecibo(){
                if(this.ValidatePagos()){
                    return;
                }
                for (let i = 0; i < this.arrayfactura.length; i++) {
                    monto = parseFloat(this.arrayfactura[i].Abono).toFixed(2);
                    total = parseFloat(this.arrayfactura[i].SaldoRestante).toFixed(2);
                    descuento = parseFloat(this.arrayfactura[i].Descuento).toFixed(2);
                    montodesc = monto + descuento;
                    if (montodesc > total) {
                        this.txtvalidate.push('El abono no puede superar a la deuda, por favor verifique la factura No.'+this.arrayfactura[i].idFactura);
                        if(this.txtvalidate.length) this.errorPago = 1;
                        return this.errorPago;
                    }
                    /*else if(monto == 0 && descuento > 0){
                        this.txtvalidate.push('No puede aplicar descuento sino se realiza abono a la factura, por favor verifique la factura No.'+this.arrayfactura[i].idFactura);
                        if(this.txtvalidate.length) this.errorPago = 1;
                        return this.errorPago;
                    }*/
                }
                let me = this;
                axios.put(this.ruta + '/recibo/actualizar', {
                    'idPago': this.idpago,
                    'idTalonario': this.idrecibo,
                    'Abono' : this.abono,
                    'idCliente': this.idcliente,
                    'Observacion' : this.observacion,
                    'FRegistro' : this.fecharegistro,
                    'Total' : this.totaldevolucion,
                    'TotalDesc' : this.total,
                    'data' : this.arraydatos,
                    })
                .then(function (response) {
                    me.listarPagos(1,'','pcc.idPagoCxC');
                    me.ClearTxt();
                    document.getElementById('btncloseact').click();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            deshabilitarRecibo(id){
               Swal.fire({
               title: 'Ingrese la contraseña de acceso',
                input: 'password',
                inputPlaceholder: '',
                inputAttributes: {
                    autocapitalize: 'off',
                },
                imageUrl: './img/pass.png',
                imageWidth: 125,
                imageHeight: 100,
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Verificar',
                cancelButtonText: 'Cancelar',
                showClass: {
                    popup: 'animated fadeInDown faster'
                },
                hideClass: {
                    popup: 'animated fadeOutUp faster'
                },
                }).then((result) => {
                    let me=this;
                    if (result.value == 'M4rn0r' || result.value == 'Norma123' || result.value == 'm4rn0r') {
                        Swal.fire({
                        title: 'Motivo de la anulación',
                        input: 'text',
                        inputAttributes: {
                            autocapitalize: 'off',
                        },
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Anular Recibo',
                        cancelButtonText: 'Cancelar',
                        }).then((result) => {
                            if (result.value) {
                            axios.put(this.ruta + '/recibo/deshabilitar', {
                                'idPago' : id,
                                'MotivoAnulacion' : result.value,
                                })
                            .then(function (response) {
                                Swal.fire(
                                'Anulada',
                                'Se hizo cambio en otros datos',
                                'Existoso'
                                )
                                me.listarPagos(1,'','pcc.idPagoCxC');
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                        }     
                    })
                    } else {
                        Swal.fire(
                        'ERROR',
                        'Contraseña Incorrecta',
                        'error'
                        )
                        me.listarPagos(1,'','pcc.idPagoCxC');
                    }
                })
            },
            /*deshabilitarRecibo(id){
               Swal.fire({
               title: 'Ingrese la contraseña de acceso',
                input: 'password',
                inputPlaceholder: '',
                inputAttributes: {
                    autocapitalize: 'off',
                },
                imageUrl: './img/pass.png',
                imageWidth: 125,
                imageHeight: 100,
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Verificar',
                cancelButtonText: 'Cancelar',
                showClass: {
                    popup: 'animated fadeInDown faster'
                },
                hideClass: {
                    popup: 'animated fadeOutUp faster'
                },
                }).then((result) => {
                    if (result.value) {
                        let me=this;
                        var url = this.ruta + '/recibo/contraseña?contraseña=' + result.value;
                        axios.get(url).then(function (response) {
                            var respuesta = response.data; 
                            if (respuesta.verificar.length != 0) {
                                me.rsp = respuesta.verificar[0].Nombre;
                                if (me.rsp == 'Universal') {
                                    Swal.fire({
                                    title: 'Motivo de la anulación',
                                    input: 'text',
                                    inputAttributes: {
                                        autocapitalize: 'off',
                                    },
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'Anular Recibo',
                                    cancelButtonText: 'Cancelar',
                                    }).then((result) => {
                                        if (result.value) {
                                        axios.put(me.ruta + '/recibo/deshabilitar', {
                                            'idPago' : id,
                                            'MotivoAnulacion' : result.value,
                                            })
                                        .then(function (response) {
                                            Swal.fire(
                                            'Anulada',
                                            'Se hizo cambio en otros datos',
                                            'Existoso'
                                            )
                                            me.listarPagos(1,'','pcc.idPagoCxC');
                                        })
                                        .catch(function (error) {
                                            console.log(error);
                                        });
                                    }     
                                })
                                } else {
                                    Swal.fire(
                                    'ERROR',
                                    'Contraseña Incorrecta',
                                    'error'
                                    )
                                    me.listarPagos(1,'','pcc.idPagoCxC');
                                }
                               
                            } else{
                                Swal.fire(
                                    'ERROR',
                                    'Contraseña Incorrecta',
                                    'error'
                                    )
                                    me.listarPagos(1,'','pcc.idPagoCxC');
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                    }     
                })
            },*/   
            mostrarTabla(){
                this.tablamostrar = false;
                $("#tabla").addClass("in");
            },
            ocultarTabla(){
                this.tablamostrar = true;
                $("#tabla").removeClass("in");
            },
            notificacion(){
                if (this.notadebito > 0) {
                    toastr.info('Revisar el módulo de nota de débito para mayor información','Nota de Débito Creada',{
                        "closeButton": true,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-bottom-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    });
                }
            },
            ReciboGenerado(){
                toastr.success('Pago Realizado',{
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                });
            },
            DisableFunction(){
                this.DisableTxt();
                this.titulo= 'Recibo';
                this.errorPago= 0;
                this.txtvalidate= [];
                this.detalleventa= [];
                this.tipoBtn=1;
                this.disabledvue= true;
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle();
                this.ClearTxt();
                this.EnabledButon();
                $("#tabla").addClass("in");
                $("#txtBuscar").focus();
            },
            DisableTxt(){
                $("#txtCodigo").prop( "disabled", true );
                $("#txtCodigoB").prop( "disabled", true );
                $("#txtNombre").prop( "disabled", true );
                $("#txtNombreOrig").prop( "disabled", true );
                $("#txtStock").prop( "disabled", true );
                $("#txtUnidad").prop( "disabled", true );
                $("#txtBuscar").prop( "disabled", false );
            },
            EnableFunction(){
                this.fechaActual();
                this.tipofrm = 'crear';
                this.titulo = 'Registrar Recibo';
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle(); 
                this.disabledvue1= false;
                $("#tabla").removeClass("in");
                this.EnableTxt();
                this.DesabledButton();
                $("#txtAbono").prop('disabled', true);
            },
            EnableTxt(){
                $("#txtCodigo").prop( "disabled", false );
                $("#txtCodigoB").prop( "disabled", false );
                $("#txtNombre").prop( "disabled", false );
                $("#txtNombreOrig").prop( "disabled", false );
                $("#txtStock").prop( "disabled", false );
                $("#txtUnidad").prop( "disabled", false );
            },
            DesabledButton(){
                $("tbody > tr > td").find("button").prop( "disabled", true );
                $("tfoot").css("display", "none");
            },
            EnabledButon(){
                $("tbody > tr > td").find("button").prop( "disabled", false );
                $("tfoot").css("display", "inherit");
            },
            cerrarEsc(){
                document.getElementById('btnclose').click();
            },
            ClearTxt(){
                this.pago = [];
                this.idcliente= 0;
                this.cliente= '';
                this.idfactura= 0;
                this.factura= '';
                this.arrayfactura= [];
                this.arraydatos = [];
                this.vendedor= '';
                this.zona= '';
                this.abono= 0;
                this.idvendedor= 0;
                this.total= 0;
                this.totalrecibo= 0;
                this.totaldevolucion= 0;
                this.fecha= '';
                this.zona= '';
                this.arrayrecibo= [];
                this.recibo= '';
                this.idrecibo= 0;
                this.saldorest= 0;
                this.errorPago= 0;
                this.notadebito= 0;
                this.txtvalidate= [];
                //this.fecharegistro= '';
                this.observacion = '';
                this.cont = 0;
            },
            ValidatePagos(){
                this.errorPago = 0;
                this.txtvalidate = [];
                var suma = parseFloat(this.TotalDesc) + parseFloat(this.abono);
                var saldo= parseFloat(this.totalrecibo).toFixed(2) - parseFloat(this.abono).toFixed(2);


                if (!this.idcliente) this.txtvalidate.push("Seleccione un cliente, por favor");
                if (!this.idrecibo) this.txtvalidate.push('Agregar recibo del vendedor');
                if (this.abono<0) this.txtvalidate.push("El abono o monto no puede ser menor a cero");
                if (!this.fecharegistro) this.txtvalidate.push("Debe de agregar la fecha de creación del recibo");
                //if(this.totalrecibo <= 0 && this.totaldevolucion <= 0) this.txtvalidate.push("Debe de seleccionar al menos una factura");
                //if(parseFloat(this.totalrecibo).toFixed(2) > parseFloat(this.abono).toFixed(2)) this.txtvalidate.push("El abono no cubre todo las facturas que desea pagar");
                if(saldo > 0) this.txtvalidate.push("El abono no cubre todo las facturas que desea pagar");
                if(parseFloat(this.abono).toFixed(2) > parseFloat(this.totalrecibo).toFixed(2) || parseFloat(suma).toFixed(2) >= parseFloat(this.totalrecibo).toFixed(2)){
                    this.notadebito = parseFloat(this.abono).toFixed(2) - parseFloat(this.totalrecibo).toFixed(2);
                }
                if(this.txtvalidate.length) this.errorPago = 1;
                return this.errorPago;
            },
            cerrarUpdate(){
                this.titulo = 'Recibo';
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle(); 
                $("#collapseForm").removeClass("in");
                $("#collapseForm").removeClass("show");
                $("#tabla").addClass("in");
                this.disabledvue1= true;
                $("#txtAbono").prop('disabled', true);
                this.EnabledButon();
                this.arraydatos= [];
                this.ClearTxt();
            },
            getRecibo(id){
                this.tipofrm = 'modificar';
                let me=this;
                var url = this.ruta + '/recibo/datos?id=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arraydatos = respuesta.recibo;
                    me.idcliente = me.arraydatos[0].idCliente;
                    me.idrecibo = me.arraydatos[0].idTalonario;
                    me.idvendedor = me.arraydatos[0].idVendedor;
                    me.idpago = me.arraydatos[0].idPagoCxC;
                    me.cliente = me.arraydatos[0].Cliente;
                    me.recibo = me.arraydatos[0].NumeracionInicial;

                    me.vendedor = me.arraydatos[0].Vendedor;
                    me.abono = parseFloat(me.arraydatos[0].Abono).toFixed(2);
                    me.zona = me.arraydatos[0].Zona;
                    me.observacion = me.arraydatos[0].Observacion;
                    me.fecharegistro =  me.arraydatos[0].FechaRecibo;
                    me.CargarRecibo(me.idvendedor);
                    var suma= 0;
                    for (let i = 0; i < respuesta.recibo.length; i++) {
                        suma = parseFloat(suma) + parseFloat(respuesta.recibo[i].total);
                    }
                    me.saldorest = suma;
                })
                .catch(function (error) {
                    console.log(error);
                }),
                this.selectVendedor();
                this.selectCliente();                
                this.titulo = 'Actualizar Recibo';
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle(); 
                $("#tabla").removeClass("in");
                $("#collapseForm").addClass("in");
                this.EnableTxt();
                this.DesabledButton();
                this.disabledvue1= false;
                $("#txtAbono").prop('disabled', false);
            },
            infoRecibo(id){
                let me=this;
                var url = this.ruta + '/recibo/datos2?id=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arraydatos = respuesta.recibo;
                    me.idrecibo = me.arraydatos[0].NumeracionInicial;
                    me.abono = me.arraydatos[0].Abono;
                    me.cliente = me.arraydatos[0].Cliente;
                    me.zona = me.arraydatos[0].Zona;
                    me.fecha = me.arraydatos[0].created_at;
                    me.estado = me.arraydatos[0].Estado;
                    me.anular = me.arraydatos[0].MotivoAnulacion;
                    me.observacion = me.arraydatos[0].Observacion;
                    me.usuario = me.arraydatos[0].Usuario;
                    me.fecharegistro =  me.arraydatos[0].FechaRegistro;
                })
                .catch(function (error) {
                    console.log(error);
                }),
                this.tipofrm="ver",
                this.titulo= "Detalle de Recibo",
                $("#tabla").removeClass('in');
                $("#collapseForm").addClass('in');
                this.DesabledButton();
            },
            cerrarView(){
                this.tipofrm="crear",
                this.titulo= "Recibo",
                $("#collapseForm").removeClass('in');
                $("#tabla").addClass('in');
                this.ClearTxt();
                this.EnabledButon();
                this.arraydatos= [];
            },
            CalcularDescuento(data=[]){
                this.idfactura = data['idFactura'];
                this.TotalFact = data['TotalDeuda'];
            },
            ClearCalc(){
                this.idfactura = 0;
                this.TotalFact = 0;
                this.descuento = 2;
                this.CalcDesc = 0;
            },
        },
        mounted() {
            this.listarPagos(1, this.buscar,this.filtro);
            this.DisableFunction();
            $("#btnnew").toggle();
        }
    }
</script>
<style>
    .div-error{
        display: flex;
        margin-left: 0.5rem;
        font-size: 12px;
    }
    .text-error{
        color:red !important;
        font-weight: bold;
        text-align: left;
    }
    .linetitle{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .titleEnc{
        display: block;
        text-align: center;
        font-weight: bold;
    }
    .info{
        font-size: 14px;
    }
    .d-flex{
        display: flex;
    }
    .ml-25{
        margin-left: 25%;
    }
    .w-25{
        width: 25%;
    }
    .w-75{
        width: 75%;
    }
    .w-50{
        width: 50%;
    }
    .pReturn{
        padding-left: 0px;
        border-top: 0px;
    }
    .imgsize{
        min-width: 100px;
        min-height: 150px;
        max-width: 250px;
        max-height: 250px;
        margin: auto;
    }
    .linetitle{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .titleEnc{
        display: block;
        text-align: center;
        font-weight: bold;
    }
    .mb-30{
        margin-bottom: 0px;
    }
    .btn{
        border: 1px solid;
    }
    .justify-content-end{
        justify-content: end;
    }
    .contenidoModal{
        margin: 25px 0px;
    }
    .modalDialog {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.3);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 0ms ease-in;
        -moz-transition: opacity 0ms ease-in;
        transition: opacity 0ms ease-in;
        pointer-events: none;
    }
    .modalDialog:target {
        opacity:1;
        pointer-events: auto;
    }
    .modalDialog > div {
        width: 50%;
        position: relative;
        margin: 5% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 3px;
        background: #fff;
        -webkit-transition: opacity 0ms ease-in;
        -moz-transition: opacity 0ms ease-in;
        transition: opacity 0ms ease-in;
    }
    .close {
        background: hsl(0, 50%, 60%);
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }
    .close:hover { background: hsl(0, 80%, 50%); color: white; }
    .tituloModal{
        margin: 10px 0 15px;
    }
    .vs__dropdown-menu{
        color: red;
    }
</style>