<template>
    <div class="content" >
        <div class="container-fluid">
            <div class="row">
                <!-- FORMULARIO -->
                <div class="col-md-12 pReturn collapse" id="collapseForm">
                    <div class="card">
                        <div class="header">
                            <h4 class="title" v-text="titulo"></h4>
                        </div>
                        <div class="content">
                         <!-- MUESTRA EL FORMULARIO PARA generar una Cotizacion -->
                            <div v-show="tipofrm=='actualizar' || tipofrm=='factura'">
                                <div class="tab-content">
                                    <!-----   DATOS GENERALES DEL PRODUCTO ------->
                                    <div class="tab-pane fade in active">
                                        <div class="row">
                                            <div class="col-md-3 col-lg-2">
                                                <div class="form-group">
                                                    <label>Tasa de Cambio</label>
                                                    <input type="text" class="form-control" id="txtcambio" style="height: 31.6px;" v-model="cambio">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-lg-1">
                                                    <label for="">Codigo</label>
                                                    <input type="text" id="txtIdCliente" class="form-control" style="height: 31.6px" v-model="codigo" @keydown.enter="codigo==null || codigo == '' ? ModalCliente():infoCliente(codigo)">
                                                </div>
                                                <div class="col-md-6 col-lg-4">
                                                    <label for="">Cliente</label>
                                                    <input type="text" class="form-control" style="height: 31.6px" v-model="nombreFact">
                                            </div>
                                            <div class="col-md-6 col-lg-3 mostrardiv">
                                                <div class="form-group">
                                                    <label>Vendedor:</label>
                                                    <v-select
                                                        label="Nombre"
                                                        placeholder= "Seleccione Vendedor"
                                                        :options="arrayVendedor"
                                                        v-model="vendedor"
                                                        :value="arrayVendedor.Nombre"
                                                        @input="setVendedor"
                                                        :disabled="disabledvue"
                                                    ></v-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-2 mostrardiv">
                                                <div class="form-group">
                                                    <label>Tipo de Venta:</label>
                                                    <v-select
                                                        placeholder= "Tipo de Venta"
                                                        :options="['Contado','Crédito']"
                                                        v-model="tipocompra"
                                                    ></v-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row ocultardiv">
                                            <div class="col-md-6 col-lg-3">
                                                <div class="form-group">
                                                    <label>Vendedor:</label>
                                                    <v-select
                                                        label="Nombre"
                                                        placeholder= "Seleccione Vendedor"
                                                        :options="arrayVendedor"
                                                        v-model="vendedor"
                                                        :value="arrayVendedor.Nombre"
                                                        @input="setVendedor"
                                                        :disabled="disabledvue"
                                                    ></v-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <label>Tipo de Venta:</label>
                                                    <v-select
                                                        placeholder= "Tipo de Venta"
                                                        :options="['Contado','Crédito']"
                                                        v-model="tipocompra"
                                                    ></v-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <label>Tipo de Fact.:</label>
                                                    <v-select
                                                        placeholder= "Tipo de Fact"
                                                        :options="['Cordoba','Dolar']"
                                                        v-model="tipofactura"
                                                    ></v-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <label>Zona:</label>
                                                    <input type="text" class="form-control" placeholder="Lugar donde Habita" id="txtPlazo" v-model="zona" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <label>Plazo de Pago:</label>
                                                    <input type="text" class="form-control" placeholder="Dias de Pago" id="txtPlazo" v-model="plazopago" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <label>Crédito:</label>
                                                    <input type="text" class="form-control" placeholder="Crédito de Compra" id="txtPlazo" v-model="credito" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <label>Crédito Disponible:</label>
                                                    <input type="text" class="form-control" placeholder="Crédito Disponible" id="txtPlazo" v-model="creditoDisponible" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <a class="btn btn-primary" style="margin-top: 27px;" href="#Productos" id="modalProducto" @click="SeleccionarProducto"><i class="pe-7s-plus"></i> Agregar Productos</a>                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" v-if="tipofactura == 'Cordoba'">
                                            <div class="col-md-12">
                                                <table class="table table-hover table-bordered">
                                                    <thead class="text-center" style="background-color: gray; color: white;">
                                                        <td>Opciones</td>
                                                        <td>Producto</td>
                                                        <td v-show="tipofrm=='actualizar'">Und Med</td>
                                                        <td>Cantidad</td>
                                                        <td v-show="tipofrm=='actualizar'">Stock</td>
                                                        <td>Precio C$</td>
                                                        <td>Total C$</td>
                                                    </thead>
                                                    <tbody v-if="detalleventa.length">
                                                        <tr v-for="(det, index) in detalleventa" :key="det.idproducto" :style="parseInt(det.Cantidad) > (parseInt(det.Stock)+parseInt(det.CantInicial))?'color: red':'color: black'">
                                                            <td class="text-center">
                                                                <a type="button" class="btn btn-danger" @click="eliminarProd(index)"><i class="pe-7s-close"></i></a>
                                                            </td>
                                                            <td v-text="det.Nombre"></td>
                                                            <td class="text-center" v-show="tipofrm=='actualizar'">{{det.Medida +' '+ det.Presentacion}}</td>
                                                            <td class="text-center">
                                                                <input type="number" min="1" :max="parseInt(det.Stock)+parseInt(det.CantInicial)" class="form-control" v-model="det.Cantidad">
                                                            </td>
                                                            <td class="text-center" v-show="tipofrm=='actualizar'">{{ parseInt(det.Stock) + parseInt(det.CantInicial) }}</td>
                                                            <td v-if="tipofrm=='factura'" v-text="det.Precio" class="text-center"></td>
                                                            <td v-else class="text-center">
                                                                <select class="form-control" v-model="det.Precio">
                                                                    <option :value="det.Precio1" :disabled="det.Precio1==0" :selected="det.Precio==det.Precio1">{{det.Precio1}}</option>
                                                                    <option :value="det.Precio2" :disabled="det.Precio2==0" :selected="det.Precio==det.Precio2">{{det.Precio2}}</option>
                                                                    <option :value="det.Precio3" :disabled="det.Precio3==0" :selected="det.Precio==det.Precio3">{{det.Precio3}}</option>
                                                                    <option :value="det.Precio4" :disabled="det.Precio4==0" :selected="det.Precio==det.Precio4">{{det.Precio4}}</option>
                                                                    <option :value="det.Precio5" :disabled="det.Precio5==0" :selected="det.Precio==det.Precio5">{{det.Precio5}}</option>
                                                                </select>
                                                            </td>
                                                            <td class="text-center">{{ parseFloat(det.Precio * det.Cantidad).toFixed(2) }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td :colspan="tipofrm=='factura'?4:6" style="text-align: end; padding-right: 25px">Total de Factura</td>
                                                            <td class="text-center" style="font-weight: bold;">C$ {{ total = TotalFact.toFixed(2) }} </td>
                                                            <td style="display: none;">C$ {{ totalcomision = TotalComision.toFixed(2) }} </td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody v-else>
                                                        <tr>
                                                            <td colspan="5" style="text-align: center;">
                                                                **** No hay Producto registrado ****
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    
                                                </table>
                                            </div>
                                        </div>  
                                        <div class="row" v-else>
                                            <div class="col-md-12">
                                                <table class="table table-hover table-bordered">
                                                    <thead class="text-center" style="background-color: gray; color: white;">
                                                        <td>Opciones</td>
                                                        <td>Producto</td>
                                                        <td>Cantidad</td>
                                                        <td>Precio $</td>
                                                        <td>Precio C$</td>
                                                        <td>Total C$</td>
                                                    </thead>
                                                    <tbody class="text-center" v-if="detalleventa.length">
                                                        <tr v-for="(det, index) in detalleventa" :key="det.idproducto">
                                                            <td>
                                                                <a type="button" class="btn btn-danger" @click="eliminarProd(index)"><i class="pe-7s-close"></i></a>
                                                            </td>
                                                            <td v-text="det.Nombre"></td>
                                                            <td v-text="det.Stock" class="text-center"></td>
                                                            <td>
                                                                <input type="number" min="1"  :max="det.stock" class="form-control" v-model="det.Cantidad">
                                                            </td>
                                                            <td v-text="det.Precio"></td>
                                                            <td>{{ det.Precio * det.Cantidad }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5" style="text-align: end; padding-right: 25px">Total de Factura</td>
                                                            <td class="text-center" style="font-weight: bold;">C$ {{ total = TotalFact.toFixed(2) }} </td>
                                                            <td style="display: none;">C$ {{ totalcomision = TotalComision.toFixed(2) }} </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5"></td>
                                                            <td class="text-center" style="font-weight: bold;">$ {{ totaldolares = TotalFactDolar.toFixed(2) }} </td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody v-else>
                                                        <tr>
                                                            <td colspan="6" style="text-align: center;">
                                                                **** No hay Producto registrado ****
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- CUADRO MODAL AGREGAR Cliente -->
                                        <div id="openModalCliente" class="modalDialog" @keydown.esc="cerrarEsc" tabindex="0">
                                            <div>
                                                <a href="#close" title="Close" class="close" id="btnclosec" @click="ClearProd">X</a>
                                                <h5 class="tituloModal">Buscador</h5>
                                                <hr class="linetitle">
                                                <div class="contenidoModal">
                                                    <div class="row">
                                                        <div class="col-md-6 col-lg-12">
                                                            <div class="form-group">
                                                                <label>Cliente</label>
                                                                <v-select
                                                                    label="Cliente"
                                                                    placeholder = "Buscar por nombre del cliente"
                                                                    @search="selectCliente"
                                                                    :options="arrayCliente"
                                                                    v-model="cliente"
                                                                    :value="arrayCliente.Nombre"
                                                                    @input="setCliente"
                                                                    id="seleccionarcliente1"
                                                                >
                                                                <div slot="no-options">Lo siento, Buscar otro nombre</div>
                                                                </v-select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- FIN DEL MODAL --> 
                                    <!-- CUADRO MODAL AGREGAR PRODUCTO -->
                                    <div id="Productos" class="modalDialog" @keydown.esc="cerrarEsc" tabindex="0">
                                        <div class="modalproducto">
                                            <a href="#close" title="Close" class="close" id="btnclose" @click="ClearProd">X</a>
                                            <h4 class="tituloModal">Productos</h4>
                                            <hr class="linetitle">
                                            <div class="buscador" >
                                                <p style="display: inline;">Buscar:</p>
                                                <div v-if="tipofactura == 'Cordoba'">
                                                    <v-select
                                                        label="Nombre"
                                                        placeholder= "Escriba un producto"
                                                        @search="selectProducto"
                                                        :options="arrayProducto"
                                                        @input="setProducto"
                                                        :value="arrayProducto.Nombre"
                                                        v-model="producto"
                                                        :selectable="option => ! (option.Stock <= '0')"
                                                        @keydown.native.enter="saltarCantidad1"
                                                        id="idselectprod1"
                                                    >
                                                        <template v-slot:option="option" >
                                                            <span style="margin-rigth: 25px" :style="parseInt(option.Stock) > 100?'color:black':parseInt(option.Stock) == 0?'color:red':'color:orange'"> {{ option.Unidad }} </span>
                                                            <span :style="parseInt(option.Stock) > 100?'color:black':parseInt(option.Stock) == 0?'color:red':'color:orange'">{{ option.Nombre }}</span>
                                                            <span class="pull-right" :style="parseInt(option.Stock) > 100?'color:black':parseInt(option.Stock) == 0?'color:red':'color:orange'">Existencia:  {{ option.Stock }} {{option.Presentacion}} </span>
                                                        </template>
                                                        <div slot="no-options">Ingrese un producto</div>
                                                    </v-select>
                                                </div>
                                                <div v-else>
                                                    <v-select
                                                        label="Nombre"
                                                        placeholder= "Escriba un producto"
                                                        @search="selectProducto"
                                                        :options="arrayProducto"
                                                        @input="setProducto"
                                                        :value="arrayProducto.Nombre"
                                                        v-model="producto"
                                                        :selectable="option => ! (option.PrecioDolar1 <= 0 || option.Stock <= 0)"
                                                        @keydown.native.enter="saltarCantidad1"
                                                        id="idselectprod1"
                                                    >
                                                    <template v-slot:option="option" >
                                                            <span style="margin-rigth: 25px" :style="parseInt(option.Stock) > 100?'color:black':parseInt(option.Stock) <= 0?'color:red':'color:orange'"> {{ option.Unidad }} </span>
                                                            <span :style="parseInt(option.Stock) > 100?'color:black':parseInt(option.Stock) <= 0?'color:red':'color:orange'">{{ option.Nombre }}</span>
                                                            <span class="pull-right" :style="parseInt(option.Stock) > 100?'color:black':parseInt(option.Stock) <= 0?'color:red':'color:orange'">Existencia:  {{ option.Stock }} {{option.Presentacion}} </span>
                                                        </template>
                                                        <div slot="no-options">Ingrese un producto</div>
                                                    </v-select>
                                                </div>
                                            </div>
                                            <div class="contenidoModal">
                                                <div class="row">
                                                    <div class="col-md-6" v-if="imagen">
                                                        <img :src="imagen" alt="El producto no cuenta con IMAGEN" class="img-responsive imgsize">
                                                    </div>
                                                    <div class="col-md-6" v-else>
                                                        <img :src="imgdefault" class="img-responsive imgsize">
                                                    </div>
                                                    <div class="col-md-6 row">
                                                        <div class="col-md-6">
                                                            <label for="">Cantidad Existente</label>
                                                            <p :style="parseInt(stock)>100?'color:green':'color: red'" style="font-size: 20px; font-weight:bold; margin-top:-.3em" v-text="stock"></p>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="">Cajas Existente</label>
                                                            <p v-text="caja"></p>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label for="">Cantidad a Comprar</label>
                                                            <input type=number class="form-control" min="1" step="1" v-model="cantidad" @keydown.enter="saltarTipoP1" id="txtcantcomprar1">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 row">
                                                        <div class="col-md-6">
                                                            <label for="">Tipo de Precio:</label>
                                                            <div class="borderselect">
                                                                <select v-model="tipoprecio" class="form-control" @click="DefaultPrecio3" @keydown.enter="saltarPrecio1" id="selecttipo1">
                                                                    <option value="Cordoba">Cordoba</option>
                                                                    <option value="Dolar">Dolar</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6" >
                                                            <label for="">Precio:</label>
                                                            <div class="borderselect">
                                                                <select v-if="tipoprecio == 'Cordoba'" v-model="precio" @keydown.enter="actualizarDetalle" class="form-control" id="selectprecio1">
                                                                    <option :value="precio1" disabled>Precio 1 C$ {{ precio1 }}</option>
                                                                    <option :value="precio2">Precio 2 C$ {{ precio2 }}</option>
                                                                    <option :value="precio3">Precio 3 C$ {{ precio3 }}</option>
                                                                    <option :value="precio4">Precio 4 C$ {{ precio4 }}</option>
                                                                    <option :value="precio5">Precio 5 C$ {{ precio5 }}</option>
                                                                </select>
                                                                <select v-else-if="tipoprecio == 'Dolar'" v-model="precio" @keydown.enter="actualizarDetalle" class="form-control"  id="selectprecio1">
                                                                    <option :value="preciodolar1" disabled>Precio 1 $ {{ preciodolar1 }}</option>
                                                                    <option :value="preciodolar2">Precio 2 $ {{ preciodolar2 }}</option>
                                                                    <option :value="preciodolar3">Precio 3 $ {{ preciodolar3 }}</option>
                                                                    <option :value="preciodolar4">Precio 4 $ {{ preciodolar4 }}</option>
                                                                    <option :value="preciodolar5">Precio 5 $ {{ preciodolar5 }}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label for="">Unidad de Medida</label>
                                                        <p style="font-size: 12px" v-text="undmed"></p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="">Información 1</label>
                                                        <p style="font-size: 12px" v-text="info1"></p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="">Información 2</label>
                                                        <p style="font-size: 12px" v-text="info2"></p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="">Información 3</label>
                                                        <p style="font-size: 12px" v-text="info3"></p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="">Información 4</label>
                                                        <p style="font-size: 12px" v-text="info4"></p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="">Información 5</label>
                                                        <p style="font-size: 12px" v-text="info5"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row div-error" v-show="errorProducto">
                                                <div class="text-center text-error">
                                                    <ul>
                                                        <li v-for="msjerror in txtvalidate1" :key="msjerror" v-text="msjerror"></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="pieModal">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <button class="btn btn-success pull-right" style="margin-left:10px;" @click="actualizarDetalle">Agregar</button>
                                                        <a href="#close" class="btn btn-danger pull-right" @click="ClearProd">Cerrar</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- FIN DEL MODAL -->
                                    <div class="form-group row div-error" v-show="errorCotizacion">
                                        <div class="text-center text-error">
                                            <ul>
                                                <li v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary" @click="mostrarTabla()" v-if="tablamostrar">Mostrar Tabla</button>
                                <button class="btn btn-primary" @click="ocultarTabla()" v-else>Ocultar Tabla</button>
                                <a class="btn btn-success pull-right" id="btnAdd" v-if="tipofrm=='factura'" @click="validarPin()"><i class="pe-7s-check"></i> Facturar</a>
                                <a class="btn btn-warning pull-right" v-else @click="actualizarPrefactura()"><i class="pe-7s-reload"></i> Actualizar</a>
                                <a href="#ModalFactura" id="btnModalPrint" style="display: none"></a>
                                <button class="btn btn-danger" @click="cerrarView" id="btncerrar">Cerrar</button>
                                <div class="clearfix"></div>
                            </div>
                         <!-- MUESTRA LA INFORMACION DE la Cotizacion -->
                            <div v-show="tipofrm=='ver'">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 style="font-weight: bold; border-bottom: 1px solid; margin: 0">Cliente</h4>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Nombre:</h5>
                                            <p style="margin: 0 2%;"  v-text="cliente"></p>
                                        </div>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Zona:</h5>
                                            <p style="margin: 0 2%;"  v-text="zona"></p>
                                        </div>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Tipo de Compra:</h5>
                                            <p style="margin: 0 2%;"  v-text="tipocompra"></p>
                                        </div>
                                        <div class="d-flex">
                                            <h5 style="margin:auto 0;font-weight: bold;">Total de Compra:</h5>
                                            <p style="margin: 0 2%;"  v-text="'C$'+total"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h2 style="font-weight: bold; margin: 0px;" class="text-right">PREFACTURA</h2>
                                        <div class="d-flex justify-content-end" v-show="estado=='Facturado'">
                                            <h4 style="margin:auto 0;font-weight: bold; color: green">FACTURADO</h4>
                                        </div>
                                        <div class="d-flex justify-content-end" v-show="estado=='Facturado'">
                                            <p style="margin: 0 2%;"><b>No. Factura:</b> {{idFactura}}</p>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <h5 style="margin:auto 0;font-weight: bold;">No. Prefactura:</h5>
                                            <p style="margin: 0 2%;" v-text="idPrefactura"></p>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <h5 style="margin:auto 0;font-weight: bold;">Vendedor:</h5>
                                            <p style="margin: 0 2%;" v-text="vendedor"></p>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <h5 style="margin:auto 0;font-weight: bold;">Fecha de Emisión:</h5>
                                            <p style="margin: 0 2%;" v-text="fechaem"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 content table-responsive">
                                        <table class="table table-bordered text-center">
                                            <thead style="background: gray; color: white;">
                                                <th class="text-center">Producto</th>
                                                <th class="text-center">Unidad Medida</th>
                                                <th class="text-center">Cantidad</th>
                                                <th class="text-center">Precio C$</th>
                                                <th class="text-center">Total C$</th>
                                            </thead>
                                            <tbody>
                                                <tr v-for="det in arraydetalle" :key="det.idCotizacion">
                                                    <td style="text-align: left" v-text="det.Nombre"></td>
                                                    <td>{{det.Medida +' '+ det.Presentacion}}</td>
                                                    <td v-text="det.Cantidad"></td>
                                                    <td>{{ det.PrecioSelec }}</td>
                                                    <td>{{ parseFloat(det.Precio * det.Cantidad).toFixed(2) }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-default" @click="cerrarView">Cerrar</button>
                                        <!--<a class="btn btn-warning" href="#ModalImprimir1"><i class="pe-7s-print"></i> Imprimir</a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
                <!--   TABLA -->
                <div class="col-md-12 collapse in" id="tabla">
                    <div class="card mb-30"> 
                        <div class="header">
                            <div class="form-group" style="display: inline-block;">
                                <p style="display: inline;" >Buscar:</p>
                                <select name="Filtro" class="select-css" v-model="filtro">
                                    <option value="c.idPrefactura">Prefactura</option>
                                    <option value="cl.Nombre">Cliente</option>
                                    <option value="v.Nombre">Vendedor</option>
                                </select>
                                <input type="text" v-model="buscar" class="txtbuscar" placeholder="Buscar..." id="txtBuscar"  @keyup.shift.0="EnableFunction1" @keyup.enter="listarPrefactura(1, buscar,filtro)">
                                <img :src="imgbuscar" class="img-sidebar">
                            </div>
                            <div class="pull-right">
                                <a href="#FactVendedor" class="btn btn-primary" style="display: block;"  @click="SeleccionarVendedor">Lista Prefacturas</a>
                            </div>
                        </div>
                        <div class="content">                                                                                  
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped" >
                                    <thead> 
                                        <th>Opciones</th>
                                        <th>No.Pref</th>
                                        <th>Cliente</th>
                                        <th>Vendedor</th>
                                        <th>Total</th>
                                        <th>Fecha</th>
                                        <th>Tipo Compra</th>
                                        <th>Estado</th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="Prefactura in arrayPrefactura" :key="Prefactura.idPrefactura" :style="Prefactura.Estado=='Facturado'?'color:green':Prefactura.Estado=='Anulado'?'color:red':''">
                                            <td>
                                                <div v-if="Prefactura.Estado == 'Habilitado'">
                                                    <!--<button type="button" class="btn btn-success" v-if="$can('prefactura.invoce')" @click="EditarFactura(Prefactura.idPrefactura)" ><i class="pe-7s-cash"></i></button>-->
                                                    <button type="button" class="btn btn-warning" @click="EditarPrefactura(Prefactura.idPrefactura)" ><i class="pe-7s-edit"></i></button>
                                                    <button type="button" class="btn btn-success"  @click="EditarFactura(Prefactura.idPrefactura)" ><i class="pe-7s-cash"></i></button>
                                                    <button type="button" class="btn btn-default" @click="infoPrefactura(Prefactura.idPrefactura)"><i class="pe-7s-id"></i></button>
                                                    <button type="button" class="btn btn-danger" @click="deshabilitarPrefactura(Prefactura.idPrefactura)"><i class="pe-7s-trash"></i></button>
                                                </div>
                                                <div v-else>
                                                    <button type="button" class="btn btn-default" @click="infoPrefactura(Prefactura.idPrefactura)"><i class="pe-7s-id"></i></button>
                                                </div>
                                            </td>
                                            <td v-text="Prefactura.idPrefactura"></td>
                                            <td v-text="Prefactura.Cliente"></td>
                                            <td v-text="Prefactura.Vendedor"></td>
                                            <td>{{parseFloat(Prefactura.Total).toFixed(2)}}</td>
                                            <td v-text="Prefactura.created_at"></td>
                                            <td v-text="Prefactura.TipoCompra"></td>
                                            <td v-text="Prefactura.Estado"></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <ul class="pagination d-flex">
                                            <li class="page-item" v-if="pagination.current_page > 1">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page - 1, buscar,filtro)">&laquo;</a>
                                            </li>
                                            <li class="page-item" v-for="page in pagesNumber" :key="page" :class= "[ page == isActived ? 'active' : '' ]" >
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(page, buscar,filtro)" v-text="page"></a>
                                            </li>
                                            <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page + 1, buscar,filtro)">&raquo;</a>
                                            </li>
                                        </ul>
                                    </tfoot>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        <!-- CUADRO MODAL IMPRIMIR RECIBO -->
            <div id="ModalFactura" class="modalDialog">
                <div class="factura">
                    <h4 class="tituloModal">Imprimir Factura</h4>
                    <hr class="linetitle">
                    <div class="contenidoModal">
                        <h5 class="text-center">Manera de imprimir</h5>
                            <div class="col-md-4">
                                <label>Hoja Cinta</label>
                                <img :src="rollo" width="200px" height="200px">
                                <a class="btn btn-default" style="margin-left: 25%" href="#close">Imprimir</a>
                            </div>
                            <div class="col-md-4">
                                <label>Hoja Completa</label>
                                <img :src="hoja" width="200px" height="200px">
                                <a class="btn btn-default" style="margin-left: 25%" @click="FacturaHoja(idFactura)" href="#close">Imprimir</a>
                            </div>
                            <div class="col-md-4">
                                <label>2 Hojas</label>
                                <img :src="doble" width="200px" height="200px">
                                <a class="btn btn-default" style="margin-left: 25%" @click="Factura2Hoja(idFactura)" href="#close">Imprimir</a>
                            </div>
                    </div>
                </div>
            </div>
        <!-- FIN DEL MODAL -->
        <!-- CUADRO MODAL IMPRIMIR Listado de Prefacturas x vendedor-->
            <div id="FactVendedor" class="modalDialog">
                <div style="width: 30%">
                    <h4 class="tituloModal">Prefacturas por Vendedor</h4>
                    <hr class="linetitle">
                    <div class="contenidoModal">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="">Fecha Inicio</label>
                                <input type="date" v-model="fechainicio" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <label for="">Fecha Final</label>
                                <input type="date" v-model="fechafinal" class="form-control">
                            </div>
                            <div class="col-md-12">
                                <label for="">Vendedor</label>
                                <v-select
                                    label="Nombre"
                                    placeholder= "Seleccione Vendedor"
                                    :options="arrayVendedor"
                                    v-model="vendedor"
                                    :value="arrayVendedor.Nombre"
                                    @input="setVendedor"
                                ></v-select>
                            </div>
                        </div>
                        <div class="form-group row div-error" v-show="errores">
                            <div class="text-center text-error">
                                <div v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror">            
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-left: 25%; margin-top: 5%">
                            <div class="col-md-4">
                                <a class="btn btn-danger btn-block" id="cerrar" href="#close">Cerrar</a>
                            </div>
                            <div class="col-md-4">
                                <a class="btn btn-default btn-block" @click="prefactVendedor(fechainicio, fechafinal, idvendedor)">Imprimir</a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        <!-- FIN DEL MODAL -->
    </div>
    
</template>

<script>
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    export default {
        props:['ruta'],
        data(){
            return{
                disabledvue: 'true',
                idPrefactura: 0,
                titulo: 'Prefactura',
                idvendedor: 0,
                vendedor: '',
                arrayVendedor: [],
                idcliente: 0,
                cliente: '',
                arrayCliente: [],
                detalleventa:[],
                arraydetalle:[],
                idproducto:0,
                producto: '',
                arrayProducto: [],
                imagen: '',
                precio1: 0,
                precio2: 0,
                precio3: 0,
                precio4: 0,
                precio5: 0,
                preciodolar1: 0,
                preciodolar2: 0,
                preciodolar3: 0,
                preciodolar4: 0,
                preciodolar5: 0,
                info1:'',
                info2:'',
                info3:'',
                info4:'',
                info5:'',
                undmed:'',
                caja: 0,
                undpaq:0,
                credito: 0,
                creditoDisponible: 0,
                plazopago: 0,
                stock: 0,
                cantidad: 1,
                comision: 0,
                precio: 0,
                tipocompra: 'Contado',
                tipofactura: 'Cordoba',
                total: 0,
                totalcomision: 0,
                cambio: 0,
                zona: '',
                arrayPrefactura: [],
                erroPrefactura: 0,
                errorProducto: 0,
                txtvalidate: [],
                txtvalidate1: [],
                prodBonificacion : [],
                arraydatos: [], 
                tablamostrar: true,
                agotarse: [],
                factvencida: [],
                tipoBtn: 1,
                tipofrm: 'crear',
                fechaem: '',
                previsualizar: '',
                pagination: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                },
                offset: 3,
                buscar: '', 
                filtro: 'c.idPrefactura',
                idFactura: 0,
                imgbuscar: './img/icons8_search1_32.png',
                rollo:'./img/rollo_recibo.jpg',
                doble:'./img/2_hoja.png',
                hoja:'./img/una_hoja.png',
                imgdefault: './img/product-default.jpg',
                tipoprecio: 'Cordoba',
                newcliente: '',
                newzona: '',
                frmcliente: 0,
                idzona: 0,
                arrayZona: [],
                codigo: '',
                nombreFact: '',
                arraydelete: [],
                cont: 0,
                facturador: '',
                fechainicio: '',
                fechafin: '',
            }
        },
        computed: {
            isActived: function() {
                return this.pagination.current_page;
            },
            pagesNumber: function() {
                if(!this.pagination.to){
                    return [];
                }

                var from = this.pagination.current_page - this.offset; 
                if(from < 1){
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            },
            TotalFact: function(){
                var suma = 0;
                for (let i = 0; i < this.detalleventa.length; i++) {
                    suma = parseFloat(suma) + parseFloat(this.detalleventa[i].Cantidad * this.detalleventa[i].Precio);
                }
                return suma;
            },
            TotalComision: function(){
                var suma = 0;
                for (let i = 0; i < this.detalleventa.length; i++) {
                    suma = parseFloat(suma) + (parseFloat(this.detalleventa[i].Cantidad * this.detalleventa[i].Precio) * (parseInt(this.detalleventa[i].PorcComision)/100));
                }
                return suma;
            },
        },
        components:{
            vSelect,
        },
        methods:{
            listarPrefactura(page, buscar, filtro){
                let me=this;
                var url = this.ruta + '/prefactura?page=' + page +'&buscar=' + buscar+'&filtro='+filtro;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayPrefactura = respuesta.prefactura.data;
                    me.pagination = respuesta.pagination;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            SeleccionarVendedor(){
                let me=this;
                var url = this.ruta + '/vendedor/seleccionar';
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayVendedor = respuesta.vendedor;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            setVendedor(value){
                let me = this;
                me.loading = true;
                me.idvendedor = value.idVendedor;
            },
            selectCliente(search,loading){
                let me=this;
                loading(true)

                var url = this.ruta + '/cliente/seleccionar?buscar='+search;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    //q:search
                    me.arrayCliente = respuesta.cliente;

                    loading(false)
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            setCliente(value){
                let me = this;
                me.loading = true;
                me.idcliente = value.idCliente;
                me.codigo = value.Codigo;
                me.credito  = value.LimiteCredito;
                me.plazopago = value.PlazoPago;
                me.idvendedor = value.idVendedor;
                me.vendedor = value.Vendedor;
                me.zona = value.Zona;
                me.creditoDisponible = value.LimiteCredito - value.Deuda;
                me.namecliente = value.Cliente;
                me.nombreFact = value.Cliente;
                me.tipocompra = value.TipoVenta;
                if (me.tipocompra == 'Contado') {
                    me.tipocompra = 'Contado';
                } else {
                    me.tipocompra = 'Crédito';
                }

                document.getElementById("modalProducto").click();
            },
            SeleccionarProducto(){
                let me=this;
                var url = this.ruta + '/producto/seleccionar';
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayProducto = respuesta.producto;
                    $('.vs__search').focus();
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            selectProducto(search,loading){
                let me = this;
                var url = this.ruta + '/producto/seleccionar';
                axios.post(url,{
                    'buscar': search,
                })
                .then(function (response) {
                    var respuesta = response.data; 
                    me.arrayProducto = respuesta.producto;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            saltarCantidad(){
                $("#txtcantcomprar").focus()
            },
            saltarTipoP(){
                $("#selecttipo").focus()
            },
            saltarPrecio(){
                $("#selectprecio").focus()
            },
            saltarCantidad1(){
                $("#txtcantcomprar1").focus()
            },
            saltarTipoP1(){
                $("#selecttipo1").focus()
            },
            saltarPrecio1(){
                $("#selectprecio1").focus()
            },
            DefaultPrecio3(){
                if (this.tipoprecio == 'Dolar') {
                    this.precio = this.preciodolar3;
                }else{
                    this.precio = this.precio3;
                }
            },
            setProducto(value){
                let me = this;
                me.loading = true;
                me.idproducto = value.idInventario;
                me.stock  = value.Stock;
                me.previsualizar = value.Imagen;
                if (me.previsualizar == null) {
                    me.imagen = './imagenes/productos/sin-imagen1.png';
                }else{
                    me.imagen = './imagenes/productos/'+ value.Imagen;
                }
                me.comision = value.PorcComision;
                me.precio1 = parseFloat(value.Precio1).toFixed(2);
                me.precio2 = parseFloat(value.Precio2).toFixed(2);
                me.precio3 = parseFloat(value.Precio3).toFixed(2);
                me.precio4 = parseFloat(value.Precio4).toFixed(2);
                me.precio5 = parseFloat(value.Precio5).toFixed(2);
                me.preciodolar1 = value.PrecioDolar1;
                me.preciodolar2 = value.PrecioDolar2;
                me.preciodolar3 = value.PrecioDolar3;
                me.preciodolar4 = value.PrecioDolar4;
                me.preciodolar5 = value.PrecioDolar5;
                me.undpaq = value.Unidad_de_Paquete;
                me.info1 = value.info1;
                me.info2 = value.info2;
                me.info3 = value.info3;
                me.info4 = value.info4;
                me.info5 = value.info5;
                me.caja = value.Stock/value.Unidad_de_Paquete;
                me.undmed = value.Unidad;
                me.comision = value.PorcComision;
                if (me.tipofactura == 'Dolar'){
                    me.precio = me.preciodolar3;
                } else{
                    me.precio = me.precio3;
                }
            },
            SeleccionarTasa(){
                let me=this;
                var url = this.ruta + '/dolar/seleccionar';
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    var Tcambio = parseFloat(respuesta.tasa[0].Cambio);
                    me.cambio = Tcambio.toFixed(2);
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            SeleccionarZona(page, buscar){
                let me=this;
                var url = this.ruta+'/zona/seleccionar'
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayZona = respuesta.zona;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            crearCliente(){
                this.frmcliente = 1,
                this.SeleccionarZona();
            },
            cancelarCliente(){
                this.frmcliente = 0;
                this.newcliente = '';
                this.idzona = 0;
                this.newzona = '';
            },
            registrarCliente(){
                 let me = this;
                axios.post(this.ruta+'/cliente/registrar', {
                    'idZona' : this.idzona,
                    'Nombre' : this.newcliente,
                    'idVendedor' : 1,
                    'TipoVenta' : 'Contado',
                    'LimiteCredito' : 0,
                    'PlazoPago' : 29,
                    'tipoC' : 'Temporal'
                    })
                .then(function (response) {
                    me.newcliente = '';
                    me.idzona = 0;
                    me.frmcliente = 0;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            cambiarPagina(page, buscar, filtro){
                let me = this;
                me.pagination.current_page = page;
                me.listarPrefactura(page, buscar, filtro);
            },
            encuentra(id){
                var temp = false;
                if(this.tipofrm == 'crear'){
                    for (let i = 0; i < this.detalleventa.length; i++) {
                        if (this.detalleventa[i].idproducto == id) {
                            return temp=true;
                        } 
                    }
                }else{
                    for (let i = 0; i < this.detalleventa.length; i++) {
                        if (this.detalleventa[i].idInventario == id) {
                            return temp=true;
                        } 
                    }
                }
                return temp;
            },
            eliminarProd(index){
                let me = this;
                me.arraydelete.push(me.detalleventa[index]);
                me.detalleventa.splice(index, 1);
            },
            actualizarDetalle(){
                if(this.ValidarProducto()){
                    return;
                }
                let me = this;
                if (me.encuentra(me.idproducto)) {
                    Swal.fire({
                    title: 'Error...',
                    text: "Lo sentimos, ya tiene registrado el producto",
                    icon: 'error',
                    confirmButtonColor: '#3085d6',
                    showClass: {
                        popup: 'animated fadeInDown faster'
                    },
                    hideClass: {
                        popup: 'animated fadeOutUp faster'
                    }
                    })
                } else {
                    me.detalleventa.push({
                        idInventario : me.idproducto,
                        Nombre : me.producto.Nombre,
                        Cantidad : me.cantidad,
                        CantInicial : 0,
                        Precio : me.precio,
                        PorcComision : me.comision,
                        Stock : me.stock,
                        Precio1 : me.precio1,
                        Precio2 : me.precio2,
                        Precio3 : me.precio3,
                        Precio4 : me.precio4,
                        Precio5 : me.precio5,
                        Medida : me.undmed,
                        Presentacion : me.producto.Presentacion,
                        Stock : me.stock
                    });
                    this.ClearProd();
                }
                $('#idselectprod1').find('.vs__search').focus();
            },
            deshabilitarPrefactura(id){
                Swal.fire({
                title: '¿Anular Prefactura?',
                text: "Anular la prefactura implica que los producto agregado regresan al inventario",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar',
                showClass: {
                    popup: 'animated fadeInDown faster'
                },
                hideClass: {
                    popup: 'animated fadeOutUp faster'
                }
                }).then((result) => {
                    if (result.value) {
                        let me = this;
                        axios.put(this.ruta+'/prefactura/deshabilitar', {
                            'idPrefactura' : id,
                            })
                        .then(function (response) {
                            Swal.fire(
                            'Anulado',
                            'Se actualizo el Inventario',
                            )
                            me.listarPrefactura(1, '','c.idPrefactura');
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    }
                })
            },
            FacturaHoja(id){
                window.open(this.ruta+"/factura/pdf/"+id+"/-");
                this.idFactura = 0;
            },
            Factura2Hoja(id){
                window.open(this.ruta+"/factura/pdf2/"+id+"/-");
                this.idFactura = 0;
            },
            mostrarTabla(){
                this.tablamostrar = false;
                $("#tabla").addClass("in");
            },
            ocultarTabla(){
                this.tablamostrar = true;
                $("#tabla").removeClass("in");
            },
            DisableFunction(){
                this.DisableTxt();
                this.titulo= 'Cotizacion';
                this.errorCotizacion= 0;
                this.txtvalidate= [];
                this.detalleventa= [];
                this.tipoBtn=1;
                this.disabledvue= true;
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle();

                this.ClearTxt();
                this.EnabledButon();

                $("#tabla").addClass("in");
                $("#txtBuscar").focus();
            },
            DisableTxt(){
                $("#txtCodigo").prop( "disabled", true );
                $("#txtCodigoB").prop( "disabled", true );
                $("#txtNombre").prop( "disabled", true );
                $("#txtNombreOrig").prop( "disabled", true );
                $("#txtStock").prop( "disabled", true );
                $("#txtUnidad").prop( "disabled", true );


                $("#txtBuscar").prop( "disabled", false );

            },
            EnableFunction(){
                this.titulo = 'Generar Cotización';
                this.disabledvue= false;
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle(); 
                $('#seleccionarcliente').find('.vs__search').focus();
                this.SeleccionarVendedor();
                this.SeleccionarTasa();

                $("#tabla").removeClass("in");
                //$("#txtcambio").focus();
                this.EnableTxt();
                this.DesabledButton();
            },
            EnableTxt(){
                $("#txtCodigo").prop( "disabled", false );
                $("#txtCodigoB").prop( "disabled", false );
                $("#txtNombre").prop( "disabled", false );
                $("#txtNombreOrig").prop( "disabled", false );
                $("#txtStock").prop( "disabled", false );
                $("#txtUnidad").prop( "disabled", false );
                $("#txtPorcComision").prop( "disabled", false );
                $("#txtDescripcion").prop( "disabled", false );
            },
            DesabledButton(){
                $("tbody > tr > td").find("button").prop( "disabled", true );
                $("tfoot").css("display", "none");
            },
            EnabledButon(){
                $("tbody > tr > td").find("button").prop( "disabled", false );
                $("tfoot").css("display", "inherit");
            },
            ClearTxt(){
                //this.idCotizacion= 0;
                this.idvendedor= 0;
                this.vendedor= '';
                this.idcliente= 0;
                this.cliente= '';
                this.idproducto=0;
                this.producto= '';
                this.imagen= '';
                this.precio1= 0;
                this.precio2= 0;
                this.precio3= 0;
                this.precio4= 0;
                this.precio5= 0;
                this.preciodolar1= 0;
                this.preciodolar2= 0;
                this.preciodolar3= 0;
                this.preciodolar4= 0;
                this.preciodolar5= 0;
                this.info1= '';
                this.info2= '';
                this.info3= '';
                this.info4= '';
                this.info5= '';
                this.undmed='';
                this.caja= 0;
                this.undpaq= 0;
                this.credito= 0;
                this.creditoDisponible= 0;
                this.plazopago= 0;
                this.stock= 0;
                this.cantidad= 1;
                this.comision= 0;
                this.precio= 0;
                this.tipocompra= 'Contado';
                this.total= 0;
                this.zona= '';
                this.errorCotizacion= 0;
                this.cambio=0;
                this.estado= '' ;
                this.detalleventa=[];
                this.agotarse= [];
                this.totalcomision= 0;
                this.codigo = '';
                this.nombreFact = '';
            },
            ClearProd(){
                this.idproducto=0;
                this.cantidad = 1;
                this.producto= '';
                this.imagen= '';
                this.precio = '';
                this.precio1= 0;
                this.precio2= 0;
                this.precio3= 0;
                this.precio4= 0;
                this.precio5= 0;
                this.preciodolar1= 0;
                this.preciodolar2= 0;
                this.preciodolar3= 0;
                this.preciodolar4= 0;
                this.preciodolar5= 0;
                this.info1= '';
                this.info2= '';
                this.info3= '';
                this.info4= '';
                this.info5= '';
                this.undmed='';
                this.caja= 0;
                this.undpaq= 0;
                this.stock = 0;
                this.previsualizar= '';
            },
            ValidateCotizacion(){
                this.errorCotizacion = 0;
                this.txtvalidate = [];

                if (this.idvendedor==0) this.txtvalidate.push("Seleccione a un vendedor");
                if (this.idcliente==0) this.txtvalidate.push("Seleccione a un cliente");
                if (this.detalleventa.length==0) this.txtvalidate.push("Debe de agregar al menos un producto");
                if (this.tipocompra == 'Crédito'){
                    if ( parseFloat(this.total) > parseFloat(this.creditoDisponible)) this.txtvalidate.push("No tiene suficiente crédito para Cotizacionr este pedido");
                }
                if(this.tipofrm == 'actualizar'){
                    for (let i = 0; i < this.detalleventa.length; i++) {
                        if(parseInt(this.detalleventa[i].Cantidad) > parseInt(this.detalleventa[i].Stock)){
                            this.txtvalidate.push('El producto '+this.detalleventa[i].Nombre+' supera la cantidad existente');
                        }                    
                    }
                }

                if(this.txtvalidate.length) this.errorCotizacion = 1;

                return this.errorCotizacion;
            },
            ValidarProducto(){
                this.errorProducto = 0;
                this.txtvalidate1 = [];

                if (this.precio == this.preciodolar1 ||this.precio == this.preciodolar2 || this.precio == this.preciodolar3 || this.precio == this.preciodolar4 || this.precio == this.preciodolar5) {

                    this.precio = parseFloat(this.precio * this.cambio).toFixed(2);
                }
                if (this.precio==0) this.txtvalidate1.push("El precio del producto no puede ser 0");
                if (this.cantidad==0) this.txtvalidate1.push("Al menos debe de tener 1 producto en venta");
                if (parseInt(this.cantidad) > parseInt(this.stock)) this.txtvalidate1.push("La cantidad compra no puede superar al del inventario");
                if (this.idproducto==0) this.txtvalidate1.push("Seleccione un producto");


                if(this.txtvalidate1.length) this.errorProducto = 1;

                return this.errorProducto;
            },
            detallePrefactura(id){
                let me=this;
                var url = this.ruta+'/prefactura/detalle?idPrefactura=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arraydetalle = respuesta.detalle;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            infoPrefactura(id){
                let me=this;
                var url = this.ruta+'/prefactura/datos?idPrefactura=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arraydatos = respuesta.datos;
                    me.cliente = respuesta.datos[0].Cliente;
                    me.zona = respuesta.datos[0].Zona;
                    me.tipocompra = respuesta.datos[0].TipoCompra;
                    me.total =  respuesta.datos[0].Total;
                    me.idPrefactura = respuesta.datos[0].idPrefactura;
                    me.vendedor = respuesta.datos[0].Vendedor;
                    me.fechaem = respuesta.datos[0].Fecha;
                    me.estado = respuesta.datos[0].Estado;
                    me.idFactura = respuesta.datos[0].NumFactura;
                })
                .catch(function (error) {
                    console.log(error);
                })
                this.tipofrm="ver",
                this.titulo= "Detalle de Prefactura",
                this.detallePrefactura(id);
                $("#tabla").removeClass('in');
                $("#collapseForm").addClass('in');
                
                this.DesabledButton();
            },
            cerrarView(){
                this.tipofrm="crear",
                $("#collapseForm").removeClass('in');
                $("#tabla").addClass('in');
                this.ClearTxt();
                this.EnabledButon();
            },
            cerrarEsc(){
                document.getElementById('btnclose').click();
            },
            infoCliente(id){
                let me=this;
                var url = this.ruta + '/cliente/factura?buscar=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayCliente = respuesta.cliente;
                    me.idcliente = me.arrayCliente[0].idCliente;
                    me.codigo = me.arrayCliente[0].Codigo;
                    me.nombreFact = me.arrayCliente[0].Nombre;
                    me.vendedor = me.arrayCliente[0].Vendedor;
                    me.credito =  me.arrayCliente[0].LimiteCredito;
                    me.plazopago = me.arrayCliente[0].PlazoPago;
                    me.idvendedor = me.arrayCliente[0].idVendedor;
                    me.vendedor = me.arrayCliente[0].Vendedor;
                    me.zona = me.arrayCliente[0].Zona;
                    me.creditoDisponible = me.arrayCliente[0].LimiteCredito - me.arrayCliente[0].Deuda;
                    me.namecliente = me.arrayCliente[0].Cliente;
                    me.tipocompra = me.arrayCliente[0].TipoVenta;
                    if (me.tipocompra== 'Contado') {
                        me.tipocompra = 'Contado';
                    } else {
                        me.tipocompra = 'Crédito';
                    }
                    //document.getElementById("modalProducto").click();
                    document.getElementById("txtClienteName").select();
                    
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            openModalProduct(){
                setTimeout(() => {
                    document.getElementById("modalProducto").click();
                }, 1000);
            },
            ModalCliente(){
                document.getElementById("modalCliente").click();
                setTimeout(()=>{
                    $('#seleccionarcliente1').find('.vs__search').focus();
                },200)
            },
            SeleccionarTasa(){
                let me=this;
                var url = this.ruta + '/dolar/seleccionar'
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    var Tcambio = parseFloat(respuesta.tasa[0].Cambio);
                    me.cambio = Tcambio.toFixed(2);
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            EditarPrefactura(id){
                let me=this;
                var url = this.ruta+'/prefactura/detalle?idPrefactura=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.detalleventa = respuesta.detalle;
                })
                .catch(function (error) {
                    console.log(error);
                })
                var url = this.ruta+'/prefactura/datos?idPrefactura=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arraydatos = respuesta.datos;
                    me.infoCliente(respuesta.datos[0].CodCliente);
                    me.codigo = respuesta.datos[0].CodCliente;
                    me.idCotizacion = respuesta.datos[0].idCotizacion;
                    me.idPrefactura = id;
                })
                .catch(function (error) {
                    console.log(error);
                })
                this.SeleccionarTasa(),
                this.tipofrm="actualizar",
                this.titulo= "Actualizar Prefactura",
                $("#tabla").removeClass('in');
                $("#collapseForm").addClass('in');
                
                this.DesabledButton();
            },
            EditarFactura(id){
                let me=this;
                var url = this.ruta+'/prefactura/detalle?idPrefactura=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.detalleventa = respuesta.detalle;
                })
                .catch(function (error) {
                    console.log(error);
                })
                var url = this.ruta+'/prefactura/datos?idPrefactura=' + id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arraydatos = respuesta.datos;
                    me.infoCliente(respuesta.datos[0].CodCliente);
                    me.codigo = respuesta.datos[0].CodCliente;
                    me.idCotizacion = respuesta.datos[0].idCotizacion;
                    me.idPrefactura = id;
                })
                .catch(function (error) {
                    console.log(error);
                })
                this.SeleccionarTasa(),
                this.tipofrm="factura",
                this.titulo= "Generar Factura",
                $("#tabla").removeClass('in');
                $("#collapseForm").addClass('in');
                
                this.DesabledButton();
            },
            PrefacturaAct(idFactura){
                let me = this;
                axios.put(this.ruta+'/prefactura/estado', {
                    'idPrefactura': this.idPrefactura,
                    'idFact' : idFactura,
                    })
                .then(function (response) {
                    me.listarPrefactura(1,'','c.idPrefactura');
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            registrarFactura(){
                if (this.ValidateCotizacion()) {
                    return;
                };
                this.cont = this.cont + 1;
                if(this.cont==1){
                    let me = this;
                    axios.post(this.ruta + '/prefactura/invoce', {
                        'idVendedor' : this.idvendedor,
                        'idCliente' :  this.idcliente,
                        'Cliente' : this.nombreFact,
                        'creditoDisponible' : this.credito,
                        'TipoCompra' : this.tipocompra,
                        'TipoFactura' : this.tipofactura,
                        'TasaDolar' : this.cambio,
                        'Plazo' : this.plazopago,
                        'Total' : this.total,
                        'TotalDolar' : this.totaldolares,
                        'TotalComision' : this.totalcomision,
                        'data' : this.detalleventa,
                        'nombreFact' : this.nombreFact,
                        'usuario': this.facturador,
                        'idPrefactura': this.idPrefactura
                        })
                    .then(function (response) {
                        me.listarPrefactura(1,'','idCotizacion');
                        me.ClearTxt();
                        me.SeleccionarTasa();
                        me.idFactura = response.data.id;
                        me.PrefacturaAct(me.idFactura);
                        document.getElementById('btnModalPrint').click();
                        me.cont = 0;
                        document.getElementById('btncerrar').click();
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
            },   
            validarPin(){
                Swal.fire({
                title: 'Ingrese su pin de facturador',
                input: 'password',
                inputPlaceholder: '',
                inputAttributes: {
                    autocapitalize: 'off',
                },
                imageUrl: './img/pass.png',
                imageWidth: 125,
                imageHeight: 100,
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ingresar',
                cancelButtonText: 'Cancelar',
                showClass: {
                    popup: 'animated fadeInDown faster'
                },
                hideClass: {
                    popup: 'animated fadeOutUp faster'
                },
                }).then((result) => {
                    let me = this;
                    if (result.value) {
                        var url = this.ruta + '/recibo/contraseña?contraseña=' + result.value;
                        axios.get(url).then(function (response) {
                            var respuesta = response.data; 
                            if (respuesta.verificar.length != 0) {
                                me.facturador = respuesta.verificar[0].name;
                                me.ActualizarDeuda(me.idcliente)
                            }else{
                                Swal.fire(
                                'Error',
                                'Ingrese nuevamente el pin',
                                'error'
                                )
                            }
                        })
                    }
                })
            },
            actualizarPrefactura(){
                if (this.ValidateCotizacion()) {
                    return;
                }
                let me = this;
                axios.put(this.ruta+'/prefactura/actualizar', {
                    'idPrefactura' : this.idPrefactura,
                    'idVendedor' : this.idvendedor,
                    'idCliente' :  this.idcliente,
                    'creditoDisponible' : this.creditoDisponible,
                    'TipoCompra' : this.tipocompra,
                    'TipoFactura' : this.tipofactura,
                    'TasaDolar' : this.cambio,
                    'Plazo' : this.plazopago,
                    'Total' : this.total,
                    'TotalComision' : this.totalcomision,
                    'NombreSolicitante' : this.nombreFact,
                    'data' : this.detalleventa,
                    'delete' : this.arraydelete,
                    })
                .then(function (response) {
                    me.cerrarView();
                    me.listarPrefactura(1,'','idPrefactura');
                    me.ClearTxt();
                    //me.SeleccionarTasa();
                    //me.idPrefactura = response.data.id;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            ActualizarDeuda(id){
                let me = this;
                var url = this.ruta + '/cliente/deuda?buscar='+id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.creditoDisponible = me.credito - respuesta.cliente[0].Deuda;
                    me.AutorizarFactura();
                })
                .catch(function (error) {
                    console.log(error);
                })
            },    
            AutorizarFactura(){
                if(this.tipocompra  == 'Crédito'){
                    if ( parseFloat(this.total) > parseFloat(this.creditoDisponible)){
                        Swal.fire({
                            title: '¿Autorizar Factura?',
                            text: "No cuenta con suficiente credito para facturar",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Autorizar'
                            }).then((result) => {
                            if (result.value) {
                                Swal.fire({
                                title: 'Ingrese la contraseña de acceso',
                                input: 'password',
                                inputPlaceholder: '',
                                inputAttributes: {
                                    autocapitalize: 'off',
                                    autocomplete: 'off',
                                },
                                imageUrl: './img/pass.png',
                                imageWidth: 125,
                                imageHeight: 100,
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Verificar',
                                cancelButtonText: 'Cancelar',
                                }).then((result) => {
                                        this.pass = result.value;
                                        if (this.pass == 'alejandra' || this.pass == '+C1m4rn0rC1int3' || this.pass== 'Norma123') {
                                            this.registrarFactura();
                                            this.creditoDisponible = 0;
                                            this.pass='';
                                        } else {
                                            Swal.fire(
                                            'ERROR',
                                            'Contraseña Incorrecta',
                                            'error'
                                            )
                                        }
                                    })
                            }
                        })
                    }else{
                        this.registrarFactura();
                    }
                } else{
                      this.registrarFactura();  
                    }
            },    
            ValidateCotizacion(){
                this.errorCotizacion = 0;
                this.txtvalidate = [];

                if (this.idvendedor==0) this.txtvalidate.push("Seleccione a un vendedor");
                if (this.idcliente==0) this.txtvalidate.push("Seleccione a un cliente");
                if (this.detalleventa.length==0) this.txtvalidate.push("Debe de agregar al menos un producto");
                /*if (this.tipocompra == 'Crédito'){
                    if ( parseFloat(this.total) > parseFloat(this.creditoDisponible)) this.txtvalidate.push("No tiene suficiente crédito para facturar este pedido");
                }*/
                for (let i = 0; i < this.detalleventa.length; i++) {
                    if(parseInt(this.detalleventa[i].Cantidad) > (parseInt(this.detalleventa[i].Stock)+parseInt(this.detalleventa[i].CantInicial))){
                        this.txtvalidate.push('El producto '+this.detalleventa[i].Nombre+' supera la cantidad existente');
                    }                    
                }

                if(this.txtvalidate.length) this.errorCotizacion = 1;

                return this.errorCotizacion;
            }, 
            ValidateVendedor(){
                this.errores = 0;
                this.txtvalidate = [];

                if(!this.fechainicio) this.txtvalidate.push("*La fecha inicial no puede estar vacío");
                if(!this.fechafinal) this.txtvalidate.push("*La fecha final no puede estar vacío");

                if (Date.parse(this.fechainicio) > Date.parse(this.fechafinal)) this.txtvalidate.push("*La fecha inicial no puede ser mayor a la fecha final");

                if (!this.idvendedor) this.txtvalidate.push("*Seleccione al vendedor");
                
                if(this.txtvalidate.length) this.errores = 1;

                return this.errores;
            },
            prefactVendedor(inicio, fin, id){
                if (this.ValidateVendedor()) {
                    return;
                }
                window.open(this.ruta+"/informe/prefactVendedor?FInicio="+inicio+"&FFin="+fin+"&idCliente="+id);
                document.getElementById("cerrar").click();
                this.vendedor = 0;
            },
        },
        mounted() {
            this.listarPrefactura(1, this.buscar, this.filtro);
            this.DisableFunction();
        }
    }
</script>
<style>
    .div-error{
        display: flex;
        margin-left: 0.5rem;
        font-size: 12px;
        /*justify-content: left;*/
    }
    .text-error{
        color:red !important;
        font-weight: bold;
        text-align: left;
    }
    .linetitle{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .titleEnc{
        display: block;
        text-align: center;
        font-weight: bold;
    }
    .info{
        font-size: 14px;
    }
    .d-flex{
        display: flex;
    }
    .ml-25{
        margin-left: 25%;
    }
    .w-25{
        width: 25%;
    }
    .w-75{
        width: 75%;
    }
    .w-50{
        width: 50%;
    }
    .pReturn{
        padding-left: 0px;
        border-top: 0px;
    }
    .imgsize{
        min-width: 100px;
        min-height: 150px;
        max-width: 250px;
        max-height: 250px;
        margin: auto;
    }
    .linetitle{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .titleEnc{
        display: block;
        text-align: center;
        font-weight: bold;
    }
    .mb-30{
        margin-bottom: 0px;
    }
    .btn{
        border: 1px solid;
    }
    .justify-content-end{
        justify-content: end;
    }
    .contenidoModal{
        margin: 25px 0px;
    }
    .modalDialog {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.3);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 0ms ease-in;
        -moz-transition: opacity 0ms ease-in;
        transition: opacity 0ms ease-in;
        pointer-events: none;
    }
    .modalDialog:target {
        opacity:1;
        pointer-events: auto;
    }
    .modalDialog > .modalproducto {
        width: 50%;
        position: relative;
        margin: 5% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 3px;
        background: #fff;
        -webkit-transition: opacity 0ms ease-in;
        -moz-transition: opacity 0ms ease-in;
        transition: opacity 0ms ease-in;
    }
    .modalDialog > .factura {
        width: 50%;
        position: relative;
        margin: 5% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 3px;
        background: #fff;
        -webkit-transition: opacity 0ms ease-in;
        -moz-transition: opacity 0ms ease-in;
        transition: opacity 0ms ease-in;
        height: 42%;
    }
    .modalDialog > .maneraImprimir {
        width: 30%;
        position: relative;
        margin: 5% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 3px;
        background: #fff;
        -webkit-transition: opacity 0ms ease-in;
        -moz-transition: opacity 0ms ease-in;
        transition: opacity 0ms ease-in;
    }
    .close {
        background: hsl(0, 50%, 60%);
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }
    .close:hover { background: hsl(0, 80%, 50%); color: white; }
    .tituloModal{
        margin: 10px 0 15px;
    }
    .vs__dropdown-menu{
        color: red;
    }
    @media (max-width: 1200px) {
       .modalDialog > .modalproducto{
            width: 70%;
        }
    }
</style>