<template>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- FORMULARIO -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="header">
                            <h4 class="title" v-text="titulo"></h4>
                        </div>
                        <div class="content">
                            <!--<form>-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input type="text" class="form-control" placeholder="Nombre..." id="txtName" v-model="nombre">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Descripción</label>
                                            <textarea rows="5" class="form-control" placeholder="Descripción" id="txtDescripcion" v-model="descripcion"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row div-error" v-show="errorPresentacion">
                                    <div class="text-center text-error">
                                        <div v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror">            
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary pull-left btnhidden" id="btnnew" @click="EnableTxt" v-if="$can('presentacion.store') && tipoBtn==1"><i class="pe-7s-plus"></i> Nuevo</button>
                                <button type="button" class="btn btn-warning pull-right" id="" @click="actualizarPresentaciones()" v-if="$can('presentacion.update') && tipoBtn==2"><i class="pe-7s-diskette"></i> Actualizar</button>
                                <button type="button" class="btn btn-success pull-right" id="btnAdd" @click="registrarPresentaciones()" v-if="$can('presentacion.store')"><i class="pe-7s-check"></i> Agregar</button>
                                <button type="reset" class="btn btn-danger pull-right" id="btnReset" @click="DisableTxt"><i class="pe-7s-close"></i> Cancelar</button>
                                <div class="clearfix"></div>
                            <!--  </form> -->
                        </div>
                    </div>          
                </div>

                <!--   TABLA -->
                <div class="col-md-8">
                    <div class="card"> 
                        <div class="header">
                            <div class="form-group">
                                <p style="display: inline;" >Buscar:</p>
                                <input type="text" v-model="buscar" class="txtbuscar" placeholder="Buscar..." id="txtBuscar" @keyup.enter="listarPresentaciones(1, buscar)">
                                <img :src="imgbuscar" class="img-sidebar">
                            </div>
                        </div>
                        <div class="content">                                                                                  
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>Opciones</th>
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="presentacion in arrayPresentacion" :key="presentacion.idPresentacion">
                                            <td class="btn-option">
                                                <button type="button" class="btn btn-warning" @click="getPresentacion(presentacion)" v-if="$can('presentacion.update')"><i class="pe-7s-pen"></i></button>
                                            </td>
                                            <td v-text="presentacion.Nombre"></td>
                                            <td v-text="presentacion.Descripcion"></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <ul class="pagination">
                                            <li class="page-item" v-if="pagination.current_page > 1">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page - 1, buscar)">&laquo;</a>
                                            </li>
                                            <li class="page-item" v-for="page in pagesNumber" :key="page" :class= "[ page == isActived ? 'active' : '' ]" >
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(page, buscar)" v-text="page"></a>
                                            </li>
                                            <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page + 1, buscar)">&raquo;</a>
                                            </li>
                                        </ul>
                                    </tfoot>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:['ruta'],
        data(){
            return {
                idPresentacion: 0,
                nombre: '',
                descripcion: '',
                titulo: 'Presentación',
                arrayPresentacion: [],
                errorPresentacion: 0,
                txtvalidate: [],
                tipoBtn: 1,

                pagination: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                },
                offset: 3,
                buscar: '',
                imgbuscar: './img/icons8_search1_32.png',
                
            }
        },
        computed: {
            isActived: function() {
                return this.pagination.current_page;
            },
            pagesNumber: function() {
                if(!this.pagination.to){
                    return [];
                }

                var from = this.pagination.current_page - this.offset; 
                if(from < 1){
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }
        },
        methods : {
            listarPresentaciones(page,buscar){
                let me=this;
                var url = this.ruta + '/presentacion?page=' + page + '&buscar=' + buscar;
                axios.get(url).then(function (response) {
                    var respuesta  = response.data;
                    me.arrayPresentacion = respuesta.presentacion.data;
                    me.pagination  = respuesta.pagination;
                    $("#txtBuscar").focus();

                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            cambiarPagina(page, buscar){
                let me = this;
                me.pagination.current_page = page;
                me.listarPresentaciones(page, buscar);
            },    
            registrarPresentaciones(){
                if (this.ValidatePresentaciones()) {
                    return;
                }
                let me = this;
                axios.post(this.ruta + '/presentacion/registrar', {
                    'Nombre' : this.nombre,
                    'Descripcion' : this.descripcion
                    })
                .then(function (response) {
                    me.listarPresentaciones(1, '');
                    me.ClearTxt();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },   
            actualizarPresentaciones(){
                if (this.ValidatePresentaciones()) {
                    return;
                }
                let me = this;
                axios.put(this.ruta + '/presentacion/actualizar', {
                    'idPresentacion' : this.idPresentacion,
                    'Nombre' : this.nombre,
                    'Descripcion' : this.descripcion
                    })
                .then(function (response) {
                    me.listarPresentaciones(1, '');
                    me.DisableTxt();
                    $("#btnAdd").toggle();
                    $("#btnReset").toggle();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            DisableTxt(){
                $("#txtName").prop( "disabled", true );
                $("#txtDescripcion").prop( "disabled", true );
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle();
                this.nombre= '';
                this.descripcion = '';
                this.titulo= 'Presentación';
                this.errorPresentacion= 0;
                this.txtvalidate= [];
                this.tipoBtn=1;

                this.EnabledButon();
            },
            EnableTxt(){
                $("#txtName").prop( "disabled", false );
                $("#txtDescripcion").prop( "disabled", false );
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle();
                this.titulo = 'Agregar Presentación';

                this.DesabledButton();
            },
            DesabledButton(){
                $("tbody > tr > td").find("button").prop( "disabled", true );
                $("tfoot").css("display", "none");
            },
            EnabledButon(){
                $("tbody > tr > td").find("button").prop( "disabled", false );
                $("tfoot").css("display", "inherit");
            },
            ClearTxt(){
                this.nombre = '';
                this.descripcion = '';
            },
            ValidatePresentaciones(){
                this.errorPresentacion = 0;
                this.txtvalidate = [];

                if (!this.nombre) this.txtvalidate.push("*El nombre de la presentación no puede estar vacío.");
                
                if(this.txtvalidate.length) this.errorPresentacion = 1;

                return this.errorPresentacion;
            },
            getPresentacion(data=[]){
                this.tipoBtn=2;
                $("#txtName").prop( "disabled", false );
                $("#txtDescripcion").prop( "disabled", false );
                this.titulo = 'Actualizar Presentación'
                this.idPresentacion = data['idPresentacion'];
                this.nombre = data['Nombre'];
                this.descripcion = data['Descripcion'];
            },
        },
        mounted() {
            this.listarPresentaciones(1, this.buscar);
            this.DisableTxt();
        }
    }
</script>

<style>
    .div-error{
        display: flex;
        margin-left: 0.5rem;
        font-size: 12px;
    }
    .text-error{
        color:red !important;
        font-weight: bold;
    }
    .btn-option{
        width: 15%;
    }
</style>