<template>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- FORMULARIO -->
                <div class="col-md-5">
                    <div class="card">
                        <div class="header">
                            <h4 class="title" v-text="titulo"></h4>
                        </div>
                        <div class="content">
                            <!-- MUESTRA EL FORMULARIO DE CREAR UN NUEVO PROVEEDOR -->
                            <div v-show="tipofrm=='crear'">
                                <div class="row">
                                    <div class="col-md-12">
                                         <div class="col-md-12" v-if="imagen">
                                            <img :src="imagen" class="img-responsive image-size" style="margin-left: -4%">
                                        </div>  
                                        <div class="form-group">
                                            <label>Tarjeta de Presentación:</label>
                                            <input type="file" class="form-control" id="txtFile" @change="getImage" accept="image/*">
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input type="text" class="form-control" placeholder="Nombre..." id="txtName" v-model="nombre">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>País</label>
                                            <input type="text" class="form-control" id="txtPais" placeholder="pais..." v-model="pais">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Nombre del Vendedor</label>
                                            <input type="text" class="form-control" placeholder="Nombre Vendedor" id="txtVendedor" v-model="vendedor">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Nombre Completo</label>
                                            <input type="text" class="form-control" placeholder="Nombre Completo" id="txtNameC" v-model="nombrecompleto">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Teléfono</label>
                                            <input type="text" class="form-control" placeholder="Teléfono" id="txtTelefono" v-model="telefono">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Wechat</label>
                                            <input type="text" class="form-control" placeholder="+123 4567 890" id="txtWechat" v-model="wechat">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>QQ</label>
                                            <input type="text" class="form-control" placeholder="+123 4567 890" id="txtQQ" v-model="qq">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Correo Electrónico</label>
                                            <input type="email" class="form-control" placeholder="Nombre..." id="txtEmail" v-model="email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Página Web:</label>
                                            <input type="url" class="form-control" placeholder="www.example.com" id="txtPagina" v-model="paginaweb">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Direccion:</label>
                                            <textarea rows="2" class="form-control" placeholder="Dirección del local" id="txtDireccion" v-model="direccion"></textarea>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="form-group row div-error" v-show="errorProveedor">
                                    <div class="text-center text-error">
                                        <div v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror">            
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary pull-left btnhidden" id="btnnew" @click="EnableFunction()" v-if="$can('proveedor.store') && tipoBtn==1"><i class="pe-7s-plus"></i> Nuevo</button>
                                <button type="button" class="btn btn-warning pull-right" id="" @click="actualizarProveedor()" v-if="$can('proveedor.update') && tipoBtn==2"><i class="pe-7s-diskette"></i> Actualizar</button>
                                <button type="button" class="btn btn-success pull-right" id="btnAdd" @click="registrarProveedor()" v-if="$can('proveedor.store')"><i class="pe-7s-check"></i> Agregar</button>
                                <button type="reset" class="btn btn-danger pull-right" id="btnReset" @click="DisabledFunction()"><i class="pe-7s-close"></i> Cancelar</button>
                                <div class="clearfix"></div>
                            </div>

                            <!-- MUESTRA LA INFORMACION DEL PROVEEDOR -->
                            <div v-show="tipofrm=='mostrar'">
                                <div class="row">
                                    <div class="col-md-12">
                                        <img :src="imagen" alt="Tarjeta de Presentación" class="image-size">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="">Nombre Completo:</label>
                                        <p v-text="nombrecompleto"></p>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">Nombre Abreviado:</label>
                                        <p v-text="nombre"></p>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">País</label>
                                        <p v-text="pais"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="">Nombre del Vendedor:</label>
                                        <p v-text="vendedor"></p>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">Teléfono:</label>
                                        <p v-text="telefono"></p>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">QQ</label>
                                        <p v-text="qq"></p>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">Wechat</label>
                                        <p v-text="wechat"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="">E-Mail:</label>
                                        <p v-text="email"></p>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">Página Web:</label>
                                        <p v-text="paginaweb"></p>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="">Dirección</label>
                                        <p v-text="direccion"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-default" @click="CerrarProveedor"><i class="pe-7s-close"></i>Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>

                <!--   TABLA -->
                <div class="col-md-7">
                    <div class="card"> 
                        <div class="header">
                             <!--  <form action="" class="form-inline"> -->
                            <div class="form-group">
                                <p style="display: inline;" >Buscar:</p>
                                <input type="text" v-model="buscar"  class="txtBuscar" @keyup.enter="listarProveedores(1, buscar)"  id="txtBuscar" placeholder="Buscar...">
                                <img :src="imgbuscar" class="img-sidebar">
                            </div>
                            <!--  </form> -->
                        </div>
                        <div class="content">                                                                                  
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <!--<th>ID</th>-->
                                        <th>Opciones</th>
                                        <th>Nombre</th>
                                        <th>País</th>
                                        <!--<th>Tarjeta</th>-->
                                    </thead>
                                    <tbody>
                                        <tr v-for="proveedor in arrayProveedor" :key="proveedor.idProveedor">
                                            <td class="btn-option">
                                                <button type="button" class="btn btn-warning" v-if="$can('proveedor.update')" @click="getProveedor(proveedor)"><i class="pe-7s-pen"></i></button>
                                                <button type="button" class="btn btn-default" v-if="$can('proveedor.index')" @click="MostrarProveedor(proveedor)"><i class="pe-7s-id"></i></button>
                                            </td>
                                            <td v-text="proveedor.Nombre"></td>
                                            <td v-text="proveedor.Pais"></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <ul class="pagination">
                                            <li class="page-item" v-if="pagination.current_page > 1">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page - 1, buscar)">&laquo;</a>
                                            </li>
                                            <li class="page-item" v-for="page in pagesNumber" :key="page" :class= "[ page == isActived ? 'active' : '' ]" >
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(page, buscar)" v-text="page"></a>
                                            </li>
                                            <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page + 1, buscar)">&raquo;</a>
                                            </li>
                                        </ul>
                                    </tfoot>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:['ruta'],
        data(){
            return {
                idProveedor: 0,
                nombre: '',
                nombrecompleto: '',
                pais: '',
                imagen: '',
                imagen2: '',
                vendedor:'',
                telefono: '',
                email: '',
                qq: '',
                wechat: '',
                paginaweb: '',
                direccion: '',
                titulo: 'Proveedores',
                arrayProveedor: [],
                errorProveedor: 0,
                txtvalidate: [],
                tipoBtn: 1,
                tipofrm: 'crear',

                pagination: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                },
                offset: 3,
                buscar: '',
                imgbuscar: './img/icons8_search1_32.png',

            }
        },
        computed: {
            isActived: function() {
                return this.pagination.current_page;
            },
            pagesNumber: function() {
                if(!this.pagination.to){
                    return [];
                }

                var from = this.pagination.current_page - this.offset; 
                if(from < 1){
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }
        },
        methods : {
            listarProveedores(page,buscar){
                let me=this;
                var url = this.ruta + '/proveedor?page=' + page + '&buscar=' + buscar;
                axios.get(url).then(function (response) {
                    var respuesta  = response.data;
                    me.arrayProveedor = respuesta.proveedor.data;
                    me.pagination  = respuesta.pagination;
                    $("#txtBuscar").focus();

                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            cambiarPagina(page, buscar){
                let me = this;
                me.pagination.current_page = page;
                me.listarProveedores(page, buscar);
            },
            getImage(e){
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },    
            createImage(file){
                let reader = new FileReader();
                let me = this;
                reader.onload = (e) => {
                    me.imagen = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            registrarProveedor(){
                if (this.ValidateProveedor()) {
                    return;
                }
                if(this.imagen==''){
                    let me = this;
                    axios.post(this.ruta + '/proveedor/registrar1', {
                        'Nombre' : this.nombre,
                        'Pais' : this.pais,
                        'NombreCompleto' : this.nombrecompleto,
                        'Email' :  this.email,
                        'PaginaWeb' : this.paginaweb,
                        'Direccion': this.direccion,
                        'Telefono' : this.telefono,
                        'Wechat' : this.wechat,
                        'Vendedor' : this.vendedor,
                        'qq' : this.qq,
                        })
                    .then(function (response) {
                        me.listarProveedores(1, '');
                        me.ClearTxt();
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }else{
                    let me = this;
                    axios.post(this.ruta + '/proveedor/registrar', {
                        'Nombre' : this.nombre,
                        'Pais' : this.pais,
                        'Imagen' :  this.imagen,
                        'NombreCompleto' : this.nombrecompleto,
                        'Email' :  this.email,
                        'PaginaWeb' : this.paginaweb,
                        'Direccion': this.direccion,
                        'Telefono' : this.telefono,
                        'Wechat' : this.wechat,
                        'Vendedor' : this.vendedor,
                        'qq' : this.qq,
                        })
                    .then(function (response) {
                        me.listarProveedores(1, '');
                        me.ClearTxt();
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
            },   
            actualizarProveedor(){
                if (this.ValidateProveedor()) {
                    return;
                }
                if (this.imagen == this.imagen2) {
                    let me = this;
                    axios.put(this.ruta + '/proveedor/actualizar1', {
                        'idProveedor' : this.idProveedor,
                        'Nombre' : this.nombre,
                        'Pais' : this.pais,
                        'NombreCompleto' : this.nombrecompleto,
                        'Email' :  this.email,
                        'PaginaWeb' : this.paginaweb,
                        'Direccion': this.direccion,
                        'Telefono' : this.telefono,
                        'Wechat' : this.wechat,
                        'Vendedor' : this.vendedor,
                        'qq' : this.qq,

                        })
                    .then(function (response) {
                        me.listarProveedores(1, '');
                        me.DisabledFunction();
                        $("#btnAdd").toggle();
                        $("#btnReset").toggle();
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }else{
                    let me = this;
                    axios.put(this.ruta + '/proveedor/actualizar', {
                        'idProveedor' : this.idProveedor,
                        'Nombre' : this.nombre,
                        'Pais' : this.pais,
                        'Imagen' :  this.imagen,
                        'NombreCompleto' : this.nombrecompleto,
                        'Email' :  this.email,
                        'PaginaWeb' : this.paginaweb,
                        'Direccion': this.direccion,
                        'Telefono' : this.telefono,
                        'Wechat' : this.wechat,
                        'Vendedor' : this.vendedor,
                        'qq' : this.qq,
                        })
                    .then(function (response) {
                        me.listarProveedores(1, '');
                        me.DisabledFunction();
                        $("#btnAdd").toggle();
                        $("#btnReset").toggle();
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
            },
            DisabledFunction(){
                this.DisableTxt();
                this.ClearTxt();
                this.titulo= 'Proveedores';
                this.errorProveedor= 0;
                this.txtvalidate= [];
                this.tipoBtn=1;

                this.EnabledButon();
            },
            DisableTxt(){
                $("#txtName").prop( "disabled", true );
                $("#txtPais").prop( "disabled", true );
                $("#txtFile").prop( "disabled", true );
                $("#txtNameC").prop( "disabled", true );
                $("#txtTelefono").prop( "disabled", true );
                $("#txtEmail").prop( "disabled", true );
                $("#txtWechat").prop( "disabled", true );
                $("#txtVendedor").prop( "disabled", true );
                $("#txtQQ").prop( "disabled", true );
                $("#txtPagina").prop( "disabled", true );
                $("#txtDireccion").prop( "disabled", true );
                $("#txtBuscar").prop( "disabled", false );
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle();
                $("#txtFile").val('');
                
            },
            EnableFunction(){
                this.EnableTxt();
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle();
                this.titulo = 'Agregar Proveedor';

                this.DesabledButton();
            },
            EnableTxt(){
                $("#txtName").prop( "disabled", false );
                $("#txtPais").prop( "disabled", false );
                $("#txtFile").prop( "disabled", false );
                $("#txtNameC").prop( "disabled", false );
                $("#txtTelefono").prop( "disabled", false );
                $("#txtEmail").prop( "disabled", false );
                $("#txtWechat").prop( "disabled", false );
                $("#txtVendedor").prop( "disabled", false );
                $("#txtQQ").prop( "disabled", false );
                $("#txtPagina").prop( "disabled", false );
                $("#txtDireccion").prop( "disabled", false );
                $("#txtBuscar").prop( "disabled", true );
               
            },
            DesabledButton(){
                $("tbody > tr > td").find("button").prop( "disabled", true );
                $("tfoot").css("display", "none");
            },
            EnabledButon(){
                $("tbody > tr > td").find("button").prop( "disabled", false );
                $("tfoot").css("display", "inherit");
            },
            ClearTxt(){
                this.idProveedor = 0;
                this.nombre = '';
                this.pais = '';
                this.imagen = '';
                this.nombrecompleto = '';
                this.telefono = '';
                this.paginaweb = '' ;
                this.wechat = '';
                this.qq = '';
                this.vendedor = '';
                this.paginaweb = '';
                this.email = '';
                this.direccion = '';
                $("#txtFile").val('');
            },
            ValidateProveedor(){
                this.errorProveedor = 0;
                this.txtvalidate = [];
                var str = /^\d{4}-\d{4}$/;

                if (!this.nombre) this.txtvalidate.push("*El nombre del proveedor no puede estar vacío.");

                if(this.txtvalidate.length) this.errorProveedor = 1;

                return this.errorProveedor;
            },
            getProveedor(data=[]){
                this.tipoBtn=2;
                this.EnableTxt();
                this.titulo = 'Actualizar Proveedor'
                this.idProveedor = data['idProveedor'];
                this.nombre = data['Nombre'];
                this.pais = data['Pais'];
                this.nombrecompleto = data['NombreCompleto'],
                this.email  = data['Email'],
                this.paginaweb = data['PaginaWeb'],
                this.direccion = data['Direccion'],
                this.telefono = data['Telefono'],
                this.wechat  = data['Wechat'],
                this.vendedor = data['Vendedor'] ,
                this.qq = data['QQ'],
                this.imagen = "./imagenes/proveedor/" + data['Imagen'];

                this.imagen2 = this.imagen;

                this.DesabledButton();

            },
            MostrarProveedor(data=[]){
                this.tipofrm='mostrar';
                $("#txtBuscar").prop( "disabled", true );
                this.titulo = 'Información de Proveedor'
                this.idProveedor = data['idProveedor'];
                this.nombre = data['Nombre'];
                this.nombrecompleto = data['NombreCompleto'];
                this.pais = data['Pais'];
                this.email  = data['Email'],
                this.paginaweb = data['PaginaWeb'],
                this.direccion = data['Direccion'],
                this.telefono = data['Telefono'],
                this.wechat  = data['Wechat'],
                this.vendedor = data['Vendedor'] ,
                this.qq = data['QQ'],
                this.imagen = "./imagenes/proveedor/" + data['Imagen'];

                this.DesabledButton();

            },
            CerrarProveedor(){
                this.tipofrm='crear';
                this.DisabledFunction();
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle();
            }
        },
        mounted() {
            this.listarProveedores(1, this.buscar);
            this.DisabledFunction();
        }
    }
</script>

<style>
    .div-error{
        display: flex;
        margin-left: 0.5rem;
        font-size: 12px;
    }
    .text-error{
        color:red !important;
        font-weight: bold;
    }
    .btn-option{
        width: 15%;
    }
    .ml-33{
        margin-left: 33%;
    }
    .image-size{
        min-width: 400px;
        min-height: 150px;
        width: 520px;
        height: 250px;
        max-width: 525px;
        max-height: 300px;
    }
    .d-flex{
        display: flex;
    }
</style>