<template>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div v-show="frm=='crear'">
                    <!-- FORMULARIO -->
                    <div class="col-md-4">
                        <div class="card">
                            <div class="header">
                                <h4 class="title" v-text="titulo"></h4>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label>Numerición Inicial:</label>
                                            <input type="text" class="form-control" placeholder="01" id="txtInicio" v-model="Inicio">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label>Numerición Final:</label>
                                            <input type="text" class="form-control" placeholder="50" id="txtFinal" v-model="Final">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label>Vendedor:</label>
                                            <v-select
                                                label="Nombre"
                                                placeholder= "Seleccione Vendedor"
                                                :options="arrayVendedor"
                                                v-model="vendedor"
                                                :value="arrayVendedor.Nombre"
                                                @input="setVendedor"
                                                :disabled="disabledvue"
                                            ></v-select>
                                        </div>
                                    </div>
                                    <div class="col-md-12" v-show="pendiente > 0">
                                        <small style="color: red">El cliente tiene recibos pendientes</small>
                                    </div>
                                </div>
                                <div class="form-group row div-error" v-show="errorTalonario">
                                    <div class="text-center text-error">
                                        <div v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror">            
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary pull-left btnhidden" id="btnnew" @click="EnableTxt" v-if="tipoBtn==1"><i class="pe-7s-plus"></i> Nuevo</button>
                                <button type="button" class="btn btn-success pull-right" id="btnAdd" v-if="$can('talonario.store')" @click="registrarTalonarios()" v-show="pendiente == 0"><i class="pe-7s-check"></i> Agregar</button>
                                <button type="button" class="btn btn-warning pull-right" id="btnAsignar" v-if="$can('talonario.password')" @click="AsignarTalonario()" v-show="pendiente > 0"><i class="pe-7s-check"></i> Asignar</button>
                                <button type="reset" class="btn btn-danger pull-right" id="btnReset" @click="DisableTxt"><i class="pe-7s-close"></i> Cancelar</button>
                                <div class="clearfix"></div>
                            </div>
                        </div>          
                    </div>
                </div>
                <div v-show="frm=='ver'">
                    <!-- FORMULARIO -->
                    <div class="col-md-4">
                        <div class="card">
                            <div class="header">
                                <h4 class="title" v-text="titulo"></h4>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label>Vendedor:</label>
                                            <v-select
                                                label="Nombre"
                                                placeholder= "Seleccione Vendedor"
                                                :options="arrayVendedor"
                                                v-model="vendedor"
                                                :value="arrayVendedor.Nombre"
                                                @input="setVendedor"
                                            ></v-select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn btn-default btn-block" @click="listadoAsignado(idvendedor)">Buscar</button>
                                    </div>
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <div class="content">                                                                                  
                                                <div class="content table-responsive table-full-width">
                                                    <table class="table table-hover table-striped" >
                                                        <thead> 
                                                            <th class="text-center">Inicio</th>
                                                            <th class="text-center">Final</th>
                                                            <th class="text-center">Fecha</th>
                                                            <th class="text-center">Hora</th>
                                                        </thead>
                                                        <tbody>
                                                            <tr v-for="listado in arrayDatos" :key="listado.idVendedor">
                                                                <td v-text="listado.Inicio"  class="text-center"></td>
                                                                <td v-text="listado.Final"  class="text-center"></td>
                                                                <td v-text="listado.Fecha"  class="text-center"></td>
                                                                <td v-text="listado.Hora"  class="text-center"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <button class="btn btn-danger pull-right"  @click="CerrarDatos"><i class="pe-7s-close"></i> Cancelar</button>
                                <div class="clearfix"></div>
                            </div>
                        </div>          
                    </div>
                </div>
                <div v-show="frm=='eliminar'">
                    <!-- FORMULARIO -->
                    <div class="col-md-4">
                        <div class="card">
                            <div class="header">
                                <h4 class="title" v-text="titulo"></h4>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label>Numerición Inicial:</label>
                                            <input type="text" class="form-control" placeholder="01" id="txtInicio" v-model="Inicio1">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label>Numerición Final:</label>
                                            <input type="text" class="form-control" placeholder="50" id="txtFinal" v-model="Final1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row div-error" v-show="errorTalonario">
                                <div class="text-center text-error">
                                    <div v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror">            
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-danger pull-right" @click="EliminarTalonarios()"><i class="pe-7s-check"></i> Elimnar</button>
                            <button class="btn btn-default pull-right" @click="cerrarEliminacion()"><i class="pe-7s-close"></i> Cancelar</button>
                            <div class="clearfix"></div>
                        </div>          
                    </div>
                </div>
                <!--   TABLA -->
                <div class="col-md-8">
                    <div class="card"> 
                        <div class="header">
                            <div class="form-group">
                                <p style="display: inline;" >Buscar:</p>
                                <select name="Filtro" class="select-css" v-model="filtro">
                                    <option value="Pendiente">Pendiente</option>
                                    <option value="Anulado">Anulado</option>
                                    <option value="Entregado">Entregado</option>
                                </select>
                                <input type="text" v-model="buscar" class="txtbuscar" placeholder="Buscar Vendedor" id="txtBuscar" @keyup.enter="listarTalonario(1, buscar,filtro)">
                                <img :src="imgbuscar" class="img-sidebar">
                                <button class="btn btn-default pull-right" @click="mostrarDatos()">Visualizar asignación</button>
                                <button class="btn btn-danger pull-right" v-if="$can('talonario.delete')" @click="deshabilitarMasivo()">Eliminar</button>
                            </div>
                        </div>
                        <div class="content">                                                                                  
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped" >
                                    <thead> 
                                        <th>Opciones</th>
                                        <th># Talonario</th>
                                        <th>Vendedor</th>
                                        <th>Estado</th>
                                        <th>Asignado por</th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="talonario in arrayTalonario" :key="talonario.idTalonario" :style="talonario.Estado == 'Entregado'?'color:green': talonario.Estado=='Anulado'?'color:orange':''">
                                            <td width="10%">
                                                <div v-if="talonario.Estado == 'Pendiente'">
                                                    <button type="button" class="btn btn-danger" v-if="$can('talonario.disable')" @click="deshabilitarTalonarios(talonario.idTalonario)" ><i class="pe-7s-trash"></i></button>
                                                </div>
                                                <div v-else-if="Estado == 'Anulado'">
                                                    <button type="button" class="btn btn-danger" v-if="$can('talonario.enable')" @click="deshabilitarTalonarios(talonario.idTalonario)" disabled="true"><i class="pe-7s-trash"></i></button>
                                                </div>
                                            </td>
                                            <td v-text="talonario.NumeracionInicial"></td>
                                            <td v-text="talonario.Nombre"></td>
                                            <td v-text="talonario.Estado"></td>
                                            <td v-text="talonario.Usuario"></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <ul class="pagination d-flex">
                                            <li class="page-item" v-if="pagination.current_page > 1">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page - 1, buscar, filtro)">&laquo;</a>
                                            </li>
                                            <li class="page-item" v-for="page in pagesNumber" :key="page" :class= "[ page == isActived ? 'active' : '' ]" >
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(page, buscar, filtro)" v-text="page"></a>
                                            </li>
                                            <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page + 1, buscar, filtro)">&raquo;</a>
                                            </li>
                                        </ul>
                                    </tfoot>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    export default {
        props:['ruta'],
        data(){
            return{
                idTalonario: 0,
                nombre: '',
                Inicio: 0,
                Inicio1: 0,
                Final: 0,
                Final1: 0,
                titulo: 'Talonarios',
                arrayTalonario: [],
                arrayVendedor: [],
                vendedor: '',
                arrayDatos: [],
                datos: '',
                pendiente: 0,
                idvendedor: 0,
                errorTalonario: 0,
                txtvalidate: [],
                tipoBtn: 1,
                disabledvue: 'true',
                contraseña: '',
                confirmar: '',
                pagination: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                },
                offset: 3,
                buscar: '', 
                filtro: 'Pendiente',
                respuesta : '',
                frm: 'crear',
                imgbuscar: './img/icons8_search1_32.png',
                pass: '',
                cont: 0,
            }
        },
        computed: {
            isActived: function() {
                return this.pagination.current_page;
            },
            pagesNumber: function() {
                if(!this.pagination.to){
                    return [];
                }
                var from = this.pagination.current_page - this.offset; 
                if(from < 1){
                    from = 1;
                }
                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }
                var pagesArray = [];
                while(from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            },
        },
        components:{
            vSelect,
        },
        methods:{
            listarTalonario(page, buscar,filtro){
                let me=this;
                var url = this.ruta + '/talonario?page=' + page +'&buscar=' + buscar + '&filtro=' + filtro;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayTalonario = respuesta.talonario.data;
                    me.pagination = respuesta.pagination;
                    $("#txtBuscar").focus();
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            UltimoTalonario(){
                let me=this;
                var url = this.ruta + '/talonario/ultimo';
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.Inicio = (parseInt(respuesta.ultimo.NumeracionInicial) + 1 );
                    me.Final = me.Inicio + 49;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            seleccionarVendedor(){
                let me=this;
                var url = this.ruta +  '/vendedor/seleccionar';
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayVendedor = respuesta.vendedor;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            setVendedor(value){
                let me = this;
                me.loading = true;
                me.idvendedor = value.idVendedor;
                me.PendientesTalonario(me.idvendedor);

                //me.pendiente = value.Pendiente;
            },
            PendientesTalonario(idVendedor){
                let me=this;
                var url = this.ruta + '/talonario/pendiente?idVendedor='+idVendedor;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.pendiente = respuesta.pendientes[0].Pendientes;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            cambiarPagina(page, buscar, filtro){
                let me = this;
                me.pagination.current_page = page;
                me.listarTalonario(page, buscar, filtro);
            },
            registrarTalonarios(){
                if (this.ValidateTalonario()) {
                    return;
                }
                this.cont =  this.cont + 1;
                let me = this;
                if (me.cont == 1) {
                    axios.post( this.ruta + '/talonario/registrar', {
                        'NumInicial' : this.Inicio,
                        'NumFinal' : this.Final,
                        'idVendedor' : this.idvendedor
                        })
                    .then(function (response) {
                        me.listarTalonario(1, '', me.filtro);
                        me.ClearTxt();
                        me.DisableTxt();
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }else{
                    me.cont = 0;
                }
            },
            AsignarTalonario(){
               Swal.fire({
               title: 'Ingrese la contraseña para asignar',
                input: 'password',
                inputPlaceholder: '',
                inputAttributes: {
                    autocapitalize: 'off',
                },
                imageUrl: './img/pass.png',
                imageWidth: 125,
                imageHeight: 100,
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Asignar Talonario',
                cancelButtonText: 'Cancelar',
                showClass: {
                    popup: 'animated fadeInDown faster'
                },
                hideClass: {
                    popup: 'animated fadeOutUp faster'
                },
                }).then((result) => {
                    if (result.value) {
                        let me=this;
                        me.pass = result.value;
                        if (me.pass == 'Norma123' || me.pass == 'M4rn0r') {
                            axios.post(this.ruta + '/talonario/registrar', {
                            'NumInicial' : me.Inicio,
                            'NumFinal' : me.Final,
                            'idVendedor' : me.idvendedor,
                            })
                            .then(function (response) {
                                me.ClearTxt();
                                me.DisableTxt();
                                me.listarTalonario(1,'',me.filtro);
                                Swal.fire(
                                'Asignado',
                                'Se asigno de manera correcta',
                                'success'
                                )
                            })
                        } else {
                            Swal.fire(
                            'ERROR',
                            'Contraseña Incorrecta',
                            'error'
                            )
                            me.listarTalonario(1,'',this.filtro);
                        }
                    }     
                })
            },
            listadoAsignado(idvend){
                let me=this;
                var url = this.ruta + '/talonario/listado?idVend=' + idvend;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayDatos = respuesta.listado;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            mostrarDatos(){
                this.frm = 'ver';
                this.seleccionarVendedor();
            },
            CerrarDatos(){
                this.frm = 'crear';
                this.DisableTxt();
                $("#btnReset").toggle();
                $("#btnnew").toggle();
                this.arrayDatos= [];
            },
            cerrarEliminacion(){
                this.frm = 'crear';
                this.DisableTxt();
                $("#btnReset").toggle();
                $("#btnnew").toggle();
                this.Inicio1 = 0,
                this.Final1 = 0;
            },
            deshabilitarTalonarios(id){
                Swal.fire({
                    title: 'Motivo de la anulación',
                    input: 'text',
                    inputAttributes: {
                        autocapitalize: 'off',
                    },
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Anular',
                    cancelButtonText: 'Cancelar',
                    showClass: {
                        popup: 'animated fadeInDown faster'
                    },
                    hideClass: {
                        popup: 'animated fadeOutUp faster'
                    },
                }).then((result) => {
                    if (result.value) {
                    let me = this;
                    axios.put(this.ruta+'/talonario/deshabilitar', {
                        'idTalonario' : id,
                        'Motivo' : result.value,
                        })
                    .then(function (response) {
                        Swal.fire(
                        'Anulada',
                        'Se hizo cambio en otros datos',
                        'Existoso'
                        )
                        me.listarTalonario(1, '', 'Pendiente');
                    })
                        .catch(function (error) {
                            console.log(error);
                        });
                    }     
                    
                    })
            },   
            deshabilitarMasivo(){
                this.frm = 'eliminar';
                this.UltimoTalonario();
            },
            EliminarTalonarios(){
                 if (this.ValidarTalonario()) {
                    return;
                }
                let me = this;
                axios.post(this.ruta + '/talonario/eliminar', {
                    'inicio' : this.Inicio1,
                    'final' : this.Final1,
                    })
                .then(function (response) {
                    me.listarTalonario(1, '', this.filtro);
                    me.ClearTxt();
                    me.DisableTxt();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            DisableTxt(){
                $("#txtInicio").prop( "disabled", true );
                $("#txtFinal").prop( "disabled", true );
                $("#btnReset").toggle();
                $("#btnnew").toggle();
                this.titulo= 'Talonario';
                this.errorTalonario= 0;
                this.txtvalidate= [];
                this.tipoBtn=1;
                this.disabledvue = true;
                this.Inicio = 0;
                this.Final = 0;
                this.idvendedor = 0;
                this.pendiente = 0;
                this.arrayVendedor = [];
                this.vendedor = '';
                this.pendiente = null;
                this.EnabledButon();
            },
            EnableTxt(){
                $("#txtInicio").prop( "disabled", false );
                $("#txtFinal").prop( "disabled", false );
                this.disabledvue = false;
                $("#btnReset").toggle();
                $("#btnnew").toggle();
                this.titulo = 'Asignar Talonario';
                this.seleccionarVendedor();
                this.UltimoTalonario();
                this.Final = (parseInt(this.Inicio) + 49); 
                this.pendiente = 0;
                this.DesabledButton();
            },
            DesabledButton(){
                $("tbody > tr > td").find("button").prop( "disabled", true );
                $("tfoot").css("display", "none");
            },
            EnabledButon(){
                $("tbody > tr > td").find("button").prop( "disabled", false );
                $("tfoot").css("display", "inherit");
            },
            ClearTxt(){
                this.idvendedor = '';
                this.Inicio = 0;
                this.Final = 0;
                this.arrayDatos= [];
            },
            ValidateTalonario(){
                this.errorTalonario = 0;
                this.txtvalidate = [];
                if (isNaN(this.Inicio) || isNaN(this.Final)) {
                    this.txtvalidate.push("*Solo se aceptan numero");
                }
                if (!this.Inicio) this.txtvalidate.push("*Agregue el numero de inicio del talonario.");
                if (!this.Final) this.txtvalidate.push("*Agregue el ultimo numero del talonario.");
                if (!this.idvendedor) this.txtvalidate.push("*Seleccione al vendedor que desea asignar el talonario.");
                if(this.pendiente>0) this .txtvalidate.push("*Necesita autorización para asignarle mas recibo al vendedor")
                if(this.txtvalidate.length) this.errorTalonario = 1;
                return this.errorTalonario;
            },
            ValidarTalonario(){
                this.errorTalonario = 0;
                this.txtvalidate = [];
                var str = /^[0-9]$/;
                if (!parseInt(this.Inicio1)) this.txtvalidate.push("*Agregue el numero de inicio del talonario.");
                if (!parseInt(this.Final1)) this.txtvalidate.push("*Agregue el ultimo numero del talonario.");
                if(parseInt(this.Inicio1) > parseInt(this.Final1)) this.txtvalidate.push("El numero inicial no puede ser mayor al final, verifique");
                if(parseInt(this.Inicio1) > this.Inicio) this.txtvalidate.push("El numero inicial no puede ser superior a los registro");
                if(parseInt(this.Final1) > this.Inicio) this.txtvalidate.push("*El numero final no puede ser superior a los registro");
                if(this.txtvalidate.length) this.errorTalonario = 1;
                return this.errorTalonario;
            },
        },
        mounted() {
            this.DisableTxt();
            this.listarTalonario(1, this.buscar, this.filtro);
        }
    }
</script>
<style>
    .div-error{
        display: flex;
        margin-left: 0.5rem;
        font-size: 12px;
    }
    .text-error{
        color:red !important;
        font-weight: bold;
    }
</style>