<template>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#dolar"><img :src="imgdolar"> Dolar</a></li>
                    <li><a data-toggle="tab" href="#yuan"><img :src="imgyuan"> Yuan</a></li>
                </ul>
                <div class="tab-content">
                    <div id="dolar" class="tab-pane fade in active" v-if="$can('dolar.index')">
                        <!-- FORMULARIO -->
                        <div class="col-md-4 pReturn">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title" v-text="titulo"></h4>
                                </div>
                                <div class="content">
                                   <!--<form>-->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Monto</label>
                                                    <input type="text" class="form-control" min="30" step="any" placeholder="xx.xx" id="txtNombre" v-model="dolar">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row div-error" v-show="errorDolar">
                                            <div class="text-center text-error">
                                                <div v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror">            
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary pull-left btnhidden" id="btnnew" @click="EnableTxt" v-if="$can('dolar.store') && tipoBtn==1"><i class="pe-7s-plus"></i> Nuevo</button>
                                        <button type="button" class="btn btn-warning pull-right" id="" @click="actualizarDolar()" v-if="$can('dolar.update') && tipoBtn==2"><i class="pe-7s-diskette"></i> Actualizar</button>
                                        <button type="button" class="btn btn-success pull-right" id="btnAdd" @click="registrarDolar()" v-if="$can('dolar.store')"><i class="pe-7s-check"></i> Agregar</button>
                                        <button type="reset" class="btn btn-danger pull-right" id="btnReset" @click="DisableTxt"><i class="pe-7s-close"></i> Cancelar</button>
                                        <div class="clearfix"></div>
                                    <!--  </form> -->
                                </div>
                            </div>          
                        </div>
                        <!--   TABLA -->
                        <div class="col-md-8">
                            <div class="card"> 
                                <div class="header">
                                    <!--  <form action="" class="form-inline"> -->
                                        <div class="form-group">
                                            <p style="display: inline;" >Buscar:</p>
                                            <input type="text" v-model="buscar" class="txtbuscar" placeholder="Buscar..." id="txtBuscar" @keyup.enter="listarDolar(1, buscar)">
                                            <img :src="imgbuscar" class="img-sidebar">
                                        </div>
                                    <!--  </form> -->
                                </div>
                                <div class="content">                                                                                  
                                    <div class="content table-responsive table-full-width">
                                        <table class="table table-hover table-striped" >
                                            <thead> 
                                                <th>Opciones</th>
                                                <th>Tasa de Cambio</th>
                                                <th>Fecha</th>
                                            </thead>
                                            <tbody>
                                                <tr v-for="dolar in arrayDolar" :key="dolar.idDolar">
                                                    <td>
                                                        <button type="button" class="btn btn-warning" @click="getDolar(dolar)" v-if="$can('dolar.update')"><i class="pe-7s-pen"></i></button>
                                                    </td>
                                                    <td v-text="parseFloat(dolar.Cambio).toFixed(2)"></td>
                                                    <td v-text="dolar.created_at"></td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <ul class="pagination">
                                                    <li class="page-item" v-if="pagination.current_page > 1">
                                                        <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page - 1, buscar)">&laquo;</a>
                                                    </li>
                                                    <li class="page-item" v-for="page in pagesNumber" :key="page" :class= "[ page == isActived ? 'active' : '' ]" >
                                                        <a href="#" class="page-link" @click.prevent="cambiarPagina(page, buscar)" v-text="page"></a>
                                                    </li>
                                                    <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                                        <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page + 1, buscar)">&raquo;</a>
                                                    </li>
                                                </ul>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>                        
                            </div>
                        </div>
                    </div>

                    <!-- --------------YUAN----------------------------------- -->
                    <div id="yuan" class="tab-pane fade" v-if="$can('yuan.index')">
                        <!-- FORMULARIO -->
                        <div class="col-md-4 pReturn">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title" v-text="titulo1"></h4>
                                </div>
                                <div class="content">
                                    <!--<form>-->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Monto</label>
                                                    <input type="text" class="form-control" placeholder="00.00" id="txtNombre1" v-model="yuan">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row div-error" v-show="errorYuan">
                                            <div class="text-center text-error">
                                                <div v-for="msjerror in txtvalidate1" :key="msjerror" v-text="msjerror">            
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary pull-left btnhidden" id="btnnew1" @click="EnableTxt1" v-if="$can('yuan.store') && tipoBtn1==1"><i class="pe-7s-plus"></i> Nuevo</button>
                                        <button type="button" class="btn btn-warning pull-right" id="" @click="actualizarYuan()" v-if="$can('yuan.update') && tipoBtn1==2"><i class="pe-7s-diskette"></i> Actualizar</button>
                                        <button type="button" class="btn btn-success pull-right" id="btnAdd1" v-if="$can('yuan.store')" @click="registrarYuan()"><i class="pe-7s-check"></i> Agregar</button>
                                        <button type="reset" class="btn btn-danger pull-right" id="btnReset1" @click="DisableTxt1"><i class="pe-7s-close"></i> Cancelar</button>
                                        <div class="clearfix"></div>
                                     <!--</form>-->
                                </div>
                            </div>          
                        </div>
                        <!--   TABLA -->
                        <div class="col-md-8">
                            <div class="card"> 
                                <div class="header">
                                    <!--  <form action="" class="form-inline"> -->
                                        <div class="form-group">
                                            <p style="display: inline;" >Buscar:</p>
                                            <input type="text" v-model="buscar1" class="txtbuscar" placeholder="Buscar..." id="txtBuscar" @keyup.enter="listarYuan(1, buscar1)">
                                            <img :src="imgbuscar" class="img-sidebar">
                                        </div>
                                    <!--  </form> -->
                                </div>
                                <div class="content">                                                                                  
                                    <div class="content table-responsive table-full-width">
                                        <table class="table table-hover table-striped" >
                                            <thead> 
                                                <th>Opciones</th>
                                                <th>Tasa de Cambio</th>
                                                <th>Fecha</th>
                                            </thead>
                                            <tbody>
                                                <tr v-for="yuan in arrayYuan" :key="yuan.idYuan">
                                                    <td>
                                                        <button type="button" class="btn btn-warning" v-if="$can('yuan.update')" @click="getYuan(yuan)"><i class="pe-7s-pen"></i></button>
                                                    </td>
                                                    <td v-text="parseFloat(yuan.Cambio).toFixed(2)"></td>
                                                    <td v-text="yuan.created_at"></td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <ul class="pagination">
                                                    <li class="page-item" v-if="pagination1.current_page > 1">
                                                        <a href="#" class="page-link" @click.prevent="cambiarPagina1(pagination1.current_page - 1, buscar1)">&laquo;</a>
                                                    </li>
                                                    <li class="page-item" v-for="page1 in pagesNumber1" :key="page1" :class= "[ page1 == isActived1 ? 'active' : '' ]" >
                                                        <a href="#" class="page-link" @click.prevent="cambiarPagina1(page1, buscar1)" v-text="page1"></a>
                                                    </li>
                                                    <li class="page-item" v-if="pagination1.current_page < pagination.last_page">
                                                        <a href="#" class="page-link" @click.prevent="cambiarPagina1(pagination1.current_page + 1, buscar1)">&raquo;</a>
                                                    </li>
                                                </ul>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
   </div>
</template>
<script>
    export default {
        props:['ruta'],
        data(){
            return{
                idDolar: 0,
                idYuan: 0,
                dolar: '',
                yuan: '',
                titulo: 'Cambio $ a C$',
                titulo1: 'Cambio $ a ¥',
                arrayDolar: [],
                arrayYuan: [],
                errorDolar: 0,
                errorYuan: 0,
                txtvalidate: [],
                txtvalidate1: [],
                tipoBtn: 1,
                tipoBtn1: 1,

                pagination: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                },
                pagination1: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                },
                offset: 3,
                buscar: '', 
                buscar1:'',
                imgbuscar: './img/icons8_search1_32.png',
                imgyuan: './img/icons8_japanese_yen1_16.png',
                imgdolar: './img/icons8_us_dollar1_16.png',

            }
        },
        computed: {
            isActived: function() {
                return this.pagination.current_page;
            },
            isActived1: function() {
                return this.pagination1.current_page;
            },
            pagesNumber: function() {
                if(!this.pagination.to){
                    return [];
                }

                var from = this.pagination.current_page - this.offset; 
                if(from < 1){
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            },
            pagesNumber1: function() {
                if(!this.pagination.to){
                    return [];
                }

                var from = this.pagination.current_page - this.offset; 
                if(from < 1){
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }
        },
        methods:{
            listarDolar(page, buscar){
                let me=this;
                var url = this.ruta + '/dolar?page=' + page + '&buscar=' + buscar;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayDolar = respuesta.dolar.data;
                    me.pagination = respuesta.pagination;
                    $("#txtBuscar").focus();
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            cambiarPagina(page, buscar){
                let me = this;
                me.pagination.current_page = page;
                me.listarDolar(page, buscar);
            },
            registrarDolar(){
                if (this.ValidateDolar()) {
                    return;
                }
                let me = this;
                axios.post(this.ruta + '/dolar/registrar', {
                    'Cambio' : this.dolar,
                    })
                .then(function (response) {
                    me.listarDolar(1, '');
                    me.ClearTxt();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            actualizarDolar(){
                if (this.ValidateDolar()) {
                    return;
                }
                let me = this;
                axios.put(this.ruta + '/dolar/actualizar', {
                    'idDolar': this.idDolar,
                    'Cambio' : this.dolar,
                    })
                .then(function (response) {
                    me.listarDolar(1, '');
                    me.DisableTxt();
                    $("#btnAdd").toggle();
                    $("#btnReset").toggle();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            DisableTxt(){
                $("#txtNombre").prop( "disabled", true );
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle();
                this.dolar= '';
                this.titulo= 'Cambio de $ a C$';
                this.errorDolar= 0;
                this.txtvalidate= [];
                this.tipoBtn=1;

                this.EnabledButon();
            },
            EnableTxt(){
                $("#txtNombre").prop( "disabled", false );
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle();
                this.titulo = 'Agregar Cambio';

                this.DesabledButton();
            }, 
            DesabledButton(){
                $("tbody > tr > td").find("button").prop( "disabled", true );
                $("tfoot").css("display", "none");
            },
            EnabledButon(){
                $("tbody > tr > td").find("button").prop( "disabled", false );
                $("tfoot").css("display", "inherit");
            },
            ClearTxt(){
                this.dolar = '';
            },
            ValidateDolar(){
                this.errorDolar = 0;
                this.txtvalidate = [];

                if (isNaN(this.dolar)){
                    this.txtvalidate.push("*El campo no acepta texto");
                } else if(this.dolar<=0){
                     this.txtvalidate.push("*El Numero no puede ser cero");
                }
                
                if(this.txtvalidate.length) this.errorDolar = 1;

                return this.errorDolar;
            },
            getDolar(data=[]){
                this.tipoBtn=2;
                $("#txtNombre").prop( "disabled", false );
                this.titulo = 'Actualizar Cambio'
                this.idDolar = data['idDolar'];
                this.dolar = data['Cambio'];
            },
             listarYuan(page, buscar){
                let me=this;
                var url = this.ruta + '/yuan?page=' + page + '&buscar=' + buscar;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayYuan = respuesta.yuan.data;
                    me.pagination1 = respuesta.pagination;
                    $("#txtBuscar1").focus();
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            cambiarPagina1(page, buscar){
                let me = this;
                me.pagination1.current_page = page;
                me.listarYuan(page, buscar);
            },
            registrarYuan(){
                if (this.ValidateYuan()) {
                    return;
                }
                let me = this;
                axios.post( this.ruta + '/yuan/registrar', {
                    'Cambio' : this.yuan,
                    })
                .then(function (response) {
                    me.listarYuan(1, '');
                    me.ClearTxt();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            actualizarYuan(){
                if (this.ValidateYuan()) {
                    return;
                }
                let me = this;
                axios.put(this.ruta + '/yuan/actualizar', {
                    'idYuan': this.idYuan,
                    'Cambio' : this.yuan,
                    })
                .then(function (response) {
                    me.listarYuan(1, '');
                    me.DisableTxt1();
                    $("#btnAdd1").toggle();
                    $("#btnReset1").toggle();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            DisableTxt1(){
                $("#txtNombre1").prop( "disabled", true );
                $("#btnAdd1").toggle();
                $("#btnReset1").toggle();
                $("#btnnew1").toggle();
                this.yuan= '';
                this.titulo1= 'Cambio de ¥ a $';
                this.errorYuan= 0;
                this.txtvalidate= [];
                this.tipoBtn1=1;

                this.EnabledButon1();
            },
            EnableTxt1(){
                $("#txtNombre1").prop( "disabled", false );
                $("#btnAdd1").toggle();
                $("#btnReset1").toggle();
                $("#btnnew1").toggle();
                this.titulo1 = 'Agregar Cambio';

                this.DesabledButton1();
            }, 
            DesabledButton1(){
                $("tbody > tr > td").find("button").prop( "disabled", true );
                $("tfoot").css("display", "none");
            },
            EnabledButon1(){
                $("tbody > tr > td").find("button").prop( "disabled", false );
                $("tfoot").css("display", "inherit");
            },
            ClearTxt1(){
                this.yuan = '';
                this.tipoBtn1= 1;
            },
            ValidateYuan(){
                this.errorYuan = 0;
                this.txtvalidate1 = [];

                if (isNaN(this.yuan)){
                    this.txtvalidate1.push("*El campo no acepta texto");
                } else if(this.yuan<=0){
                     this.txtvalidate1.push("*El Numero no puede ser cero");
                }
                
                if(this.txtvalidate1.length) this.errorYuan= 1;

                return this.errorYuan;
            },
            getYuan(data=[]){
                this.tipoBtn1=2;
                $("#txtNombre1").prop( "disabled", false );
                this.titulo1 = 'Actualizar Cambio'
                this.idYuan = data['idYuan'];
                this.yuan = data['Cambio'];
            }
        },
        mounted() {
            this.listarDolar(1, this.buscar);
            this.listarYuan(1, this.buscar1);
            this.DisableTxt();
            this.DisableTxt1();
        }
    }
</script>
<style>
    .div-error{
        display: flex;
        margin-left: 0.5rem;
        font-size: 12px;
        /*justify-content: center;*/
    }
    .text-error{
        color:red !important;
        font-weight: bold;
    }
    .pReturn{
        padding-left: 0px;
        border-top: 0px;
    }
</style>