<template>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 card">
                    <h4>Transacciones</h4>
                    <ul>
                        <li class="informes"><a href="#FactContCred">Listado de Factura de Contado y Crédito</a></li>
                        <li class="informes"><a href="#FactContado">Listado de Factura de Contado</a></li>
                        <li class="informes"><a href="#FactCredito">Listado de Factura de Crédito</a></li>
                        <li class="informes"><a href="#FactAnulada">Listado de Factura Anuladas</a></li>
                        <li class="informes"><a href="#FactVendedor" @click="SeleccionarVendedor">Listado de Factura por Vendedor</a></li>
                        <li class="informes"><a href="#FactCliente" @click="SeleccionarCliente">Listado de Factura por Cliente</a></li>
                        <li class="informes"><a href="#FactZona" @click="SeleccionarZona">Listado de Factura por Zona</a></li>
                        <li class="informes"><a href="#VentasProd">Listado de Ventas de Productos por Clientes</a></li>
                        <li class="informes"><a href="#devolucionesCliente">Listado de Devoluciones por Clientes</a></li>
                        <li class="informes"><a href="#departamentoProducto" @click="SeleccionarDepartamento">Listado de Producto segun Departamento</a></li>
                        <li class="informes"><a href="#PrefactProd">Listado de Productos de Prefacturas</a></li>
                    </ul>
                </div>
                <!-- CUADRO MODAL IMPRIMIR Listado de facturas de credito y contado -->
                    <div id="FactContCred" class="modalDialog">
                        <div style="width: 30%">
                            <h4 class="tituloModal">Facturas Contado y Créditos</h4>
                            <hr class="linetitle">
                            <div class="contenidoModal">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="">Fecha Inicio</label>
                                        <input type="date" v-model="fechainicio" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">Fecha Final</label>
                                        <input type="date" v-model="fechafinal" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row div-error" v-show="errores">
                                    <div class="text-center text-error">
                                        <div v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror">            
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-left: 25%; margin-top: 5%">
                                    <div class="col-md-4">
                                        <a class="btn btn-danger btn-block" id="cerrar" href="#close">Cerrar</a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="btn btn-default btn-block" @click="factContCred(fechainicio, fechafinal)">Imprimir</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                <!-- FIN DEL MODAL -->
                <!-- CUADRO MODAL IMPRIMIR Listado de facturas de contado -->
                    <div id="FactContado" class="modalDialog">
                        <div style="width: 30%">
                            <h4 class="tituloModal">Facturas de Contados</h4>
                            <hr class="linetitle">
                            <div class="contenidoModal">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="">Fecha Inicio</label>
                                        <input type="date" v-model="fechainicio" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">Fecha Final</label>
                                        <input type="date" v-model="fechafinal" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row div-error" v-show="errores">
                                    <div class="text-center text-error">
                                        <div v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror">            
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-left: 25%; margin-top: 5%">
                                    <div class="col-md-4">
                                        <a class="btn btn-danger btn-block" id="cerrar" href="#close">Cerrar</a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="btn btn-default btn-block" @click="factContado(fechainicio, fechafinal)">Imprimir</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                <!-- FIN DEL MODAL -->
                <!-- CUADRO MODAL IMPRIMIR Listado de facturas de credito-->
                    <div id="FactCredito" class="modalDialog">
                        <div style="width: 30%">
                            <h4 class="tituloModal">Facturas de Créditos</h4>
                            <hr class="linetitle">
                            <div class="contenidoModal">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="">Fecha Inicio</label>
                                        <input type="date" v-model="fechainicio" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">Fecha Final</label>
                                        <input type="date" v-model="fechafinal" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row div-error" v-show="errores">
                                    <div class="text-center text-error">
                                        <div v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror">            
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-left: 25%; margin-top: 5%">
                                    <div class="col-md-4">
                                        <a class="btn btn-danger btn-block" id="cerrar" href="#close">Cerrar</a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="btn btn-default btn-block" @click="factCredito(fechainicio, fechafinal)">Imprimir</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                <!-- FIN DEL MODAL -->
                <!-- CUADRO MODAL IMPRIMIR Listado de facturas de Anuladas-->
                    <div id="FactAnulada" class="modalDialog">
                        <div style="width: 30%">
                            <h4 class="tituloModal">Facturas Anuladas</h4>
                            <hr class="linetitle">
                            <div class="contenidoModal">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="">Fecha Inicio</label>
                                        <input type="date" v-model="fechainicio" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">Fecha Final</label>
                                        <input type="date" v-model="fechafinal" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row div-error" v-show="errores">
                                    <div class="text-center text-error">
                                        <div v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror">            
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-left: 25%; margin-top: 5%">
                                    <div class="col-md-4">
                                        <a class="btn btn-danger btn-block" id="cerrar" href="#close">Cerrar</a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="btn btn-default btn-block" @click="factAnulada(fechainicio, fechafinal)">Imprimir</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                <!-- FIN DEL MODAL -->
                <!-- CUADRO MODAL IMPRIMIR Listado de facturas x vendedor-->
                    <div id="FactVendedor" class="modalDialog">
                        <div style="width: 30%">
                            <h4 class="tituloModal">Facturas por Vendedor</h4>
                            <hr class="linetitle">
                            <div class="contenidoModal">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="">Fecha Inicio</label>
                                        <input type="date" v-model="fechainicio" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">Fecha Final</label>
                                        <input type="date" v-model="fechafinal" class="form-control">
                                    </div>
                                    <div class="col-md-12">
                                        <label for="">Vendedor</label>
                                        <v-select
                                            label="Nombre"
                                            placeholder= "Seleccione Vendedor"
                                            :options="arrayVendedor"
                                            v-model="vendedor"
                                            :value="arrayVendedor.Nombre"
                                            @input="setVendedor"
                                        ></v-select>
                                    </div>
                                </div>
                                <div class="form-group row div-error" v-show="errores">
                                    <div class="text-center text-error">
                                        <div v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror">            
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-left: 25%; margin-top: 5%">
                                    <div class="col-md-4">
                                        <a class="btn btn-danger btn-block" id="cerrar" href="#close">Cerrar</a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="btn btn-default btn-block" @click="factVendedor(fechainicio, fechafinal, idvendedor)">Imprimir</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                <!-- FIN DEL MODAL -->
                <!-- CUADRO MODAL IMPRIMIR Listado de facturas x cliente -->
                    <div id="FactCliente" class="modalDialog">
                        <div style="width: 30%">
                            <h4 class="tituloModal">Facturas por Cliente</h4>
                            <hr class="linetitle">
                            <div class="contenidoModal">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="">Fecha Inicio</label>
                                        <input type="date" v-model="fechainicio" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">Fecha Final</label>
                                        <input type="date" v-model="fechafinal" class="form-control">
                                    </div>
                                    <div class="col-md-12">
                                        <label for="">Cliente</label>
                                        <v-select
                                            label="Cliente"
                                            placeholder= "Seleccione Cliente"
                                            :options="arrayCliente"
                                            v-model="cliente"
                                            :value="arrayCliente.carousel-item-next"
                                           @input="setCliente"
                                        ></v-select>
                                    </div>
                                </div>
                                <div class="form-group row div-error" v-show="errores">
                                    <div class="text-center text-error">
                                        <div v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror">            
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-left: 25%; margin-top: 5%">
                                    <div class="col-md-4">
                                        <a class="btn btn-danger btn-block" id="cerrar" href="#close">Cerrar</a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="btn btn-default btn-block" @click="factCliente(fechainicio, fechafinal, idcliente)">Imprimir</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                <!-- FIN DEL MODAL -->
                <!-- CUADRO MODAL IMPRIMIR Listado de facturas x Zona -->
                    <div id="FactZona" class="modalDialog">
                        <div style="width: 30%">
                            <h4 class="tituloModal">Facturas por Zona</h4>
                            <hr class="linetitle">
                            <div class="contenidoModal">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="">Fecha Inicio</label>
                                        <input type="date" v-model="fechainicio" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">Fecha Final</label>
                                        <input type="date" v-model="fechafinal" class="form-control">
                                    </div>
                                    <div class="col-md-12">
                                        <label>Zona</label>
                                        <v-select
                                            label="Nombre"
                                            placeholder= "Seleccione zona..."
                                            :options="arrayZona"
                                            v-model="zona"
                                            :value="arrayZona.Nombre"
                                            @input="setZona"
                                        ></v-select>
                                    </div>
                                </div>
                                <div class="form-group row div-error" v-show="errores">
                                    <div class="text-center text-error">
                                        <div v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror">            
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-left: 25%; margin-top: 5%">
                                    <div class="col-md-4">
                                        <a class="btn btn-danger btn-block" id="cerrar" href="#close">Cerrar</a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="btn btn-default btn-block" @click="factZona(fechainicio, fechafinal, idzona)">Imprimir</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                <!-- FIN DEL MODAL -->
                <!-- CUADRO MODAL IMPRIMIR Listado de Ventas de productos por clientes -->
                    <div id="VentasProd" class="modalDialog">
                        <div style="width: 30%">
                            <h4 class="tituloModal">Ventas de Productos por Clientes</h4>
                            <hr class="linetitle">
                            <div class="contenidoModal">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="">Fecha Inicio</label>
                                        <input type="date" v-model="fechainicio" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">Fecha Final</label>
                                        <input type="date" v-model="fechafinal" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row div-error" v-show="errores">
                                    <div class="text-center text-error">
                                        <div v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror">            
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 5%">
                                    <div class="col-md-4">
                                        <a class="btn btn-default btn-block" id="cerrar" href="#close">Cerrar</a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="btn btn-danger btn-block" @click="ventasproductos(fechainicio, fechafinal)">Imprimir PDF</a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="btn btn-success btn-block" @click="ventasproductosexcel(fechainicio, fechafinal)">Imprimir Excel</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                <!-- FIN DEL MODAL -->
                <!-- CUADRO MODAL IMPRIMIR Listado de Ventas de productos por clientes -->
                    <div id="VentasProd" class="modalDialog">
                        <div style="width: 30%">
                            <h4 class="tituloModal">Ventas de Productos por Clientes</h4>
                            <hr class="linetitle">
                            <div class="contenidoModal">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="">Fecha Inicio</label>
                                        <input type="date" v-model="fechainicio" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">Fecha Final</label>
                                        <input type="date" v-model="fechafinal" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row div-error" v-show="errores">
                                    <div class="text-center text-error">
                                        <div v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror">            
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 5%">
                                    <div class="col-md-4">
                                        <a class="btn btn-default btn-block" id="cerrar" href="#close">Cerrar</a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="btn btn-danger btn-block" @click="ventasproductos(fechainicio, fechafinal)">Imprimir PDF</a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="btn btn-success btn-block" @click="ventasproductosexcel(fechainicio, fechafinal)">Imprimir Excel</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                <!-- FIN DEL MODAL -->
                <!-- CUADRO MODAL IMPRIMIR Listado de Devoluciones por clientes -->
                    <div id="devolucionesCliente" class="modalDialog">
                        <div style="width: 30%">
                            <h4 class="tituloModal">Devoluciones por Clientes</h4>
                            <hr class="linetitle">
                            <div class="contenidoModal">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="">Fecha Inicio</label>
                                        <input type="date" v-model="fechainicio" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">Fecha Final</label>
                                        <input type="date" v-model="fechafinal" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row div-error" v-show="errores">
                                    <div class="text-center text-error">
                                        <div v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror">            
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 5%">
                                    <div class="col-md-4">
                                        <a class="btn btn-default btn-block" id="cerrar" href="#close">Cerrar</a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="btn btn-danger btn-block" @click="devolucionCliente(fechainicio, fechafinal)">Imprimir</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                <!-- FIN DEL MODAL -->
                <!-- CUADRO MODAL IMPRIMIR Listado de Devoluciones por clientes -->
                    <div id="departamentoProducto" class="modalDialog">
                        <div style="width: 30%">
                            <h4 class="tituloModal">Producto por Departamento</h4>
                            <hr class="linetitle">
                            <div class="contenidoModal">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="">Departamento</label>
                                        <v-select
                                            label="Nombre"
                                            placeholder= "Seleccione Departamento"
                                            :options="arrayDepartamento"
                                            v-model="departamento"
                                            :value="arrayDepartamento.Nombre"
                                            @input="setDepartamento"
                                        ></v-select>
                                    </div>
                                </div>
                                <div class="form-group row div-error" v-show="errores">
                                    <div class="text-center text-error">
                                        <div v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror">            
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 5%">
                                    <div class="col-md-4">
                                        <a class="btn btn-default btn-block" id="cerrar" href="#close">Cerrar</a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="btn btn-success btn-block" @click="departamentoproducto(idDepartamento)">Imprimir</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                <!-- FIN DEL MODAL -->
                <!-- CUADRO MODAL IMPRIMIR Listado de Ventas de productos por clientes -->
                    <div id="PrefactProd" class="modalDialog">
                        <div style="width: 30%">
                            <h4 class="tituloModal">Productos de Prefacturas</h4>
                            <hr class="linetitle">
                            <div class="contenidoModal">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="">Fecha Inicio</label>
                                        <input type="date" v-model="fechainicio" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">Fecha Final</label>
                                        <input type="date" v-model="fechafinal" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row div-error" v-show="errores">
                                    <div class="text-center text-error">
                                        <div v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror">            
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 5%">
                                    <div class="col-md-4">
                                        <a class="btn btn-default btn-block" id="cerrar" href="#close">Cerrar</a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="btn btn-success btn-block" @click="prefactprodexcel(fechainicio, fechafinal)">Imprimir Excel</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                <!-- FIN DEL MODAL -->
            </div>
        </div>
    </div>

</template>

<script>
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    export default {
        props:['ruta'],
        data(){
            return {
                fechainicio: '',
                fechafinal: '',
                errores: 0,
                txtvalidate: [],
                vendedor: '',
                idvendedor: 0,
                arrayVendedor: [],
                cliente: '',
                idcliente: 0,
                arrayCliente: [],
                zona: '',
                idzona: 0,
                arrayZona: [],
                arrayDepartamento: [],
                idDepartamento: 0,
                departamento: ''
            }
        },
        components:{
            vSelect,
        },
        methods : {
            factContCred(inicio, fin){
                 if (this.Validate()) {
                    return;
                }
                window.open(this.ruta+"/informe/factcontcred?FInicio="+inicio+"&FFin="+fin);
                document.getElementById("cerrar").click();
                this.fechainicio = '';
                this.fechafinal = '';
            },
            factContado(inicio, fin){
                 if (this.Validate()) {
                    return;
                }
                window.open("http://127.0.0.1:8000/informe/factcontado?FInicio="+inicio+"&FFin="+fin,"_system","toolbar=no, location=no");
                document.getElementById("cerrar").click();
                this.fechainicio = '';
                this.fechafinal = '';
            },
            factCredito(inicio, fin){
                if (this.Validate()) {
                    return;
                }
                window.open("http://127.0.0.1:8000/informe/factcredito?FInicio="+inicio+"&FFin="+fin);
                document.getElementById("cerrar").click();
                this.fechainicio = '';
                this.fechafinal = '';
            },
            factAnulada(inicio, fin){
                if (this.Validate()) {
                    return;
                }
                window.open("http://127.0.0.1:8000/informe/factanulado?FInicio="+inicio+"&FFin="+fin);
                document.getElementById("cerrar").click();
                this.fechainicio = '';
                this.fechafinal = '';
            },
            SeleccionarVendedor(){
                let me=this;
                var url = this.ruta + '/vendedor/seleccionar';
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayVendedor = respuesta.vendedor;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            setVendedor(value){
                let me = this;
                me.loading = true;
                me.idvendedor = value.idVendedor;
            },
            SeleccionarDepartamento(){
                let me=this;
                var url = this.ruta + '/departamento/seleccionar';
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayDepartamento = respuesta.departamento;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            setDepartamento(value){
                let me = this;
                me.loading = true;
                me.idDepartamento = value.idDepartamentos;
            },
            factVendedor(inicio, fin, id){
                if (this.ValidateVendedor()) {
                    return;
                }
                window.open("http://127.0.0.1:8000/informe/factvendedor?FInicio="+inicio+"&FFin="+fin+"&idVendedor="+id);
                document.getElementById("cerrar").click();
                this.ClearText();
            },
            SeleccionarCliente(){
                let me=this; 
                var url = this.rtua + '/cliente/seleccionar';
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayCliente = respuesta.cliente;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            setCliente(value){
                let me = this;
                me.loading = true;
                me.idcliente = value.idCliente;
            },
            factCliente(inicio, fin, id){
                if (this.ValidateCliente()) {
                    return;
                }
                window.open("http://127.0.0.1:8000/informe/factcliente?FInicio="+inicio+"&FFin="+fin+"&idCliente="+id);
                document.getElementById("cerrar").click();
                this.ClearText();
            },
            SeleccionarZona(page, buscar){
                let me=this;
                var url = this.ruta + '/zona/seleccionar';
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayZona = respuesta.zona;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            setZona(value){
                let me = this;
                me.loading = true;
                me.idzona = value.idZona;
            },
            factZona(inicio, fin, id){
                if (this.ValidateZona()) {
                    return;
                }
                window.open("http://127.0.0.1:8000/informe/factzona?FInicio="+inicio+"&FFin="+fin+"&idZona="+id);
                document.getElementById("cerrar").click();
                this.ClearText();
            },
            Validate(){
                this.errores = 0;
                this.txtvalidate = [];

                if(!this.fechainicio) this.txtvalidate.push("*La fecha inicial no puede estar vacío");
                if(!this.fechafinal) this.txtvalidate.push("*La fecha final no puede estar vacío");

                if (Date.parse(this.fechainicio) > Date.parse(this.fechafinal)) this.txtvalidate.push("*La fecha inicial no puede ser mayor a la fecha final");
                
                if(this.txtvalidate.length) this.errores = 1;

                return this.errores;
            },
            ValidateVendedor(){
                this.errores = 0;
                this.txtvalidate = [];

                if(!this.fechainicio) this.txtvalidate.push("*La fecha inicial no puede estar vacío");
                if(!this.fechafinal) this.txtvalidate.push("*La fecha final no puede estar vacío");

                if (Date.parse(this.fechainicio) > Date.parse(this.fechafinal)) this.txtvalidate.push("*La fecha inicial no puede ser mayor a la fecha final");

                if (!this.idvendedor) this.txtvalidate.push("*Seleccione al vendedor");
                
                if(this.txtvalidate.length) this.errores = 1;

                return this.errores;
            },
            ValidateCliente(){
                this.errores = 0;
                this.txtvalidate = [];

                if(!this.fechainicio) this.txtvalidate.push("*La fecha inicial no puede estar vacío");
                if(!this.fechafinal) this.txtvalidate.push("*La fecha final no puede estar vacío");

                if (Date.parse(this.fechainicio) > Date.parse(this.fechafinal)) this.txtvalidate.push("*La fecha inicial no puede ser mayor a la fecha final");

                if (!this.idcliente) this.txtvalidate.push("*Seleccione al cliente");
                
                if(this.txtvalidate.length) this.errores = 1;

                return this.errores;
            },
            ValidateZona(){
                this.errores = 0;
                this.txtvalidate = [];

                if(!this.fechainicio) this.txtvalidate.push("*La fecha inicial no puede estar vacío");
                if(!this.fechafinal) this.txtvalidate.push("*La fecha final no puede estar vacío");

                if (Date.parse(this.fechainicio) > Date.parse(this.fechafinal)) this.txtvalidate.push("*La fecha inicial no puede ser mayor a la fecha final");

                if (!this.idzona) this.txtvalidate.push("*Seleccione al vendedor");
                
                if(this.txtvalidate.length) this.errores = 1;

                return this.errores;
            },
            ClearText(){
                this.fechainicio = '';
                this.fechafinal = '';
                this.idcliente= 0;
                this.cliente = '';
                this.idvendedor= 0;
                this.vendedor = '';
                this.idzona= 0;
                this.zona = '' ;
            },
            ventasproductos(inicio, fin){
                 if (this.Validate()) {
                    return;
                }
                window.open(this.ruta+"/informe/ventaproducto?FInicio="+inicio+"&FFin="+fin);
                document.getElementById("cerrar").click();
                this.fechainicio = '';
                this.fechafinal = '';
            },
            ventasproductosexcel(inicio, fin){
                 if (this.Validate()) {
                    return;
                }
                window.open(this.ruta+"/informe/ventaproductoexcel?FInicio="+inicio+"&FFin="+fin);
                document.getElementById("cerrar").click();
                this.fechainicio = '';
                this.fechafinal = '';
            },
            devolucionCliente(inicio, fin){
                 if (this.Validate()) {
                    return;
                }
                window.open(this.ruta+"/informe/devolucioncliente?FInicio="+inicio+"&FFin="+fin);
                document.getElementById("cerrar").click();
                this.fechainicio = '';
                this.fechafinal = '';
            },
            departamentoproducto(dpto){
                window.open(this.ruta+"/informe/productodepartamento?departamento="+dpto);
                document.getElementById("cerrar").click();
                this.idDepartamento = '';
                this.departamento = '';
            },
            prefactprodexcel(inicio, fin){
                 if (this.Validate()) {
                    return;
                }
                window.open(this.ruta+"/prefactura/productos?FInicio="+inicio+"&FFin="+fin);
                document.getElementById("cerrar").click();
                this.fechainicio = '';
                this.fechafinal = '';
            },
        },
        /*mounted() {
        }*/
    }
</script>
<style>
.informes{
    padding: 4px;
    margin-bottom: 1%;
}

.informes > a{
    color: black
}

.informes > a:hover{
    color: green
}

</style>