<template>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- FORMULARIO -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="header">
                            <h4 class="title" v-text="titulo"></h4>
                        </div>
                        <div class="content">
                            <!--<form>-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Tipo de Unidad</label>
                                            <input type="text" class="form-control" placeholder="Unidad de Medida..." id="txtNombre" v-model="nombre">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row div-error" v-show="errorUnidad">
                                    <div class="text-center text-error">
                                        <div v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror">            
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary pull-left btnhidden" id="btnnew" @click="EnableTxt" v-if="$can('unidad.store') && tipoBtn==1"><i class="pe-7s-plus"></i> Nuevo</button>
                                <button type="button" class="btn btn-warning pull-right" id="" @click="actualizarUnidad()" v-if="$can('unidad.update') && tipoBtn==2"><i class="pe-7s-diskette"></i> Actualizar</button>
                                <button type="button" class="btn btn-success pull-right" id="btnAdd" v-if="$can('unidad.store')" @click="registrarUnidad()"><i class="pe-7s-check"></i> Agregar</button>
                                <button type="reset" class="btn btn-danger pull-right" id="btnReset" @click="DisableTxt"><i class="pe-7s-close"></i> Cancelar</button>
                                <div class="clearfix"></div>
                            <!--  </form> -->
                        </div>
                    </div>          
                </div>

                <!--   TABLA -->
                <div class="col-md-8">
                    <div class="card"> 
                        <div class="header">
                             <!--  <form action="" class="form-inline"> -->
                            <div class="form-group">
                                <p style="display: inline;" >Buscar:</p>
                                <input type="text" v-model="buscar" class="txtbuscar" placeholder="Buscar..." id="txtBuscar" @keyup.enter="listarUnidad(1, buscar)">
                                <img :src="imgbuscar" class="img-sidebar">
                            </div>
                            <!--  </form> -->
                        </div>
                        <div class="content">                                                                                  
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped" >
                                    <thead> 
                                        <th>Opciones</th>
                                        <th>Tipo de Medida</th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="Unidad in arrayUnidad" :key="Unidad.idUnidad">
                                            <td>
                                                <button type="button" class="btn btn-warning" v-if="$can('unidad.update')" @click="getUnidad(Unidad)"><i class="pe-7s-pen"></i></button>
                                            </td>
                                            <td v-text="Unidad.Nombre"></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <ul class="pagination">
                                            <li class="page-item" v-if="pagination.current_page > 1">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page - 1, buscar)">&laquo;</a>
                                            </li>
                                            <li class="page-item" v-for="page in pagesNumber" :key="page" :class= "[ page == isActived ? 'active' : '' ]" >
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(page, buscar)" v-text="page"></a>
                                            </li>
                                            <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page + 1, buscar)">&raquo;</a>
                                            </li>
                                        </ul>
                                    </tfoot>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:['ruta'],
        data(){
            return{
                idUnidad: 0,
                nombre: '',
                titulo: 'Unidad de Medida',
                arrayUnidad: [],
                errorUnidad: 0,
                txtvalidate: [],
                tipoBtn: 1,

                pagination: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                },
                offset: 3,
                buscar: '',            
                imgbuscar: './img/icons8_search1_32.png',

            }
        },
        computed: {
            isActived: function() {
                return this.pagination.current_page;
            },
            pagesNumber: function() {
                if(!this.pagination.to){
                    return [];
                }

                var from = this.pagination.current_page - this.offset; 
                if(from < 1){
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }
        },
        methods:{
            listarUnidad(page, buscar){
                var me=this;
                let url = this.ruta + '/unidad?page=' + page + '&buscar=' + buscar;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayUnidad = respuesta.UnidadMedida.data;
                    me.pagination  = respuesta.pagination;
                    $("#txtBuscar").focus();
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            cambiarPagina(page, buscar){
                let me = this;
                me.pagination.current_page = page;
                me.listarUnidad(page, buscar);
            },
            registrarUnidad(){
                if (this.ValidateUnidad()) {
                    return;
                }
                let me = this;
                axios.post(this.ruta + '/unidad/registrar', {
                    'nombre' : this.nombre,
                    })
                .then(function (response) {
                    me.listarUnidad(1, '');
                    me.ClearTxt();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            actualizarUnidad(){
                if (this.ValidateUnidad()) {
                    return;
                }
                let me = this;
                axios.put(this.ruta + '/unidad/actualizar', {
                    'idUnidadMedida': this.idUnidad,
                    'nombre' : this.nombre,
                    })
                .then(function (response) {
                    me.listarUnidad(1, '');
                    me.DisableTxt();
                    $("#btnAdd").toggle();
                    $("#btnReset").toggle();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            DisableTxt(){
                $("#txtNombre").prop( "disabled", true );
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle();
                this.nombre= '';
                this.titulo= 'Unidad de Medida';
                this.errorUnidad= 0;
                this.txtvalidate= [];
                this.tipoBtn=1;

                this.EnabledButon();
            },
            EnableTxt(){
                $("#txtNombre").prop( "disabled", false );
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle();
                this.titulo = 'Agregar Unidad de Medida';

                this.DesabledButton();
            },
            DesabledButton(){
                $("tbody > tr > td").find("button").prop( "disabled", true );
                $("tfoot").css("display", "none");
            },
            EnabledButon(){
                $("tbody > tr > td").find("button").prop( "disabled", false );
                $("tfoot").css("display", "inherit");
            },
            ClearTxt(){
                this.nombre = '';
            },
            ValidateUnidad(){
                this.errorUnidad = 0;
                this.txtvalidate = [];

                if (!this.nombre) this.txtvalidate.push("*El tipo de unidad no puede estar vacío.");
                
                if(this.txtvalidate.length) this.errorUnidad = 1;

                return this.errorUnidad;
            },
            getUnidad(data=[]){
                this.tipoBtn=2;
                $("#txtNombre").prop( "disabled", false );
                this.titulo = 'Actualizar Unidad de Medida'
                this.idUnidad = data['idUnidadMedida'];
                this.nombre = data['Nombre'];
            }
        },
        mounted() {
            this.listarUnidad(1, this.buscar);
            this.DisableTxt();
        }
    }
</script>
<style>
    .div-error{
        display: flex;
        margin-left: 0.5rem;
        font-size: 12px;
    }
    .text-error{
        color:red !important;
        font-weight: bold;
    }
</style>