<template>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#user"><img :src="imguser"> Usuarios</a></li>
                    <li><a data-toggle="tab" href="#access"><img :src="imgaccess"> Permisos</a></li>
                </ul>
                <!---USUARIOS-->
                <div class="tab-content">
                    <div id="user" class="tab-pane fade in active">
                        <!-- FORMULARIO -->
                        <div class="col-md-4 pReturn">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title" v-text="titulo"></h4>
                                </div>
                                <div class="content">
                                    <!--<form>-->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Nombre</label>
                                                    <input type="text" class="form-control" placeholder="Nombre..." id="txtName" v-model="nombre">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>E-mail:</label>
                                                    <input type="email" class="form-control" id="txtemail" placeholder="example@email.com" v-model="email">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Contraseña:</label>
                                                    <input type="password" class="form-control" id="txtcontra" placeholder="*******" v-model="pass">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row div-error" v-show="errorUser">
                                            <div class="text-center text-error">
                                                <div v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror">            
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-default pull-left btnhidden" id="btnnew" @click="EnableTxt" v-if="$can('user.store') && tipoBtn==1"><i class="pe-7s-plus"></i> Nuevo</button>
                                        <button type="button" class="btn btn-warning pull-right" @click="actualizarUser()" v-if="$can('user.update') && tipoBtn==2"><i class="pe-7s-diskette"></i> Actualizar</button>
                                        <button type="button" class="btn btn-success pull-right" id="btnAdd" v-if="$can('user.update')" @click="registrarUser()"><i class="pe-7s-check"></i> Agregar</button>
                                        <button type="reset" class="btn btn-danger pull-right" id="btnReset" @click="DisableTxt"><i class="pe-7s-close"></i> Cancelar</button>
                                        <div class="clearfix"></div>
                                    <!--  </form> -->
                                </div>
                            </div>          
                        </div>
                        <!--   TABLA -->
                        <div class="col-md-8">
                            <div class="card"> 
                                <div class="header">
                                    <div class="form-group">
                                        <p style="display: inline;" >Buscar:</p>
                                        <input type="text" v-model="buscar" class="txtbuscar" placeholder="Buscar..." id="txtBuscar" @keyup.enter="listarUsuarios(1, buscar)">
                                        <img :src="imgbuscar" class="img-sidebar">
                                    </div>
                                </div>
                                <div class="content">                                                                                  
                                    <div class="content table-responsive table-full-width">
                                        <table class="table table-hover table-striped">
                                            <thead>
                                                <!--<th>ID</th>-->
                                                <th>Opciones</th>
                                                <th>Nombre</th>
                                                <th>Email</th>
                                                <th>Estado</th>
                                                <th>F.Registro</th>
                                            </thead>
                                            <tbody>
                                                <tr v-for="user in arrayUser" :key="user.id">
                                                    <td class="btn-option">
                                                        <div v-if="user.state == 'Activo'">
                                                            <button type="button" class="btn btn-warning" v-if="$can('user.update')" @click="getusers(user)"><i class="pe-7s-pen"></i></button>
                                                            <button type="button" class="btn btn-danger" v-if="$can('user.inactive')" @click="deshabilitarusers(user.id)" ><i class="pe-7s-trash"></i></button>
                                                        </div>
                                                        <div v-else>
                                                            <button type="button" class="btn btn-warning" v-if="$can('user.update')" @click="getusers(user)"><i class="pe-7s-pen"></i></button>
                                                            <button type="button" class="btn btn-success" v-if="$can('user.active')" @click="habilitarusers(user.id)" ><i class="pe-7s-check"></i></button>
                                                        </div>
                                                    </td>
                                                    <td v-text="user.name"></td>
                                                    <td v-text="user.email"></td>
                                                    <td v-text="user.state"></td>
                                                    <td v-text="user.created_at"></td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <ul class="pagination">
                                                    <li class="page-item" v-if="pagination.current_page > 1">
                                                        <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page - 1, buscar)">&laquo;</a>
                                                    </li>
                                                    <li class="page-item" v-for="page in pagesNumber" :key="page" :class= "[ page == isActived ? 'active' : '' ]" >
                                                        <a href="#" class="page-link" @click.prevent="cambiarPagina(page, buscar)" v-text="page"></a>
                                                    </li>
                                                    <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                                        <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page + 1, buscar)">&raquo;</a>
                                                    </li>
                                                </ul>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>                        
                            </div>
                        </div>
                    </div>
                    <!--ACCESOS-->
                    <div id="access" class="tab-pane fade">
                        <!-- FORMULARIO -->
                        <div class="col-md-4 pReturn">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Permisos</h4>
                                </div>
                                <div class="content">
                                    <!--<form>-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Usuario:</label>
                                                <v-select
                                                    label="name"
                                                    placeholder= "Seleccione el usuario"
                                                    :options="usuariosall"
                                                    v-model="alluser"
                                                    :value="usuariosall.id"
                                                    @input="setUsuarioPermiso"
                                                ></v-select>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Modulo:</label>
                                                <v-select
                                                    label="Nombre"
                                                    placeholder= "Seleccione Modulo"
                                                    :options="optModulo"
                                                    v-model="modulo"
                                                    :value="optModulo.code"
                                                    @input="setPermiso"
                                                ></v-select>
                                            </div>
                                        </div>
                                    </div>
                                   <!--  <button type="button" class="btn btn-success pull-right" id="btnAdd" @click="registrarUser()"><i class="pe-7s-check"></i> Agregar</button>
                                    <button type="reset" class="btn btn-danger pull-right" id="btnReset" @click="DisableTxt"><i class="pe-7s-close"></i> Cancelar</button>
                                    <div class="clearfix"></div>
                                     </form> -->
                                </div>
                            </div>     
                            <div class="card content table-wrapper-scroll-y my-custom-scrollbar">
                                <table style="margin-top: 15px" class="table table-hover table-striped">
                                    <thead>
                                        <th>Eliminar</th>
                                        <th>Nombre</th>
                                    </thead>
                                    <tbody v-if="arrayPermisoUser.length > 0">
                                        <tr v-for="permiso in arrayPermisoUser" :key="permiso.id">
                                            <td><button class="btn btn-danger" @click.prevent="DeletePermiso(permiso.id)">X</button></td>
                                            <td v-text="permiso.name"></td>
                                        </tr>
                                    </tbody>
                                    <tbody v-else>
                                        <td colspan="2" class="text-center">
                                            <h5>Seleccione un usuario para ver sus permisos</h5>
                                        </td>
                                    </tbody>
                                </table>  
                            </div>     
                        </div>
                        <!--   TABLA -->
                        <div class="col-md-8">
                            <div class="card"> 
                                <div class="content">                                                                                  
                                    <div class="content table-responsive table-full-width">
                                        <table class="table table-hover table-striped">
                                            <thead>
                                                <th>Seleccionar</th>
                                                <th>Nombre</th>
                                                <th>Descripción</th>
                                            </thead>
                                            <tbody v-if="arrayPermiso.length > 0">
                                                <tr v-for="permisos in arrayPermiso" :key="permisos.id">
                                                    <!--<td class="text-center"><input type="checkbox" :id="permisos.slug+index"></td>-->
                                                    <td>
                                                        <button type="button" class="btn btn-success" @click.prevent="AddPermiso(permisos.id)" ><i class="pe-7s-check"></i></button>
                                                    </td>
                                                    <td v-text="permisos.name"></td>
                                                    <td v-text="permisos.description"></td>
                                                </tr>
                                            </tbody>
                                            <tbody v-else>
                                                <td colspan="3" class="text-center">
                                                    <h4>Seleccione una opción del módulo para ver los permisos</h4>
                                                </td>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>                        
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</template>

<script>
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    export default {
        props:['ruta'],
        data(){
            return {
                id: 0,
                nombre: '',
                email: '',
                pass: '',
                titulo: 'Usuarios',
                arrayUser: [],
                arrayPermiso: [],
                arrayPermisoUser: [],
                optModulo:[{Nombre: 'Factura', code: 'factura'},{Nombre: 'Cotización', code: 'cotizacion'},{Nombre: 'Devoluciones', code: 'devolucion'},
                    {Nombre: 'Clientes', code: 'cliente'},{Nombre: 'Cambio de Producto', code: 'cambio'},{Nombre: 'Departamentos', code: 'departamento'},
                    {Nombre: 'Clase de Producto', code: 'clase'},{Nombre: 'Marca', code: 'marca'},{Nombre: 'Unidad de Medida', code: 'unidad'},
                    {Nombre: 'Presentación', code: 'presentacion'},{Nombre: 'Vendedores', code: 'vendedor'},{Nombre: 'Zona', code: 'zona'},{Nombre: 'Tasa de Cambio $', code: 'dolar'},
                    {Nombre: 'Tasa de Cambio ¥', code: 'yuan'},{Nombre: 'Productos', code: 'producto'},{Nombre: 'Entrada', code: 'entrada'},{Nombre: 'Salida', code: 'salida'},{Nombre: 'Compra', code: 'compra'},
                    {Nombre: 'Proveedor', code: 'proveedor'},{Nombre: 'Pedidos', code: 'pedido'},{Nombre: 'Admon Bonificación', code: 'admon'},
                    {Nombre: 'Recibo', code: 'recibo'},{Nombre: 'Cheque', code: 'cheque'},{Nombre: 'Nota de Crédito', code: 'nota'},
                    {Nombre: 'Nota de Débito', code: 'notad'},{Nombre: 'Estado de Cuentas', code: 'estado'},{Nombre: 'Banco', code: 'banco'},{Nombre: 'Usuarios', code: 'usuario'},
                    {Nombre: 'Comisión', code: 'comision'},{Nombre: 'Talonario', code: 'talonario'},{Nombre: 'Transacciones', code: 'transacciones'},
                    {Nombre: 'Cuentas por Cobrar', code: 'informecxc'},{Nombre: 'Control de Existencia', code: 'controlexist'},
                    {Nombre: 'Catálogo de Producto', code: 'catprod'},{Nombre: 'Facturas Vencidas', code: 'factvenc'},{Nombre: 'Kardex', code: 'kardex'},{Nombre: 'Estadistica de Venta', code: 'estvnt'}],
                errorUser: 0,
                txtvalidate: [],
                tipoBtn: 1,
                modulo: 0,
                userpermiso: '',
                iduserpermiso: 0,
                pagination: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                },
                offset: 3,
                buscar: '',
                codigo: '',
                imgbuscar: './img/icons8_search1_32.png',
                imguser: './img/icons8_user_account_16.png',
                imgaccess: './img/icons8_access_16.png',
                usuariosall: [],
                alluser: '',

            }
        },
        computed: {
            isActived: function() {
                return this.pagination.current_page;
            },
            pagesNumber: function() {
                if(!this.pagination.to){
                    return [];
                }

                var from = this.pagination.current_page - this.offset; 
                if(from < 1){
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }
        },
        components:{
            vSelect,
        },
        methods : {
            listarUsuarios(page,buscar){
                let me=this;
                var url = this.ruta+'/usuario?page=' + page + '&buscar=' + buscar;
                axios.get(url).then(function (response) {
                    var respuesta  = response.data;
                    me.arrayUser = respuesta.user.data;
                    me.pagination  = respuesta.pagination;
                    $("#txtBuscar").focus();

                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            Usuarios(){
                let me=this;
                var url = this.ruta+'/usuario/seleccionar';
                axios.get(url).then(function (response) {
                    var respuesta  = response.data;
                    me.usuariosall = respuesta.usuarios;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            setUsuarioPermiso(value){
                let me = this;
                me.iduserpermiso = value.id;
                me.listarPermisoUser(value.id);
            },
            setPermiso(value){
                let me = this;
                me.codigo = value.code;
                me.listarPermisos(value.code);
            },
            listarPermisos(buscar){
                let me=this;
                var url = this.ruta + '/permiso?id=' + this.iduserpermiso + '&buscador='+buscar;
                axios.get(url).then(function (response) {
                    var respuesta  = response.data;
                    me.arrayPermiso = respuesta.permiso
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            listarPermisoUser(id){
                let me = this;
                var url = this.ruta + '/permisousuario?iduser=' + id;
                axios.get(url).then(function (response) {
                    var respuesta  = response.data;
                    me.arrayPermisoUser = respuesta.permisousuario;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            cambiarPagina(page, buscar){
                let me = this;
                me.pagination.current_page = page;
                me.listarUsuarios(page, buscar);
            },
            DeletePermiso(id){
                let me = this;
                axios.delete(this.ruta + '/permiso/eliminar/'+id)
                .then(function (response) {
                    me.listarPermisos(me.codigo);
                    me.listarPermisoUser(me.iduserpermiso);
                })
                .catch(function (error) {
                    console.log(error);
                });
            },  
            AddPermiso(id){
                let me = this;
                axios.post(this.ruta + '/permiso/registrar', {
                    'idperm' : id,
                    'iduser' : this.iduserpermiso,
                })
                .then(function (response) {
                    me.listarPermisos(me.codigo);
                    me.listarPermisoUser(me.iduserpermiso);
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            registrarUser(){
                if (this.ValidateUser()) {
                    return;
                }
                let me = this;
                axios.post(this.ruta + '/usuario/registrar', {
                    'name' : this.nombre,
                    'email' : this.email,
                    'pass' : this.pass
                    })
                .then(function (response) {
                    me.listarUsuarios(1, '');
                    me.ClearTxt();
                    me.Usuarios();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },   
            actualizarUser(){
                if (this.ValidateUser()) {
                    return;
                }
                let me = this;
                axios.put(this.ruta+'/usuario/actualizar', {
                    'id' : this.id,
                    'name' : this.nombre,
                    'email' : this.email,
                    'pass' : this.pass
                    })
                .then(function (response) {
                    me.listarUsuarios(1, '');
                    me.DisableTxt();
                    $("#btnAdd").toggle();
                    $("#btnReset").toggle();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            deshabilitarusers(id){
                this.id = id;
                Swal.fire({
                title: '¿Desea Deshabilitar?',
                text: "No tendra acceso al sistema",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Deshabilitar',
                cancelButtonText: 'Cancelar',
                showClass: {
                    popup: 'animated fadeInDown faster'
                },
                hideClass: {
                    popup: 'animated fadeOutUp faster'
                }
                }).then((result) => {
                if (result.value) {
                let me = this;
                axios.put(this.ruta + '/usuario/inactive', {
                    'id' : id,
                    })
                .then(function (response) {
                    Swal.fire(
                    'Deshabilitado',
                    'Ya no podra acceder al sistema',
                    'Existoso'
                    )
                    me.listarUsuarios(1, '');
                })
                .catch(function (error) {
                    console.log(error);
                });
                }
                })
            },   
            habilitarusers(id){
                this.id = id;
                Swal.fire({
                title: '¿Desea Habilitar?',
                text: "Podra iniciar sesión en el sistema",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Habilitar',
                cancelButtonText: 'Cancelar',
                showClass: {
                    popup: 'animated fadeInDown faster'
                },
                hideClass: {
                    popup: 'animated fadeOutUp faster'
                }
                }).then((result) => {
                if (result.value) {
                let me = this;
                axios.put(this.ruta + '/usuario/active', {
                    'id' : this.id,
                    })
                .then(function (response) {
                    Swal.fire(
                    'Habilitado',
                    'Ya puede iniciar sesión',
                    'Existoso'
                    )
                    me.listarUsuarios(1, '');
                })
                .catch(function (error) {
                    console.log(error);
                });
                }
                })
            },
            DisableTxt(){
                $("#txtName").prop( "disabled", true );
                $("#txtemail").prop( "disabled", true );
                $("#txtcontra").prop( "disabled", true );
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle();
                this.nombre= '';
                this.email = '';
                this.pass = '';
                this.titulo= 'Usuario';
                this.errorUser= 0;
                this.txtvalidate= [];
                this.tipoBtn=1;

                this.EnabledButon();
            },
            EnableTxt(){
                $("#txtName").prop( "disabled", false );
                $("#txtemail").prop( "disabled", false );
                $("#txtcontra").prop( "disabled", false );
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle();
                this.titulo = 'Agregar Usuario';

                this.DesabledButton();
            },
            DesabledButton(){
                $("tbody > tr > td").find("button").prop( "disabled", true );
                $("tfoot").css("display", "none");
            },
            EnabledButon(){
                $("tbody > tr > td").find("button").prop( "disabled", false );
                $("tfoot").css("display", "inherit");
            },
            ClearTxt(){
                this.nombre = '';
                this.email = '';
                this.pass = '';
            },
            ValidateUser(){
                this.errorUser = 0;
                this.txtvalidate = [];

                if (!this.nombre) this.txtvalidate.push("*El nombre del usuario no puede estar vacío.");

                if (!this.pass) this.txtvalidate.push("* Ingrese una contraseña para asi puede iniciar sesión");

                if(this.txtvalidate.length) this.errorUser = 1;

                return this.errorUser;
            },
            getusers(data=[]){
                this.tipoBtn=2;
                $("#txtName").prop( "disabled", false );
                $("#txtemail").prop( "disabled", false );
                $("#txtcontra").prop( "disabled", false );
                this.titulo = 'Actualizar Usuario'
                this.id = data['id'];
                this.nombre = data['name'];
                this.email = data['email'];
                this.pass = '';

                this.DesabledButton();
            },
        },
        mounted() {
            this.listarUsuarios(1, this.buscar);
            this.Usuarios();
            this.DisableTxt();
        }
    }
</script>

<style>
    .div-error{
        display: flex;
        margin-left: 0.5rem;
        font-size: 12px;
    }
    .text-error{
        color:red !important;
        font-weight: bold;
    }
    .btn-option{
        width: 15%;
    }
    .pReturn{
        padding-left: 0px;
        border-top: 0px;
    }
    .my-custom-scrollbar {
        position: relative;
        min-height: 10vh;
        max-height: 40vh;
        overflow: auto;
    }
    .table-wrapper-scroll-y {
        display: block;
    }
</style>