<template>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- FORMULARIO -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="header">
                            <h4 class="title" v-text="titulo"></h4>
                        </div>
                        <div class="content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input type="text" class="form-control" placeholder="Nombre..." id="txtNombre" v-model="nombre">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Celular</label>
                                            <input type="text" class="form-control" placeholder="8765-0123 Cl" id="txtCelular" v-model="celular">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Teléfono</label>
                                            <input type="text" class="form-control" placeholder="2222-0000" id="txtTelefono" v-model="telefono">
                                        </div>
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col-md-12" id="vueselect">
                                        <div class="form-group">
                                            <label>Zona</label>
                                            <v-select
                                                label="Nombre"
                                                placeholder= "Seleccione zona..."
                                                :options="arrayZona"
                                                v-model="zona"
                                                :value="arrayZona.Nombre"
                                                @input="setZona"
                                                :disabled="disabledvue"
                                            ></v-select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>PIN:</label>
                                            <input type="password" class="form-control" placeholder="****" id="txtPin" v-model="pin">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row div-error" v-show="errorVendedor">
                                    <div class="text-center text-error">
                                        <div v-for="msjerror in txtvalidate" :key="msjerror" v-text="msjerror">            
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary pull-left btnhidden" id="btnnew" @click="EnableTxt" v-if="$can('vendedor.store') && tipoBtn==1"><i class="pe-7s-plus"></i> Nuevo</button>
                                <button type="button" class="btn btn-warning pull-right" id="" @click="actualizarVendedor()" v-if="$can('vendedor.update') && tipoBtn==2"><i class="pe-7s-diskette"></i> Actualizar</button>
                                <button type="button" class="btn btn-success pull-right" id="btnAdd" v-if="$can('vendedor.store')" @click="registrarVendedores()"><i class="pe-7s-check"></i> Agregar</button>
                                <button type="reset" class="btn btn-danger pull-right" id="btnReset" @click="DisableTxt"><i class="pe-7s-close"></i> Cancelar</button>
                                <div class="clearfix"></div>
                        </div>
                    </div>          
                </div>

                <!--   TABLA -->
                <div class="col-md-8">
                    <div class="card"> 
                        <div class="header">
                          <!--  <form action="" class="form-inline"> -->
                                <div class="form-group">
                                    <p style="display: inline;" >Buscar:</p>
                                    <input type="text" v-model="buscar" class="txtbuscar" placeholder="Buscar..." id="txtBuscar" @keyup.enter="listarVendedores(1, buscar)">
                                    <img :src="imgbuscar" class="img-sidebar">
                                </div>
                           <!-- </form> -->
                        </div>
                        <div class="content">                                                                                  
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped" >
                                    <thead> 
                                        <th>Opciones</th>
                                        <th>Vendedor</th>
                                        <th>Celular</th>
                                        <th>Teléfono</th>
                                        <th>Zona</th>
                                        <th>Estado</th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="vendedor in arrayVendedor" :key="vendedor.idVendedor">
                                            <td>
                                                <div v-if="vendedor.Estado == 'Activo'">
                                                    <button type="button" class="btn btn-warning" v-if="$can('vendedor.update')" @click="getVendedores(vendedor)"><i class="pe-7s-pen"></i></button>
                                                    <button type="button" class="btn btn-danger" v-if="$can('vendedor.disable')" @click="deshabilitarVendedores(vendedor.idVendedor)" ><i class="pe-7s-trash"></i></button>
                                                </div>
                                                <div v-else>
                                                    <button type="button" class="btn btn-warning" v-if="$can('vendedor.update')" @click="getVendedores(vendedor)" id="btnEdit"><i class="pe-7s-pen"></i></button>
                                                    <button type="button" class="btn btn-success" v-if="$can('vendedor.enable')" @click="habilitarVendedores(vendedor.idVendedor)" ><i class="pe-7s-check"></i></button>
                                                </div>
                                            </td>
                                            <td v-text="vendedor.Vendedores"></td>
                                            <td v-text="vendedor.Celular"></td>
                                            <td v-text="vendedor.Telefono"></td>
                                            <td v-text="vendedor.Zonas"></td>
                                            <td v-text="vendedor.Estado"></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <ul class="pagination">
                                            <li class="page-item" v-if="pagination.current_page > 1">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page - 1, buscar)">&laquo;</a>
                                            </li>
                                            <li class="page-item" v-for="page in pagesNumber" :key="page" :class= "[ page == isActived ? 'active' : '' ]" >
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(page, buscar)" v-text="page"></a>
                                            </li>
                                            <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagination.current_page + 1, buscar)">&raquo;</a>
                                            </li>
                                        </ul>
                                    </tfoot>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    export default {
        props:['ruta'],
        data(){
            return{
                disabledvue: 'true',
                idVendedor: 0,
                idzona: 0,
                zona: '',
                nombre: '',
                celular: '',
                telefono: '',
                titulo: 'Vendedor',
                arrayVendedor: [],
                arrayZona: [],
                errorVendedor: 0,
                txtvalidate: [],
                tipoBtn: 1,
                pagination: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                },
                offset: 3,
                buscar: '', 
                imgbuscar: './img/icons8_search1_32.png',
                pin: '',
            }
        },
        computed: {
            isActived: function() {
                return this.pagination.current_page;
            },
            pagesNumber: function() {
                if(!this.pagination.to){
                    return [];
                }

                var from = this.pagination.current_page - this.offset; 
                if(from < 1){
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }
        },
        components:{
            vSelect
        },
        methods:{
            listarVendedores(page, buscar){
                let me=this;
                var url = this.ruta + '/vendedor?page=' + page +'&buscar=' + buscar;
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayVendedor = respuesta.vendedor.data;
                    me.pagination = respuesta.pagination;
                    $("#txtBuscar").focus();

                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            SeleccionarZona(page, buscar){
                let me=this;
                var url = this.ruta + '/zona/seleccionar'
                axios.get(url).then(function (response) {
                    var respuesta = response.data; 
                    me.arrayZona = respuesta.zona;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            setZona(value){
                let me = this;
                me.loading = true;
                me.idzona = value.idZona;
            },
            cambiarPagina(page, buscar){
                let me = this;
                me.pagination.current_page = page;
                me.listarVendedores(page, buscar);
            },
            registrarVendedores(){
                if (this.ValidateVendedores()) {
                    return;
                }
                let me = this;
                axios.post(this.ruta + '/vendedor/registrar', {
                    'Nombre' : this.nombre,
                    'idZona' : this.idzona,
                    'Celular' : this.celular,
                    'Telefono' : this.telefono,
                    'Pin': this.pin
                    })
                .then(function (response) {
                    me.listarVendedores(1, '');
                    me.ClearTxt();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            actualizarVendedor(){
                if (this.ValidateVendedores()) {
                    return;
                }
                let me = this;
                axios.put(this.ruta + '/vendedor/actualizar', {
                    'idVendedor': this.idVendedor,
                    'idZona' : this.idzona,
                    'Nombre' : this.nombre,
                    'Telefono' : this.telefono,
                    'Celular' : this.celular,
                    'Pin' : this.pin,
                    })
                .then(function (response) {
                    me.listarVendedores(1, '');
                    me.DisableTxt();
                    $("#btnAdd").toggle();
                    $("#btnReset").toggle();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            deshabilitarVendedores(id){
                this.idVendedor = id;
                Swal.fire({
                title: '¿Desea Deshabilitar?',
                text: "No se mostrar en otros registro",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Deshabilitar',
                cancelButtonText: 'Cancelar',
                showClass: {
                    popup: 'animated fadeInDown faster'
                },
                hideClass: {
                    popup: 'animated fadeOutUp faster'
                }
                }).then((result) => {
                    if (result.value) {
                    let me = this;
                    axios.put(this.ruta + '/vendedor/inactive', {
                        'idVendedor' : this.idVendedor,
                        })
                    .then(function (response) {
                        Swal.fire(
                        'Deshabilitado',
                        'No se mostrará en los registro',
                        'Existoso'
                        )
                        me.listarVendedores(1, '');
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                    }     
                    
                })
            }, 
            habilitarVendedores(id){
                this.idVendedor = id;
                Swal.fire({
                title: '¿Desea Habilitar?',
                text: "No se mostrar en otros registro",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Habilitar',
                cancelButtonText: 'Cancelar',
                showClass: {
                    popup: 'animated fadeInDown faster'
                },
                hideClass: {
                    popup: 'animated fadeOutUp faster'
                }
                }).then((result) => {
                if (result.value) {
                let me = this;
                axios.put(this.ruta + '/vendedor/active', {
                    'idVendedor' : this.idVendedor,
                    })
                .then(function (response) {
                    Swal.fire(
                    'Habilitado',
                    'Esta disponible en los registro',
                    'Existoso'
                    )
                    me.listarVendedores(1, '');
                })
                .catch(function (error) {
                    console.log(error);
                });
                }
                })
            },
            DisableTxt(){
                $("#txtNombre").prop( "disabled", true );
                $("#txtTelefono").prop( "disabled", true );
                $("#txtPin").prop( "disabled", true );
                $("#txtCelular").prop( "disabled", true );
                $("#txtBuscar").prop( "disabled", false );
                $("#vueselect").prop("disabled", true)
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle();
                this.nombre= '';
                this.telefono= '';
                this.celular= '';
                this.idzona= 0; 
                this.idVendedor = 0;
                this.titulo= 'Vendedores';
                this.errorVendedor= 0;
                this.txtvalidate= [];
                this.tipoBtn=1;
                this.disabledvue= true;
                this.zona = '';
                this.pin = '';
                this.EnabledButon();
            },
            EnableTxt(){
                $("#txtNombre").prop( "disabled", false );
                $("#txtTelefono").prop( "disabled", false );
                $("#txtPin").prop( "disabled", false );
                $("#txtCelular").prop( "disabled", false );
                $("#txtBuscar").prop( "disabled", true );
                $("#vueselect").prop("disabled", false)
                $("#btnAdd").toggle();
                $("#btnReset").toggle();
                $("#btnnew").toggle();
                this.titulo = 'Agregar Vendedor';
                this.disabledvue= false;

                this.DesabledButton();
                this.SeleccionarZona();
            },
            DesabledButton(){
                $("tbody > tr > td").find("button").prop( "disabled", true );
                $("tfoot").css("display", "none");
            },
            EnabledButon(){
                $("tbody > tr > td").find("button").prop( "disabled", false );
                $("tfoot").css("display", "inherit");
            },
            ClearTxt(){
                this.nombre = '';
                this.telefono = '';
                this.celular = '';
                this.idzona = 0;
                this.pin = '';
            },
            ValidateVendedores(){
                this.errorVendedor = 0;
                this.txtvalidate = [];

                if (!this.nombre) this.txtvalidate.push("*El tipo de unidad no puede estar vacío.");
                
                if (this.idzona==0) this.txtvalidate.push("*Necesita seleccionar una zona");

                if(this.txtvalidate.length) this.errorVendedor = 1;

                return this.errorVendedor;
            },
            getVendedores(data=[]){
                this.tipoBtn=2;
                $("#txtNombre").prop( "disabled", false );
                $("#txtTelefono").prop( "disabled", false );
                $("#txtPin").prop( "disabled", false );
                $("#txtCelular").prop( "disabled", false );
                this.disabledvue = false;
                this.titulo = 'Actualizar Vendedor';
                this.idVendedor = data['idVendedor'];
                this.nombre = data['Vendedores'];
                this.telefono = data['Telefono'];
                this.celular = data['Celular'];
                this.idzona = data['idZona'];
                this.zona = data['Zonas'];
                this.pin = data['Pin'];
                this.SeleccionarZona();
                this.DesabledButton();
            }
        },
        mounted() {
            this.listarVendedores(1, this.buscar);
            //this.SeleccionarZona();
            this.DisableTxt();
        }
    }
</script>
<style>
    .div-error{
        display: flex;
        margin-left: 0.5rem;
        font-size: 12px;
        /*justify-content: center;*/
    }
    .text-error{
        color:red !important;
        font-weight: bold;
    }
</style>